[2021-09-09 05:23] vipinpv85 commented on #1247
I have already replied and shared what are the next steps  as

- changes to be done
- open a new ticket with @lucaderi  as he is the author for NDPI

[2021-09-09 05:56] anust commented on #1247
thanks @vipinpv85

[2021-09-09 07:33] Aa94865321005 opened #1291 "Missing libpcap(-dev)"
When centsos7 installs nDPI, libpcap has been installed, but an error is still reported
configure: error: Missing libpcap(-dev) library required to compile the example application.

[2021-09-09 12:18] anust opened #1292 "How to display per packet result instead of cummulative results?"
Using ndpireader.c one can get the ndpi result summary at the end.

How to get per packet results from ndpi api without closing the application?

where do I need to call `ndpi_get_proto_name` in ndpiReader.c

[2021-09-10 09:20] utoni commented on #1291
Please give a detailed summary about what you did.

Did you install nDPI from CentOs as binary package or did you try to compile it from source?
What nDPI version?
What CentOS version?
Does `/usr/include/pcap/pcap.h` exist?

[2021-09-11 19:11] IvanNardi commented on #1292
Using "-m" option you might get something similar to  what you are looking for

[2021-09-13 03:22] Aa94865321005 commented on #1291
The source code of NDPI is installed. The problem is in the installation of PF_ring, it was solved

[2021-09-13 03:26] Aa94865321005 opened #1301 "Centos7 compilation source code problem"
checking for sys/types.h... no
checking for sys/stat.h... no
checking for stdlib.h... no
checking for string.h... no
checking for memory.h... no
configure: WARNING: netinet/in.h:     check for missing prerequisite headers?
configure: WARNING: netinet/in.h: see the Autoconf documentation
configure: WARNING: netinet/in.h:     section "Present But Cannot Be Compiled"
configure: WARNING: netinet/in.h:

[2021-09-13 15:49] IvanNardi opened #1302 "Update python bindings"
Python bindings are out-of-sync with current nDPI code.
We should re-sync them, at very least.
Is it possible to auto-generate these files (or some of them)?

[2021-09-13 15:55] IvanNardi commented on #1302
@aouinizied: AFAIK I can't assign this issue to you until you comment here...
[code]

[2021-09-13 15:57] aouinizied commented on #1302
Yes, and here I am.
We should definitively keep only cffi bindings (ndpi.py) as we can easily automate its generation.
Your feedbacks?

[2021-09-13 16:07] IvanNardi commented on #1302
Python (and python bindings) are not my area of expertise, so I am not able to give any meaningful advice on this topic :(
Nonetheless, avoiding manually touching these files (or some of them) whenever we update some C definitions would be very useful

[2021-09-13 18:33] grgpw commented on #1115
current version builds again without modifications, so I think this can be closed.

[2021-09-13 18:39] IvanNardi commented on #1115
Thanks for confirming that. Closing the issue

[2021-09-13 18:39] #1115 closed, assigned to nobody

[2021-09-14 06:49] MubbashirAdnan opened #1305 "ndpi library version mismatch while using PF_RING with Snort"
Hi,
I am trying to use pfring ft with snort IDS. Pfring is working fine with snort but when i followed these instructions (https://www.ntop.org/guides/pf_ring/thirdparty/snort-daq.html) to integrate pfring ft, i get ndpi library version mismatch error.

Can you please guide on how should i resolve this issue i'm facing
![issue](https://user-images.githubusercontent.com/88712137/133209033-9f2bfc36-

[2021-09-14 06:50] MubbashirAdnan commented on #1305
I am trying to run it on centos 7

[2021-09-14 07:12] utkarsh0902311047 commented on #1247
@vipinpv85 Please suggest the steps for 1,2,3,4.

[2021-09-14 07:21] vipinpv85 commented on #1247
@utkarsh0902311047 I am not clear what are you asking ? can you come online on skype to explain ?

[2021-09-16 08:20] timeswitchsdn opened #1306 "ndpiReader as Secondary Processs"
Hi Folks,

1. We have DPDK running in our a x86 box. We have built NAT, IPSEC tunnels.  It has been running ok.
2. We want to add nDPI on top of this DPDK. So we tried to run a secondary process using ndpiReader.dpdk on the same DPDK ports.  We tested with ndpiReader.dpdk but ran into errors, So I added 1 line of code to output the error

rte_exit(EXIT_FAILURE, "Cannot create mbuf pool: %s\n", rte

[2021-09-16 09:54] lucaderi opened #1307 "Implement Flow Risk Description"
Similar to what happens with the short risk description, it is required to implement a full risk description as well extend the API to report it.

[2021-09-20 16:09] utoni commented on #1302
I was just trying to get `ndpi_example.py` to work by (try) fixing `ndpi_typestruct.py`, but I think it is not as easy to fix.

[2021-09-20 16:14] utoni commented on #1301
Please attach your `config.log`.

[2021-09-20 16:15] #1288 closed, assigned to nobody

[2021-09-20 16:28] utoni commented on #1287
Please open a new issue if this problem still exists.

[2021-09-20 16:28] #1287 closed, assigned to nobody

[2021-09-20 16:30] utoni commented on #1274
No, but if you provide some recorded traces (if possible in the pcap / pcapng file format) I will see what I can do.

[2021-09-20 16:49] utoni commented on #1305
It seems like there are two nDPI versions installed.
Did you install the libnDPI package shipped with CentOs before following the guide you've mentioned?
What is the output of `ldd [path-to-pfring]` and `find /usr -iname "*ndpi*"` ?

[2021-09-20 16:55] #1291 closed, assigned to nobody

[2021-09-20 16:59] #1152 closed, assigned to nobody

[2021-09-20 17:04] #1282 closed, assigned to nobody

[2021-09-22 13:47] utoni opened #1312 "nDPI and big endianess"
Although big endian architectures may not be very popular these days, nDPI has some serious issues dealing with them.

I've compiled nDPI for MIPS and ran `tests/do.sh` to verify that there are some.
Most of the issues are related to the recent ahocorasick library update in 65678dbeeabcf51e02ba3cc9ffbd36324a92a971. But there are also at least half a dozen endian issues in protocol dissectors.

I'v

[2021-09-22 14:52] utoni commented on #1312
Some failing pcaps, caused by host patterns not found in ac automata:
[code]

[code]

[code]

[2021-09-22 14:59] aouinizied commented on #1312
@lnslbrty I'm working on CI additional jobs (build and test). Especially for specific platforms such as ARM64 etc.
I found a compilation issue that was not triggered using current cross arm-linux-gnueabihf.

I'm using ubuntu-core:arm64

ndpi_main.c:7120:26: error: expected expression before ')' token
   return(NDPI_API_VERSION);
                          ^
ndpi_main.c:7121:1: error: control reache

[2021-09-24 04:31] #1306 closed, assigned to nobody

[2021-09-24 04:31] timeswitchsdn commented on #1306
I am looking at dpdk-pdump to see if this can resolve the issue.

[2021-09-27 07:09] lucaderi commented on #1312
I have spent time a year ago on this, and the fix was not quick. I will check again when I have time

[2021-10-01 09:47] lucaderi commented on #1307
Closed by https://github.com/ntop/nDPI/commit/8e6de00ce3ccded0666301f9157ab01ea9402330

[2021-10-01 09:47] #1307 closed, assigned to nobody

[2021-10-03 12:39] IvanNardi commented on #429
Signal support has been added starting from  54deb130. Closing

[2021-10-03 12:39] #429 closed, assigned to kYroL01

[2021-10-03 12:42] IvanNardi commented on #548
No known memory leaks on current code. Closing

[2021-10-03 12:42] IvanNardi commented on #548
No known memory leaks on current code. Closing

[2021-10-03 12:42] #548 closed, assigned to simonemainardi

[2021-10-03 12:46] IvanNardi commented on #605
Compilation with `--enable-debug-message` has been fixed in 56d87186.
No know issues on compiling current nDPI (and example applications). Closing

[2021-10-03 12:46] #605 closed, assigned to nobody

[2021-10-03 12:51] IvanNardi commented on #633
The provided trace is correctly decoded. Closing

[2021-10-03 12:51] #633 closed, assigned to nobody

[2021-10-03 12:54] IvanNardi commented on #656
It should work as expected since 56d87186. Closing

[2021-10-03 12:54] #656 closed, assigned to nobody

[2021-10-03 12:58] IvanNardi commented on #686
IPv6 flows might be identified by 5-tuples, exactly as IPv4.
If you need further information, please open a new issue. Closing

[2021-10-03 12:58] #686 closed, assigned to nobody

[2021-10-03 13:04] IvanNardi commented on #693
No known memory issues on current code.
If you still have the issue, please open a new issue with an updated log. Closing

[2021-10-03 13:04] #693 closed, assigned to nobody

[2021-10-03 13:10] IvanNardi commented on #708
Fixed a long time ago. Closing

[2021-10-03 13:10] #708 closed, assigned to nobody

[2021-10-03 13:58] IvanNardi commented on #1165
Fixed in 87076dcd5. Closing

[2021-10-03 13:58] #1165 closed, assigned to nobody

[2021-10-03 14:09] IvanNardi commented on #615
Fixed. Closing

[2021-10-03 14:09] #615 closed, assigned to nobody

[2021-10-04 19:01] IvanNardi commented on #1002
Hi @martinscheu, I know it was a long time ago, but any chance that you remember the origin of this trace?
I am asking, because it is quite strange, IMO:
* according to all the HSRP documentation I have found, the ip destination of HSRP packets should always be some kind of multicast address
* the packets in the trace seems to be HSRPv2 (even if Wireshark is not able to recognize them!!) but they

[2021-10-05 11:44] subritm opened #1322 "Custom Applications added into protos.txt file gets matched first, before the actual application detection happens"
I have added a custom protocol entry as

**tcp:443@HTTPS**

So what I see is happening is the traffic matching port 443 gets detected as HTTPS, and it doesn't go via full detection module.
Port 443 can be google, Facebook, TLS, or anything.
Not sure if this is the way it is designed or its something I need to add check for.

If traffic is not getting detected, this custom protocol in protos,txt sh

[2021-10-05 15:56] utoni commented on #1322
I agree that protocol dissectors should have precedence over custom defined rules.

But what I do not get: Why would someone want to add a custom port(-only) based rule for HTTPS which already exists as protocol dissector and works definitely better then a port based rule?

[2021-10-06 09:10] utoni commented on #146
This issue does not exist in recent nDPI versions.

[2021-10-06 09:10] #146 closed, assigned to nobody

[2021-10-06 09:11] utoni commented on #209
The protocol is part of the NFS dissector.

[2021-10-06 09:11] #209 closed, assigned to nobody

[2021-10-06 09:20] utoni commented on #217
Most of the pcap files in ICS-pcap are using an invalid / unsupported pcap format.
But the few working pcap's are getting successfully detected by the nDPI engine.

[2021-10-06 09:26] utoni commented on #220
The attached pcap is not helpful as it is recorded in the middle of a session.

[2021-10-06 09:46] utoni commented on #492
The `ndpi_id_structs` allocation is part of your nDPI integration.
Although the two structs could probably be merged into `ndpi_flow_struct`, I think this issue is not valid anymore.

[2021-10-06 09:46] #492 closed, assigned to nobody

[2021-10-06 09:52] utoni commented on #524
Lots have changed regarding nDPI's build process. I think this issue is not valid anymore. Please open a new issue, if it still persists in recent releases.

[2021-10-06 09:52] #524 closed, assigned to nobody

[2021-10-06 10:33] utoni commented on #579
Yes, you can. But this is basically part of your own implementation although `example/ndpiReader` or more precise `example/reader_util.c` and `example/reader_util.h` make use of such features. Take a look at `struct ndpi_entropy`. All timestamps there are from `libpcap`'s packet timestamp.

[2021-10-06 10:33] #579 closed, assigned to nobody

[2021-10-06 10:36] utoni commented on #609
The pcap is not accessible anymore. Please re-open this issue and add a PCAP if you still need support for this app.

[2021-10-06 10:36] #609 closed, assigned to nobody

[2021-10-06 10:38] utoni commented on #620
Fixed in 81649d9979d5069299500bc6d74fc9587cccee16.

[2021-10-06 10:38] #620 closed, assigned to nobody

[2021-10-06 10:42] #621 closed, assigned to nobody

[2021-10-06 10:45] utoni commented on #625
Fixed with d31a29bf6a0c8efa11203badff3afe9f3b19ce08.

[2021-10-06 10:45] #625 closed, assigned to nobody

[2021-10-06 10:48] #641 closed, assigned to nobody

[2021-10-06 10:54] utoni commented on #646
If you can share pcap files for all mentioned protocols, it may be possible to implement protocol detections / dissectors for those.

[2021-10-06 10:57] utoni commented on #650
@rkerur Any progress on this? You can use Google Drive to upload larger pcap's. But please try to minimize the background noise in those pcap's, meaning as less as possible background traffic not related to any Amazon service.

[2021-10-06 11:00] utoni commented on #660
Not valid anymore after c418b7110b9385c5c3748c10e198df27ae0f7083 was merged.

[2021-10-06 11:00] #660 closed, assigned to nobody

[2021-10-06 11:04] utoni commented on #683
Fixed with bf93dc2255e8ae07e31a5248ab18cd325c1b3f2f.

[2021-10-06 11:04] #683 closed, assigned to nobody

[2021-10-06 11:10] utoni commented on #1281
~~Seems possible to me. We probably just need to implement a risk based on this tshark filter:~~
~~`'dns.flags.response == 1' -R 'dns.qry.type == 0x0001' -R 'dns.count.answers >= 1'`~~

~~It could also be implemented as protocol detection routine (or set a a risk additionally) which is a subprotocol of DNS.~~

After a first investigation:
FF is more sophisticated then a simple tshark filter. ;)

[2021-10-06 11:24] utoni commented on #689
This issue was probably fixed with ca15e3295. Please open a new issue, if it still exists.

[2021-10-06 11:24] #689 closed, assigned to nobody

[2021-10-06 11:28] utoni commented on #698
The second link you've provided leads to a `404`, but within the first one I see only one pattern missing: `*.delivery.mp.microsoft.com`.

[2021-10-06 11:29] #699 closed, assigned to nobody

[2021-10-06 11:30] utoni commented on #699
Please open a new issue if protocol detection does not work as expected.

[2021-10-06 11:33] utoni commented on #700
This issue is out-of-sync. ;)

[2021-10-06 11:33] #700 closed, assigned to nobody

[2021-10-06 11:36] utoni commented on #709
Basically correct, yes.

There is no such interface function in nDPI.
You can use the serialization interface, but this is not the same as it does not provide you with all information stored in those structs.

[2021-10-06 11:36] #709 closed, assigned to nobody

[2021-10-06 11:45] utoni commented on #719
This issue can be solved either via a risk or a protocol detection (or both).

[2021-10-06 11:53] utoni commented on #771
Not related to the core library.

[2021-10-06 11:53] #771 closed, assigned to nobody

[2021-10-06 11:58] utoni commented on #738
`make dist` was fixed with 656323c33450db868cda7b3e2cc75d0e417d8d6e

[2021-10-06 11:58] #738 closed, assigned to nobody

[2021-10-06 12:00] utoni opened #1324 "Fix `make dist` and add it to the CI."
Since 8e6de00ce3ccded0666301f9157ab01ea9402330, `make dist` is broken due to missing files.
This needs to be fixed and to prevent future errors related to that, add it to a CI job.

[2021-10-06 12:04] utoni commented on #793
I agree with @emarshswe. Such functionality should be part of your nDPI integration.

[2021-10-06 12:04] #793 closed, assigned to nobody

[2021-10-06 12:12] didgaudin commented on #698
Hi all, these urls were valid about 2 years ago.
but they are still listed at microsoft for windows update:

*emdl.ws.microsoft.com* | HTTP | Windows Update
*prod.do.dsp.mp.microsoft.com* | TLS version 1.2/HTTPS | Utilisé pour les téléchargements Windows Update des applications et des mises à jour du système d’exploitation
fe3.*.mp.microsoft.com.* | TLS version 1.2/HTTPS | Windows Update, Microsof

[2021-10-06 12:21] utoni opened #1325 "issue template"
While crawling through the issues like a bot I've recognized that most of the issues are lacking important information. Information that may be very helpful for all contributors.

To address that issue, this issue is made for. :smile:

I've never written such a template, but Github provides some documentation about it: [using-templates-to-encourage-useful-issues-and-pull-requests](https://docs.git

[2021-10-06 12:24] #819 closed, assigned to nobody

[2021-10-06 12:25] #841 closed, assigned to nobody

[2021-10-06 12:34] utoni commented on #892
If you have `tshark` available, you can use something like: `tshark -w /path/to/pcap/file -Y stun`.

[2021-10-06 12:37] utoni commented on #1004
Please open a new issue or re-open this one if you still have questions related to nDPI.

[2021-10-06 12:37] #1004 closed, assigned to nobody

[2021-10-06 12:40] utoni commented on #1010
Did you re-run `autogen.sh` ?

[2021-10-06 12:45] utoni commented on #1011
What is the type of `flow`? What about your includes?
Please paste all relevant information in this issue.

an explicit cast to `ndpi_norm_value*` may fix that

[2021-10-06 12:45] Tomasz158 commented on #1010
I fixed the issue.

[2021-10-06 12:45] #1010 closed, assigned to nobody

[2021-10-06 12:48] #1011 closed, assigned to nobody

[2021-10-06 12:52] utoni commented on #1013
I will close that issue as I think it is not related to nDPI somehow.

[2021-10-06 12:52] #1013 closed, assigned to nobody

[2021-10-06 12:53] utoni commented on #1020
Fixed wiith 8d0c7b1faeed1e3df6e6f90658559f373bbf63fb.

[2021-10-06 12:53] #1020 closed, assigned to nobody

[2021-10-06 13:39] utoni commented on #1093
`RoaringBitmap` is part of nDPI since 1efabef4cfce64a373f014ee43bab371a82f7e87. `2.` seems worth a try.

[2021-10-06 13:42] utoni commented on #1118
Probably related to #1312, #1315(?) as well.

[2021-10-06 13:45] utoni commented on #1174
Starting with 8e6de00ce3ccded0666301f9157ab01ea9402330, there is a novel approach to provide nDPI with some up2date documentation. However, I think we can use this issue for such topics.

[2021-10-06 13:48] utoni commented on #1186
Not related to the core library.

[2021-10-06 13:48] #1186 closed, assigned to nobody

[2021-10-06 13:59] utoni commented on #1189
For now this issue should only affect people who configured/built nDPI from a source tree which is not managed by git e.g. with an extracted tarball from `make dist` or downloaded from Github.

[2021-10-06 14:05] utoni commented on #1211
related to #793

[2021-10-06 14:08] utoni commented on #1217
#1134, #1122 may be helpful for implementation

[2021-10-06 14:11] utoni commented on #1224
possible duplicate of #1223

[2021-10-06 14:11] #1224 closed, assigned to nobody

[2021-10-06 14:16] utoni commented on #1269
Any progress on this?

[2021-10-06 14:32] utoni commented on #1279
The definition of `subscriber` is rather obscure. I do not know if we really need those two. They may be useful for something like flow correlation, which we (hopefully) never want to do. But besides that, I do not see any use.

[2021-10-08 17:09] utoni commented on #698
Added with fd3812661633c81ab4ac9bbfa8f8e9c6be0f800b.

[2021-10-08 17:09] #698 closed, assigned to utoni

[2021-10-09 13:28] redbeardmeric commented on #1269
@lnslbrty Still working out some kinks in the over all hardware setup and software builds, but actively working on it.

[2021-10-10 11:15] #1324 closed, assigned to utoni

[2021-10-10 21:09] aouinizied commented on #1325
@lnslbrty Nice idea.
* We can create a template for issues. Give a checkbox or whatever to select if it's a bug or a feature request etc.
I think the OS version, the architecture, nDPI compilation flags, and ndpiReader options (when reproduced with it) should also be mandatory.
* We can also add a GitHub action that automatically closes and comment issues that do not follow the declared template (

[2021-10-11 00:33] utoni commented on #1325
Interesting. I did not know that it could be integrated in Github Actions. Makes sense.
It seems like nfstream already has such a nice template. :smiley_cat:

1. sounds reasonable
2. not sure if this will scare off new people, who may not have lot's of experience with writing issues

[2021-10-11 08:41] MaoPann opened #1335 "IPv6 Custom application protocol support"
We need to add IPv6 and IPv6 CIDR support to custom applications in ntopng,This may require a little development. You can evaluate and give a quotation, and we can accept it.

For example, the we wants to set the following IPv4 and IPv6 addresses as custom applications in ntopng.

191.232.2.128/25
2A01:110::/64
2620:1EC::/64
2603:1000::/64
40.100.2.114/32
40.100.2.82/32

![image](https://user-imag

[2021-10-12 05:45] imagineTh4t opened #1339 "Kerberos,LDAP features how can i use in nfstream?"
I want to get Kerberos features(domain,username,hostname,etc.) and LDAP features from nDPI on nfstream. I see kerberos.c in nDPI but i dont know how to use. Can you help me about it ?

[2021-10-12 09:37] utoni commented on #1339
This sounds more like an nfstream issue. You can open an issue [here](https://github.com/nfstream/nfstream/issues). Make sure to read the documentation first.

I do not know much about nfstream, but @aouinizied does.

[2021-10-12 09:47] imagineTh4t commented on #1339
Are you editor or admin ? @lnslbrty

[2021-10-12 10:09] utoni commented on #1339
Collaborator, I guess.

[2021-10-12 10:11] imagineTh4t commented on #1339
Do you know anything about my question? Can you help me?

[2021-10-12 10:18] utoni commented on #1339
If your question is related to nDPI, I might be able to help you. But nfstream is none of my business. Your question needs to be more specific, otherwise I can just give you some general information.

Take a look at [ndpiSimpleIntegration.c](https://github.com/ntop/nDPI/blob/dev/example/ndpiSimpleIntegration.c). This example shows howto process packets with nDPI and prints some information about d

[2021-10-12 12:46] aouinizied commented on #1339
@imagineTh4t This is related to nfstream and not nDPI as nDPI already extract such features. Please open an issue on NFStream project

Zied

[2021-10-12 12:53] #1339 closed, assigned to nobody

[2021-10-13 01:29] zygmuntszpak opened #1341 "Parsing protocols from L7_PROTO field."
I am working with a dataset that was extracted using the nProbe tool and it includes the field "L7_PROTO". I would like to recover the name of the protocol represented by the numeric value.
I found this list of protocols:
https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h

However, while some L7_PROTO records are integers (e.g. I can match `7.0` with NDPI_PROTOCOL_HTTP), some re

[2021-10-13 04:51] MaoPann commented on #1335
@lnslbrty  How about this?

[2021-10-13 09:06] utoni commented on #1335
It is possible to extend custom applications with IPv6 support. But I can not tell you (yet) how long it will take.

[2021-10-13 09:23] utoni commented on #1341
The first protocol represents the "master" protocol which is the first protocol detected after ISO-OSI layer 4. In most cases it refers to the detected layer 7 protocol.

The second protocol (after the decimal dot) has unfortunately two different meanings:

1. It could be an application "protocol" (not really a protocol), which is derived via Hostname/SNI/etc parsing and a lookup in an internal ap

[2021-10-13 12:20] IvanNardi opened #1342 "Kerberos: wrong logic accessing flow->protos.kerberos fields"
Fuzzing #1330 we found a serious bug in the Kerberos code.
The Kerberos dissector logic is something like:
* we found a Kerberos request -> we set `flow->protos.kerberos.domain` and similar metadata.
* the flow is not classified as kerberos yet; we do that only after we process the reply.
* if we don't see the reply at all or if, for whatever reasons, the final classification of the flow is not ke

[2021-10-13 14:58] IvanNardi opened #1343 "DHCP: wrong access to `flow->protos.dhcp`"
Same issue as #1342, but about DHCP protocol: we can't write to `flow->protos.dhcp` without a final classification.

Reproducible on master, with a minimal modification

[dhcp_fuzz.zip](https://github.com/ntop/nDPI/files/7339229/dhcp_fuzz.zip)

[code]

[2021-10-13 16:40] IvanNardi commented on #1325
Close via a2e9730b23bad7fea0047ac275786115f5912e84

[2021-10-13 16:40] #1325 closed, assigned to nobody

[2021-10-13 18:01] IvanNardi opened #1344 "`struct ndpi_detection_module_struct` and multi-thread"
I am trying to summarize here the various discussions on multi threads support.

What is the current situation?

*) `struct ndpi_detection_module_struct` is not thread-safe and it has never been.
*) This limitation is not well documented
*) ndpiReader example configures one `struct ndpi_detection_module_struct` for each thread
*) any implementations sharing the same `struct ndpi_detection_module_s

[2021-10-13 19:39] IvanNardi opened #1345 "Debug messages feature doesn't work anymore"
## Describe the bug
Commit 246d115d completely broke support for debug messages.

When compiling nDPI with `--enable-debug-messages` flag, debug messages, per protocols, should be enabled.
This feature doesn't work anymore since 246d115d: no protocols logs are printed. Before that commit, it was fine.
See below for a comparison of the log outputs of the same pcap, before and after 246d115d

The co

[2021-10-13 20:35] vel21ripn commented on #1344
It makes sense to discuss.

Fully initializing ndpi_detection_module_struct  in every thread is very memory intensive. This is not only the ndpi_detection_module_struct structure itself(228 kB), but also all the data in it. ahocorasick, patricia, ndpi_default_ports_tree_node_t also take up memory.
The efficiency of libcache generally drops to 0.
Based on this, I think that we should try to make li

[2021-10-13 20:43] vel21ripn commented on #1345
[code]

[2021-10-14 02:57] MaoPann commented on #1335
I need this function. Can you roughly evaluate how long it will take? Like three months? In addition, do you plan to develop and support this function for free or for a fee? If you intend to charge, please give me a quotation and send it to my email, mao.pan@hkaco.com,I need to evaluate this scheme. Admittedly, I don't think the development of this function is complicated. I hope you can reply as

[2021-10-14 07:08] lucaderi commented on #1344
I agree that "sharing" a ndpi_struct.packet could save memory, but this if and only if all threads are supposed to do the same job (for example you use RSS to share the load across multiple threads). In this case you have a lot of traffic so a few KB extra isn't a problem if this guarantees you consistency.
I would spend time to see if the memory could be further reduced by removing unnecessary da

[2021-10-14 10:04] vanggelis opened #1346 "Undefined behavior in hostname extraction when custom defined rules are set in protos.txt"
Further to hostname extration from a packet applied to a custom protocol detection rule there is an undefined behavior as the hostname is occasionally extracted during subsequent runs.

Should we expect always an empty hostname when a packet is under ip based custom protocol detection?

## nDPI Environment:
* OS name: Ubuntu
* OS version: 12.04, 16.04
* Architecture: x86_64
* nDPI version or commi

[2021-10-14 11:05] IvanNardi commented on #1346
The issue seems to be reproducible with current master and ndpiReader.
Is that the same error you are seeing?
[code]

[2021-10-14 11:54] vanggelis commented on #1346
I could partially assume yes, with a small difference in step 1 as `ndpi_check_flow_func ` is not appearing to my export log.

Find below the detailed export log:

`Conditional jump or move depends on uninitialised value(s) in
  1: check_ndpi_detection_func in /usr/local/src/nDPI-4.0-stable/src/lib/ndpi_main.c:4625</a>
  2: ndpi_do_guess in /usr/local/src/nDPI-4.0-stable/src/lib/ndpi_main.c:5369</

[2021-10-14 12:55] simonemainardi opened #1347 "Detect invalid chars in a DNS query and set risk"
After an internal discussion we have decided that is should be nDPI to check possibly invalid chars in a DNS query, and not ntopng.

For reference see:
https://github.com/ntop/ntopng/blob/64252fbcea496faad44dc296a0f8ce8964083cb9/src/Flow.cpp#L786

So basically when invalid chars are found:
- A risk should be set
- A clean copy of the DNS query should be available, e.g., either `ndpiFlow->host_serv

[2021-10-15 19:34] IvanNardi opened #1348 "Commit b1a43cbc introduce some memory errors"
## Describe the bug

Commit b1a43cbc broke unit tests, because of multiple memory errors
The key reason is that from 730c2360 is not more valid to access `ndpi_detection_module_struct->packet` from `ndpi_detection_giveup()`
Commit b1a43cbc add a call to `ndpi_reconcile_protocols()` from `ndpi_detection_giveup()`. Therefore  `ndpi_reconcile_protocols()` (and all the functions it calls) must not acc

[2021-10-15 22:52] choupani opened #1349 "Paramters for NDPI_LOG_DBG2() function"
In may_be_initial_pkt() function:
line NDPI_LOG_DBG2(ndpi_struct, "Version 0x%x with first byte 0x%x\n", first_byte); should be changed to
NDPI_LOG_DBG2(ndpi_struct, "Version 0x%x with first byte 0x%x\n", *version, first_byte);

[2021-10-16 09:47] IvanNardi commented on #1349
You are right, of course. Are you going to push the fix yourself?

[2021-10-16 09:52] choupani commented on #1349
No, Pls you push.

[2021-10-18 07:39] sohailanjum97 opened #1352 "nDPI with DPDK Throughput"
Hi all,
My Experiment Scenario is based on two nodes.
1. Tx Node: pf_ring version Tx rate up to 100Gbps [Works Fine]
2. Rx Node: nDPI with DPDK 21.11. Capturing the packets but using 1 core and the nDPI Throughput up to 15Gbps maximum, I have used EAL parameters to assign more core still nDPI(DPDK) used 1 core always, Anyone has any idea how to solve this issue.
3. Pics are for your reference. My

[2021-10-18 07:40] sohailanjum97 opened #1353 "ndpi+dpdk21.11"
Hi all,
My Experiment Scenario is based on two nodes.
1. Tx Node: pf_ring version Tx rate up to 100Gbps [Works Fine]
2. Rx Node: nDPI with DPDK 21.11. Capturing the packets but using 1 core and the nDPI Throughput up to 15Gbps maximum, I have used EAL parameters to assign more core still nDPI(DPDK) used 1 core always, Anyone has any idea how to solve this issue.
3. Pics are for your reference. My

[2021-10-18 21:49] utoni commented on #1353
duplicate of #1352

[2021-10-18 21:49] #1353 closed, assigned to nobody

[2021-10-18 21:54] utoni commented on #1352
Please use the issue template next time. Did you use nDPI bc5be1e76cd8b3d6733f66bffe346486de89b8a0 for all your tests?

[2021-10-19 01:53] sohailanjum97 commented on #1352
Yes, I am using nDPI. but the nDPI throughput is lower than our expectations.
In the Above Rx Node result, the nDPi+DPDK throughput is 5.05Gbps /sec, HOwever we are sending Tx Node the packet sending is almost 100Gbps.

[2021-10-19 06:06] utoni commented on #1352
Please update your source tree to the current dev branch and try again.

[2021-10-19 07:32] subritm commented on #1322
While testing with actual traffic, in a few occasions I can see that port 443 https is not getting detected.
So I had added the custom rule.

I will try to get the pcap for that traffic which doesn't get detected as HTTPS.

[2021-10-19 10:07] #1348 closed, assigned to IvanNardi

[2021-10-19 18:43] choupani opened #1355 "Git Protocol"
In git protocol the len parameter is hex and in the ndpi_search_git() function you need to convert hex value to integer.
Changing git_pkt_len = atoi(len); to sscanf(len, "%x", git_pkt_le) can fix it.

[2021-10-19 19:42] #1349 closed, assigned to IvanNardi

[2021-10-25 08:20] solarexpedition opened #1358 "TLS Certificate Mismatch within certificates with correct subject alternate names"
## Describe the bug
nDPI is reporting a TLS Certificate Mismatch in valid certificates with correct subject alternate names of requested hostname.

### Expected behavior
Subject alternate names in certificates should be respected too and not warned as a mismatch.
### Obtained behavior
Every client-connection to a hostname configured in subject alternate name within a certificate, triggers an alarm

[2021-10-25 14:12] v-crypto opened #1359 "RCE attack - risk detection technique"
Hi I am new to nDPI and have enjoyed using the features of nDPI. While i was learning about it I got struct by a query where i cant find any answer regarding it please help me to resolve my query

Branch : 4.0-stable

So my questions are
1.Is  URL information is updated only during HTTP response?
2. If so with provided WebattackRCE.pcap there are only get requests no response information
3. when i

[2021-10-25 16:53] lucaderi commented on #1355
@choupani Can you please verify it works and if so close the issue?

[2021-10-25 16:54] lucaderi commented on #1358
Would you mind sharing a pcap that reproduces the issue? Better if it includes only one flow/

[2021-10-25 17:12] choupani commented on #1355
It works properly.

[2021-10-25 17:12] #1355 closed, assigned to nobody

[2021-10-26 06:43] imagineTh4t opened #1361 "ftp fail count increase when getting data from port 22"
Hi,
I have a question about flow->ndpi_flow->protos.ftp_imap_pop_smtp.auth_failed
This count increase when i'm login in port 22 with filezilla. But it is broken maybe. Is this count increasing when i get failed?
Can you explain me ?

[2021-10-26 09:49] utoni commented on #1281
In my oppinion there are two possibilities for implementing such feature. But both may not be suited for the core library.

~1. For every DNS request/response, let nDPI do it's own DNS lookup and verify the responses of the dissected one. This approach consumes less memory but requires more CPU and Network usage. It may also not very effective against FastFlux and result in false negatives.~
2. Ca

[2021-10-26 19:34] #1347 closed, assigned to nobody

[2021-10-27 13:53] solarexpedition commented on #1358
Do you mean a pcap with one TLS-Handshake inside?

[2021-10-27 15:15] vanggelis opened #1364 "Instagram Misclassification in GTP <QUIC> flows"
Further to the attached pcap, the corresponting IP flow is not further classified to instagram. It seems that the `tls.handshake.extensions_server_name` is not being examined by the DPI module.

[quic_flow.zip](https://github.com/ntop/nDPI/files/7427244/quic_flow.zip)

[2021-10-27 18:27] IvanNardi commented on #1364
It works for me
[code]
Note the "-t" flag (to decapsulate GTP-U traffic) and the "-I" flag (because you have upstream and dowstrem packets in different vlans)

Am I missing something obvious here?

[2021-10-29 12:15] utoni commented on #1358
Exactly.

[2021-11-02 10:18] solarexpedition commented on #1358
I have sent pcaps to Luca as I am not allowed to publish internals from our network here.

[2021-11-03 12:04] IvanNardi commented on #1346
@vanggelis , could you check if #1366 works for you, please?

[2021-11-03 13:20] aouinizied opened #1367 "Teams test file contains packets ignored by ndpiReader for no reason"
## Describe the bug
I observed that ndpiReader behavior changed when testing using teams.pcap test file.

### Expected behavior
83 flows generated.
### Obtained behavior
82 flows generated.
The ignored flow comes from 4 packets that I attached in debug_teams file.

## nDPI Environment:
* OS name: Ubuntu.
* OS version: 20.04
* Architecture: x86_64
* nDPI version or commit hash: 55880e4ae4cb651f54a9

[2021-11-03 13:42] vanggelis commented on #1364
Hello Ivan,

Actually the classification of the particular quic flow requires libgcrypt20 which is not available in the Ubuntu12.04 and CentOS7 where I performed the test.

Is there any workaround for this?

[2021-11-03 13:55] vanggelis commented on #1346
It works.

Thank you!

[2021-11-03 13:55] #1346 closed, assigned to nobody

[2021-11-03 14:26] utoni commented on #1364
libgcrypt is mandatory to decrypt QUIC client hello's because newer IETF- and Google- QUIC versions contain encrypted TLS1.3 handshakes but the decryption keys are publicly available.
That may be the reason why you do not get any server names for that flow.

You can try to compile libgcrypt from source.
From my point of view there is no need for nDPI to support ancient distributions.

[2021-11-03 14:40] utoni commented on #1367
Are you sure that the flow is related to Teams? It looks somehow different compared to the other flows. Maybe it is some background noise from a SSH connection? It uses  TCP port 2222 which is sometimes used for sshd. Not sure if it was ever detected by nDPI. I've checked `git blame` and `git diff` and was not able to get any detection result for that flow.

[2021-11-03 14:43] IvanNardi commented on #1364
Some time ago, I was able to use ndpi on CentOS7 compiling libgcrypt 1.8.6 myself. I don't remember much, but it definitely worked

[2021-11-03 15:06] aouinizied commented on #1367
@lnslbrty Yes probably background traffic. The issue is not related to teams classification itself but rather regarding packet processing.
What I observed is that the number of flows generated with ndpiReader using the teams test pcap is different from what I get with nfstream.
So I isolated the missing flow (ssh probably) and checked the 4 packets belonging to it. It appears that they are valid I

[2021-11-03 15:15] vanggelis commented on #1364
Thank you for the information Ivan.

[2021-11-03 15:15] #1364 closed, assigned to nobody

[2021-11-03 15:52] IvanNardi commented on #1367
The issue seems about the csv export. The output of ndpiReader itself seems fine
[code]

[2021-11-03 16:10] aouinizied commented on #1367
@IvanNardi I will close then. Thanks @IvanNardi, this was a False Positive as I didn't try without csv.

[2021-11-03 16:10] #1367 closed, assigned to nobody

[2021-11-03 16:10] IvanNardi commented on #1367
@aouinizied, to dump unknown flows (like the one reported) you need at least verbose level 2 (both in stdout and in csv file). Something like `ndpiReader -v2 ...`

[2021-11-05 16:05] vel21ripn commented on #1364
@IvanNardi  The minimum libgcrypt version required for nDPI  is 1.9.2. It would be nice to add this restriction to configure.ac. Older versions of libgcrypt fail testing with --with-sanitizer.
Libgcrypt versions prior to 1.9.1 have serious vulnerabilities.

[2021-11-05 17:11] IvanNardi commented on #1364
@vel21ripn, I can't comment on libgcrypt vulnerabilities, but I would like to have more information about your environment and about the errors you are seeing.
I am asking that, because  I usually use nDPI on x86_64, Ubuntu 20.04 with libgcrypt 1.8.5 (the version provided by Ubuntu itself) and with asan without any issue. (In the previous messages when I talked about 1.8.6, it was about CentOS 7,

[2021-11-09 13:18] StewAlexander-com commented on #892
Will get back to this, truly odd issue

I'll post the PCAP once I have it

[2021-11-11 07:41] nhatdevemb opened #1373 "Compilation and Instalation"
i can't compile nDPI source code.
i followed
cd <nDPI source code directory>
./autogen.sh
./configure
make
but it's error step make.(othing to be done for 'all-am'.)
how to fix it ? pls help me.

Making all in src/lib
make[1]: Entering directory '/home/nhatdt/nhatdt/nDPI/src/lib'
gcc -fPIC -DPIC -I../include -Ithird_party/include -DNDPI_LIB_COMPILATION -W -Wall -Wno-unused-parameter -Wno-unused-fu

[2021-11-12 08:59] lucaderi commented on #1373
It compiled correctly so nothing to blame right?

[2021-11-12 08:59] #1373 closed, assigned to nobody

[2021-11-12 17:13] IvanNardi commented on #1358
It should have been fixed by b11065b2e3c724b2cb0e692e1818a4699c9cc803.
@solarexpedition, could you confirm, please?

[2021-11-14 14:50] nhatdevemb commented on #1373
when I  "make" in /example, it print Nothing to be done for 'all-am'.
Is thing right ?

[2021-11-15 07:29] utoni commented on #1373
Take a look at /example. ndpiReader was already built.

[2021-11-15 07:32] #1352 closed, assigned to nobody

[2021-11-15 11:46] IvanNardi commented on #1358
https://github.com/ntop/nDPI/commit/b11065b2e3c724b2cb0e692e1818a4699c9cc803#commitcomment-60284514

[2021-11-15 15:20] #1342 closed, assigned to IvanNardi

[2021-11-15 15:20] #1343 closed, assigned to IvanNardi

[2021-11-17 17:16] sobrien1234 opened #1375 "ndpi_patricia_best2() coredump"
## Describe the bug
A clear and concise description of what the bug is.

After running call load for about 3 hours, am getting a coredump with the following backtrace. I am using nDPI-4.0.tar.gz.

#0 ndpi_patricia_search_best2 (
patricia=<error reading variable: Cannot access memory at address 0x7f811cbded08>, prefix=0x7f811cbded10,
prefix@entry=<error reading variable: Cannot access memory at add

[2021-11-17 19:15] IvanNardi commented on #1375
Sorry, but I don't understand. Did your application crash after 3 hours of "live/random" traffic or after 3 hours analyzing always the same 2 pcaps?
Anyway, it is very difficult to look into this issue without a way to reproduce the error.
Some random advice:
* look very, very carefully at your custom allocation functions
* try using ASAN
* try using Vagrind

[2021-11-17 20:42] sobrien1234 commented on #1375
Ivan,

Thanks for your reply. I recognize the difficulty with these kind of issues. I had wishful thinking and was hoping that you would say, “Oh yes, someone else saw that and I have a fix.” I guess I’m not that lucky.

I’m using a call load generator that uses two pcaps as templates. I can recreate the issue within a few hours. I also tried with the default memory allocation and still hit a core

[2021-11-23 12:49] utoni commented on #1375
I am also not able to reproduce this issue.

Can you give us a full backtrace of the segfault?
Can tell us more about your custom memory wrappers?

Thanks!

[2021-11-23 13:01] utoni commented on #1361
For clarification: `flow->ndpi_flow->protos.ftp_imap_pop_smtp.auth_failed` is a bitfield of size 1. Only true or false can be stored in there.

Which service is running on port 22 and what protocol is filezilla configured to use?

[2021-11-24 13:10] sobrien1234 commented on #1375
Toni,

Thanks for the help. I’m on vacation this week and will be back on Monday Nov 29.

Steve

From: Toni ***@***.***>
Sent: Tuesday, November 23, 2021 6:50 AM
To: ntop/nDPI ***@***.***>
Cc: O'Brien, Stephen ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [ntop/nDPI] ndpi_patricia_best2() coredump (Issue #1375)

I am also not able to reproduce this issue.

Can you give us a full backtr

[2021-11-30 16:33] sobrien1234 commented on #1375
Toni,

I can reproduce the coredump, it occurs in the nDPI code indicating a bad (ndpi_patricia_tree_t *)ndpi_str->protocols_ptree)->head). However, the corruption is happening prior to the event, maybe packets earlier. I am still, slowly, trying to find the memory corruption event. I tend to think that it is not in the nDPI code.

I introduced a malloc, free, and realloc wrapper. This is because

[2021-11-30 16:35] IvanNardi commented on #1375
Any luck using them? You should be able to detect the memory corruption when it really happens...

[2021-12-07 13:05] sobrien1234 commented on #1375
This issue was due to my code. The coredump was from memory corruption due to incorrect flow resource handling. I am using my own memory handling, including flow resources. The call to ndpi_flow_free() was freeing my flow resources. Switching from ndpi_flow_free() to ndpi_flow_data_free() resolved the problem.

Steve

From: Ivan Nardi ***@***.***>
Sent: Tuesday, November 30, 2021 10:36 AM
To: ntop

[2021-12-08 08:04] solarexpedition commented on #1358
Last build has fixed the issue. All altNames in the certificate are decoded now correctly and don't trigger a false-positive anymore.
Version: ntopng 5.1.211208

[2021-12-08 08:04] #1358 closed, assigned to nobody

[2021-12-12 15:47] IvanNardi commented on #1375
I am glad you found the bug. Closing the issue

[2021-12-12 15:47] #1375 closed, assigned to nobody

[2021-12-15 17:42] viniciussn commented on #1312
I've compiled nDPI for a MIPS architecture device and some tests failed, e.g. youtube_quic.pcap:

[code]

Taking a look at the source code, I've found a few places assuming that the host is little-endian, for instance: https://github.com/ntop/nDPI/blob/8e512ff50331e2750d13b3d983f3b3216134ad18/src/lib/protocols/quic.c#L238-L243

Later I've found this issue about problems running nDPI in big-endian

[2021-12-16 14:20] ol-andreyizrailev opened #1386 "Incorrect comparison of nDPI_flow_info structures in ndpiSimpleIntegration"
https://github.com/ntop/nDPI/blob/8e512ff50331e2750d13b3d983f3b3216134ad18/example/ndpiSimpleIntegration.c#L362-L402
I believe the logic in `ip_tuples_compare()` is incorrect.
First of all, on the first line of the function (which is 365) `B->l3_type` should obviously be checked to be `L3_IP`, not `L3_IP6`.  The same problem presents in `ip_tuples_equal()`.
Another issue here is the comparion logi

[2021-12-16 20:58] IvanNardi commented on #1312
AFAIK, nobody is actively working on this issue; any help will be really appreciated!
Looking at the CI tests results, it seems there are multiple, independent, issues on big-endian architectures. The biggest one is about the ahocorasick library: string matching algorithm doesn't always return the expected results.
You are right about the QUIC code: a fix will be quickly pushed (CHLO decoding shou

[2021-12-25 15:32] rizwanrazi opened #1391 "Facing error while compiling project in android studio. Can someone tell me ho i can resolve it"
[code]

[2022-01-05 16:39] utoni commented on #1386
I agree, these are two valid bugs. The first one was probably a typ0, but the second one is a logic fail.
Will fix that ASAP.
Thanks for reporting those!

[2022-01-11 19:38] Mirraz opened #1397 "False positive TOR detection by domain from SNI"
TLS-connection to https://www.anywayanyday.com is classified as TOR.
Also I checked this domain with tests/dga/dga_evaluate:
[code]
I think this problem is similar to (closed) issue https://github.com/ntop/nDPI/issues/578

[2022-01-12 18:45] IvanNardi commented on #1279
With the latest changes, this structure is used only by 4 protocols: DirectConnect, IRC, Gnutella and Jabber.
I don't know these protocols well enough, but the code involved with `struct  ndpi_id_struct` is unchanged from the original OpenDPI import : I am not so sure these checks make still sense so many years later.
To move forward, we have 3 options, at least:
1) nuclear option: remove this stu

[2022-01-12 19:21] IvanNardi commented on #1391
I have no experience on Android compilation, so I am simply guessing: have you installed the proper autotools/autoconf/automake packages?

[2022-01-12 19:51] #1397 closed, assigned to nobody

[2022-01-13 16:40] IvanNardi commented on #1312
Even after dc60cd0, there are still some issues (see https://github.com/ntop/nDPI/runs/4805759337?check_suite_focus=true)

[2022-01-19 17:29] viniciussn opened #1415 "nDPI do not classify Youtube running on latest Google Chrome stable release"
nDPI do not classify Youtube running on latest Google Chrome stable release (97.0.4692.71) correctly.
When Youtube is running on Firefox (version 96.9), everything works as expected.
When running on latest version of Google Chrome, some traffic is classified as Youtube, but most are classified as QUIC.

## nDPI Environment:
* OS name: Ubuntu.
* OS version: 20.04.3 LTS
* Architecture: x86_64
* nDPI

[2022-01-19 18:07] IvanNardi commented on #1195
Reopening the issue: f8fe3ee only handles in-order and non-overlapping fragments.
The most common case (out-of-order fragments, in the same UDP packet) is not handled yet

[2022-01-19 18:09] IvanNardi commented on #1415
@viniciussn: it is a "known" issue: see #1195 for details

[2022-01-20 12:50] viniciussn commented on #1415
Thank you. I think we can close this issue then.

[2022-01-20 12:50] #1415 closed, assigned to nobody

[2022-01-26 14:48] utoni commented on #1386
Fixed with #1418.

[2022-01-26 14:48] #1386 closed, assigned to nobody

[2022-01-26 14:51] utoni commented on #1188
I am closing this issue now since there was no activity since months. Please reopen if your question still exists. @wuweige

[2022-01-26 14:51] #1188 closed, assigned to utoni

[2022-01-28 16:37] viniciussn opened #1424 "Adapting nDPI to use another crypto lib"
Hello,

I using nDPI in some embedded applications and its working gracefully.
But in some devices that we are working with, the available storage is extremely low (a few megabytes).
One of the biggest dependencies of nDPi is libgcrypt + libgperror (~2.5 MB), used for QUIC decryption.
These devices uses OpenSSL and have their crypto library (libcrypto).

My question is: Is it possible to adapt nDP

[2022-01-28 18:38] IvanNardi commented on #1424
A similar request has been already made in the past: #1120
I think that nothing changed since then: it is probably feasible to use another cypto library; the hard part is finding someone doing the real work :-)
Note that @vel21ripn is doing something somehow similar (but for completely different reasons, IMO): https://github.com/vel21ripn/nDPI/commit/4f8fce9909c07e2016cab6e2e0899647d7b797c9

[2022-01-29 11:24] IvanNardi commented on #1312
Another step in the right direction in https://github.com/ntop/nDPI/commit/0c70411b1b093279f3d7c09b2b57b491911df84c
Remaining issues: https://github.com/ntop/nDPI/runs/4951153935?check_suite_focus=true (these issues seem to be related to `ndpiReader` application, not `libndpi.so` itself)

[2022-01-30 18:18] #1279 closed, assigned to nobody

[2022-01-31 10:03] DimaWittmann opened #1428 "VXLAN support"
Hello,

I noticed that there is no VXLAN support in nDPI at the moment. Maybe you have a suggestion on how to detect this protocol with nDPI or do I just need to add the VXLAN protocol dissector?

Thank you for your time and work!

[2022-01-31 11:18] vitalivanov commented on #1428
@lucaderi @cardigliano can you pls comment?

[2022-01-31 12:22] IvanNardi commented on #1428
To add support for VXLAN you probably need some "decapsulation code" (in `example/reader_utils.c`) instead of a real protocol dissector. Take a look at GTP/CAPWAP.
My 2 cents

[2022-01-31 16:35] DimaWittmann commented on #1428
@IvanNardi Thank you for the replay.
I see what you mean, I have the decapsulation code but I want to make it configurable. When I disable the decapsulation code nDPI detects VXLAN tunnel as RX protocol. This is not really intended behavior.
That is why I want to add VXLAN dissector.

[2022-02-07 21:49] viniciussn commented on #1424
I'll check. Thank you.

[2022-02-07 21:49] #1424 closed, assigned to nobody

[2022-02-09 12:46] IvanNardi commented on #1428
Done in 4cf85354

[2022-02-09 12:46] #1428 closed, assigned to nobody

[2022-02-09 19:06] IvanNardi opened #1441 "Add support for VXLAN decapsulation"
Commit 4cf853548c6744af6581ebf6becd37417e164a75 added support for VXLAN in nDPI.
It would be nice to have VXLAN de-tunneling capability in `ndpiReader` (like GTP or CAPWAP).
Pcap example: https://github.com/ntop/nDPI/blob/dev/tests/pcap/vxlan.pcap

[2022-02-09 19:11] IvanNardi opened #1442 "Add support for GRE decapsulation"
It would be nice to have GRE de-tunneling capability in `ndpiReader` (like GTP or CAPWAP).
Pcap example: [gre_sip.zip](https://github.com/ntop/nDPI/files/8035528/gre_sip.zip)

[2022-02-09 19:46] IvanNardi commented on #220
Closing for inactivity. If you are still interested in this protocol, open a new issue and attached a full trace, please

[2022-02-09 19:46] #220 closed, assigned to kYroL01

[2022-02-09 19:46] IvanNardi commented on #168
Closing for inactivity. If you are still interested in this protocol, open a new issue and attached a trace, please

[2022-02-09 19:46] #168 closed, assigned to kYroL01

[2022-02-09 19:47] IvanNardi commented on #402
Closing for inactivity. If you are still interested in this protocol, open a new issue and attached a recent trace, please

[2022-02-09 19:47] #402 closed, assigned to kYroL01

[2022-02-09 19:49] IvanNardi commented on #126
A lot of things changed in google services/apps in the last years. If you are still interested in some protocols, open a new issue and attached some traces, please

[2022-02-09 19:49] #126 closed, assigned to nobody

[2022-02-09 19:51] IvanNardi commented on #198
HSRP support added in be5a29ba9d4da849992b7a4b42047e591bde20aa

[2022-02-09 19:51] #198 closed, assigned to nobody

[2022-02-09 19:53] IvanNardi commented on #559
Closing for inactivity. If you are still interested in these protocols, open a new issue and attached a few pcap, please

[2022-02-09 19:53] #559 closed, assigned to nobody

[2022-02-09 19:54] IvanNardi commented on #753
ndpi compilation with DPDK works in latest releases.

[2022-02-09 19:54] #753 closed, assigned to nobody

[2022-02-09 19:55] IvanNardi commented on #847
Missing traces. If you are still facing this problem, open a new issue and attached a full trace, please

[2022-02-09 19:55] #847 closed, assigned to nobody

[2022-02-09 20:00] IvanNardi commented on #1301
Closing for inactivity. Latest code compiles on CentOS7.

[2022-02-09 20:00] #1301 closed, assigned to nobody

[2022-02-09 20:01] IvanNardi commented on #892
@StewAlexander-com : any chances to have a trace triggering the issue?

[2022-02-09 20:02] IvanNardi commented on #1274
Closing for inactivity. If you are still interested in this protocol, open a new issue and attached a trace, please

[2022-02-09 20:02] #1274 closed, assigned to nobody

[2022-02-09 20:03] #1292 closed, assigned to nobody

[2022-02-09 20:05] IvanNardi commented on #917
With latest release, you can add exception to flow risks: see https://www.ntop.org/ndpi/howto-define-ndpi-risk-exceptions-for-networks-and-domains/

[2022-02-09 20:05] #917 closed, assigned to nobody

[2022-02-09 20:08] IvanNardi commented on #885
I don't know if this issue has been fixed.
Nowadays, 3.2 is an old, unsupported version so I think we can ignore the issue anyway

[2022-02-09 20:08] #885 closed, assigned to nobody

[2022-02-19 19:37] IvanNardi commented on #1391
Missing information. If you still have this problem, please open a new issue, providing all the information.

[2022-02-19 19:37] #1391 closed, assigned to nobody

[2022-02-19 19:37] IvanNardi commented on #1361
Missing information. If you still have this problem, please open a new issue, providing all the information.

[2022-02-19 19:37] #1361 closed, assigned to nobody

[2022-02-19 19:37] IvanNardi commented on #1305
Missing information. If you still have this problem, please open a new issue, providing all the information.

[2022-02-19 19:37] #1305 closed, assigned to nobody

[2022-02-20 17:45] IvanNardi commented on #650
Closing for inactivity. If you still have this problem, please open a new issue, attaching a trace file

[2022-02-20 17:45] #650 closed, assigned to nobody

[2022-02-22 16:30] vitalivanov opened #1452 "ndpi_detection_process_packet is not using ndpi_id_struct anymore."
In recent ndpi library ndpi_id_struct is removed. Previously we used:

struct ndpi_id_struct *ndpi_src = NULL;
struct ndpi_id_struct *ndpi_dst = NULL;
...
ndpi_detection_process_packet(ndpi_struct, &item->ndpi_flow, ip, iplen, ms, ndpi_src, ndpi_dst);
to detect packet in flow and combine flows from and to client and server.

Now it's changed to:
ndpi_detection_process_packet(ndpi_struct, &item->nd

[2022-02-22 16:30] vitalivanov commented on #1452
@IvanNardi @lucaderi

[2022-02-23 16:35] IvanNardi commented on #1452
I am not sure if I am getting your question right. Anyway:
1) `struct ndpi_id_struct` was used (not by `ndpiReader`, by the way) to correlate *different* flows to/from the same endpoints
2) If your code really set `ndpi_src` and `ndpi_dst` to NULL, this feature was disabled anyway
3) This feature requires a lot of memory, it was used only by some old protocols in plain text and it has never been u

[2022-02-23 19:44] vitalivanov commented on #1452
1. I tried to say that we do use these structures. And there is a code in between stated with ...
We did used this to and from approach to combine flows from different ports.

2. We did use it. Null is just init code.

3. So all these old protocols are still going to work with new LRU caches based mechanism?
We have internal automated tests and old code works perfectly. New library fails in some c

[2022-02-23 20:13] IvanNardi commented on #1452
@vitalivanov, ok for points 1 and 2; sorry but I missed the fact that you really used them.

No. The idea was that these old protocols (*if* still used) are probably changed in the last years (i.e. using encryption, for example) and therefore the `struct ndpi_id_struct` stuff, even if present, it is not triggered anymore.
Bottom line: we *removed* *one* of the detection logic of these protocols.

[2022-02-25 19:26] vel21ripn opened #1458 "Size of struct ndpi_detection_module_struct is too big!"
The ndpi_detection_module_struct structure contains 5 "struct ndpi_call_function_struct" arrays of 286*144=41 kB size,
 which are occupied by a small number of elements.

At the moment we have callback_buffer_size = 172, tcp_with_payload=114, tcp_no_payload=8, udp=93, other 8.
NDPI_MAX_SUPPORTED_PROTOCOLS = 285.

Size of struct ndpi_detection_module_struct is 253136 bytes.
Size of all structs ndpi

[2022-02-26 19:31] vel21ripn commented on #1345
See #1459

[2022-02-28 15:57] IvanNardi opened #1463 "QUIC decryption failures using internal crypto code"
## QUIC decryption failures using internal crypto code
Since commit 1a8a6aa161 nDPI switched to internal crypto code to decrypt QUIC traffic.
However decryption of some QUIC flows doesn't work anymore since then.
Everything is still fine if we use external libgcrypt.

### Expected/Obtained behavior
The behaviour is reproducible with the attached trace:
[quic_internal_crypto.zip](https://github.com

[2022-02-28 16:01] IvanNardi commented on #1463
@vel21ripn, could you take a look, please?
I haven't still looked into it, but the issue might not be related to crypto code itself but about how QUIC dissector uses it, IMO

[2022-02-28 19:00] #1341 closed, assigned to nobody

[2022-03-01 06:37] vel21ripn commented on #1463
The internal implementation of the libcrypt library has a limit on the length of the key/IV. You need to increase the buffer for IV and fix the check for the allowable length of IV

src/lib/third_party/include/gcrypt_light.h:29
[code]

src/lib/third_party/src/gcrypt_light.c:278:gcry_error_t gcry_cipher_setiv ()
[code]

[2022-03-01 09:37] IvanNardi commented on #1463
@vel21ripn , thanks for the suggestion! I am going to take a look at it

[2022-03-01 20:57] utoni commented on #1345
Thanks for your contribution!

[2022-03-01 20:57] #1345 closed, assigned to nobody

[2022-03-02 14:14] #1463 closed, assigned to IvanNardi

[2022-03-02 21:39] utoni commented on #719
Hi @vpiserchia. Can you please verify if the detection works? Check for the NDPI_MALFORMED_PACKET risk. Do you also know which tunnel software was used?

[2022-03-04 02:53] sharonenoch opened #1473 "Azure IPList link has changed"
The link in the azure_ip_addresses_download.sh script that downloads the ips is no longer valid.. MS has changed it couple of days back..   Not sure how we would keep up with the links if it keeps changing often..

Below is the new link though..

https://download.microsoft.com/download/7/1/D/71D86715-5596-4529-9B13-DA13A5DE5B63/ServiceTags_Public_20220228.json

[2022-03-04 03:20] sharonenoch commented on #1473
Looks like they are changing only the dates in the file name.. This would work to extract the file link first.. and the use that to download the actual ip list.. Not sure if its a long term fix though..

`curl -s -w "%{http_code}" https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519 | grep -E 'ServiceTags_Public_[[:digit:]]+.json' | grep -o -E 'href=\"[^"]+' | sed 's/href="//'  | un

[2022-03-04 15:09] viniciussn opened #1475 "Different Youtube classification on little-endian x big-endian machine"
Hello,

Running ndpiReader with a Youtube traffic pcap is giving me different outputs on a little-endian and a big-endian machine with the latest commit (95a3d4fffe699823b1cc9730dd0e4e2827b94845).

<details><summary>Little-endian output</summary>

[code]
</details>

<details><summary>Big-endian output</summary>

[code]

</details>

* Architectures: x86-64 and MIPS
* nDPI version or commit hash: 95

[2022-03-04 15:24] utoni commented on #1475
Possible duplicate of #1312.

[2022-03-04 15:43] viniciussn commented on #1475
Do you agree with @IvanNardi?

Because I'm using libndpi in another application and this issue is also reproducible there.

[2022-03-04 15:47] IvanNardi commented on #1475
Please note that comment has been made before the addition of the internal crypto code.
I would not be surprise at all if that code has some issues on big-endian machines.

[2022-03-04 16:37] IvanNardi commented on #1475
Definitely some endianess issue on internal crypto library: https://github.com/ntop/nDPI/runs/5424718108?check_suite_focus=true all QUIC tests are failing on big-endian arch

[2022-03-04 17:43] vel21ripn commented on #1475
Does the error only appear when internal gcrypt is used?
At the time of the adoption of #1444 there was no testing on s390 with built-in libgcrypt?

[2022-03-04 19:08] viniciussn commented on #1475
I'm building the latest version with host libgcrypt and will post the results ASAP.

[2022-03-04 19:23] viniciussn commented on #1475
Here is the output of ndpiReader with libgcrypt 1.9.3, running on a big-endian machine:
<details><summary>output</summary>

[code]

</details>

[2022-03-04 19:51] IvanNardi commented on #1475
I confirm: QUIC dissection is fine with external libgcrypt on BE machines: https://github.com/ntop/nDPI/runs/5426850761?check_suite_focus=true

[2022-03-04 20:05] vel21ripn commented on #1475
We need to check the functionality of the "tests/performance/gcrypt" utilities on the s390.
I made a test system on s390/qemu/ubuntu-18.
I'll try to figure out where the error is.

[2022-03-05 09:01] vel21ripn commented on #1475
See #1478
I see strange test errors on s390 (not related to Endian issues).
1kxun.pcap: Number of packets and bytes do not match.
ethernetIP.pcap: category does not match.
KakaoTalk_chat.pcap: errors related to the ICMP protocol.
quic_interop_V.pcapng: errors related to the ICMP protocol.
skype_no_unknown.pcap,teams.pcap,zoom.pcap: The number of packets and bytes does not match.

[2022-03-05 12:49] vel21ripn opened #1479 "ndpiReader bigendian: wrong packet counters / wrong direction of packets"
## Describe the bug
test pcap/1kxun.pcap failed

### Expected behavior
TCP 192.168.115.8:49613 <-> 183.131.48.144:80 [proto: 7/HTTP][ClearText][Confidence: DPI][cat: Media/1][260 pkts/15070 bytes <-> 159 pkts/168623 bytes]

### Obtained behavior
TCP 192.168.115.8:49613 -> 183.131.48.144:80 [proto: 7/HTTP][ClearText][Confidence: DPI][cat: Media/1][419 pkts/183693 bytes -> 0 pkts/0 bytes]

## nDPI E

[2022-03-05 12:54] IvanNardi commented on #1475
EthernetIP should be fixed in #1477
@lnslbrty , it seems that ICMP checksum calculation (or comparison) is wrong on BE machines. Could you take a look, please?

The other issues (already mentioned in https://github.com/ntop/nDPI/issues/1312#issuecomment-1024892771) seems to be related to `ndpiReader` code.

@viniciussn , could you confirm that this specific issue can be close, please?

[2022-03-05 12:56] IvanNardi commented on #1479
I have the same suspicion, but I have not been able to find the core issue, yet

[2022-03-05 17:28] IvanNardi commented on #1473
It can't be worse than the current code...
@sharonenoch, are you going to push a PR yourself?

[2022-03-05 23:13] sharonenoch commented on #1473
@IvanNardi I added the PR [#1480](https://github.com/ntop/nDPI/pull/1480).

Can you please check.. Its the first time I am doing this operation in github. I believe I used the proper guidelines and procedure for the same.

Below is the execution output with the fix.

root@kickseed:~/nDPI/utils# ./azure_ip_addresses_download.sh
(1) Downloading file... https://www.microsoft.com/en-us/download/confir

[2022-03-07 09:38] vel21ripn commented on #1479
I managed to partially localize the error, but because of what it occurs, I still cannot understand.
[code]
On the bigendian machine I get "a2 bug Aborted" which shouldn't happen.

[2022-03-07 11:45] viniciussn commented on #1475
Hello,

Now it is working as expected. Output on a big-endian machine:

<details><summary>output</summary>

[code]

</details>

Thank you guys for fixing it so fast.

[2022-03-07 11:45] #1475 closed, assigned to nobody

[2022-03-07 23:17] utoni commented on #1312
Fixed with PR #1482.

[2022-03-07 23:17] #1312 closed, assigned to utoni

[2022-03-07 23:25] utoni commented on #1479
Fixed with PR #1482. Thanks!

[2022-03-07 23:25] #1479 closed, assigned to nobody

[2022-03-07 23:26] #1473 closed, assigned to nobody

[2022-03-07 23:26] sharonenoch commented on #1473
Has been merged to dev https://github.com/ntop/nDPI/pull/1480.

[2022-03-08 20:08] IvanNardi commented on #1118
s390x should be fine now.
No idea about i386, though

[2022-03-09 19:58] IvanNardi commented on #1452
@vitalivanov, any news?

[2022-03-10 07:57] utoni opened #1486 "Fix compile warnings and tests for Windows."
Starting with PR #1483 there is now CI support for native Windows builds.
As mentioned by @aouinizied and verified via [Github Actions](https://github.com/ntop/nDPI/runs/5474037710?check_suite_focus=true) there some compile warnings. Some unit and/or integration tests will fail as well.

We should also consider to re-activate at least one MingW compilation step. This may be useful, because MingW h

[2022-03-10 13:55] lucaderi commented on #1359
This was contributed code that might be imperfect. I see sometimes false positives. I would appreciate if you could fix the issues you have noticed.

[2022-03-10 15:22] pjaitken commented on #1118
i386 has been working since 3.4-3: https://buildd.debian.org/status/logs.php?pkg=ndpi&arch=i386

[2022-03-10 15:28] #1118 closed, assigned to nobody

[2022-03-10 16:47] vitalivanov commented on #1452
I added .gif extention just to be able to load it here. Just substitute .gif to .pcap:
![youtube pcap](https://user-images.githubusercontent.com/2084293/157712446-2e0309c9-12c0-416f-9e09-287da48881d6.gif)

This file on versions 3.4-stable nDPI produced different results with ndpiReader in terms of detected packets as compare to latest 4.2-stable.

[2022-03-10 18:44] mmaypo commented on #1486
so i'm brand new to this party, but i just pulled latest stable, #define'd NDPI_LIB_COMPILATION and tried to build under windows using the .SLN / .VCXPROJ  files, and there are a large number of missing link references.  for example, in ndpi_main.h, most of the function declarations have no corresponding definition in .c
What am i missing here?

[2022-03-10 19:03] utoni commented on #1486
The Visual Studio leftovers are not updated regularly. They are ancient, alone and forsaken.

If you can spare some of your precious time, feel free to fix that and send a PR.

[2022-03-10 19:05] utoni commented on #1486
Can you please share the output of the VS build log?

[2022-03-10 22:06] mmaypo commented on #1486
[ndpi_win-mmaypo_2022-03-10.zip](https://github.com/ntop/nDPI/files/8227397/ndpi_win-mmaypo_2022-03-10.zip)

i've attached a combined patch of changes it took to get the project to compile in VS on my windows 10 system under VS2019 (toolset not updated).  There seem to be a number of changes which would have been set up in linux during config, but not under windows. Also some random issues - e.g.

[2022-03-10 22:16] mmaypo commented on #1486
[ndpi_win-mmaypo_2022-03-10.zip](https://github.com/ntop/nDPI/files/8227493/ndpi_win-mmaypo_2022-03-10.zip)
last comment seems to have disappeared. anyway, i got it compiling under VS 2019 (toolset not updated) on a windows 10 system, and the patch is way too kludged up for a PR. hopefully it may be helpful to a maintainer

[2022-03-11 12:14] utoni commented on #1486
Got your comment via Mail. Dunno how and why it disappeared.

[2022-03-12 09:54] utoni commented on #1458
I am curious about that possible change. Everything that reduces memory consumption, even if it's "only" a per-thread allocated detection module struct, is welcome. As long as the performance trade-off does not kill any memory savings.

[2022-03-12 10:06] IvanNardi commented on #1458
+1 (some of these bitmasks are used in hot path (via `check_ndpi_detection_func`))

[2022-03-12 16:33] vel21ripn commented on #1458
There is already a working version. I will try to make a PR soon.

[2022-03-13 07:37] vel21ripn commented on #1458
#1487 is directly related to this issue.

[2022-03-18 18:40] hl33ta opened #1492 "Unexpected Characters in Kerberos output from ndpi/ndpiReader"
## Describe the bug
I have a pcap that I feed into a flow sensor that leverages the ndpi library for dissection. When dissecting some kerberos traffic I see some unexpected non alphanumeric characters within some of the fields.

### Expected behavior
I expect printable alphanumeric characters to be contained within the kerberos fields within the ndpi flow struct
### Obtained behavior
There are une

[2022-03-21 13:26] vitalivanov commented on #1452
@IvanNardi, any news?

[2022-03-21 16:39] utoni commented on #1492
The issue here is that the kerberos protocol dissector's username parsing is completely wrong and needs to be fixed. Even the kerberos pcap in the nDPI repository does not result in any cname's and Wireshark confirms that there should be some.

[2022-03-21 16:47] utoni commented on #1486
I've tried your vcxproj with VS-2019 w/o success. I am not a VS expert but IMHO as long as nDPI uses autotools there may not be an easy way to automatically update VS files for example when a new protocol dissector or other *.c files are added. And manually updating files crucial for an IDE does not seem to be a good idea (as it is the case right now).

Any ideas? @mmaypo

[2022-03-21 20:21] mmaypo commented on #1486
agreed - autotools means there isn't an easy way for windows. All i can suggest is an alternative like cmake or bazel

[2022-03-22 11:03] IvanNardi commented on #1452
@vitalivanov :sorry for the delay.
I checked your trace and I didn't find any particular difference in Youtube classification between 3.4-stable and current dev: in 3-4 there are 8 flows classified as Youtube; in dev there are 14 flows (the original 8 + 6 over QUIC; there is no QUIC version 1 support in 3.4).

Could you point to any specific session with unexpected/wrong/changed classification, pl

[2022-03-22 14:05] aouinizied commented on #1302
@lnslbrty @IvanNardi This is fixed as now Python bindings are automatically generated ans are part of CI testing.

[2022-03-22 14:05] #1302 closed, assigned to aouinizied

[2022-03-24 12:58] socketpair opened #1494 "Sometimes NDPI_API_VERSION is empty"
configure.ac contains these lines of code:

[code]
On my build system:
[code]
So, according to this code NDPI_API_VERSION= become empty.
This is a bug.

[2022-03-24 13:31] socketpair commented on #1494
The patch:
[code]

[2022-03-24 15:07] utoni commented on #1494
IMHO using an automatic generated, timestamp based API version is meaningless to me and not fail-safe.
But your patch does fix a bug, but does not fix the "wrapping around" issue described in #1189. You may want to create a PR, so we can check if the CI agrees with your patch.

[2022-03-24 16:28] socketpair commented on #1494
@lnslbrty Since API is not backward compatible, just incrementing gives nothing. I would generate a random sequence. Or, as a hash of required files. Are you OK with it ? If one compiles from git, the code count number of lines in a few files. I can:
1. calculate some fast hash (MD5?) from contents of these files
2. change API version from uint16_t to uint64_t.
3. store last 8 bytes of hash as a n

[2022-03-24 16:38] dsokoloski opened #1495 "Mining Dissector: Dual Registration Attempt"
## Describe the bug
The [Mining dissector ](https://github.com/ntop/nDPI/blob/26df1403e6e8c0f17a5e419d3e614ed4a86e1885/src/lib/protocols/mining.c#L171)has two different search functions, one for UDP, one for TCP.  The dissector attempts to register itself twice with two different selection bitmasks:
- `NDPI_SELECTION_BITMASK_PROTOCOL_V4_V6_TCP_WITH_PAYLOAD_WITHOUT_RETRANSMISSION`
- `NDPI_SELECTION

[2022-03-24 16:53] utoni commented on #1494
Sure.

But I still think an incremented API version (or something more [semver](https://semver.org/)ish) is useful, because sometimes libnDPI can be backward API compatible e.g. when adding a new function symbol to the public interface, add a new struct member or a bugfix.

There is just no workflow regarding API compatibility, but that may change in the future.

[2022-03-24 16:55] IvanNardi commented on #1495
I agree that Mining code should handle the TCP/UDP stuff like all the other protocols, with only one registration and only one callback.
Having said that, I don't see any real bug with the current code: `ndpi_search_mining_tcp` is definitely called (`*idx` is incremented between the two registrations).
You can try yourself running the tests with this trivial patch and see that there are some diffe

[2022-03-24 16:56] socketpair commented on #1494
Well if you insist on incremental API version, I would set NDPI_API_VERSION=$SOURCE_DATE_EPOCH. Is it OK, so ?

Anyway, mix of branches, backports and git/non-git builds break the rules. The best way actually to increment API version by hand. Or, stick to hash method :).

Please decide. I vote for hash method.

[2022-03-24 17:05] dsokoloski commented on #1495
My mistake, I see now that `ndpi_str->proto_defaults[ndpi_protocol_id].func` is [overwritten](https://github.com/ntop/nDPI/blob/26df1403e6e8c0f17a5e419d3e614ed4a86e1885/src/lib/ndpi_main.c#L3761) by the second registration, but `ndpi_str->callback_buffer[idx].func` is set uniquely as it's indexed by `idx` (*id += 1 by the dissector).

Just hard to read / understand I guess.

[2022-03-24 17:05] #1495 closed, assigned to nobody

[2022-03-24 17:07] utoni commented on #1494
Agreed. Let's see if the CI also agrees. :)

+1

[2022-03-24 17:23] socketpair commented on #1494
Well. Please decide how to calculate version. I will implement.

[2022-03-24 18:17] utoni commented on #1494
I am not sure what is the best solution here, but I would go with increasing the size of the API version.

[2022-03-24 18:52] IvanNardi commented on #1495
https://github.com/ntop/nDPI/pull/1496 should make the code clearer

[2022-03-26 13:56] rizwanrazi commented on #676
is it fixed?

[2022-03-27 00:59] elico opened #1501 "Adding new applications based on vendors docs: pluralsight"
I have seen couple uses of applications ID in production and nDPI is missing many of these.
One example is pluralsight SNI and IP ranges.
It's pretty simple to define this app based on the official docs at:
https://help.pluralsight.com/help/ip-allowlist

Basically any SNI and domain under the definition of:
*.pluralsight.com
ip-video-course-exercise-files-us-west-2.s3.us-west-2.amazonaws.com

is t

[2022-03-27 09:43] IvanNardi commented on #1501
Could you share the details or, better, push some PRs?

I added a basic support for Pluralsight  in #1503.
If you have a pluralsight account, could you share a pcap with a real video stream in it, please?

[2022-03-27 10:52] IvanNardi commented on #1458
Done in 4896dabb6b8d3469f87fa8c746ee070b12429024

[2022-03-27 10:52] #1458 closed, assigned to nobody

[2022-03-27 13:29] raulium commented on #676
Not particularly, but the issue was mostly with the documentation -- though I can't remember why I closed it the same day. If you want to install nDPI you just need to have homebrew already installed and ensure you've done something like:

`brew install autoconf automake pkg-config json-c`

I just recreated the steps myself and found I also needed the other two -- but that might not be the definit

[2022-03-27 13:49] elico commented on #1501
@IvanNardi I will try to capture some traffic in the next couple days.
I cannot push a PR since I am really busy working on other things but I can try to provide a capture and other relevant details.
The next is the access.log from squid:
https://www.ngtech.co.il/squid/pluralsight-access-log.txt

[2022-03-29 03:57] subhajit-cdot opened #1505 "Build error in ndpi4.2-stable"
I was trying to build ndpi 4.2-stable in debian buster.

**System information:**
subhajit@debian-ndpi:~/migration/ndpi$ uname -a
Linux debian-ndpi 4.19.0-18-amd64 #1 SMP Debian 4.19.208-1 (2021-09-29) x86_64 GNU/Linux

subhajit@debian-ndpi:~/migration/ndpi$ lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Release:	10
Codename:	buster

**

[2022-03-29 05:58] subhajit-cdot commented on #1505
**example/uthash.h path needs to be changed in  libndpi-dev.docs with src/lib/third_party/include/uthash.h, otherwise below error will come**

/usr/bin/mkdir -p '/home/cdot/migration/ndpi/debian/tmp/usr/lib/x86_64-linux-gnu/pkgconfig'
 /usr/bin/install -c -m 644 libndpi.pc '/home/cdot/migration/ndpi/debian/tmp/usr/lib/x86_64-linux-gnu/pkgconfig'
make[4]: Leaving directory '/home/cdot/migration/ndp

[2022-03-29 06:47] lucaderi commented on #1505
Please provide a pull request with the fix you have identified

[2022-03-29 06:47] #1505 closed, assigned to nobody

[2022-03-29 13:40] vitalivanov commented on #1452
Thanks @IvanNardi
for our automation testing and dev purposes we use ndpiReader to compare results of traffic processing inside our application and ndpiReader both feed with pcaps.
What happened here i did not update ndpiReader for new library.

When I migrate to ndpi 4.2 I see now that ndpiReader can not provide output in json format as it did it before:

[code]
new library and ndpiReader can not

[2022-03-29 14:38] vitalivanov commented on #1452
@lucaderi i see some serialization code... is there anything that can be reused to get similar stats as before?

[2022-03-30 12:54] subhajit-cdot opened #1506 "Issue in automata release"
`
Program terminated with signal SIGABRT, Aborted.
#0  0x00007fba2dc187bb in raise () from /lib/x86_64-linux-gnu/libc.so.6
[Current thread is 1 (Thread 0x7fba2d4be400 (LWP 2275))]
(gdb) bt
#0  0x00007fba2dc187bb in raise () from /lib/x86_64-linux-gnu/libc.so.6
#1  0x00007fba2dc03535 in abort () from /lib/x86_64-linux-gnu/libc.so.6
#2  0x00007fba2dc5a508 in ?? () from /lib/x86_64-linux-gnu/libc.so.

[2022-03-30 13:10] vel21ripn commented on #1506
Try to apply this patch https://github.com/vel21ripn/nDPI/commit/06e2967d0c26ab214683a2f5565f4012fd523537 . If it helps, I'll do a PR.

[2022-03-30 13:16] subhajit-cdot commented on #1506
Thanks @vel21ripn , I will try. It seems the patch is from 2021, why is this not part of the latest 4.2 stable?

[2022-03-30 13:26] vel21ripn commented on #1506
Yes, 2021.
The error was found in another project (ipset) and the fix was not included in ndpi due to my inattention.
Did the patch fix the problem?

[2022-03-30 16:55] subhajit-cdot commented on #1506
No it didn't solve the crash. It's coming while calling ac_automata_release().

[2022-03-30 17:15] subhajit-cdot commented on #1506
**Got another segfault in the same code segment**

Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007f926cd4e9ef in free () from /lib/x86_64-linux-gnu/libc.so.6
[Current thread is 1 (Thread 0x7f926c5a7400 (LWP 5579))]
(gdb) bt
#0  0x00007f926cd4e9ef in free () from /lib/x86_64-linux-gnu/libc.so.6
#1  0x00007f926da82e7d in node_release_pattern (thiz=0x558ee71e9000) at third_par

[2022-03-30 20:05] vel21ripn commented on #1506
There are two options: build with clang and options "-fsanitize=memory -fsanitize=fuzzer-no-link" or run via valgrind

It must be remembered that libahocorasick does not allocate memory for the string when adding a string.
ac_automata_release() has a free_pattern parameter that determines whether the memory occupied by the string should be freed.
If the string that was added was not distributed vi

[2022-03-31 07:04] subhajitchatu commented on #1506
Yes @vel21ripn . I have used ndpi_alloc . I was using Ndpi 3.4 with ac_automata_release(,1) after applying this patch in Ndpi 3.4 stable (it was not initially in the release of Ndpi 3.4)  . This issue never comes. Also I can see the unitTest funcs are commented in ndpiReader, it has an automata test case I think . I will have to dig further to check the difference between 3.4 and 4.2 in this part

[2022-03-31 11:08] vitalivanov commented on #1452
@lucaderi @IvanNardi
I created two pr's for 4.2-stable and dev branches:

https://github.com/ntop/nDPI/pull/1508
https://github.com/ntop/nDPI/pull/1509

All the details inside...
It's tested and working ok for me

[2022-04-01 22:25] vitalivanov commented on #1452
thanks.
this one can be closed

[2022-04-01 22:25] #1452 closed, assigned to nobody

[2022-04-05 08:17] subhajit-cdot commented on #1506
Hi @vel21ripn The issue has been resolved. I was using strdupa() instead of strdup(). Now I am confused why this issue was never reported with ndpi-3.4. ndpi-3.4 should also generate SIGABRT or SEGV in case of double free. ( added below patch in ndpi-3.4, https://github.com/ntop/nDPI/commit/[4aefbe0c7a665ee077b3ddbfc0c7738cd7333558] . However, can you please tell if there is any limit on the numbe

[2022-04-05 08:34] vel21ripn commented on #1506
There is no limit on the number of lines (there must be enough RAM).
The maximum length of a string is limited by the AC_PATTRN_MAX_LENGTH value, but it can be increased. This will increase the size of the AC_AUTOMATA_t structure.

[2022-04-05 09:28] subhajit-cdot commented on #1506
Hi @vel21ripn ,

 typedef struct {
  unsigned short num; /* Number of matched patterns at this node */
  unsigned short max; /* Max capacity of allocated memory for matched_patterns */
  AC_PATTERN_t  patterns[];
} AC_PATTERNS_t;

I was checking node_resize_mp() and mp_data_size() where the max is initialized with 8 at first and each time incremented with 8 when a new string added to automata. Can

[2022-04-05 10:06] vel21ripn commented on #1506
Statistics can be obtained to evaluate the need to increase REALLOC_CHUNK_MATCHSTR.
In the tests/performance/top-1m.csv file, load a list of your strings.
In the file tests/performance/substringsearch.c add the line "ac_automata_dump(automa,stdout);" after "ndpi_finalize_automa(automa);".
After running, you will see how many elements are in AC_PATTERNS_t ( N:xxxx {} ).
It is recommended to increas

[2022-04-05 10:09] IvanNardi commented on #1506
@vel21ripn, do you think this patch is still  needed in current master (i.e. should we merge it)?

[2022-04-05 11:14] alireza11048 opened #1511 "kernel panic after running make"
Hi,
I have just cloned the nDPI in my ubuntu 20.04 and run autogen.sh, configure.sh and make. and then run tests/do.sh.
after that, I can't boot up the ubuntu and I get "kernel panic not syncing attempted to kill init ..."

I know that it is a little odd, but anybody has experienced this problem?

thanks

[2022-04-05 12:50] utoni commented on #1511
Does not seem to be related to nDPI.

[2022-04-10 00:07] #1511 closed, assigned to nobody

[2022-04-10 08:36] #1492 closed, assigned to utoni

[2022-04-20 09:06] cicciob95 commented on #307
I have same issue. How did you solve?

[2022-04-20 09:14] utoni commented on #307
You should probably open a new issue with a precise description what happens and what was the expected result.

[2022-04-21 23:03] mmaypo opened #1526 "nDPI proof of concept app runs under Windows, crashes under Linux"
Hi All,
I'm looking for help on getting a simple ndpi proof of concept app going under linux (ubuntu 20, x64).  I have an existing packet processing application which has a plugin architecture. The app runs under both Windows and Linux. Under linux, the plugin is a shared .so library, and under Windows, a .dll. I have compiled ndpi as a platform specific static library, which i link into the .so o

[2022-04-21 23:21] utoni commented on #1526
How is the packet distribution done?

[2022-04-22 00:03] mmaypo commented on #1526
packets are distributed between threads by hash of 5-tuple  - packets for a given flow between 2 hosts always end up on the same thread, and when there are many flows at volume (the use case for this app) traffic load is more or less balanced between threads

[2022-04-22 02:01] utoni commented on #1526
Can you share some of the backtraces?
Did you try to use memory sanitizers in your app? (and nDPI as well, see configure option `--with-sanitizer`; may not work on Windows except for clang)
Do you use a custom memory allocator e.g. with `set_ndpi_flow_malloc()`?

[2022-04-22 09:55] cicciob95 commented on #307
I solved it by adding the option:
`-L $ (NDPI_PATH) -l: libndpi.so`
Thanks

[2022-04-24 11:49] utoni opened #1528 "ndpiReader and JSON output `-k'"
Starting with 61bc9815d5e7d5d386e7ac180b0a1fcf1cc3f616 JSON output was re-added to ndpiReader.
However, it does not work as expected. Using `-k' results in an empty JSON file. There is no warning/error, nothing, just an empty JSON file.

Another issue is that libjson-c support is basically disabled, because `HAVE_LIBJSON_C`is never define'd somewhere. The attached patch fixes that at least.

Steps

[2022-04-25 12:52] IvanNardi commented on #1195
Current code should correctly handle fragmented Client Hello.
Thanks everyone

[2022-04-25 12:52] #1195 closed, assigned to nobody

[2022-04-25 12:53] IvanNardi commented on #1501
@elico, any updates?

[2022-04-25 12:54] IvanNardi commented on #1223
@Douina, could you share any pcap with this kind of traffic, please?

[2022-04-25 17:12] elico commented on #1501
Still busy...
I will try to update in the end of the week.

בתאריך יום ב׳, 25 באפר׳ 2022, 15:54, מאת Ivan Nardi ‏<
***@***.***>:

[2022-04-26 06:11] elico commented on #1501
@IvanNardi The next should be enough to know what is needed.
There is a bit local traffic noise but I assume you will be able to filter the relevant packets.

https://www.ngtech.co.il/static/pluralsight_app/pluralsight_client_hello.pcapng
https://www.ngtech.co.il/static/pluralsight_app/pluralsight_dns.pcapng

[2022-04-26 23:52] mmaypo commented on #1526
apologies for long delay replying...   doesn't always crash in the same place, and this instance was compiled with --enable-sanitize. Not using a custom allocator.

 Doesn't look too useful, but here is a stacktrace :

Thread 36 "SegmentAnalyze" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ff7fbea9700 (LWP 144496)]
0x00007fffecf3a437 in ndpi_search_directconnect () from /li

[2022-04-27 09:02] utoni commented on #1526
Are you sure that your C++ app was compiled with `-fsanitize=address`? Debugging symbols are missing as well (`-g`).
Can you also try to use `-fsanitize=thread` (clang only: can not be used together with `-fsanitize=address`).

Those SIGSEGVs seems to be related to your implementation instead of libndpi.

[2022-04-27 21:13] mmaypo commented on #1526
the strange thing is no issue under windows... the test is very simple:  in the main thread, init detection module:

	  ndpi_ = ndpi_init_detection_module( ndpi_no_prefs );
	  if (ndpi_) {
		  NDPI_PROTOCOL_BITMASK protos;
		  NDPI_BITMASK_SET_ALL(protos);
		  ndpi_set_protocol_detection_bitmask2(ndpi_, &protos);
		  ndpi_finalize_initialization(ndpi_);

		  return HE_S_OK;
	  }

pass the detectio

[2022-04-27 21:26] utoni commented on #1526
Unfortunately, every thread need's it's own `struct ndpi_detection_module_struct`. This is a limitation of nDPI as it does not support any thread synchronization for several reasons.

FYI: #1344

[2022-04-27 22:09] mmaypo commented on #1526
well that would be the issue -my bad

[2022-04-28 03:43] #1526 closed, assigned to nobody

[2022-05-02 12:47] utoni commented on #1486
Fixed with c3df3a12aa88739e303340ccd7436d467b4662d2 (PR #1491).

[2022-05-02 12:47] #1486 closed, assigned to nobody

[2022-05-03 11:20] #1501 closed, assigned to nobody

[2022-05-03 11:48] IvanNardi commented on #915
With latest versions, user-agent should always be extracted from HTTP flows.
If that is not the case, please open a new bug.

[2022-05-03 11:48] #915 closed, assigned to nobody

[2022-05-07 07:26] #1528 closed, assigned to utoni

[2022-05-08 23:23] utoni commented on #1322
Can you please check if PR #1541 and PR #1542 fixed your issue?

[2022-05-08 23:26] utoni commented on #892
Any updates @StewAlexander-com ?

[2022-05-09 21:09] showipintbri opened #1545 "First time compilation error"
I'm trying to compile from source:

[code]

I keep getting the following error. I'm not sure where to start to debug something like this. I have extremely limited compilation knowledge. Any idea how I should proceed?
[code]

My goal was to play around with nDPI and various PCAPs to see the output it generates.

[2022-05-09 21:35] utoni commented on #1545
Duplicate of #1494.

[2022-05-09 21:38] utoni commented on #1545
Running

[code]
as root (via sudo) is in general not a good idea.

[2022-05-16 13:37] showipintbri commented on #1545
I used the patch from #1494 and am now able to compile. Whether #1494 is the correct approach or not I cannot comment on.

Closing issue.

[2022-05-16 13:37] #1545 closed, assigned to nobody

[2022-05-17 06:56] utoni commented on #1494
Does this issue still persists in the current dev branch? @socketpair

[2022-05-17 06:59] #1189 closed, assigned to nobody

[2022-05-17 09:09] socketpair commented on #1494
Yes, nothing was changed AFAIK for the problem. I made patches in our build system.

[2022-05-23 23:21] leonn commented on #1442
Well de-tunneling capability is not hard to implement, but it brings more discussions like:

- as GRE tunnels can have many layers, what to do with that info? just get it de-tunneled and discard the inner layers info? thins may lead to less visibility of what is actually happening
- well GRE types vary and those have their own implementations to be covered (LCC-SLL/WCCP/ERSPAN etc) to provide a fu

[2022-05-29 11:12] #1223 closed, assigned to nobody

[2022-05-30 20:53] ghadaashra opened #1568 "Setup ndpi"
Hello
I didn't know how I setup ndpi and how I can use it

[2022-05-31 09:08] utoni commented on #1568
Please read the [nDPI Readme](https://github.com/ntop/nDPI/blob/dev/README.md) first.

[2022-05-31 15:25] lazyandproud opened #1571 "GotoMeeting"
**Is your feature request related to a problem? Please describe.**
When a client having a GotoMeeting, the traffic is not recognized. As stated here https://www.ntop.org/ndpi/how-lockdown-changed-corporate-internet-connectivity/ GotoMeeting should  be recognized.

**Describe the solution you'd like**
Make nDPI recognize GotoMeeting

**Describe alternatives you've considered**
Ports seen with GotoM

[2022-05-31 15:29] IvanNardi commented on #1571
@lazyandproud , could you add a pcap with GotoMeeting traffic not recognized, please?

[2022-06-02 10:03] koltiradw opened #1574 "Heap-buffer-overflow in MemcmpInterceptorCommon"
Hi! I found heap-buffer-overflow( occurs at /src/lib/protocols/irc.c:522:10) during testing with libFuzzer.

## nDPI Environment:
* OS name: Ubuntu
* OS version: 20.04.4 LTS (Focal Fossa)
* Architecture: x86-64
* nDPI  commit hash: 4ff1bf29dfbfa860bb79e34536de7090cc009ddc
* nDPI compilation flags used: --with-sanitizer --enable-fuzztargets
* [config.log](https://github.com/ntop/nDPI/files/8822746/

[2022-06-02 10:08] koltiradw opened #1575 "Stack-buffer-overflow in ndpi_is_printable_string"
Hi! I found stack-buffer-overflow( occurs at src/lib/ndpi_utils.c:2200:9 ) during testing with libFuzzer.

## nDPI Environment:
* OS name: Ubuntu
* OS version: 20.04.4 LTS (Focal Fossa)
* Architecture: x86-64
* nDPI  commit hash: 5f05054c8a9c4e11a6e1d346036ceb9316500eb8
* nDPI compilation flags used: --with-sanitizer --enable-fuzztargets
* [config.log](https://github.com/ntop/nDPI/files/8822790/co

[2022-06-02 11:06] utoni commented on #1575
The crash is not triggered with the current dev branch.
But I can not tell yet if the bug was fixed.

[2022-06-02 11:07] #1574 closed, assigned to nobody

[2022-06-02 11:08] utoni commented on #1574
Thank you for reporting that bug!

[2022-06-02 11:12] koltiradw commented on #1575
Yes, this bug was found in the 4.2 stable branch.
I will continue my research on the current dev branch.

[2022-06-02 12:59] shashankbr11 commented on #1267
Hi,

I have been facing the same issue of not getting the packets back in T-Rex connected in loopback manner.

I am running the ndpiReader.dpdk executable with --vdev=net_pcap0,rx_iface=eth0,tx_iface=eth1

The nDPI shows the received packets from T-Rex application, however the Rx side of T-Rex doesn't log packets.

How do we forward the packets received by nDPI to the next interface? Kindly sugges

[2022-06-03 22:08] koltiradw opened #1578 "Heap-buffer-overflow in ndpi_search_syslog"
Hi! I found heap-buffer-overflow ( occurs at src/lib/protocols/syslog.c:87:9 ) during testing with libFuzzer.

## nDPI Environment:
* OS name: Ubuntu
* OS version: 20.04.4 LTS (Focal Fossa)
* Architecture: x86-64
* nDPI  commit hash: 09fbe0a64a11b08a35435f516e9a19f7e0c20d7c
* nDPI compilation flags used:  --enable-fuzztargets
*  [config.log](https://github.com/ntop/nDPI/files/8835908/config.log)

[2022-06-03 22:32] utoni commented on #1578
Whoops! My fault. Thanks!

[2022-06-04 06:47] #1578 closed, assigned to utoni

[2022-06-04 12:52] IvanNardi commented on #1571
@lazyandproud ,could you check if 338427d71290a3df44c9f43b49a8609964ec63a6 fix the issue, please?

[2022-06-04 17:12] #202 closed, assigned to nobody

[2022-06-05 22:49] utoni commented on #1568
@ghadaashra
Any updates? Any specific questions?
Was the ReadMe helpful?
Any critique or suggestions for improvement?

[2022-06-06 13:53] #1494 closed, assigned to nobody

[2022-06-06 13:59] IvanNardi commented on #680
Closing for inactivity. If still interested, please open a new issue, attaching all the information

[2022-06-06 13:59] #680 closed, assigned to nobody

[2022-06-08 09:21] InSdi opened #1588 "Missing files intrusion_detection.c intrusion_detection.h in examples folder"
Files intrusion_detection.c ,intrusion_detection.h required for dpdk version of ndpireader are missing in 4.2 version

[2022-06-08 09:44] utoni commented on #1588
Thank you for the bug report!

[2022-06-08 11:52] IvanNardi commented on #1588
Fixed in 341f58f

[2022-06-08 11:52] #1588 closed, assigned to utoni

[2022-06-09 10:59] frkn4129 commented on #1023
i want to integrate ndpi in Go app but  I couldn't do it. @srajeshinfotech did you solve the problem ?

[2022-06-09 11:18] utoni commented on #1023
I am currently thinking about extending nDPI with Go bindings.
There is a more or less straight forward project to create those: [https://github.com/xlab/c-for-go](https://github.com/xlab/c-for-go)

[2022-06-09 11:53] frkn4129 commented on #1023
Thank you for answering. I've made some progress

struct ndpi_detection_module_struct *dissector_init(struct dissector_checker *checker) {

  ndpi_init_prefs init_prefs = ndpi_no_prefs;
  if (checker->flow_size != ndpi_detection_get_sizeof_ndpi_flow_struct()) return NULL;
  if (checker->id_size != ndpi_detection_get_sizeof_ndpi_id_struct()) return NULL;
  if (checker->flow_tcp_size != ndpi_detecti

[2022-06-09 12:10] utoni commented on #1023
I do not understand how you've integrated nDPI in your Go application. Can you provide more information on that, please?

[2022-06-09 13:11] frkn4129 commented on #1023
/*
#cgo CFLAGS: -I/usr/local/include/ndpi   -I/usr/local/lib/
#cgo LDFLAGS:  -lndpi -Wl,-Bdynamic -lpcap -lm -pthread -g  -fPIC   -O2 /usr/local/lib/libndpi.a  /usr/local/lib/libpcap.so /usr/local/lib/libgcrypt.so /usr/local/lib/libgpg-error.so
#include <ndpi_api.h>
#include <ndpi_main.h>
#include <ndpi_typedefs.h>
#include <pcap.h>
#include <stdlib.h>
#include <unistd.h>
#include <netinet/in.h>
#

[2022-06-09 13:11] frkn4129 commented on #1023
as an example i tried this

[2022-06-09 22:19] httsp0werz commented on #1568
Can't say, that there is enought information to create protocol by just examples of another protocols. Got a bunch of examples of other peoples protocols created, but its not helpful too. Can silly mortals have a detailed guide please? :)

[2022-06-09 22:38] utoni commented on #1568
This issue is not related to protocol dissector development.
But anyway; At first I need to know what kind of guide you desire.
You want some code snippets with explanations and comments?

[2022-06-09 22:49] httsp0werz commented on #1568
Woah, thanks for quick reply!
Apologize for offtop, just started to reading all of the issues trying to collect some information to resolve my problems.

Yep, that will be great.

ps:
Im just trying to make coursework adding a simple protocol with XX payload, XX XX XX XX bitmask and specified ports. Duplicated rdp.c, made some changes, beat all the compilation problems, but protocol is still [0]Un

[2022-06-09 22:58] utoni commented on #1568
Did you add `ndpi_set_proto_defaults()` for your protocol dissector in `ndpi_init_protocol_defaults()` ?

[2022-06-09 23:56] httsp0werz commented on #1568
Yup, just recompiled everything to be sure I didnt broke everything :D

Made it like this:

[code]

just copied one of protocols and changed it

now i solve this problem by changing category to "NDPI_PROTOCOL_CATEGORY_REMOTE_ACCESS" (like in example below)

but its doesnt helped me to detect my protocol in .pcap, and now im 99% sure that problem is in protocol/MYSTUFF.C

and for now i have two not

[2022-06-10 07:31] utoni commented on #1568
So your protocol dissector works now as expected?

[2022-06-10 09:13] httsp0werz commented on #1568
nope :D

tried to just change just packet->payload values in existed protocol (xdmcp, and changed ports to default 0,0,0,0,0) but it doesn't work

00 00 00 20 have this signature for tcp frames with payload lenght 36 bytes

[code]

now it doesnt detect xdmcp frames, but it still doesn't recognize this simple masks frames.
am i doing something wrong?

that is how packet looks like in wireshark:
![и

[2022-06-10 09:21] IvanNardi commented on #1568
The first line is not really necessary.
Just a shot: did you call `init_radmin_dissector()` from (the end of) `ndpi_callback_init()` in `src/lib/ndpi_main.c()`?

[2022-06-10 09:32] IvanNardi commented on #1568
:heart:

[2022-06-10 09:36] httsp0werz commented on #1568
just found out that i didnt call it, so i added `init_radmin_dissector(ndpi_str, &a, detection_bitmask);` at the end of `ndpi_callback_init()`, then `./autogen.sh && make && ndpiReader -i example/test.pcap` and it still doesnt detect my protocol

<details>
  <summary>So that how I did radmin.c from xdmcp code:</summary>

[code]

</details>

[2022-06-10 10:56] InSdi commented on #1267
Facing same issue.Please provide suggestions for forwarding the traffic to next interface using ndpireader dpdk example

[2022-06-10 11:11] IvanNardi commented on #1267
AFAIK, there is not support whatsover for TX data path in `ndpiReader` (expecially if DPDK is involved).
If you want to add it, I suggest to start looking at `l2fwd` code in DPDK repository

[2022-06-11 22:22] httsp0werz commented on #1568
Ok guys, im here with my greatest solution. Problem was in this command, that i mentioned below:
`./autogen.sh && make && ndpiReader -i example/test.pcap`
idk WHERE ndpiReader was in PATH, and where he took signatures, but when...

i FINALLY used ndpiReader from examples folder, with ./ndpiReader command I got my signature detected.

Thanks @utoni and @IvanNardi for your time and attention! Ill me

[2022-06-12 10:29] IvanNardi commented on #1568
Glad you did it!

[2022-06-12 10:29] #1568 closed, assigned to nobody

[2022-06-12 10:30] IvanNardi commented on #1506
Kind reminder, @vel21ripn :)

[2022-06-12 10:30] #1575 closed, assigned to nobody

[2022-06-12 19:38] ChrisNelson-CyberReef commented on #1010
@Tomasz158 , it'd be nice to know _how_ you fixed it.

[2022-06-13 13:37] frkn4129 opened #1593 "no file is created in this directory {usr/local/include/ndpi}"
Hello I have a question,

i  tried install with ndpi. after the installation is finished  I can't find {usr/local/include/ndpi}  the .h files

OS : Rocky Linux

[2022-06-13 13:39] #1593 closed, assigned to nobody

[2022-06-14 07:15] vel21ripn commented on #1506
Sorry.
This patch is highly recommended.
If, when searching for strings, 8-bit binary data is supplied as input, then without this patch, the application may crash.
If the patch applies to the current version without errors, then please make a PR.

[2022-06-14 23:14] 612wong opened #1598 "nTopng reported PIM traffic (e.g. multicast packet destinated to 224.0.0.13) as 'unknown' category."
## Describe the bug
nDPI cannot detect PIM message. Under nTopng, it is sometimes detected as PIM and sometimes not. When ntopng detects it as PIM, it put it under 'unknown' category.

### Expected behavior
nDPI can detect PIM message and nTopng should put it under 'network' category.

### Obtained behavior
As described in the bug section.

## nDPI Environment (please complete the following inform

[2022-06-15 10:25] #1598 closed, assigned to IvanNardi

[2022-06-22 11:12] subhajit-cdot opened #1607 "User agent detection enhancements"
The need for detailed and accurate os version and user agent/device detection from http/https/ or other protocol traffic (? if possible) is increasing these days to monitor the percentage of devices/agents accessing an app/service.

In http dissector code of ndpi, I got a good reference of regexes ( https://github.com/ua-parser/uap-core/blob/master/regexes.yaml ) to implement this feature. Is ther

[2022-06-22 16:38] gpfgen opened #1608 "Json export of source and destination port aren't exported in host byte order"
Exporting the flows in Json after running nDPI gives wrong source + destination ports.
The function (line 1606 in example/ndpiReader.c):

  static void printFlowSerialized(u_int16_t thread_id, struct ndpi_flow_info *flow) {
..
  ndpi_serialize_string_uint32(serializer, "src_port", flow->src_port);
  ndpi_serialize_string_uint32(serializer, "dst_port", flow->dst_port);
..
}

should be:

  static vo

[2022-06-25 08:54] mmanoj opened #1610 "Support for popular VPN application Detection"
Hi,

As per the current test, it's observed most of the free and popular VPN apps are not detected.Most detected as either cloudflare or cloudfront as it's use many dynamic DNS addresses.

Some examples are below;
*hotspot shield
*Tunnelbear
*Ultrasurf

What is the strategy to support such application detection?

[2022-06-25 08:54] mmanoj commented on #1610
[](url)

[2022-06-26 06:20] utoni commented on #1610
Could you please provide some pcaps?

[2022-06-26 07:58] mmanoj commented on #1610
Hi @utoni

Please find the attached PCAPS. I also like to contribute to creating the signature.
[PktCaptures.zip](https://github.com/ntop/nDPI/files/8986199/PktCaptures.zip)

[2022-06-26 08:43] mmanoj commented on #1610
CloudFlare WARP-VPN (1.1.1.1)
[cloudFlare-Warp.pcap.zip](https://github.com/ntop/nDPI/files/8986270/cloudFlare-Warp.pcap.zip)

[2022-06-26 08:58] frkn4129 opened #1611 "I get an error on capwap opened packages"
I wrote a wrapper to ndpi. I open the capwap tunnel and send the original package to ndpi.
But after a while, I usually get an error in udp packages.
I do not get an error when I separate that package and send it to ndpi alone. Has anyone experienced this or can offer a solution?
After opening capwap, how can I check if the package is corrupted without sending ndpi?
this err :+1:

[2022-06-26 09:41] #1611 closed, assigned to nobody

[2022-06-27 14:23] StewAlexander-com commented on #892
Closing for now, will reopen if / when I can get back to this

[2022-06-28 07:10] mmanoj commented on #1610
@utoni
Any findings based on shared PCAPS? if any support is required please let me know.

[2022-06-29 10:21] utoni commented on #1610
@mmanoj
I am working on it. But for now I can not promise that the detection of every VPN you've mentioned will be possible.

[2022-06-29 11:03] utoni commented on #1607
If I understood you correctly, you want to monitor devices by their user agent or any distinctive device signature. nDPI already has such a feature at least if the layer7 protocol and the protocol dissector supports it.

Do you want to "prettify" the dissected user agents? If so, that should be part of your libnDPI integration.

[2022-06-29 11:49] adibhannachi commented on #1280
what about migrate the project to C++17 ?

[2022-06-29 11:55] mmanoj commented on #1610
Hi @utoni ,

Thanks for the feedback, which VPN you're currently working on? so I can share my analysis also for other VPNs. We can work out to create the signatures together. Please let me know.

[2022-06-29 13:32] utoni commented on #1610
I am working on the UltraSurf PCAP. But besides some background traffic to third party services, there is nothing interesting in it.

[2022-06-30 04:28] mmanoj commented on #1610
@utoni

Thanks for the update, Do you want me to get new capture? So I can arrange it soon.

[2022-06-30 10:55] mmanoj commented on #1610
@utoni
I'm working on new captures and will share them once completed.

[2022-06-30 12:21] subhajit-cdot commented on #1607
Actually I got the above mentioned link in the below code snippet of ndpi. It is used to format or extract meaningful info from the UA string I guess. So, is there any scope of enhancement here? Thanks

static void setHttpUserAgent(struct ndpi_detection_module_struct *ndpi_struct,
                             struct ndpi_flow_struct *flow, char *ua) {
  if(    !strcmp(ua, "Windows NT 5.0"))  ua =

[2022-07-01 06:09] utoni commented on #1610
PR #1615 may detect TunnelBear VPN.
The rest of the PCAPs did not contain any interesting patterns.

[2022-07-01 07:16] mmanoj commented on #1610
@utoni

I'm working on capturing Ultrasurf again, a bit challenging to get the correct handshake message. I will upload some captures I got yesterday. Please check the CloudFlare WARP-VPN (1.1.1.1), hope it contains the required info.

[2022-07-02 06:57] mmanoj commented on #1610
[Ultraserf-02072022.zip](https://github.com/ntop/nDPI/files/9032584/Ultraserf-02072022.zip)

Please check the latest capture for Ultraserf

[2022-07-02 13:17] utoni commented on #1610
I think something went wrong. There are TLS flows with missing handshakes. They could be of interest.

[2022-07-02 15:03] mmanoj commented on #1610
I saw a communication to Dest Port 50053 and TLS communication having below bytes pattern

cc 1c 30 41 5b a4 38 66  99 6f eb a3 ff c3 dd 23

[2022-07-03 09:14] utoni commented on #1610
I am unsure if this pattern is stable. Can you try #1618 and check if it does detect UltraSurf VPN more or less reliable?

There are two TLSv1.3 flows with a high data throughput. They are probably part of UltraSurf VPN and I think that there is a way to detect those (if you really need this).

[2022-07-03 09:16] #1608 closed, assigned to utoni

[2022-07-03 09:22] utoni commented on #1607
Unsure if the effort required to implement this is worth the results. Seems more like an embellishment.

[2022-07-03 15:47] #629 closed, assigned to nobody

[2022-07-03 16:57] alihushyar opened #1630 "nDPI multi-layer identification"
Im trying to to do multi-level protocol detection with nDPI.  For example, with SMTPS, currently I am only able to get NDPI to classify the top-level as SMTP.Google and it disregards the subsequent TLS handshake even though I see it processing those packets.  If I remove the beginning SMTP handshake from the pcap, then nDPI sees the TLS.  Any ideas on how to achieve both SMTP.Google and TLS/JA3 cl

[2022-07-03 16:59] utoni commented on #1269
I will close that issue (please reopen if necessary).

With #1603 nDPI uses google-pprof together with already existing regression tests to profile CPU/HEAP usage and generate a PNG with that information. I guess the load test is not required anymore as pprof fulfills the need for performance metrics.

[2022-07-03 16:59] #1269 closed, assigned to nobody

[2022-07-03 17:11] utoni commented on #566
Closed. See #1099.

[2022-07-03 17:11] #566 closed, assigned to nobody

[2022-07-03 18:17] #892 closed, assigned to nobody

[2022-07-04 04:58] subhajit-cdot commented on #1607
Ok. Thanks

[2022-07-04 05:02] mmanoj commented on #1610
@utoni

Thanks for the feedback,I will check and update the results. Also, I found some research papers which help to detect Ultrasurf. I will email you. Please share your email.

[2022-07-04 06:24] mmanoj commented on #1610
Detected protocols:
	Unknown              packets: 705           bytes: 76642         flows: 31
	DNS                  packets: 9             bytes: 1239          flows: 5
	Yahoo                packets: 45            bytes: 22758         flows: 1
	ICMP                 packets: 67            bytes: 5153          flows: 5
	RTP                  packets: 3             bytes: 252           flows: 1
	TLS

[2022-07-04 06:28] mmanoj commented on #1610
Reading packets from pcap file ../../../PktCaptures/UltraSurf_rx_02.pcap...
	**UltraSurf**            packets: 2971          bytes: 2991918       flows: 1
	5	**TCP 65.49.68.25:50053 <-> 10.132.0.23:37898** [VLAN: 200][proto: 301/**UltraSurf**][Encrypted][Confidence: DPI][cat: VPN/2][1802 pkts/2867775 bytes <-> 1169 pkts/124143 bytes][Goodput ratio: 96/19][46.77 sec][bytes ratio: 0.917 (Upload)][IA

[2022-07-04 08:45] utoni commented on #644
Is this issue still valid? If so, I would appreciate a PCAP.

[2022-07-04 11:48] utoni commented on #1610
Does the UltraSurf detection work as expected?

[2022-07-04 14:58] #1607 closed, assigned to nobody

[2022-07-04 18:50] mmanoj commented on #1610
Yes, Post PCAPS was detected. I'm testing with fresh capture and update you the results asap. Also, I'm reverse engineering the apk to check the communications, and IP addresses will update once completed.

[2022-07-05 14:35] #1630 closed, assigned to utoni

[2022-07-05 16:29] alihushyar opened #1640 "Include server-side Initial Packet processing for QUIC"
I understand that only client-side Initial Packet is needed for QUIC classification.  However, server-side is needed to generate the JA3S hashes along with the JA3.  Are there plans to process SHLO as well as derive the server-side initial secrets (server_in) to process encrypted server initial packet so both client/server JA3/JA3S can be generated?

[2022-07-05 18:31] IvanNardi commented on #1640
It is definitely possible, but a little bit costly from a performance POV.
But the real question is: do you need JA3S in QUIC for some specific reasons? I really don't expect a lot of different values for JA3S in QUIC

[2022-07-05 22:18] alihushyar opened #1642 "ndpiReader processing of QUIC fails with segmentation fault"
I was comparing stats calculated by ndpiReader with my own program which uses nDPI and I noticed that for a specific QUIC pcap, ndpiReader throws a segmentation fault:

-----------------------------------------------------------
* NOTE: This is demo app to show *some* nDPI features.
* In this demo we have implemented only some basic features
* just to show you what you can do with the library. Fee

[2022-07-06 05:29] IvanNardi commented on #1642
I am not able to trigger the error neither with master or with b2b61011.
Could you share some more information about your enviroment please (os, compiler version, configure flags...)?

[2022-07-06 08:21] utoni commented on #1642
same here

[2022-07-07 07:11] mmanoj commented on #1610
Pls find the latest captures, it didn't detect
[ultra_rx_20220707_052251_86723.zip](https://github.com/ntop/nDPI/files/9061227/ultra_rx_20220707_052251_86723.zip)

I saw some pattern 17 03 03 but in random locations.

[2022-07-07 14:28] utoni commented on #1610
It is apparently not so easy to reliably detect UltraSurf.

This pattern is part of TLS (application data).

[2022-07-07 15:31] mmanoj commented on #1610
Hi @utoni ,
Please find my latest analysis below with attached dumps with various PCAPS. I found the below pattern more reliable.

**16 03 01** 02 00 01 00 01  fc XXX **03 03** 3b b6 68 fc 96
[ultraSurf_pcapDumpAnalysys.zip](https://github.com/ntop/nDPI/files/9065300/ultraSurf_pcapDumpAnalysys.zip)

[2022-07-07 15:32] mmanoj commented on #1610
Hi @utoni ,
Please find my latest analysis below with attached dumps with various PCAPS. I found the below pattern more reliable.

**16 03 01** 02 00 01 00 01  fc
[ultraSurf_pcapDumpAnalysys.zip](https://github.com/ntop/nDPI/files/9065309/ultraSurf_pcapDumpAnalysys.zip)
 **03 03** 3b b6 68 fc 96

[2022-07-07 15:32] mmanoj commented on #1610
Hi @utoni ,
Please find my latest analysis below with attached dumps with various PCAPS. I found the below pattern more reliable.

**16 03 01** 02 00 01 00 01  fc **03 03** 3b b6 68 fc 96

[2022-07-07 15:33] mmanoj commented on #1610
[ultraSurf_pcapDumpAnalysys.zip](https://github.com/ntop/nDPI/files/9065314/ultraSurf_pcapDumpAnalysys.zip)

[2022-07-07 15:43] utoni commented on #1610
The pattern belongs to a TLSv1.3 client hello.

[2022-07-07 15:49] mmanoj commented on #1610
I can see it's in most of the communication happened, any other suggestions to detect?

I'm working on sequence diagram of communication flow of the ultradutf to more understand.i also send an email to you with some research papers as well .

[2022-07-08 01:37] alihushyar commented on #1642
Very strange.  Build is standard:

./autogen.sh

./configure --prefix=/usr/local

make

sudo make install

[image: image.png]

But I only get this fault with ndpiReader.  My program (combination of Joy,
NDPI) which uses nDPI API processes the file correctly - no issues.

On Tue, Jul 5, 2022 at 10:29 PM Ivan Nardi ***@***.***> wrote:

[2022-07-08 01:38] alihushyar commented on #1642
Sorry forgot that OS is :

[image: image.png]

On Thu, Jul 7, 2022 at 6:36 PM Ali Hushyar ***@***.***> wrote:

[2022-07-08 04:57] alihushyar commented on #1630
Thank you folks - this is confirmed fix with one caveat if you think it  is
worth addressing.

For HTTPS, nDPI will process both Client and Server Hello and therefore
provide both JA3 and JA3S hashes.

For SMTPS, nDPI stops at processing the client hello.

In the pcap attached to the ticket, you will see that packets don't get
processed after the 11th packet which is the Client Hello.

Best,
Ali

[2022-07-08 05:01] alihushyar commented on #1640
Yes this is a fair point.  There will not be a lot of values here for
quic.  Thank you for your response.

Ali

On Tue, Jul 5, 2022 at 11:31 AM Ivan Nardi ***@***.***> wrote:

[2022-07-08 06:29] utoni commented on #1642
Can you print a stack trace or better upload a core dump file? That would be helpful during investigation.

[2022-07-08 06:33] utoni commented on #1630
Thank you for this hint. This will be a subject to change during refactoring the `mail_*` dissectors.

[2022-07-08 07:33] #1640 closed, assigned to nobody

[2022-07-08 14:38] mmanoj commented on #1610
@utoni

Any other suggestions to detect the Ultrasurf? I'm still analyzing possible methods and trying to figure out the communication pattern/domain fronting etc.

[2022-07-08 15:16] utoni commented on #1610
Those two papers are quite old. The newer one from 2016 uses a combination of IP address matching together with caching DNS requests and responses and doing some port/service scanning (nDPI is a passive DPI, so we won't do that).
The PCAPs you've provided seem to not use the aforementioned approaches anymore (at least not in way that would help to reliably detect UltraSurf). I guess I am lost here

[2022-07-08 16:11] mmanoj commented on #1610
Hi Toni,
Thanks for the feedback, yes those papers were old,just share for info.So it mean we need to figure out new method to detect Ultrasurf right? Can you advice any starting point?

[2022-07-09 10:06] utoni commented on #1610
I'm afraid there won't be much that can I do.

[2022-07-11 10:40] mmanoj commented on #1610
@utoni

Please find captures of **Ultrasurf Chrome extension** captures. Also, look for the below IP communication (which I break and restart the VPN communication)

64.62.219.190
74.82.60.91
65.49.68.22

[Ulreasurf-chrome0.zip](https://github.com/ntop/nDPI/files/9083216/Ulreasurf-chrome0.zip)

[2022-07-12 15:52] utoni commented on #1610
We can add those IP addresses for flow guessing. But I am not sure how frequent they might change.

[2022-07-12 16:04] mmanoj commented on #1610
Hi@toni,

Those IP communication having useful info? If so I'm working on some detail analysis with DNS communication,I will share it with in couple of days.hope it having more visibility to move further.

[2022-07-16 08:54] mmanoj commented on #1610
@utoni
Please find the DNS analysis of 74.82.60.91
Please let me know is this info useful. So I can dig more.
[Ultrasurf-Chrome-DNS-Analysis-01.pdf](https://github.com/ntop/nDPI/files/9125451/Ultrasurf-Chrome-DNS-Analysis-01.pdf)

[2022-07-16 11:11] mmanoj commented on #1610
Mostly I observed No DNS information if it's connected site via VPN

[2022-07-16 11:56] mmanoj commented on #1610
@utoni
I'm preparing an IP list with CIDR info, and will share it ASAP. Hope we can detect the service much more reliable way.

[2022-07-16 17:20] IvanNardi commented on #1571
@lazyandproud, kindly pinging...

[2022-07-16 17:21] IvanNardi commented on #1267
Closing. If you have any specific issue, please open a new ticket

[2022-07-16 17:21] #1267 closed, assigned to nobody

[2022-07-16 17:22] IvanNardi commented on #1002
@martinscheu, kindly pinging...

[2022-07-16 17:30] IvanNardi commented on #217
In the last 6 years a lot of industrial/scada protocols have been added...
If someone is interested in a specific, missing protocol, please open a new ticket

[2022-07-16 17:30] #217 closed, assigned to nobody

[2022-07-16 18:19] IvanNardi commented on #646
@charlesg , could you share some pcaps, please?

[2022-07-18 00:40] alihushyar opened #1663 "struct tls_quic -> ssl_version possibly incorrect ?"
Attached is a pcap where the server supports 1.3 but the session falls back to TLS 1.2.  However, ssl_version field still shows 1.3 as the version.

In fact, when I take a look at the JA3 and JA3S strings which I had to modify nDPI to see, I get:

Client JA3:  771,4865-4866-4867-49195-49199-49196-49200-52393-52392-49171-49172-156-157-47-53,0-23-65281-10-11-35-16-5-13-18-51-45-43-27-17513-41,29-23-

[2022-07-18 08:02] IvanNardi commented on #1663
No, it doesn't. This is a valid TLS 1.3 version. You can check it with Wireshark, too.
Note that in TLS 1.3 the field `tls.handshake.version` is always 1.2 and it is not the negotiated version; see TLS 1.3 RFC for details

The JA3 values are right: in Ja3* strings the used field is `tls.handshake.version`, not the negotiated version

[2022-07-18 10:15] lazyandproud commented on #1571
@IvanNardi now everything seems to be correctly recognized as tls.goto. forgot feedback, sorry.

[2022-07-18 11:28] #1571 closed, assigned to IvanNardi

[2022-07-18 11:28] IvanNardi commented on #1642
@alihushyar , any updates?

[2022-07-19 18:31] vel21ripn commented on #1344
I started testing the variant with asynchronous work in ndpiReader.
The main thread reads the file and distributes the packets among several threads.
The only limitation is that one connection can only be processed by one thread at a time.
For work, one ndpi_detection_module_struct structure and several threads executing ndpi_detection_process_packet () are used.

[2022-07-20 08:59] #1506 closed, assigned to IvanNardi

[2022-07-23 08:10] mmanoj commented on #1610
Hi Toni,

Please find the up-to-now verified IP list from captured traffic, I'm attaching the suspected list also.
45.95.98.0/24
64.62.128.0/17
64.62.128.0/18
64.71.128.0/18
65.49.0.0/17
65.49.68.0/24
72.52.64.0/18
72.52.92.0/24
74.82.0.0/18
74.82.46.0/24
74.82.48.0/22
[UltraSurfIPList.xlsx](https://github.com/ntop/nDPI/files/9173354/UltraSurfIPList.xlsx)

[2022-07-23 09:17] utoni commented on #1610
Hi @mmanoj,
the prefixes you've provided are too generic and will result in false-positive Ultrasurf guesses.

[2022-07-23 09:26] IvanNardi commented on #1610
+1

I am not against using an ip list to detect Ultrasurf but, at very least:
* this list should not be too generic
* a script to easily update that list MUST be provided
* this list should not be base on geographic information (the result should be independent from the ip of the client running the script of the previous point)
* a configuration knob should allow to avoid loading this list

[2022-07-25 14:30] mmanoj commented on #1610
@IvanNardi

Thanks for the feedback and concerns raised. It's fully understood. Please find my comments below.

**1. this list should not be too generic**

**2.a script to easily update that list MUST be provided**

**3.a configuration knob should allow avoiding loading this list**

Please suggest any other detection techniques, so I can explore them.

[2022-07-25 14:32] lucaderi commented on #1610
@mmanoj Why do we need t use IPs instead of DPI?

[2022-07-25 15:31] mmanoj commented on #1610
Hi @lucaderi

We not find any reliable bit pattern from communication captures so far, we just think of using IP address for flow guessing.As per analysis most communication happen with random DNS and servers. Your advice is highly appreciate for way forward few other mechanisms to detect more reliably.So we can explore it.Thank You for the support and advice.

[2022-07-28 05:44] Sangeetha-E opened #1678 "Error while reading pcap file: 'truncated dump file; tried to read 16 header bytes, only got 2'"
Hi,

While running the test file, I got the following error.

[code]

[2022-07-28 06:45] lucaderi commented on #1678
The pcap might not be liked by libpcap used on your platform as the pcap was truncated. This is not a nDPI issue and you can ignore the issue

[2022-07-28 06:45] #1678 closed, assigned to nobody

[2022-07-28 08:59] Sangeetha-E commented on #1678
Thanks for the quick response info @lucaderi.

[2022-07-28 09:56] utoni commented on #1678
@Sangeetha-E
You can try to open it with Wireshark and export it again as PCAP. That helps from time to time.

[2022-07-28 10:55] IvanNardi commented on #1211
Since e6b332aa4a1399e33df68998cf8351bccaee3fc4, you can safely implements https://github.com/ntop/nDPI/issues/1211#issuecomment-870462974: the application can avoid to pass TCP handshake packets to the library, without losing any classification capabilities (via `struct ndpi_flow_input_info->seen_flow_beginning`)

[2022-07-28 10:56] #1211 closed, assigned to nobody

[2022-07-28 11:11] Sangeetha-E commented on #1678
@utoni
Thanks for your information. I opened it with Wireshark got the following output. It helps me a lot.

![fuzz_cap](https://user-images.githubusercontent.com/73156729/181491441-8cda0682-ae3d-4abc-9ef9-201711ddeb17.png)

[2022-07-29 06:18] subhajit-cdot opened #1681 "nDPI profiling stats"
Hi,
Can we export few more profiling stats like (LRU cache usage stats (as entries are fixed and if there is any perf bottleneck happening due to this?, avg no of dissectors involved in detection, avg no of system calls, no of certificate/cypher decryption calls, conn track calls ,  etc). We can do hotspot analysis using vTune like tools but it would be great if ndpi can provide similar insights .

[2022-07-29 06:25] IvanNardi commented on #1681
Some of these info will be available when https://github.com/ntop/nDPI/pull/1677 is merged

[2022-07-29 07:09] subhajit-cdot commented on #1681
Ok thanks for the info. Along with the Data structure usage stats we can also avg no of dissectors involved in detection, no of system calls, no of certificate/cypher decryption calls, conn track calls etc in future releases.

Thanks
Subhajit

[2022-07-29 07:16] IvanNardi commented on #1681
Already available

[code]

[2022-07-29 18:34] IvanNardi opened #1687 "HTTP sub-classification: best protocol classification"
The attached session (extracted from the unit tests) contains a SOAP flow over HTTP with a Microsoft hostname.
How this flow should be classified?

1) SOAP.Microsoft: current result. We lost that information that it is an HTTP flow and so we don't dump HTTP metadata (note that we can have SOAP without HTTP...)
2) HTTP.SOAP
3) HTTP.Microsoft

I don't like the current code because we lose HTTP attri

[2022-07-30 07:13] utoni commented on #1687
I would probably stick to `HTTP.SOAP`, because `Microsoft` should be still available via `guessed_host_protocol_id`. That way we won't loose information IMHO.

[2022-07-30 12:27] IvanNardi commented on #1210
@subhajit-cdot , ping...

[2022-08-01 03:53] subhajit-cdot commented on #1210
Hi,
I don't have pcap for testing, but you can refer below link for implementation.

[link](https://www.zscaler.com/blogs/security-research/malicious-urls-using-dword-formatted-ip-addresses)

[2022-08-01 08:55] IvanNardi commented on #1210
Thanks for the link

[2022-08-04 09:36] lucaderi commented on #1687
In my opinion Tony is right but in the short term. For a long term solution i think we need to rethink how protocols are reported. Microsoft, Amazon or Google are not protocols and I have added them years ago to make easy for people to implement things like "How much traffic to I send to Google?". So IMHO IP classification can either be a third-level protocol (e.g.  HTTP.SOAP.Microsoft) or another

[2022-08-04 10:31] IvanNardi commented on #1687
No strong opinions on that, but moving from a "master + app" pair to a generic "protocol stack" might be the more generic solution

I don't know if that is a really problem; we already have classification with different layers lengths (1 vs 2)

Let's proceed this way: for the time being use the `HTTP.SOAP` approach and then we can think of a better/general solution about how handling "ip classific

[2022-08-04 13:54] lucaderi commented on #1687
Yes that's ok for me, but I think it's time to move IP classification on a separate "field" as discussed above,

[2022-08-04 15:39] IvanNardi commented on #1687
Just to be sure, you would like:
1) having a separate field with the "by-ip classification" (pretty much what we already have in `flow->guessed_host_protocol_id`); OR
2) having a separate field with the "by-ip classification" AND (un)conditionally(?) remove it from the protocol classification too, i.e. from `flow->detected_protocol_stack[]`

?

[2022-08-05 09:26] lucaderi commented on #1687
Yes i would like (my option, we're here to discuss) is that IP classification should go on a different field so we need to remove it from where it is today and move it there. This way the design i cleaner IMHO

[2022-08-05 09:29] lucaderi opened #1697 "Add TiVo DVR Discovery Support"
[TivoDVR.pcap.zip](https://github.com/ntop/nDPI/files/9267381/TivoDVR.pcap.zip)

[2022-08-06 15:20] IvanNardi commented on #1687
I agree that removing "ip-classificaton" from `flow->detected_protocol_stack[]` might be a good idea, in general.
For example, as noted in #1425, classifications as `NTP/Apple`, `BitTorrent/Azure`, `DNScrypt.AmazonAWS` don't make any sense, IMO.
However, we might need some exceptions:
1) for unknown traffic, returning the "ip-classificaton" in `flow->detected_protocol_stack[0]` seems fine (with a

[2022-08-08 09:33] flolot123 opened #1702 "ndpiReader: issue with printout of timestamps (-k -K flags)"
ndpiReader with  -k -K flags gives rounded timestamps

_./ndpiReader -i telegram.pcap -k out.json -K json_

{"src_ip":"192.168.1.77","dest_ip":"91.108.16.4","src_port":23174,"dst_port":538,"ip":4,"proto":"UDP","ndpi": {"confidence": {"6":"DPI"},"proto":"Telegram","proto_id":"185","encrypted":1,"breed":"Acceptable","category_id":9,"category":"Chat"},"**flow_id":23**,"**first_seen_ms":1588779679744.

[2022-08-08 17:04] #1697 closed, assigned to utoni

[2022-08-08 17:24] IvanNardi commented on #1002
Closing for inactivity

[2022-08-08 17:24] #1002 closed, assigned to nobody

[2022-08-09 17:35] mmanoj commented on #1610
Hi All,

Any plan for a way forward? so we can work together to mitigate this challenge.

[2022-08-16 07:18] subhajit-cdot opened #1709 "API to add wildcard strings into automata"
Hi,
In nDPI, I can't find any API to add wildcard strings(ABC$, ^ABC, ^A.BC$ etc) into automata. Inside AC_PATTERN_t structure nDPI has support to add  "from_start", "at_end" field for each string. But from application POV, without wrapper APIs we need to fill/expose internal AC_PATTERN_t structure.  ndpi_add_string_to_automa()  should handle this before adding string to the automata. Any views on

[2022-08-16 10:04] subhajit-cdot commented on #1709
In my understanding, these fields were provided to add wildcard feature in automata matching. So, if we add ABC$ in the automata, and string ABCD comes for matching, it should not match, AABC will match. Is this a correct understanding?
Thanks

[2022-08-17 14:39] lucaderi commented on #1709
The library used by nDPI implements substring matching so what you do is currently implemented checking the results returned, or with tricks like ".activision.com" to avoid matching myactivision.com

[2022-08-18 04:36] subhajit-cdot commented on #1709
Thanks @lucaderi . I have added another API as ndpi's string matching library already has support for "from_start", "at_end". Now this api can distinguish cases like "blabla.ABC.blabla" and "ABC". Using tricks like ".ABC." will match "blabla.ABC.blabla" as well, which is not desired.

In host_match[], there are string to match like "\*.gateway.messenger.live.com". Are we expecting CDNs to come wit

[2022-08-18 14:49] mmanoj commented on #1610
[Ultrasurf_8.pcap.zip](https://github.com/ntop/nDPI/files/9374904/Ultrasurf_8.pcap.zip)
[Ultrasurf_9.pcap (1).zip](https://github.com/ntop/nDPI/files/9374910/Ultrasurf_9.pcap.1.zip)

[2022-08-18 14:57] utoni commented on #1610
Unfortunately, this is again TLSv1.3 traffic w/o any useful detection pattern e.g. the string of a SNI extension. I think you are wasting your time trying to detect Ultrasurf with conventional methods.

[2022-08-19 08:53] mmanoj commented on #1610
@utoni
Thanks for the feedback and I agreed with you, It's not possible to detect bytes patterns or IP lists. Can you suggest a good strategy so we can work it out?

ML/AI may be a good option, need to have a plan if we going to work in that direction. Or evaluate available options which we can integrate with nDPI.

Appreciate your advice.

[2022-08-19 09:53] utoni commented on #1610
@mmanoj
For the ML approach, I would recommend [https://github.com/nfstream/nfstream](https://github.com/nfstream/nfstream). I am using it from time to time and there is also a ML example using `sklearn`.

[2022-08-22 06:19] mmanoj commented on #1610
@utoni

Thanks for the feedback, Do you/the nDPI team have any other approach to this issue? If yes we can put collective effort, otherwise I will check the ML approach.

Please advise before starting.

[2022-08-24 08:49] #1702 closed, assigned to utoni

[2022-08-24 08:51] IvanNardi commented on #623
It is possible that this issue has been fixed by 780cbf5f760df3b52a62362d184b8d6df3eef2df.
@utoni , do you agree?

[2022-08-24 09:21] utoni commented on #623
Should be fixed.

[2022-08-24 09:21] #623 closed, assigned to nobody

[2022-08-26 18:54] ChrisNelson-CyberReef opened #1716 "Some popular applications seem to be missing"
The protocol list includes things like Disney+ and Amazon Video but other mainstream streaming applications like HBO and Showtime seem to be missing.  I know those brands and others have changed hands so it's possible they are part of another protocol I don't recognize (like Ookla and SpeedTest).  I'm interested in Apple TV+, DirecTV, I Heart Radio, HBO, Showtime.  Are any of those there "in disgu

[2022-08-27 00:00] utoni commented on #1716
If you can provide a pcap file for every application you're interested in, I'll investigate and may be able to find some detection patterns.

[2022-08-28 20:22] ChrisNelson-CyberReef commented on #1716
I don't have any captures right now.  I may gather them as I continue to work on it.  I wonder, though, if the domains (like those in `src/lib/ndpi_content_match.c.inc`) is enough.  That seems to be the only place in the source that Disney+ is mentioned.

[2022-08-30 10:09] IvanNardi commented on #1663
Closing for inactivity. If you still have some issues, please open a new updated ticket. Thanks

[2022-08-30 10:09] #1663 closed, assigned to nobody

[2022-08-30 10:10] IvanNardi commented on #1642
Closing for inactivity. If you still have some issues, please open a new updated ticket. Thanks

[2022-08-30 10:10] #1642 closed, assigned to nobody

[2022-08-30 10:14] IvanNardi commented on #1716
Traces will be extremely useful; some (most?) of these services are behind some kind of subscription and some of them are even unavailable in my country.
Generally speaking, most of the streaming services are usually identified via domain name or via ip matching

[2022-08-30 12:22] ChrisNelson-CyberReef commented on #1716
I was going to start with https://www.netify.ai/resources/applications and see what I can add.  Would you like a PR for my additions?  Or is there a file like `src/lib/ndpi_content_match.c.inc` for user-defined protocols?

[2022-08-30 12:28] IvanNardi commented on #1716
A PR will be very welcomed!
You simply need to:
* extend protocol list in `src/include/ndpi_protocol_ids.h`
* extend rules at the end of `host_match` in `src/lib/ndpi_content_match.c.inc`: domain, protocol, a suitable category (likely `NDPI_PROTOCOL_CATEGORY_MEDIA`) and breed (likely `NDPI_PROTOCOL_FUN`)

[2022-09-08 17:34] IvanNardi opened #1728 "Custom ip/port rules"
ndpi allow the users to define some custom rules via proto.txt" files.
Among these rules, I am interested in talking about the ip/port rules (only).

There are 4 kind of these rules, at least:
* ip/port matching on *custom* (user defined) protocol
[code]
* ip/port matching on *existing* protocol
[code]
How these rules should be handled, in theory?
There are several possibilities:
1) these rules wi

[2022-09-10 13:13] utoni commented on #1728
I would prefer this solution, although it might be up to the user how much she trusts the correctness of the engine.

What about a combination of `1.` and `2.` meaning that the user can specify in the protos.txt if it should matched before or after the engine tries to detect something?

[2022-09-10 13:15] utoni commented on #1681
Done with #1677.

[2022-09-10 13:15] #1681 closed, assigned to nobody

[2022-09-17 16:59] #1610 closed, assigned to utoni

[2022-09-19 16:43] mhdtbc opened #1744 "ndpiReader.exe error after compilation on Windows"
## Describe the bug
I downloaded ndpi and compiled on windows 11 through msys2 with prerequisite. ndpiReader compilation seems fine from logs, but the .exe is raising a windows error (cf. screenshot).

### Expected behavior
ndpireader.exe to execute correctly.
### Obtained behavior
error (cf. capture)
![error](https://user-images.githubusercontent.com/871101/191069430-7fbba725-a3ab-40f5-8cce-4ea5a

[2022-09-19 16:50] utoni commented on #1744
I need more details to reproduce this issue. How exactly did you compile ndpiReader?

[2022-09-20 06:56] utoni commented on #85
Issue already solved. The preference `ndpi_pref_max_packets_to_process` can be used for such cases.

[2022-09-20 06:56] #85 closed, assigned to nobody

[2022-09-20 20:24] #1687 closed, assigned to IvanNardi

[2022-09-21 10:18] utoni commented on #1744
@mhdtbc
Did you install `npcap` with WinPcap compatibility mode enabled?

[2022-09-22 11:21] utoni opened #1750 "nDPI Analyze // RSI"
As I am progressing step by step with extracting features for my first ML approach, I am unsure how the RSI could be of use. At least nDPI has some RSI calculation code (unfortunately not used in ndpiReader).
While searching online for papers and lectures related to nDPI and RSI, I was not able to find out if and how this could be of use.
For now, I am calculating the RSI for the first 32 packets

[2022-09-22 12:14] #1750 closed, assigned to nobody

[2022-09-29 00:17] sharonenoch opened #1758 "Addition of LINE App / Corporation Protocol"
Hello

Is it possible to add support for the LINE app by just importing the following ASN https://ipinfo.io/AS38631 in asn_update.sh and adding the following in the servername : *.line-apps.com and Certificate match CN=*.line-apps.com in ndpi_content_match.c?

Do we need to write a specific protocol dissector for just the above alone?

Ideally would like to detect it as a VOIP call, as the UDP get

[2022-09-29 08:47] IvanNardi commented on #1758
As a general rule, yes, it is enough.
Some thoughts:
* if you want to proper identify the UDP flows (i.e. something like `[proto: 315/Line][IP: 315/Line]`) you need some code somewhere; the exact place depends of the characteristic of these flows: you may need a new dissector or extend an existing one (STUN?).  I don't know this kind of traffic, so I can't be more precise, sorry
* it seems that th

[2022-09-29 10:13] sharonenoch commented on #1758
Thank @IvanNardi .. Yes I can submit a PR..

The UDP currently gets decoded as RTP during a VOIP call between 2 LINE apps. Not sure if there is any extra identifier but I will go through it in detail today.. There are no STUN packets that we see.. unlike in teams, zoom etc.. Is there a location where I can upload a pcap, so that you can take a quick look of the VOIP call?..

Also I noticed that WH

[2022-09-29 11:21] IvanNardi commented on #1758
You can attached the pcap directly here (as zip or tgz file)

[2022-09-29 11:23] IvanNardi commented on #1758
If you are able to tell LINE from LINECALL, it will be useful. Otherwise only LINE is fine

[2022-09-29 17:50] sharonenoch commented on #1758
[Line_withoutdelay.zip](https://github.com/ntop/nDPI/files/9677863/Line_withoutdelay.zip)

@IvanNardi
Attached the zip file of the LINE call....   This filter should give you all the packets.. ip.dst == 147.92.128.0/17 || ip.src == 147.92.128.0/17  Also in Wireshark, can enable decode UDP as RTP

I will try to submit the PR today for the LINE, if not tomorrow.

[2022-09-29 23:44] sharonenoch commented on #1758
I was able to make progress as you suggested by extending the existing protocol of RTP by adding the following code inside the section where they check the RTP flow in rtp.c..  /* Check whether this is an RTP flow */

But the issue is there are a bunch of 40 or more UDP packets at the beginning between the 2 IPs, so I believe the code is reaching some depth of packets after which it does not check

[2022-09-30 09:22] IvanNardi commented on #1758
There is an upper limit on the number of pkts processed per flow.
Detecting voip calls doesn't seem trivial. If you prefer/want you can push the "standard" part now and we will see next what we are able to do about the voip part

[2022-09-30 10:14] mhdtbc commented on #1744
Dear @utoni,

Sorry for the late answer. I followed the readme documentation to setup an environnement in my windows machine (as i need ndpireader.exe with my same windows machine wireshark). I used msys2 environnement. in my machine i have npcap for windows installed but without the winpcap compatibility mode enabled.

i run the autogen.sh script and then make in the ndpi directory.

i then tried

[2022-09-30 10:20] mhdtbc commented on #1744
Dear @utoni,

With pcap compatibility mode enabled it's functionning now.

Thanks a lot.

[2022-09-30 11:07] #1744 closed, assigned to nobody

[2022-09-30 11:07] utoni commented on #1744
You're welcome. The ReadMe was updated with that information.

[2022-10-01 00:24] sharonenoch commented on #1758
@IvanNardi  Ok I created a pull request for the standard part..

#1759

I am not sure why the h323_overflow.pcap.out is differing with 316 vs 317.. When I do a make check locally on my branch in my ubuntu machine it generates as 316 and everything passes. I thought it was the extra lines and then removed those extra lines.. It succeeded for one do.sh check and failed in another...  Any pointers he

[2022-10-01 09:58] IvanNardi commented on #1758
It seems that the patterns are more complex. As attachment you can find an example of Line call I have been able to do: the general pattern is the same (some "random" UDP before RTP) but details are quite different
[line_voip.zip](https://github.com/ntop/nDPI/files/9690027/line_voip.zip)

[2022-10-01 13:04] sharonenoch commented on #1758
Yes looks like.. In your dump it was routing it via Naver Corp as the 125.209.x.x which is not part of the LINE Corp ASN..  Looks like Line is owned by both Soft Bank and Naver Corp..

Was it an audio call or video call.. All the dumps which I had checked were video calls.. Will try an audio call also and see the difference.

[2022-10-01 13:36] IvanNardi commented on #1758
@sharonenoch , could you test if #1761 works for you, please?

[2022-10-01 14:18] sharonenoch commented on #1758
@IvanNardi  Yes it works.. Checked against the 3 Video pcaps that I had.. it detected the Line Call..  Good eye on the 4th byte incrementing  sequence..

[code]

[2022-10-03 04:17] jibanes opened #1763 "Promiscuous mode"
Specs: Linux 5.15.x
Interface: 1 (eth0) and naturally the loopback interface.

I would like to monitor (with nDPI) my host's egress traffic.
I am only interested in the traffic initiated (read: established from) the host itself from the interface eth0 and going to a non rfc-1918 ip address AND traffic going to DNS servers (exposed in a rfc-1918 range).
I am only interested in monitoring TCP and UD

[2022-10-03 06:39] vel21ripn commented on #1763
In your case, the promisc mode is not needed for nDPI to work.
Look in the ndpiReader.c file for the line "int promisc = 1;" fix it.

[2022-10-03 12:02] jibanes commented on #1763
Excellent, thank you!

[2022-10-03 12:02] #1763 closed, assigned to nobody

[2022-10-06 15:08] sharonenoch commented on #1758
@IvanNardi  Shall I close this?

I would like to open another enhancement request for 3CX chat and audio/video calls.
I have the pcaps for the same. Would you be able to take a look and help.?

[2022-10-06 15:11] IvanNardi commented on #1758
Done in 503aac70bccfecfc920e30b5d7d32e252f0cae92 and 1796a1d814494fa85f75d395703edbc86ead3520

Feel free to open another issue for other protocols, attaching the traces

[2022-10-06 15:11] #1758 closed, assigned to nobody

[2022-10-06 18:16] sharonenoch opened #1766 "Support for 3CX VOIP calls"
3CX (https://www.3cx.com/) is a VOIP system which can be setup in a local office environment with a 3CX server and a 3CX client..

Attached pcaps for 3CX chat, audio call and video call. The audio and video traffic has STUN packets, and UDP packets decoded as RTP.. But I was not able to find a specific pattern.. Appreciate if you could look at the same... The chat capture is just TLS1.2 and TCP pa

[2022-10-09 05:24] zliucd opened #1769 "How to analyze all information of TLS from pcap using -J?"
Hi,

How to analyze all information of TLS protocol from pcap? The following command does not work(nDPI version 4.5.0), though command shows ```-J``` is an option.

Command line prompt:
[code]

The following command does not work.
```ndpiReader -J -i ./sample.pcap -C sample.csv```

Thanks.

[2022-10-09 10:58] IvanNardi commented on #1769
@zliucd, there is no 'J' option. The help message is wrong: a patch will be merged soon

[2022-10-10 02:11] zliucd commented on #1769
@IvanNardi  Thanks. Kindly let me know if 'J' option is available to use.

[2022-10-10 17:36] IvanNardi commented on #1769
@zliucd , not sure if I am understanding it right...
With https://github.com/ntop/nDPI/pull/1770 we are simply going to update the help message and remove the 'J' option from the list of the available options. Please note that there is no code associated to this option...
What are you trying to achieve?

[2022-10-11 00:31] zliucd commented on #1769
@IvanNardi  I'm trying to analyze all sorts of information from TLS(such as SPLT, byte dist, cipher suites, x509 etc) and output them to  csv.

Following command generates limited information from TLS:
```ndpiReader  -i ./sample.pcap  -C sample.csv```

[2022-10-11 08:22] IvanNardi commented on #1769
You should have more information with `-v2` or `-v3`; you could also try something like `-P 4:8:10:128:25`.
You will definitely get bytes distribution, chipher suites and certificate info
These information are surely printed on stdout; no sure if they are also exported in csv

[2022-10-14 14:57] LennyV95 opened #1773 "ntopng -ndpi-protocols -p /var/lib/ntopng/protos.txt failed to parse lines"
APCON runs nTOP on our virtual desktop linux side for people to try it out. We have a customer who is trying our ntop community package running on our IntellaStore system and client really likes it. He wants to add custom ports. There seems to be an issue running the command to enable custom application list. We created the protos.txt file, stop ntopng service and run the command:

sudo systemctl

[2022-10-14 15:01] IvanNardi commented on #1773
It seems a ntopng issue. Could you open a similar issue in https://github.com/ntop/ntopng/issues, please?
You probably get a better support there for this issue

[2022-10-14 15:07] LennyV95 commented on #1773
when I click on New Issue, there is no option to put it under ntopng.
Thanks

[2022-10-14 15:12] IvanNardi commented on #1773
the first one, from the link I provided
![Screenshot from 2022-10-14 17-11-52](https://user-images.githubusercontent.com/12729895/195881144-4d7288d6-ef51-4be6-b94b-4a66daba551a.png)

[2022-10-14 15:23] IvanNardi commented on #1773
Moved to https://github.com/ntop/ntopng/issues/6933

[2022-10-14 15:23] #1773 closed, assigned to nobody

[2022-10-14 19:26] IvanNardi commented on #1769
Help message has been fixed in https://github.com/ntop/nDPI/commit/6c84ce85e430c6200b26aabeb34522db026d1bd8
@zliucd, do you need some other info or can we close this issue?

[2022-10-15 10:04] utoni commented on #1766
After taking a first look at the pcaps, I fear that not all flows related to 3cx can be classified reliable.

[2022-10-15 14:49] sharonenoch commented on #1766
Thankyou @utoni for taking a look..

Yes we also could not figure out a pattern from it, that's why I posted it here also to get more input incase we were missing something.. Since unlike other VOIP with STUN detection, there was no custom STUN attribute for 3CX nor was there any flow pattern from the RTP packets.

We can close this request for now and re-open it later when 3CX has a better flow.

[2022-10-15 14:54] IvanNardi commented on #1766
I agree

[2022-10-15 14:57] #1766 closed, assigned to nobody

[2022-10-17 21:08] #1716 closed, assigned to nobody

[2022-10-21 06:51] DimaWittmann opened #1781 "Optimal memory allocation with DPDK for nDPI"
Dear nDPI team,
Thank you for your work and time.

I was doing a performance test of our application, it's based on DPDK with nDPI integrated.
I noticed that malloc is a bottleneck, essentially it's expected. So I decided to use memory pools to replace rte_malloc for nDPI.
My question is about optimal object sizes for the pools. I tried to have 4 memory pools: 64B, 512B, 4KB, and 32KB and it worke

[2022-10-21 13:47] utoni commented on #1781
This is interesting. I was also thinking about mempools for `nDPId`s implementation. But I was too scarred about a possible memory waste. Can you tell something about the usage of the mempool?
~~How do you handle memory fragmentation?~~ Edit: I presume that your mempool chunks have a fixed size, so fragmentation is not an issue.

I guess it is useful to have a pool size where the ndpi flow struct

[2022-10-21 18:41] IvanNardi commented on #1781
I am very surprised by that.
In my experience, once you pre-allocate `struct ndpi_flow_struct` structures, memory allocation is no more an issue.
I mean, there is still a lot of room for improvements, but memory is definitely not the main performance bottleneck, to me.

Could you share some info on your environment? Traffic rate, hardware... Are you using plain `ndpiReader` with DPDK support?

[2022-10-24 08:02] DimaWittmann commented on #1781
The setup is following:
15 cores are dedicated to packet processing, essentially they do some basic packet parsing, and then a call to _ndpi_detection_process_packet_
Four 10G ports.
The flow table is about 8+ million entries.

Initially, I did not provide malloc to nDPI, so libc malloc was used, and I did not notice that malloc was the bottleneck. The problem was that nDPI allocated much memory b

[2022-10-24 12:03] IvanNardi commented on #1781
I don't have any numbers, but I am asking a very silly question (sorry for that): are you aware that you can free `struct ndpi_flow_struct` (and all related memory) once the flow is classified (i.e. usually after 1-5 pkts)? In other words, you should usually have:
numbers of `struct ndpi_flow_struct` structures "used" << 8 million

This way the total memory used should be lower; no idea of the imp

[2022-10-24 17:17] DimaWittmann commented on #1781
Thank you, this is a good hint, I did not clean flows before flow expiration or related data. It can definitely improve the situation.
I see allocations about 30-40KB depending on traffic but I decided to abolish 512B and 32KB mempools, 512B does not look like it's much used and 32KB just waste too much memory.

For testing I used examples from nDPI, like tls_*, facebook*, whatsup*, youtube*, tele

[2022-10-24 18:57] IvanNardi commented on #1781
With the simple, but ugly, patch attached you can easily look at the size of the memory allocations by the library in the "data path"
[mem_size.patch.txt](https://github.com/ntop/nDPI/files/9854462/mem_size.patch.txt)

There are some bigger allocations that expected.

[code]
It seems that most (all?) of this big allocations are related to (TLS) reassembler; definitely an area to investigate in the

[2022-10-25 14:37] DimaWittmann commented on #1781
Thank you very much,
for now, it looks like the big allocations occur only once per some number of flows. Definitely, it's traffic related but with big packets, less of contention is expected, so it does not look like it is worth using an additional memory pool for big chunks.

[2022-10-26 07:51] JRazek opened #1788 "nDPI fails to recognize custom DNS ports"
I am using DNS server on a custom port 1234. nDPI fails to recognize the packets as DNS due to hardcoded port 53 in detection.

I've found [this](https://github.com/ntop/nDPI/issues/725) issue, but it did solve the problem for the OpenDNS protocol exclusively.
I understand that lack of port checking might create an overhead and it is quite unusual to use ports different than 53. It happens though.

[2022-10-27 09:51] utoni commented on #1788
Strange. nDPI should be able to detect this. Can you share a pcap which contains DNS traffic to the aforementioned port?

[2022-10-27 10:19] JRazek commented on #1788
I'll share the pcap shortly, but I do not think, that it should work at all in the current state.

https://github.com/ntop/nDPI/blob/1fecf69359a1a809e76ec1b37bee146c6ebd7752/src/lib/protocols/dns.c#L456

This snippet shows very clearly that ports other than 53/5353/5355 are simply ignored.

[code]

[2022-10-27 11:17] IvanNardi commented on #1788
The issue is real (see  [dns_on_port_80.zip](https://github.com/ntop/nDPI/files/9878777/dns_on_port_80.zip))
However fixing it is not trivial. The fist problem is not performance but false positives.
If you try to simply remove the "port logic" from `dns.c` you will find an astonishing number of false positives running the internal tests.
Bottom line: dns heuristic  must be significantly improved.

[2022-10-27 11:19] JRazek commented on #1788
And that's the pcap.
[DNS_1234_pcap.zip](https://github.com/ntop/nDPI/files/9878783/DNS_1234_pcap.zip)

[2022-10-27 18:57] barcaroller opened #1790 "ndpi_detection_giveup causing core-dumps..."
I have a system that links to the nDPI library and has been working flawlessly for four years.  As of a month ago, the system began coredumping, with valgrind saying:

[code]

and the line of code being:

`ndpi_protocol guessed_protocol = ndpi_detection_giveup(my_ndpi_->ndpi_struct, ndpi_flow, 1, &proto_guessed);`

Nothing in my code has changed, but I do update the nDPI library regularly.  I assu

[2022-10-27 20:09] utoni commented on #1788
I forgot the port based DNS/MDNS/LLMR detection...

[2022-10-29 12:14] IvanNardi commented on #1781
Basic malloc profiling added in [db9f6ec](https://github.com/ntop/nDPI/commit/db9f6ec1b4018164e5bff05f115dc60711bb711b)

Closing it for now.
If you have other issues/questions, please open a new ticket.

[2022-10-29 12:14] #1781 closed, assigned to nobody

[2022-10-29 12:31] IvanNardi commented on #1790
I am not aware of any open bugs in current dev, sorry
A few memory errors have been fixed lately; do you still have the error with latest dev, i.e. > 2ed2e5dc7e072d41065a7c04da5db598150c71fa?

Basic question: are you using a multi-thread environment? If so, I stress out that `my_ndpi_->ndpi_struct` is per-thread; you must always call `ndpi_detection_giveup` and `ndpi_detection_process_packet` from

[2022-10-31 08:48] SakibFarhad opened #1791 "Can not install python library for python 3.6.9"
I am trying to install python bindings for nDPI-4.4.0. but I am getting following errors

OS Version: `CentOS release 6.10 (Final)`
Python Version: `3.6.9`

[code]

What did I do?
I installed python `3.6.9` from source as it is not available natively on CentOS 6.
it works fine. I was able complete following:
[code]

[2022-10-31 12:48] aouinizied commented on #1791
@SakibFarhad Thanks for reporting, you will need at least python 3.7 for Python bindings.  This will fix your issue.

Zied

[2022-10-31 12:51] SakibFarhad commented on #1791
I was hoping to use it with `3.6` as this page's [setup.py](https://github.com/ntop/nDPI/tree/dev/python) states to support `3.6`.
Thanks for your feedback.
Closing the thread

[2022-10-31 12:51] #1791 closed, assigned to nobody

[2022-10-31 12:54] aouinizied commented on #1791
Thanks for pointing this out. I fixed it in both the setup.py and the the doc.

[2022-10-31 14:56] barcaroller commented on #1790
Thanks for your reply, Ivan.  I'm using the latest version of nDPI.  I'm using a single-threaded environment.  I will try with gcc's address sanitizer and get back to you.

[2022-10-31 16:41] barcaroller commented on #1790
I know this is not terribly helpful, but here is the output when using the gcc address sanitizer.

[code]

[2022-10-31 16:53] IvanNardi commented on #1790
1) Could you try again, after having compiled nDPI and your application with symbols ("-g -fno-omit-frame-pointer")? The goal is to have a line number insted of ```/lib/libndpi.so.4+0xea92e```. Something like:
[code]
2) Any chances you have a pcap (that you can share) to reproduce the issue?

[2022-11-01 15:06] barcaroller commented on #1790
Hi Ivan.  While playing with the -fsanitize=address flag, I figured out what the problem is.  I noticed that the nDPI libraries under `/lib` and `/usr/lib` were different from the nDPI libraries under `/lib64` and `/usr/lib64`.  The former had old timestamps going back to a month ago (which is when my coredumps started happening) while the latter were up-to-date.  When I updated my cmake files to

[2022-11-01 17:27] ProjectMutilation opened #1792 "Potential NULL pointer dereference"
Hi, guys, I found the suspicious implementaion of function.
src/lib/protocols/rtp.c:131(at commit 9e73d61fb04)  in ndpi_search_rtp pointer "packet->udp"  was dereferenced before it was checked against null.
[code]
May be it's error?
Perhaps it is worth adding a check before dereferencing for assignment source and dest?
[code]

[2022-11-01 18:46] IvanNardi commented on #1792
`ndpi_search_rtp()` is called only for UDP flows (because of `NDPI_SELECTION_BITMASK_PROTOCOL_V4_V6_UDP_WITH_PAYLOAD`) so it is always safe to dereference `packet->udp` pointer, IMO

Did you find the issue simply looking at the code or "for real"? (e.g. via [oss-sydr-fuzz](https://github.com/ispras/oss-sydr-fuzz)?)

Nonetheless, as you noticed, the code is not clear and can be improved: I am going

[2022-11-02 06:55] ProjectMutilation commented on #1792
@IvanNardi static analyzer Svace detected about it as potential dereference or superfluous checking

[2022-11-02 08:29] IvanNardi commented on #1792
@ProjectMutilation , definitely a  superfluous checking. I'll update the code

[2022-11-02 21:23] sempervictus opened #1793 "nDPI fails to build on systems defining FORTIFY_SOURCE"
## Describe the bug
The `configure` script attempts to test for a C preproccessor in some manner which assumes existence of `/lib/cpp` and when given explicit `CPP=/usr/bin/cpp` flags still fails to compile the check if `-D_FORTIFY_SOURCE=2` is preset in the environment for `CPPFLAGS`.
[code]
Logs say that it wants to be compiled with `-O` for this to work: ` warning: #warning _FORTIFY_SOURCE requ

[2022-11-03 19:38] IvanNardi commented on #1790
I am not aware of any recent changes in that area and I don't usually "make install" nDPI...
After a quick search, the more recent commits should be  780cbf5f and 82c83ef7, merged in August.
Any chances that you installed (willingly or not) a nightly build via your package manager (yum/apt/dnf/...)?

[2022-11-04 16:02] barcaroller commented on #1790
Hi Ivan.  I always build nDPI from scratch.

[code]
I then link the nDPI library to my executable using `-lndpi`.

This worked perfectly, and I never had to worry where nDPI placed its libraries.  I think the two commits you mentioned above may explain what happened.  As it stands now, nDPI on my machine no longer updates `/lib` and `/usr/lib`; it only updates `/lib64` and `/usr/lib64`.  This beha

[2022-11-04 16:06] IvanNardi commented on #1790
No, I don't.
Glad that you are have been able to fix the issue!
Thanks for your patience

[2022-11-04 16:06] #1790 closed, assigned to nobody

[2022-11-04 16:21] IvanNardi commented on #1790
@barcaroller, just a last thought.
You could try setting your `CFLAGS`/`LDFLAGS` using `pkg-config --libs libndpi` or `pkg-config --cflags libndpi` (after setting a proper value into `PKG_CONFIG_PATH` variable)
I didn't test it, just an idea...

[2022-11-07 13:56] flolot123 opened #1794 "ndpiReader: issue with printout of some IPv6 addresses (-k -K flags)"
Some IPv6 addresses is printed as "".

Example from file **http_ipv6.pcap** in test dir:
{"src_ip":"2a00:d40:1:3:7aac:c0ff:fea7:d4c","dest_ip":"","src_port":40308,"dst_port":443,"ip":6,"proto":"TCP" ...

vs same line with ndpiReader -C:
9,6,1448269143.410,1448269143.539,0.129,2a00:d40:1:3:7aac:c0ff:fea7:d4c,40308,2a03:2880:1010:3f20:face:b00c::25de,443,91,TLS,Unknown ...

[2022-11-07 15:53] IvanNardi commented on #1794
The issue is real; one output buffer is too small. I'll take care of that

[2022-11-07 19:21] IvanNardi commented on #1769
Closing. If you have some other issues, please open a new ticket

[2022-11-07 19:21] #1769 closed, assigned to nobody

[2022-11-07 19:36] #1794 closed, assigned to IvanNardi

[2022-11-07 19:38] #1792 closed, assigned to IvanNardi

[2022-11-10 13:07] flolot123 opened #1797 "ndpiReader: issue with printout of L4 protocol names (-k -K flags)"
For the most common protocols the json value is text, for others it is protocol number formated as int:

"ip":4,"proto":"UDP","ndpi": {"confidence": {"6":"DPI"},"proto":"DNS.Apple"
"ip":4,"proto":"TCP","ndpi": {"confidence": {"6":"DPI"},"proto":"TLS"

vs

"ip":6,"proto":50,"ndpi": {"confidence": {"6":"DPI"},"proto":"IPSec",
"ip":6,"proto":58,"ndpi": {"confidence": {"6":"DPI"},"proto":"ICMPV6"

The

[2022-11-10 13:45] flolot123 opened #1798 "Passive OS fingerprinting"
p0f/Satori like signature from TCP syn packets ...

[2022-11-11 18:35] utoni commented on #1798
Interesting. This will take some time to implement.

FYI: [Satori Passive OS Fingerprinting](https://github.com/xnih/satori/)

[2022-11-11 18:36] utoni commented on #1793
Can you please add the `config.log` file? Thanks.
That will help a lot.

[2022-11-13 13:34] IvanNardi commented on #1798
Other references:
* this should be (a copy of) the "original" project: https://github.com/p0f/p0f
* a more recent (...) post on this topic:  https://blog.cloudflare.com/introducing-the-p0f-bpf-compiler/

[2022-11-13 21:35] #1797 closed, assigned to IvanNardi

[2022-11-15 11:41] koltiradw opened #1803 "Infinite loop in dns"
Hello there! I found hang during fuzz testing with [sydr-fuzz](https://sydr-fuzz.github.io/).
I suppose, that integer overflow in protocols/dns.c:507:4 leads to infinite loop.

## nDPI Environment

You can use the ready-made environment from the [oss-sydr-fuzz](https://github.com/ispras/oss-sydr-fuzz/tree/master/projects/ndpi) repository.

## How to reproduce the reported bug
/nDPI/afl/fuzz_proces

[2022-11-15 12:40] IvanNardi commented on #1803
I am able to trigger the infinite loop with your "input files" and standard/internal fuzz_process_packet (with libfuzz).
Thanks for the report!

[2022-11-15 15:29] #1803 closed, assigned to IvanNardi

[2022-11-16 21:06] sharonenoch opened #1805 "ZOOM UDP flow not detected"
We were testing zoom calls and noticed that at times it was not detected.

When I ran it via nDPIReader it detected only the TLS.Zoom but there were 3 UDP flows through which the audio call took place but it did not get classified.

Secondly the protocol by IP was classified as Zoom but the confidence level was not set to NDPI_CONFIDENCE_MATCH_BY_IP. I had thought that if the IP matched the protoc

[2022-11-17 19:07] IvanNardi commented on #1805
@sharonenoch , thanks for the report.
It is quite likely that ZOOM detection needs to be improved in nDPI.
However, please note that the VOIP stream in your trace (`udp.stream == 0`) is definitely a mid-stream, i.e. its initial packets are missing. Could you attached an example (unclassified) with the complete flow, please?

Note that `NDPI_CONFIDENCE_MATCH_BY_IP` has been recently removed: see a7

[2022-11-17 20:54] sharonenoch commented on #1805
Thanks @IvanNardi ..  I had a feeling it could be a partial capture but was not entirely sure.. Since we captured like 6 captures but this was the only one which had this issue.. So thought I might as well post it here..

So where are we seeing this udp.stream == 0  output? Is it in ndpireader.. This way next time I can look for it and not have to open an issue

Also I noticed ZOOM has increased t

[2022-11-18 14:06] sharonenoch commented on #1805
Ignore the udp.stream question.. I realized you were referring from the context of Wireshark pcap capture filter options.

[2022-11-18 16:16] IvanNardi commented on #1805
Thanks for pointing out that; as far as you know, is that a recent change? I have never found ZOOM on a port in the 8802-8810 range... but I think that it is only a matter of probability...

No. "Classification-by-ip" is completely unrelated to the "proper" classification set in `flow->detected_protocol_stack[]`. The former depends only on the ip address (L3 info), the latter only on deep-packet i

[2022-11-18 16:37] sharonenoch commented on #1805
Thanks for the explanation.

I have also not yet seen a pcap where the ports are from 8802-8810 but I think zoom recently (Nov 2) updated that link showing the new ports.. So I feel it will start showing up

We had an instance where zoom did not get detected but I am yet to receive the pcap file for it.. Once I receive it will let you know what I find..

[2022-11-18 16:38] sharonenoch commented on #1805
I am closing this issue..

[2022-11-18 16:38] #1805 closed, assigned to nobody

[2022-11-21 17:14] lucaderi commented on #1793
Closing for inactivity. I have been unable to reproduce it and you do not seem to provide a log file

[2022-11-22 09:13] #1793 closed, assigned to nobody

[2022-11-23 15:43] rajdippatel-emc opened #1809 "TLS protocol detection fails with segmentation fault"
## Description
In a rare case scenario TLS protocol detection fails with segmentation fault in following location.

0  0x00007f37cadef96e in ndpi_search_tls_tcp_memory () from /lib/libndpi.so.4
[Current thread is 1 (Thread 0x7f37ad7fa700 (LWP 27))]
(gdb) bt
#0  0x00007f37cadef96e in ndpi_search_tls_tcp_memory () from /lib/libndpi.so.4
#1  0x00007f37cadf2029 in ndpi_search_tls_tcp.part () from /lib

[2022-11-23 16:22] IvanNardi commented on #1809
I don't know how much help I can provide without a trace triggering the issue, especially since you  are using your own application.
Anyways, some general advice:
* be sure that you don't share `struct ndpi_detection_module_struct *` object among different threads
* try compiling nDPI **AND** your application with ASAN
* try latest dev branch

It would be useful if you could provide a pcap trigger

[2022-11-23 16:37] utoni commented on #1809
Without a core dump, pcap file or at least debug symbols enabled, it is like searching for the needle in a haystack.