[2016-07-08 04:38] Skryabind commented on #223
@lucaderi Are there any benefits of using RSS as compared to zc balancer? I use zc balancer, it's more flexible, I think.

[2016-07-08 07:38] cardigliano commented on #223
@mmanoj you can spawn multiple threads by specifying multiple interfaces (or queues in case of RSS) in ndpiReader using a comma-separated list in -i, and set the threads cpu affinity with -g (please read the help)

[2016-07-08 07:40] cardigliano commented on #223
@Skryabind RSS is hw-based, thus in some cases it is faster than zbalance, zbalance is definitely more flexible as you can define custom distribution functions and also distribute the same traffic to multiple applications/instances.

[2016-07-08 07:48] vel21ripn commented on #223
@mmanoj Traffic can be identified in the kernel using ndpi-netfilter. Any data processing in user space will be slower than in the kernel.

[2016-07-08 09:25] mmanoj commented on #223
@cardigliano  Thanks for the advice, I will try the -g option as I have one network interface. I will use PF_RING with modified code as advice by @Skryabind with -g option. Later I will try same with ZC. Hope no more code modification required. Please confirm.

@vel21ripn Thanks for the clarification, in my scenario I will process packet in both places. In netfilter we cannot use PF_RING +ZC as it

[2016-07-08 13:18] simonemainardi opened #226 "IPv6 tests fails on Centos7 due to ipv6 formatting"
This is a low-pri issue but it is still worth having a look at it. Tests fails as Centos7 sometimes uses zeroes in IPv6 representations. This causes tests to fail, even if protocols are properly detected.

[code]

[2016-07-08 13:20] simonemainardi commented on #226
same on ubuntu14

[2016-07-08 13:29] kYroL01 commented on #226
@simonemainardi Yes you're right. It is cause by [Zero Compression](https://tools.ietf.org/html/rfc5952#section-2.2) and we have to solve.
For example, my Debian 8 produce
`1   TCP [2001:470:1f17:13f:3e97:eff:fe73:4dec]:443 <-> [2a03:2880:1010:6f03:face:b00c:0:2]:53234 [proto: 91.119/SSL.Facebook][33 pkts/13926 bytes][SSL client: www.facebook.com]`

I see instead on Ubuntu14 and Centos7 is the opp

[2016-07-08 14:30] simonemainardi commented on #226
correct

[2016-07-08 14:32] kYroL01 commented on #226
So it could be better to adapt the output as the Ubuntu and Centos output.

[2016-07-11 18:15] lucaderi commented on #223
@mmanoj You need to enable RSS, spawn a thread per queue for packet processing, each with an instance of nDPI so that you are fully reentrant

[2016-07-12 07:41] kYroL01 commented on #226
Fixed by https://github.com/ntop/nDPI/commit/4fe8d350a222e84cce7a5ef95432c4a2411e5f90

[2016-07-12 07:41] #226 closed, assigned to nobody

[2016-07-12 11:49] simonemainardi opened #227 "ndpi_search_git causes ntopng to hang indefinitely"
after running for a few minutes, ntopng hangs. The web server keeps serving but data is no longer updated. There is one cpu that is spinning at 100% and packet loss grows indefinitely. Memory consumption is not an issue.

I run ntopng within gdb and found that there is always one thread inside `ndpi_search_git`. The vast majority of the other threads are waiting on condition variables.

Here are t

[2016-07-12 13:33] kYroL01 commented on #227
imho is because atoi is prone to multi-threading issues.
I think it must be changed to equivalent strtol function.

[2016-07-12 13:38] simonemainardi commented on #227
if you look at the traces, `atoi` calls `strtol`

[2016-07-12 14:02] simonemainardi commented on #227
I can confirm that `ndpi_search_git` is causing ntopng to hang indefinitely.

To make sure that was the cause, I started ntopng using a BPF filter to exclude git traffic based on the default git port:

`--packet-filter "not port 9418"`

ntopng has been running smoothly for a couple of hours whereas it hangs just after a few minutes without the BPF filter.

[2016-07-12 14:07] lucaderi commented on #227
@simonemainardi I have made a fix. please try to crash it again

[2016-07-12 16:38] #227 closed, assigned to lucaderi

[2016-07-13 08:31] simonemainardi commented on #227
It works @lucaderi . Now ntopng is stable and doesn't hang anymore. Thanks for the fix.

[2016-07-14 15:09] rafaelchieza opened #228 "Hangout has been matched as WhatsappVoice"
Hi,

I am using ntopng  (2.5.160629 - Community Edition) with ndpi (1.8.0-dev-457-ff6b193) on centos (  7.2.1511) and I saw that hangout traffic is matched as whatsappVoice.

As you can see in the following screen
(https://cloud.githubusercontent.com/assets/20460535/16844169/716ea278-49ba-11e6-8e69-ee62b33fe33c.png)

dport is 19305 that is the  port that hangout use (https://support.google.com/a/a

[2016-07-14 17:11] alagoutte commented on #228
Can you attach a pcap ?

[2016-07-14 17:28] rafaelchieza commented on #228
[whatsappvoice.pcap.zip](https://github.com/ntop/nDPI/files/364428/whatsappvoice.pcap.zip)

[2016-07-15 05:42] chinasun021 opened #229 "http protocol src ip error"
I test the ndpiReader with option -v 1，and I find one flow info is error
![2](https://cloud.githubusercontent.com/assets/3906374/16864661/2a6da1e4-4a91-11e6-83b6-88e8cd6fc5db.jpg)
![1](https://cloud.githubusercontent.com/assets/3906374/16864670/392b837c-4a91-11e6-83c7-99678cabe74e.jpg)

it is http protocol with get option，how ever ndpiReader identify the flow as HTTPDownload，and in fact src ip is

[2016-07-15 08:07] lucaderi commented on #229
Please post the pcap

[2016-07-15 08:35] chinasun021 commented on #229
please download this file
https://github.com/chinasun021/chinasun021.github.io/raw/master/test.pcap

[2016-07-15 08:51] bmhoang opened #230 "How to setting server certificate for ndpi?"
please guide me how to add server key for ndpi?
Thanks,

[2016-07-15 15:58] kYroL01 commented on #228
@rafaelchieza Yes, you're right.

[2016-07-17 16:25] mmanoj commented on #223
@lucaderi  sorry for late reply, can you give little example and reference doc/link for RSS technology, so I can read more about it.

[2016-07-17 19:04] mmanoj commented on #223
@cardigliano  can you explain how threads cpu affinity improve ndpi reader performance for packet processing as it bind thread to cpu core. Also not clear how multiple threads will bind to given cpu core with -g option. Can you give some example scenario/syntax.

[2016-07-18 04:34] chinasun021 commented on #229
@lucaderi please help me，thanks！

[2016-07-18 14:24] tgogos opened #231 "How to get http header information from ndpi_packet_struct"
I cannot figure out how to use ptr and len inside ndpi_int_one_line_struct in order to get information about http headers (like: http_url_name for example).

[2016-07-19 00:39] chinasun021 commented on #231
you can use interface ndpi_get_http_url to get http url，ndpi_get_http_method to get http method and etc.

[2016-07-19 07:57] chinasun021 commented on #229
I have find the reason...
in ndpi_util.c line 250 --256,the code is
` if(iph->saddr < iph->daddr) {
    lower_ip = iph->saddr;
    upper_ip = iph->daddr;
  } else {
    lower_ip = iph->daddr;
    upper_ip = iph->saddr;
  }`
I don't konw why to do this,I change the code to
` lower_ip = iph->saddr;
    upper_ip = iph->daddr;`
the src ip and dst ip is right already.

[2016-07-19 08:45] chinasun021 commented on #229
maybe I have know the reason,the ndpiReader print info is simple,and it don't  distinguish src and dst.
I add src_to_dst_direction into struct ndpi_flow info,and
 newflow->src_to_dst_direction=*src_to_dst_direction; in ndpi_util.c

[2016-07-19 10:16] kYroL01 commented on #229
@chinasun021 going to invesitgate the issue soon. thanks for reporting issue

[2016-07-19 14:47] kYroL01 commented on #231
@tgogos the struct `ndpi_int_one_line_struct` is used to declare all the structs needed to get informations about (specially) http header.
If you see, the declaration is inside `ndpi_packet_struct` in `ndpi_typedef.h`, [here](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_typedefs.h#L663)

To understand how **ptr** and **len** works, you have to see (maybe use _gdb_) how http dissector wor

[2016-07-19 14:47] #231 closed, assigned to nobody

[2016-07-19 14:49] kYroL01 commented on #230
Maybe @lucaderi could help you

[2016-07-19 15:10] cardigliano commented on #223
@mmanoj please read https://github.com/ntop/PF_RING/blob/dev/doc/README.RSS to learn more about RSS.
In order to bind multiple threads to multiple cpu cores, supposing you have 4 threads and want to bind them to cores 2,3,4,5, you can use -g 2:3:4:5

[2016-07-19 15:10] #223 closed, assigned to nobody

[2016-07-19 15:57] lucaderi commented on #230
@DiodeZ What do you mean exactly? I do not understand your question

[2016-07-19 16:43] mmanoj commented on #223
@cardigliano Thanks for the details. I'm start testing the ndpiReader with PF_RING and update you the status. Currently I'm going to use zbalance for initial test.

[2016-07-19 18:21] mmanoj commented on #223
@lucaderi  I'm going to use as below with nDPIReader instance bind to zc balance for two nDPIReader instances for test. Is this correct approach ? nDPI reader compile with -lpcap

#zbalance_ipc -i zc:eth2 -c 99 -n 2 -m 0 -g 1

#ndpiReader -i zc:99@0
#ndpiReader -i zc:99@1

@Skryabind  are you modify zbalance or nDPI reader as per your above comment ?

[2016-07-19 20:28] lucaderi commented on #223
You do not need the balancer: just enable RSS with 2 queues and attach nDPIreader to individual queues

[2016-07-19 22:06] lucaderi commented on #229
@chinasun021 These are the two flows identified as download

In both flows the response MIME type is
Content-Type: application/octet-stream
so the detection is correct IMHO

[2016-07-19 22:06] #229 closed, assigned to nobody

[2016-07-19 23:42] lucaderi commented on #228
This is what ndpiReader (1.8.0-dev-468-a93c83f) says
Detected protocols:
    STUN                 packets: 115           bytes: 17246         flows: 1
    Google               packets: 31017         bytes: 16778972      flows: 1

Protocol statistics:
    Acceptable                16796218 bytes

[code]

Flow 1 is really STUN and is ok, the problem is that the second is note detected as hangout, so

[2016-07-19 23:42] #228 closed, assigned to nobody

[2016-07-20 00:39] chinasun021 commented on #229
23 TCP 113.108.225.18:80 <-> 192.168.188.212:7945 [proto: 7.60/HTTP.HTTPDownload][12 pkts/1944 bytes][Host: gztp.127.net]
this flow src ip is192.168.188.212 in fact，how ever the output src ip is 113.108.225.18

[2016-07-20 04:12] Skryabind commented on #223
@mmanoj In my comment above I wanted to show you how to connect nDPI and PF_RING in one application.  But if you just want to test the example, you shell use RSS without zbalance as said @lucaderi

[2016-07-20 08:02] kYroL01 commented on #228
@lucaderi Do you think is more correct to detect **stun** packet as STUN than GoogleHangout even if the packets flow through hangout ports (Same thing for RTP, RTCP and SRTP) ?

[2016-07-20 09:19] lucaderi commented on #228
I think hangout is better

[2016-07-20 11:21] kYroL01 commented on #229
@chinasun021 This is because when we print the results, we put on the left the `lower_ip` and on the right the `uppr_ip` that not always corresponds to the source and destinatiion ip.
See [here](https://github.com/ntop/nDPI/blob/dev/example/ndpi_util.h#L45)

During the detection (I [checked](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_typedefs.h#L202)) the source ip and destination ip a

[2016-07-20 11:26] kYroL01 commented on #230
@DiodeZ try to explain better the problem. If u need reopen the issue.
Thanks

[2016-07-20 11:26] #230 closed, assigned to nobody

[2016-07-20 12:10] chinasun021 commented on #229
okay,I have got it,thanks!

[2016-07-20 19:34] mmanoj commented on #223
@lucaderi  and @Skryabind  Thanks for quick comments. I will try as advice. As I saw example with zbalance for tcpdump that's why I try above methodology. What will happen if I use zbalance in same scenario.

[2016-07-21 17:03] #68 closed, assigned to nobody

[2016-07-26 06:53] rsweerarathna opened #236 "ndpiReader statistics mismatch"
Hi,
I run ndpiReader with -v2 to get all traffic passing through the interface,  But there is a huge difference in summary statistics and the sum of total byte count in the detail log.  according to summary total size is 15MB but when i get the sum of byte counts in each line in the log, it's less than 1MB. why is that?

is summary not based on what you print in the console log?

pcap and log file

[2016-07-27 20:00] mmanoj commented on #236
@rsweerarathna  can you do only youtube capture and upload the pcap. as per the pcap it's having more protocols:

***_Detected protocols**_*:
    Unknown              packets: 5             bytes: 430           flows: 1
    DNS                  packets: 64            bytes: 12349         flows: 32
    HTTP                 packets: 183           bytes: 98435         flows: 21
    HTTPDownload

[2016-07-27 20:01] mmanoj commented on #236
will focus on youtube packetss in summary and verbose output to narrow down the issue.

[2016-07-28 05:53] rsweerarathna commented on #236
here it is, only browsing youtube.
pcap and log file.

http://www.mediafire.com/download/ixdiakt7u2byd9b/ndpiReader.pcap
[ndpiReader.txt](https://github.com/ntop/nDPI/files/387730/ndpiReader.txt)

[2016-07-28 08:44] rsweerarathna commented on #236
Are you only focusing on detecting the protocol using first several flows and not then worry about the packet count and total statistics?

[2016-07-28 08:53] simonemainardi opened #237 "pointer being freed was not allocated"
ntopng always crashes when shutting down due to nDPI freeing its resources.

[code]

[2016-07-28 12:25] kYroL01 commented on #237
Thanks @simonemainardi for reporting. I'll check asap.

[2016-07-28 20:11] lucaderi commented on #237
@simonemainardi Simone I can't reproduce this issue so I need your help.

[2016-07-29 11:19] simonemainardi commented on #237
sorry after cleaning ntopng and ndpi and rebuiling all the error was no longer occurring.

[2016-07-29 11:19] #237 closed, assigned to lucaderi

[2016-07-30 08:16] tianzhishuizhu opened #238 "Are there any manual about API of nDPI"
Are there any manual about API of nDPI? I have read code of ndpiReader.c. But it seems complicated. Thanks!

[2016-07-30 08:34] kYroL01 commented on #238
Actually there isn't a manual that explain all the API of nDPI, but It's a work must be done for future and soon.
For now you can see the API used reading [ndpi_api.h](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_api.h) and [ndpi_main.h](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_main.h).
Soon these two files must be merged into one.

[2016-07-30 08:34] #238 closed, assigned to nobody

[2016-07-30 08:42] tianzhishuizhu commented on #238
Thanks! @kYroL01

[2016-08-08 18:03] mmanoj commented on #223
@lucaderi  i'm getting following error while test, any idea

./ndpiReader -i zc:enp0s31f6@0 -v2

ERROR: could not open pcap file or playlist: zc:enp0s31f6@0: No such file or directory

Note: I tested queue from pfcount and it's fine. and ndpi reader compile with libpcap

[2016-08-08 19:58] mmanoj commented on #223
@lucaderi  if I dont have the ZC driver , how can I use RSS or what is the alternative solution? pls advice.

[2016-08-08 20:00] mmanoj commented on #223
I want to use PF_RING first with ndpiReader

[2016-08-08 20:01] lucaderi commented on #223
@mmanoj ndpiReader -i enp0s31f6@0 will work

[2016-08-11 09:59] u-Map opened #243 "YouTube Traffic goes Undetected"
Hi,
I see majority of youtube traffic goes undetected (ssl.unknown) through my installation (ndpiReader - nDPI (1.8.0-dev-494-0e04068). I've attached a sample capture.

Detected protocols:

[code]

Thanks.

[10.130.0.146_YT.pcap.gz](https://github.com/ntop/nDPI/files/412877/10.130.0.146_YT.pcap.gz)

[2016-08-11 10:15] kYroL01 commented on #243
Thanks for sharing pcap. Going to see asap

[2016-08-11 17:36] kYroL01 commented on #243
@u-Map The question is easy: nDPI does not have a specific dissector for YouTube.
I analyzed your pcap and we cannot do much more with these packets
The only way (for now) to detect YT traffic is by detecting it by dns query or ssl server name.
This is why YouTube is classified as a _service_ and not as a _protocol_
See https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h#L223
Unf

[2016-08-11 17:38] #243 closed, assigned to nobody

[2016-08-13 01:44] tianzhishuizhu opened #246 "Use efficient algorithms for string matching instead of memcmp"
I learn the source code in directory /nDPI/src/lib/protocols. I find `memcmp`is called for pattern searching, that is, for comparision. There are some algorithms for string matching, like **KMP, Boyer Moore Algorithm and AC algotithm**. Have you ever considered to use these efficient algorithms for string matching in nDPI, or they have been used in nDPI? Are they useful for nDPI?

`memcmp` is used

[2016-08-13 07:23] lucaderi commented on #246
yes we did. See for instance https://github.com/ntop/nDPI/blob/dev/src/lib/third_party/src/ahocorasick.c

if you want to extend it to other code dissectors, please do so, and send us a pull request. Thank you in advance

[2016-08-13 07:23] #246 closed, assigned to nobody

[2016-08-13 08:42] tianzhishuizhu commented on #246
Thanks for your time. I see the source code and find AC algorithm are only declared in nDPI. But nDPI doesn't really use it, right? Are there any places for using pattern searching in nDPI? Because searching are always done in directory /protocols  for specific position in a packet load . So memcmp is used.

[2016-08-13 08:49] lucaderi commented on #246
No you can use them from outside nDPI using the API.
Please provide a patch for inclusion

[2016-08-13 08:55] tianzhishuizhu commented on #246
Is it right to say `memcmp` can nearly do all the work of searching in dissectors currently in nDPI ?

[2016-08-13 09:11] kYroL01 commented on #246
`memcmp` inside dissectors is used like

[2016-08-16 09:30] u-Map opened #249 "ndpiReader Segmantaion Fault with latest compiled code"
Hi,

nDPI 1.8.0-dev-509-4834109
Ubuntu 14.04 LTS
4.2.0-30-generic x86_64

ndpiReader stops with segmentation fault after running for few minutes.

any idea?

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff73b8700 (LWP 23115)]
0x000000000040d983 in ndpi_parse_packet_line_info (ndpi_struct=ndpi_struct@entry=0x66eac0, flow=flow@entry=0x7ffff0121190) at ndpi_main.c:37

[2016-08-17 04:37] subritm opened #250 "can we use nDPI with Kernel ?"
In latest code 1.8 version I can see that the KERNEL macro check have been removed.
# ifndef **KERNEL**
# endif

So does it mean that, nDPI cannot be used in kernel ?
If it can be how ?
As these header files mentioned in ndpi_includes.h
# include <stdint.h>
# include <stdio.h>
# include <stdarg.h>
# include <string.h>
# include <ctype.h>
# include <time.h>
# include <limits.h>

are only for user s

[2016-08-17 07:14] vel21ripn commented on #250
Yes. And uses printf() for the debugging printing.
I tried to port ndpi-netfilter to version 1.8, but only to the level of assembly and short-term test, which showed a low level of traffic identification. Too many changes between versions 1.7 and 1.8

[2016-08-17 07:28] kYroL01 commented on #250
@subritm We prefer to avoid the use of nDPI in kernel space. We had made some changes but also in 1.7 the kernel mode was deleted. This does not mean that in future we don't think again to put again the kernel mode, but not in the old way.
@vel21ripn If you see the changes are to slim the code and we put few new APIs and to have a better organizzation of the code, excluding the daily fixing of the

[2016-08-17 07:28] #250 closed, assigned to nobody

[2016-08-17 10:05] lucaderi commented on #249
Do you have a pcap file to use for reproducing the issue?

[2016-08-17 10:15] kYroL01 commented on #249
@lucaderi I also noticed this thing. Unfortunately it not happens always and I was not able to reproduce the issue, but seeing the backtrace of @u-Map the problem is in the macros `get_u_int16_t`.
IMHO we have to re-think macros of type `get_u_intXX (X,O)` because it might violating [the strict aliasing rule](http://cellperformance.beyond3d.com/articles/2006/06/understanding-strict-aliasing.html)

[2016-08-22 19:13] mmanoj commented on #249
i got simile like below:
<error:Cannot access memory at address 0x7f486809f186>  at ndpiReader.c : 1157
it also point out ndpi_util.c : 1098

I'm try to reproduce it again and arrange pcap if I get the error.

[2016-08-22 19:20] kYroL01 commented on #249
Thank you @mmanoj

[2016-08-27 16:33] emanuele-f opened #254 "Hotmail IMAPS recognized as Skype"
IP 157.56.195.250. The address range should be fixed.

![skype](https://cloud.githubusercontent.com/assets/5488003/18028639/a90022b0-6c84-11e6-965e-f8c0a55ac142.png)

[2016-08-27 16:46] kYroL01 commented on #254
I'm looking ar the right range

[2016-08-27 20:26] kYroL01 commented on #254
@emanuele-f https://github.com/ntop/nDPI/commit/58e37f813084e1d7c39a7c7014efbd66923e2409 test if this is ok

[2016-08-27 21:24] emanuele-f commented on #254
Yes, thank you, My imaps client always connects to 157.56.195.250 so I cannot help much about other IPs

[2016-08-27 21:28] kYroL01 commented on #254
No problem for the other IPs, i did a check with my Skype and it seems ok.

[2016-08-27 21:28] #254 closed, assigned to nobody

[2016-08-29 06:26] u-Map commented on #249
Extremely sorry for the delay! I've retried it today with latest dev code and still crashing within few seconds / minutes. I'm running it directly from terminal with ./ndpiReader -i eth1

But I cannot reproduce the issue when replaying with pcap taken at the same time. Anyway I've emailed you the pcap.

nDPI 1.8.0-dev-522-7364fcc

Program received signal SIGSEGV, Segmentation fault.
[Switching to

[2016-08-30 15:03] mmanoj commented on #249
@kYroL01 following findings as per my core dump analysis.

Reading symbols from ndpiReader...done.
[New LWP 3527]
[New LWP 3526]
Cannot access memory at address 0xa32017fff275
Cannot access memory at address 0xa32017fff26d
Core was generated by `./ndpiReader -i eth2 -v2'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x000000000040fdd3 in ndpi_parse_packet_line_info (ndpi_struct=

[2016-08-30 15:11] kYroL01 commented on #249
Thanks.So the issue seem to be in the http parser for the line. I have to check better.

[2016-09-02 08:52] mmanoj opened #256 "nDPI integrating with PF_RING"
with reference to previous thread
https://github.com/ntop/nDPI/issues/223
I'm working to integrate nDPI with PF_RING zbalance application. I follow the instructions however I'm not able to initialize ndpi_thread_info[thread_id].workflow with PF ring . Please advise how to proceed this step. Your advice is really appreciated. Also any other helpful advice welcome.

[2016-09-06 08:05] tianzhishuizhu opened #259 "dhcp.c in /nDPI/src/lib/procotols"
Does it need to add `if ((packet->udp != NULL)`**before line 46** in file nDPI/src/lib/protocols/dhcp.c? source code is:

[code]

[2016-09-06 13:58] Opendium commented on #218
This bug also misidentifies STUN traffic associated with Skype as WhatsAppVoice.  pcap attached.

[skype.zip](https://github.com/ntop/nDPI/files/456853/skype.zip)

[2016-09-07 08:32] kYroL01 commented on #259
https://github.com/ntop/nDPI/commit/3ceb19a9c681dd5711d083fa9af894e643036fc3

Completely agree with you, thanks.

[2016-09-07 08:32] #259 closed, assigned to nobody

[2016-09-08 07:33] tianzhishuizhu opened #260 "code optimization in file nDPI/src/lib/protocols/mgcp.c and mssql.c"
in nDPI/src/lib/protocols/mgcp.c line 60~64

[code]

This can be opimized to:

[code]

[2016-09-08 07:39] lucaderi commented on #260
Can you please send a pull request so your name will be included in nDPI?

[2016-09-08 07:55] kYroL01 commented on #260
Yes, @tianzhishuizhu you're right. I checked right now. Waiting for a pull request if u want.

[2016-09-08 08:55] tianzhishuizhu commented on #260
Yeah, I've done this.@kYroL01

[2016-09-08 10:15] dgeorgakakis opened #262 "Questions on string based service classification (hostnames, IPs)"
[code]

1) If there are more than one ovelapping hostnames for the same service ID, does nDPI stop on the first match? E.g. if we have
           a) www.google.games.*  and
           b) www.google.games.europe.*

will the matching algorithm stop on a?

2) Similarly, is it possible to classify ranges of IPs before applying any rules related to the host name?
E.g. 172.15.xx.xx – 172.32.xx.xx classi

[2016-09-08 12:07] tianzhishuizhu commented on #260
Error may exist in the code below(file in nDPI/src/lib/protocols/mssql.c line 43~49), but I don't know how to modify it:

[code]

[2016-09-08 13:48] kYroL01 commented on #262
Hello!

Question 1) Yes, it stops on a as you can see [here](https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L7291)
when a string is found it will check if there is a match with one of these entries.

Question 2) nDPI cannot classify a range of IP as private. This feature is not yet present (maybe we have to introduce it).
If you need to classify an IPs range as private I th

[2016-09-08 14:01] kYroL01 commented on #260
https://github.com/ntop/nDPI/pull/261

[2016-09-08 14:01] #260 closed, assigned to nobody

[2016-09-08 14:42] tianzhishuizhu opened #264 "Error may exist"
Error may exist in the code below

**Question1:**
(file in nDPI/src/lib/protocols/**mssql.c line 43~49**), but I don't know how to modify it. Firstly, it checks the beginning **four bytes**, == 0x1201. But then, it checks the third and forth bytes to be payload_packet_len. I think that may be an error.

[code]

**Question2:**
(file in nDPI/src/lib/protocols/**rsync.c line 40~47**)
Comment shows it

[2016-09-10 13:08] ccfasm commented on #249
I also get this error when I run
./ndpiReader -i em2 -v2

[2016-09-10 17:13] kYroL01 commented on #249
Now I'm not at home. From Monday I'll fix all of this stuff ;)
Thanks to be patient.

[2016-09-11 19:17] lucaderi commented on #249
I have briefly looked at the problem and the code lines do not match. Can you please @ccfasm try to reproduce it with the code in github?

[2016-09-12 01:28] ccfasm commented on #249
@lucaderi
[root@localhost example]# ./ndpiReader -i em2 -v2

---
- NOTE: This is demo app to show _some_ nDPI features.
- In this demo we have implemented only some basic features
- just to show you what you can do with the library. Feel

## \* free to extend it and send us the patches for inclusion

Using nDPI (1.8.0-dev-533-3cd6456) [1 thread(s)]
Capturing live traffic from device em2...
Running

[2016-09-13 07:45] dgeorgakakis commented on #262
Hi again,

  Thanks a lot for your answers! Some follow-up:

4) Answer 2 above is understood. In general, is it possible to configure IP ranges for matching, such as 172.15.15/24?
5) Is it possible to have multiple keywords in a wildcard pattern, eg. “KPN*LOTTE””that would match “KPN-A-LOTTE”? Or combinations, like "poke && NOT poker"?
6) Are the patterns case sensitive?
7) Can they use regular ex

[2016-09-13 12:09] lucaderi commented on #262
We currently use substring matching (no patterns). Yes you can configure range match (See https://github.com/ntop/nDPI/blob/dev/example/protos.txt)

[2016-09-14 22:16] lucaderi commented on #249
Can you please create a pcap file that you can share with me and that it can be used to reproduce the crash?

[2016-09-14 22:32] kYroL01 commented on #249
@ccfasm From this log you posted is impossible to understand anything.
@u-Map @mmanoj without an example that reproduce the issue is impossible for us to fix the problem, also because I tried to reproduced but no errors occurs. I need more details on which causes the sigfault.

[2016-09-14 22:33] #262 closed, assigned to nobody

[2016-09-14 22:45] mmanoj commented on #249
@kYroL01  I will try new code from github and update you the status. Will try to reproduce the issue. Thank you for the effort.

[2016-09-15 14:56] dgeorgakakis opened #268 "Priorities among Hostname rules"
1) Let's assume one nDPI user adds a new sub-protocol with the rule:
      host:"nfl"@NFL

This rule seems to overlap to the nDPI rules for netflix:

_{ "nflxext.com",           "NetFlix",      NDPI_SERVICE_NETFLIX, NDPI_PROTOCOL_FUN },
{ "nflximg.com",            "NetFlix",      NDPI_SERVICE_NETFLIX, NDPI_PROTOCOL_FUN },_

The question is, a packet with hostname "nflxext.com" will match to NetFli

[2016-09-15 15:18] kYroL01 commented on #268
@dgeorgakakis

Yes, for **point 1)** this overlap the nDPI rules (in this case for Netflix) and shows NFL. This is because if you specify a personal file, it takes priority over native nDPI rules.

For **point 2)** it will match with **MobileApp** in case of the string is _mobile.bank_. Instead with **Banking** if the string found is _bank.mobile_

What do you think about all ? Do you think is nec

[2016-09-16 00:17] kYroL01 commented on #264
Question 1: https://github.com/ntop/nDPI/commit/dbb3d8280ea2a5a5697ad8133973838451ef1d6d

Question 2: The comment is wrong, the dissector match correctly as u can see [here](https://www.wireshark.org/docs/dfref/r/rsync.html)

[2016-09-16 00:17] #264 closed, assigned to nobody

[2016-09-17 06:52] smomojo opened #269 "MS_OneDrive Traffic Detected as SSL"
Version 1.8.0

The rule for MS_OneDrive is:

Microsoft Corporation (MS One Drive)
204.79.195.0/24
204.79.196.0/23
134.170.0.0/16
131.253.12.0/22
131.253.16.0/23
131.253.18.0/24
65.54.191.0/24

I can see that my connection to MS servers is using the IP address: 204.79.197.213. It should match the second subnet in this rule definition.

However, nDPI classifies the connection as SSL rather than MS_O

[2016-09-17 07:26] kYroL01 commented on #269
Can you pass me the pcap with MS connection ? It seems that there a wrong match with ip address.
Thanks

[2016-09-18 06:48] smomojo commented on #269
Here you go. Thanks for your help.

[onedrive.zip](https://github.com/ntop/nDPI/files/478565/onedrive.zip)

[2016-09-18 14:44] kYroL01 commented on #269
@smomojo Sorry for answer in late.
I try your pcap and I correctly detect it as MS OneDrive.

Are u sure you're using the latest version of nDPI ?

![drive](https://cloud.githubusercontent.com/assets/7222956/18616602/229045ec-7dbf-11e6-8656-0101388501b4.png)

[2016-09-19 01:36] tianzhishuizhu opened #270 "Does every protocol file need to be executed to detect any protocol"
I've read protocol files in nDPI/src/lib/protocols. Because there are more than 100 files, for detecting a protocol , does it need to compare all the 100 files every time, or history detection is uesd for detection? If so, the process would be very slow, I think. Thanks.

[2016-09-19 12:23] smomojo commented on #269
@kYroL01 thank you. I successfully reproduced your result with ndpiReader version 1.8 (I hadn't used ndpiReader before - it is great for this!) I have my own app that uses the API, and I confirmed that the app loads version 1.8 of the shared library. I guess I must be using the API incorrectly in some way. I'll investigate that by comparing with how ndpiReader works.

[2016-09-19 13:31] dgeorgakakis commented on #268
Hi,

  for **point 1)** We think you have implemented it correctly because one nDPI user who adds a personal file should add more specialized rules which override the more general native nDPI rules.

  for **point 2)** would it be possible to allow defining priority of custom rules (i.e. according to the order inside the personal file)? Would this affect performance and if yes, could this priority

[2016-09-19 14:30] kYroL01 commented on #269
Ok. I close this issue as it's not a nDPI issue.

[2016-09-19 14:30] #269 closed, assigned to nobody

[2016-09-19 15:54] kYroL01 commented on #270
No. nDPI return the first protocol matched with the file.
First of all it search for hostname or ip address protocol matching [(1)](https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc), then every data is passed to the dissectors and the first who matched is the result.
Unfortunately this could cause false positive, so if you are thinking something new for contribution, ideas ar

[2016-09-19 15:54] #270 closed, assigned to nobody

[2016-09-19 16:05] kYroL01 commented on #268
for **point 2)** I don't think this affect on the performance, but I have to think a good way to implement it.
I think a nice idea could be definining priorities (maybe by default _no priorities_ but a user could specified it).
i.e. :
host:"mobile"@**MobileApp** [1]
host:"bank"@**Banking** [2]

So name with 1 has more priority than 2. Are u saying similar thing ?

[2016-09-21 20:09] DigiAngel opened #271 "Feature Request: Expanding ndpiReader"
So ok....I suspect this will get shot down, but I'm going to try any way :)  I LOVE ndpi's protocol detection.  LOVE IT.  Combining ntop/ndpi/ElasticSearch has been amazing.  What I'm trying to do now, is to remove the ntop layer.  I would love to see ndpiReader have a feature which would be able to listen to an interface and dump the flow/protocol information to ElasticSearch..just like the below

[2016-09-22 09:48] JeevanNailwal opened #272 "ndpi binary crashing in ftp_control file."
Hi All,
I am using the ndpi binary for my assignment project. I am trying to use ndpi to get the application and http url info across a router. In between, I came across a crash(Segfault crash). Please find the gdb details of the crash below:

(gdb) bt
#0  ndpi_check_ftp_control (flow=0x7f419cac5e40, ndpi_struct=0x7f419daa81c0)

[code]
#1  ndpi_search_ftp_control (ndpi_struct=0x7f419daa81c0, flow=

[2016-09-22 14:20] kYroL01 commented on #272
Hello @JeevanNailwal I tried with an ftp_control pcap and I don't have any sigfault.
What is the check you think is missing ? Thanks

[2016-09-22 14:26] kYroL01 commented on #271
Hi @DigiAngel I think this is a feature that need time and we first have a discussion if it's usefull to expand ndpiReader in this way.
We'll let you know but thanks for asking and proposing it.

[2016-09-22 14:29] DigiAngel commented on #271
I appreciate it!

[2016-09-22 16:50] JeevanNailwal commented on #272
Hi Michele,
My code crashed twice with same core dump. Once in 3 hours and once in 15
minutes. After analyzing the dump,

My code was crashing on line 942:
if (packet->tcp->dest == htons(25) || packet->tcp->source == htons(25))

I kept a check on top for
if (packet->tcp)

I reached this point and corrected the code. After which, it worked fine.

Regards,
Jeevan Nailwal

On Thu, Sep 22, 2016 at 7:5

[2016-09-22 17:00] kYroL01 commented on #272
You're completely right! https://github.com/ntop/nDPI/commit/d601b0ce205acd9e7b699de2767c6ddac6ed8918

Thank you

[2016-09-22 17:00] #272 closed, assigned to nobody

[2016-09-23 04:56] JeevanNailwal commented on #272
Hi Michele,
One concern regarding the submitted code.Do we really need this big code
check?

In my test setup( and code), I introduced a check for (packet->tcp) for
just 1st if condition.

  if (packet->tcp) {
          if (packet->tcp->dest == htons(25) || packet->tcp->source ==
htons(25)) {
            NDPI_LOG(NDPI_PROTOCOL_FTP_CONTROL, ndpi_struct,
NDPI_LOG_DEBUG, "Exclude FTP_CONTROL.\n");

[2016-09-23 08:25] kYroL01 commented on #272
This is because FTP uses TCP, not UDP.
So, if a packet is carry on UDP, for sure is not FTP. In this way we just quit from dissector and saves time from useless control.
This is also avoid possible false positive.
https://en.wikipedia.org/wiki/File_Transfer_Protocol#Protocol_overview

[2016-09-23 11:55] JeevanNailwal commented on #272
Thanks for the reply and information, Michele.

However, I figured few more places in TCP path where the check was missing.
I am not sure if these paths are being used or not.

./protocols/attic/flash.c
./protocols/attic/ftp.c
./protocols/ftp_data.c
./protocols/smb.c
./protocols/soulseek.c
./protocols/bgp.c
./protocols/whoisdas.c    (On line 28: first, an assignment and then NULL
check!)
./protoco

[2016-09-23 19:39] kYroL01 commented on #272
You're welcome.
Thanks for contribution, tomorrow i'll fix all ;)

Il 23/set/2016 13:55, "JeevanNailwal" notifications@github.com ha scritto:

[2016-09-24 06:42] JeanKerr opened #273 "comments spelling mistake on dev master"
ndpi_main.c, line:2198, /\* Stracraft _/
should be /_ Starcraft */

[2016-09-24 08:28] kYroL01 commented on #273
Are u sure ? What do you mean about "_master_" ? We have **dev** or one of the officials (**1.6** - **1.7** - **1.8**)

dev: https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L2198

[2016-09-24 08:28] #273 closed, assigned to nobody

[2016-09-24 13:27] JeanKerr commented on #273
I mean dev branch:
dev: https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L2193
`/\* Stracraft /

[2016-09-24 13:45] mmanoj commented on #249
@kYroL01 Sorry for the delay, I download latest code today and try to reproduce the error, but couldn't. Will see other people observations.

[2016-09-24 14:08] kYroL01 commented on #249
I think the problem is with some http traffic but not easy to reproduce the issue. I'm trying to do it.

[2016-09-24 14:14] kYroL01 commented on #273
https://github.com/ntop/nDPI/commit/bf778d6df11231df78e2015aac87b47c2f04756e

[2016-09-24 14:15] mmanoj commented on #249
@kYroL01  I will try to get run over large pcap file than live traffic.

[2016-09-25 13:49] tianzhishuizhu commented on #270
I don't know whether my understanding is right after your explanation:

There are more than 100 dissectiors, from dissector 1, dissector 2,dissector 3...
For every protocol and application detection, the process is :
1. Step1: match hostname or ip address.  and this step would filter only a few dissectors for example dissector 1 and dissector 2 from those dissectors.
2. Step2: and then data would

[2016-09-26 06:20] osa030 commented on #249
Hi,
I also have same problem Live capture .

I think cause the snaplen(=1536) pcap_open_live() argument values.(ndpiReader.c)

To reproduce the files captured with the same value(or more small).

$ sudo tcpdump -i enp0s3 -s 1536 -w crash.pcap

// Web access to various....

$ sudo ndpiReader -i crash.pcap

---
- NOTE: This is demo app to show _some_ nDPI features.
- In this demo we have implemented

[2016-09-26 07:58] kYroL01 commented on #249
@osa030 Thanks for the pcap. I'll check and let you know!

[2016-09-26 08:49] kYroL01 commented on #249
I think @osa030 is right and I did the fix https://github.com/ntop/nDPI/commit/1f807a1348c4f831a2b9ba1cc8b70f20c978df3f

I'm looking for a better solution because I'm reading with kernel >= 3.2 there is dynamic way

I please all of you to do a test and let me know results.
Thank you!

[2016-09-26 14:38] kYroL01 commented on #249
So @u-Map @mmanoj @ccfasm I need your tests to see if the issue is fixed.
Thanks

[2016-09-26 18:48] mmanoj commented on #249
@kYroL01  thanks for the quick fix, will test and update the result. I was test last time but unable to reproduce it. However will do more test via offline pcap. Thank you for the effort and support.

[2016-09-27 07:00] lucaderi commented on #249
I don't think that changing the snaplen is the solution but it's just a way to hide the problem. nDPI should work even with minimal snaplen such as 256. I have found a bug in the same function where previously it was crashing and fixed it. Not sure this is the only problem. I encourage you to test the code more in detail and report.

[2016-09-27 07:59] kYroL01 commented on #249
Thanks @lucaderi

[2016-09-27 19:24] kYroL01 commented on #249
I think we could consider this issue solved. Open if necessary

[2016-09-27 19:24] #249 closed, assigned to nobody

[2016-09-28 09:29] mmanoj commented on #249
@lucaderi  and @kYroL01  Thank you, will update if we able to reproduce or issue appeared again.

[2016-09-28 15:50] lucaderi commented on #219
This bug cannot be reproduced and for me it works

[2016-09-28 15:50] #219 closed, assigned to nobody

[2016-09-28 16:16] lucaderi commented on #218
I have fixed the issues identified. In case STUN is still not recognised properly, please open a new issue and attach a pcap file as evidence

[2016-09-28 16:16] #218 closed, assigned to nobody

[2016-09-28 16:18] lucaderi commented on #5
As a workaround we suggest to use a shared library of nDPI and reload it at runtime. In the future we'll investigate if there is a better solution

[2016-09-28 16:18] #5 closed

[2016-09-28 16:19] lucaderi commented on #256
Duplicate of #223

[2016-09-28 16:19] #256 closed, assigned to nobody

[2016-09-30 20:28] DigiAngel opened #274 "SSL Session re-use identified as ssl_no_cert"
So I guess technically on the wire indeed there was no cert during the session, however after capturing these are actually ssl session reuse:
![2016-09-30 14_27_33-ssl-session-reuse pcapng wireshark 2 2 0 v2 2 0-0-g5368c50 from master-2 2](https://cloud.githubusercontent.com/assets/947191/19005862/0ecc5910-871a-11e6-8ad1-b543ae8cbc68.jpg)

wondering if this should be re-labeled?  Thank you.

[2016-10-03 05:21] JeevanNailwal commented on #272
Hi Michele,
Did you got time to lookup on these checks (one which i stated in my
earlier mail)
as i am getting a fresh code crash in ftp_data.c

o/p of bt:

(gdb) bt
#0  0x00007f8f301c76f6 in ndpi_match_ftp_data_port (
    ndpi_struct=<optimized out>, flow=0x7f8fc48d6980)
    at protocols/ftp_data.c:37
#1  ndpi_check_ftp_data (flow=0x7f8fc48d6980, ndpi_struct=0x7f8fc568ffc0)
    at protocols/ftp_d

[2016-10-03 07:46] kYroL01 commented on #272
Hi @JeevanNailwal
For ftp_data I already did it https://github.com/ntop/nDPI/commit/d601b0ce205acd9e7b699de2767c6ddac6ed8918
Update nDPI

[2016-10-05 07:52] kYroL01 commented on #274
@DigiAngel Can u send me the pcap for this behaviour ?
Thanks

[2016-10-07 05:29] JeevanNailwal commented on #272
Hi Michele,
Today, I encountered one more crash in msn.c.(after correcting error at
other places in my code in ftp and other files)

Crach was in line 473 in function ndpi_search_msn_tcp.
First I thought that its the same issue which I am observing with other tcp
checks but on deep analysis, I figured that function "ndpi_search_msn_tcp"
is getting called in line 550 after the packet's tcp pointer

[2016-10-07 09:12] kYroL01 commented on #272
Where's the problem with this ? We checked if the connection is UDP or TCP, then if is a **TCP** packet is called ndpi_search_msn_**tcp**; if it's a **UDP**, ndpi_search_msn_**udp**.
I think this is correct.

So, your fix could be right IF the tcp check does not exists. But it is. So I don't understand very well.
Can u pass me a pcap to reproduce this bug ?

[2016-10-07 09:16] JeevanNailwal commented on #272
Michele, the machine where I am testing this log, I cant make the pcap file
as the problem occurs after 7-8 hours of testing and I don't have that big
space to save the pcap file.
I will reproduce the issue and will provide you the core dump.

On Fri, Oct 7, 2016 at 2:43 PM, Michele Campus notifications@github.com
wrote:

[2016-10-07 09:20] kYroL01 commented on #272
Ok I'm waiting for updates.
Thanks

[2016-10-10 15:09] fabix71 opened #275 "realvnc decoded as skype"
[realvnc_ex.zip](https://github.com/ntop/nDPI/files/519790/realvnc_ex.zip)

[2016-10-10 18:06] kYroL01 commented on #275
Thanks for reporting. I'll check asap

Il 10/ott/2016 17:30, "fabix71" notifications@github.com ha scritto:

[2016-10-11 22:11] kYroL01 commented on #275
fixed by https://github.com/ntop/nDPI/commit/3b95cd9a1133071ebf475c58aa830f83965bb889

[2016-10-11 22:11] #275 closed, assigned to nobody

[2016-10-14 16:49] spellgen opened #277 "Debugging flags"
I'm looking to get a little more insight into where the go-wrapper I'm working on is failing.

I can get some debugging with `./configure "-D DEBUG"` but I wanted to define the symbol `NDPI_ENABLE_DEBUG_MESSAGES` as well.

This seems to be broken. It breaks in the code below. `ndpi_str` is missing. Could be it was intended to be a global, or more likely, would need to have a detection struct passe

[2016-10-14 22:48] kYroL01 commented on #277
Maybe this https://github.com/ntop/nDPI/commit/df6b71c5ea03485949f896036881fdbf6ae9f6b7 fix the problem.
Re-open in case this does not solve all. Thanks

[2016-10-14 22:48] #277 closed, assigned to nobody

[2016-10-17 10:13] JeevanNailwal commented on #272
Hi Michele,
Sorry for the delay as I was stuck with some more issues.
Please find the attached file for more information on crash in msn.c.
I used 2 different version of msn.c to compare if my problem has any
connection with the latest update on the file, but all in vain. I am
getting this crash with bth files. Both files are attached for your
reference. Note that the below crash was detected with

[2016-10-17 13:35] kYroL01 commented on #272
I don't see any attached pcap file

[2016-10-17 15:27] kYroL01 commented on #272
Ok @JeevanNailwal I used another pcap and I understand the problem.
The dissector recognize msn just in case the port is 443, but is not good because new versions now work on other ports.
I fix the dissector but if u share me your pcap could be better also to have more packets.
Thanks

[2016-10-17 16:50] kYroL01 commented on #272
@JeevanNailwal  https://github.com/ntop/nDPI/commit/94c134318bc2e2b36f44cdb9e20efedf9ad99060

[2016-10-18 04:46] JeevanNailwal commented on #272
Thanks for the changes Michele.
As I said earlier that my problem(crash) occurs after 1 or 1.5 hrs in my
set up and collecting such a big pcap is out of my setup's limit. :(

I will try with your fix and see if the problem resolved or not.

Thanks once again for your patience and time.

Regards,
Jeevan

On Mon, Oct 17, 2016 at 10:20 PM, Michele Campus notifications@github.com
wrote:

[2016-10-18 09:40] kYroL01 commented on #272
For sure this fix was necessary because I tried a new pcap for msn and was not detected. Now yes.
In any case, let me know.

B R,
Michele

[2016-10-24 21:37] kYroL01 commented on #213
After analyzed that pcap, I think that is not a good WhatsApp session.
I did a test and WA is still detected.
Please open a new issue in case of problems.
Thanks

[2016-10-24 21:37] #213 closed, assigned to nobody

[2016-10-24 21:40] #103 closed, assigned to nobody

[2016-10-24 21:43] kYroL01 commented on #274
@DigiAngel Closed for inactivity. Re-open if u need.
Thanks

[2016-10-24 21:43] #274 closed, assigned to nobody

[2016-10-24 22:04] DigiAngel commented on #274
Ah poop...sorry..I don't think I got the notification for this :(  Anyway thank you.

[2016-10-24 22:07] kYroL01 commented on #274
No problem. Re-open if u need with the proper pcap. Thanks

[2016-10-28 22:04] arcanez opened #281 "ndpiReader cannot read NFLOG captures"
a `tcpdump`/`dumpcap` from an `NFLOG` source is not readable by `ndpiReader`. one from `eth0` is fine.

[code]

[code]

it quickly returns all 0s

[code]

[2016-10-28 22:21] kYroL01 commented on #281
This is because nDPI doesn't support netfilter anymore. If you need netfilter support I suggest you to use one of the many forks that support it.
For example https://github.com/ewildgoose/ndpi-netfilter

[2016-10-28 22:21] #281 closed, assigned to nobody

[2016-10-29 09:43] vel21ripn commented on #281
See code in https://github.com/vel21ripn/nDPI. ndpiReader can read .pcap nflog.

[2016-11-01 22:32] stathisgotsis opened #282 "Most optimimal usage of nDPI"
I am wondering what is the simplest and most optimal usage of nDPI in a flow processing application. I go with the following code for initialization:

`struct ndpi_detection_module_struct *ndpi_module = ndpi_init_detection_module();`
`ndpi_module->http_dont_dissect_response = 1;`

`NDPI_PROTOCOL_BITMASK all;`
`memset(&all, 0xFF, sizeof(all));`
`ndpi_set_protocol_detection_bitmask2(ndpi_module, &al

[2016-11-01 22:34] stathisgotsis opened #283 "Number of packets needed for classification"
What would you expect as a reasonable number of packets needed for the classification of a flow ? I am referring to "typical" internet traffic.

I have seen around 70pkts which seems too much to me.

[2016-11-02 03:37] Skryabind commented on #283
As of my experience it's 20-30 packets enough to classify a flow. I tested it in version 1.7.0.

[2016-11-02 11:12] kYroL01 commented on #283
@stathisgotsis actually it depends on the application or protocol that u need to classify.
70 pkts is too much for sure and nDPI spend much less. For many application the avg is ~10 and it depends also if application is UDP or TCP.

[2016-11-02 11:12] #283 closed, assigned to nobody

[2016-11-02 11:28] emanuele-f commented on #282
You can look at/use the routines implemented in https://github.com/ntop/nDPI/blob/dev/example/ndpi_util.h /.c file, which simplify your life a lot. It is still an experimental API but it can used to esily setup things and write a clean program. Take a look at https://github.com/emanuele-f/DNSleak for an usage example.

[2016-11-02 11:34] kYroL01 commented on #282
in nDPI there are many important data structures:
`struct ndpi_detection_module_struct` and `struct ndpi_flow_struct` are the two main structures to pass to function to keep the status of the work (i.e. look https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_api.h#L300).
Inside a flow, every packets are dissect to understand how is the own protocol.

As @emanuele-f says, take a look at that fi

[2016-11-02 11:34] #282 closed, assigned to nobody

[2016-11-02 23:11] stathisgotsis commented on #282
Thanks for your suggestions. I am doing the ip flow accounting / engine myself, that is why I chose to only use: ndpi_detection_process_packet, as I showed above. However, as a result, I see a lot of flows with ports 80,443 to remain unclassified; I suppose I need to do ndpi_find_port_based_protocol() before ndpi_detection_process_packet()?

[2016-11-02 23:23] stathisgotsis opened #284 "How to extract hostname for HTTP/HTTPS"
What is the proper way to extract the hostname for HTTP/HTTPS?

I see that it is sometimes filled in ndpi_flow_struct.host_server_name or ndpi_flow_struct.protos.ssl.client_certificate[0] after calling ndpi_detection_process_packet(). But what would be the proper way to extract it when available? Does ndpi_detection_process_packet() always force such extraction?

[2016-11-02 23:25] kYroL01 commented on #282
The classification is done by port matching and dissectors. If you don't have this you cannot classify properly.

[2016-11-03 11:04] kYroL01 commented on #284
The extraction is made by inside the http dissector (for http) and ssl dissector (for https).
1. https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/http.c#L314
2. https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/ssl.c#L313

Then the extracted information are saved in the main flow data structure to properly detect the subprotocol (i.e. if an HTTP packet has hostname for google, it's de

[2016-11-03 11:04] #284 closed, assigned to nobody

[2016-11-03 15:35] waqas-latif opened #287 "testing pcap range extension"
Hi,

This is an awesome DPI project and servers the purpose with quite an accuracy. I would love to see the updated test pcap file with which we can trigger/detect all supported protocols.

Thanks

[2016-11-03 15:41] kYroL01 commented on #287
If you want to see the test pcaps look [here](https://github.com/ntop/nDPI/tree/dev/tests).
[Here](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h) you can see all the protocols and services detected.

[2016-11-03 15:41] #287 closed, assigned to nobody

[2016-11-12 18:00] mkfsn opened #291 "Strange call of printf"
I found a strange call of `printf` in `src/lib/ndpi_main.c:1750`:

[code]

I'm wondering if it should be changed to `NDPI_LOG` ?

[2016-11-14 01:49] tianzhishuizhu opened #293 "How does array ndpi_ndpi_mask fds_bits works in nDPI"
I have read deeply about ndpiReader.c. But I still can't understand how `ndpi_ndpi_mask fds_bits[NDPI_NUM_FDS_BITS]`  works. Are there any images to illustrate how the specific bitmask is set or clear in the detection for a specific protocol? Thanks for the whole project and I hope I could do something for this project one day.

[2016-11-14 11:53] kYroL01 commented on #293
If you see [here](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_define.h#L224) you can see theat _fds_bits_ is an array of `u_int32_t ndpi_ndpi_mask` of size `NDPI_NUM_FDS_BITS` defined in the structure to managed the [protocol bitmask](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_typedefs.h#L61).

So, it is kinda a mask of bits to remember the protocols. For example if you see

[2016-11-14 11:53] #293 closed, assigned to nobody

[2016-11-14 12:36] kYroL01 commented on #291
You're right.
Fixed by https://github.com/ntop/nDPI/commit/61c8dca469b7129731d91da842e9ae4ad6dcd782

[2016-11-14 12:36] #291 closed, assigned to nobody

[2016-11-15 03:20] mkfsn commented on #224
Hi, I make a solution for it, and here is my solution:

https://github.com/mkfsn/nDPI/commit/66e646bed58f5354c19727671e9194f4ceefc005

[2016-11-15 06:38] alagoutte commented on #224
Look good, it is possible to make a PR ?

[2016-11-15 06:48] mkfsn commented on #224
@alagoutte: I'm new to Github projects, should I make a new PR for this, or [attach a PR to this issue](https://www.topbug.net/blog/2012/03/25/attach-a-pull-request-to-an-existing-github-issue/) ?

Thank you.

[2016-11-15 09:25] kYroL01 commented on #224
@mkfsn Thanks for your work.
Just send a pull request normally, then I check it and merge into the main project.
If it's good I close this issue after merge.
Thanks

[2016-11-15 11:03] kYroL01 commented on #224
Implemented [here](https://github.com/ntop/nDPI/commit/0f94a46f868e6818790b0c278121c081a63c9eeb)

[2016-11-15 11:03] #224 closed, assigned to nobody

[2016-11-15 11:04] kYroL01 commented on #198
@alagoutte any update for HSRP support ?

[2016-11-15 11:34] alagoutte commented on #198
Sorry to busy for the moment...

[2016-11-15 11:34] kYroL01 commented on #198
No problem, just to know.

[2016-11-17 11:50] p2yogi opened #297 "nDPI code has changed but nDPI_quickstart guide has description according to previous API."
Hi,

I am working on a solution where I need to use nDPI library to get application ID of an incoming packet.
So my query is how to start  nDPI engine and what is needed for the API to give the application ID.

As in quickstart guide API has been changed.
For eg. in quick start guide:

NDPI_PROTOCOL_BITMASK all;
ndpi_struct = ndpi_init_detection_module(
detection_ticks_resolution,
malloc_wrapper,

[2016-11-18 09:14] kYroL01 commented on #297
@p2yogi You are right. nDPI documentation about API must be rewrite properly to help anyone who wanna use the API.

For the example you mentioned, the signature is changed as you correctly say, so to create a new module for the detection, you just call that function without any params. See [here](https://github.com/ntop/nDPI/blob/e9f00a4e8a6995ffb79e7efbe1f183cb7a833632/src/include/ndpi_api.h#L125

[2016-11-18 09:14] #297 closed, assigned to nobody

[2016-11-18 14:10] waqas-latif opened #299 "detected services and protocol test pcaps insufficient"
I am testing ndpi to check which services and protocol it detects. Ofcourse, I went through the protocol list on the [website](http://www.ntop.org/products/deep-packet-inspection/ndpi/) and also from the [ndpi_protocol_ids.h](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h). When I used the test pcaps from the repo, it didnt detect all the listed protocols(see attached nDPI_p

[2016-11-18 16:14] kYroL01 commented on #299
The list you see in the webpage is made before version 1.8, so in the meanwhile any protocols are added, any fixed and any deleted.
I.e. I saw your list and I did a test with a protocol you say not detected, Netflix.
Here the screenshot about Netflix detection:
![netflix](https://cloud.githubusercontent.com/assets/7222956/20436634/46218d1e-adb1-11e6-8894-cc583277ebe4.png)
So, it is detected.
The s

[2016-11-18 16:14] #299 closed, assigned to nobody

[2016-11-18 16:20] mgigante opened #300 "Facebook traffic from iOS and Android apps not identified"
Hello,
during tests with libndpi I got traffic done by facebook app on iOS and Android devices not being identified as Facebook protocol; nor the DNS requests neither the actual traffic.
While Facebook protocol is correctly identified by using the web browser on a windows machine.

I made tests with:

- b60e82c7022db45246b5914c3b28bcc9c1194ca8 commit with libndpi linked to a modified version of ip

[2016-11-18 16:25] kYroL01 commented on #300
I'm checking

[2016-11-18 16:54] kYroL01 commented on #300
Thanks to your pcap I also notice a missing Apple service.
Please be patient I hope to solve soon.

[2016-11-18 18:38] kYroL01 commented on #300
I uderstand the issue. Is a parser problem in DNS and HTTP packet dissector.
I'll fix asap.
Thanks

[2016-11-18 18:56] max197616 opened #301 "Bug in ssl/stripCertificateTrailer"
I met the following server name in the dumps: www_oxwugzccvk3dk6tj.onion.link. stripCertificateTrailer function is reduced server name to the www. I think that you must modify this function like:

diff -ruN nDPI/src/lib/protocols/ssl.c nDPI.new/src/lib/protocols/ssl.c
--- nDPI/src/lib/protocols/ssl.c        2016-11-16 21:40:09.335240761 +0300
+++ nDPI.new/src/lib/protocols/ssl.c    2016-11-16 21:3

[2016-11-18 19:22] kYroL01 commented on #300
Check https://github.com/ntop/nDPI/commit/1fbe25f91e87282c22e317e5f7b4c9cdccf2e8ad

[2016-11-19 22:20] mgigante commented on #300
Thanks for the fix. It looks ok from a first test with ndpiReader. On Monday I can fully check with my test environment. I'll keep you posted.

[2016-11-20 09:53] kYroL01 commented on #300
Thanks to you for the reporting.
I'll keep open this issue waiting for your test.

[2016-11-20 12:20] kYroL01 commented on #301
Fixed. Thanks

[2016-11-20 12:20] #301 closed, assigned to nobody

[2016-11-21 09:58] mgigante commented on #300
I made some test using Android and iOS facebook apps. While with iOS app the Facebook packets are correctly identified, with android app some belonging to SSL connection are not detected.
I'm attaching new pcaps got before and after packet filtering (lan-in_andorid.pcap and wan-out_andorid.pcap).

Here is a quick description of my test environment.
- a router between lan a wan networks doing filte

[2016-11-21 10:20] alagoutte commented on #300
if you look the conversation 5 (tcp.stream eq 5 with Wireshark), the traffic don't look to be SSL... (but a QUIC protocol on top of TCP...)

[2016-11-21 10:25] kYroL01 commented on #300
I'm going to check it.

[2016-11-21 11:36] kYroL01 commented on #300
@alagoutte my Wireshark does not show any QUIC. I see SSL.
Version 2.2.1

[2016-11-21 11:37] alagoutte commented on #300
@kYroL01 Yes but it is no valid SSL...

[2016-11-21 14:18] kYroL01 commented on #300
@alagoutte can u explain me better about this point?
Thanks

[2016-11-21 14:28] alagoutte commented on #300
@kYroL01 if you look, there is no TLS Handshake... and it look very similar to QUIC handshake (but QUIC work on UDP...)

[2016-11-21 14:33] kYroL01 commented on #300
@alagoutte Yep, I'm agree with you. This is why I asked you about QUIC because is not work on TCP.

[2016-11-21 15:15] kYroL01 commented on #300
@mgigante
https://github.com/ntop/nDPI/commit/4e1c301b2a6cffd5c871e5e9dbc51c186587d3a5
Now the detection is present and improved.

[2016-11-21 15:53] mgigante commented on #300
I made a very quick test, but it looks the traffic is not identified (at least part of it). New pcap as attachment.

[facebook.pcaps.zip](https://github.com/ntop/nDPI/files/604071/facebook.pcaps.zip)

[2016-11-21 16:15] kYroL01 commented on #300
Actually the traffic is defined, of course not all of them. It's impossible to detect all the ssl traffic as facebook.
I'm going to check the last pcap

[2016-11-21 16:29] kYroL01 commented on #300
I check and I added an ip range missed for facebook server detection.

[2016-11-21 16:51] kYroL01 commented on #236
I understand your doubt.
If you see the log resume stats, yes, total **ethernet bytes** are **13372845**,
but if you see 3 lines above you can see **IP bytes** are **12996093** that exactly the sum of every lines you see under Detected protocols:
10998+10933+18398+1146+60054+36478+594+12391115+60737+404125+1515 = **12996093**
Remember that non-IP packets (and its bytes) are not counted.

[2016-11-21 16:51] #236 closed, assigned to nobody

[2016-11-22 12:47] alagoutte commented on #300
May be use a more complete list ? http://bgp.he.net/AS32934#_prefixes

[2016-11-22 12:49] alagoutte commented on #300
I get/found some detail with this strange protocol, it is Facebook TCP Zero Protocol jammed from QUIC stuff...

[2016-11-22 15:42] kYroL01 commented on #300
@alagoutte thanks for the list.
Which kind of protocol do you refer ? the one in the pcaps ?

[2016-11-22 15:54] alagoutte commented on #300
Yes from lan-in_android.pcap (tcp.stream eq 5, packet 23)  start with 1QTV0....CHLO

[2016-11-22 15:55] kYroL01 commented on #300
We have to investigate better IMHO.

[2016-11-23 06:35] p2yogi opened #304 "ndpi_main.h: No such file or directory"
Hi All,

  I am new to using nDPI library and facing a problem.

I am using nDPI APIs and structures defined in ndpi_main.h and hence including ndpi_main.h in my file.
i have downloaded the ndpi source code and followed below mentioned steps.
./configure
make
make install

And after following these steps I am getting above mentioned error.

Thanks for helping me.

[2016-11-23 06:50] kyunghopark opened #305 "undefined reference to 'ndpi_set_detected_protocol'"
I wan to change the ndpiReader.c  using the dynamic library(libndpi.so) instead of static library(libndpi.a).
After changing the makefile, i compiled the source,
but the compile is failed with the following reasons.
(I used the version 1.7 and 1.8 but the result is same.)
"undefined reference to 'ndpi_set_detected_protocol' and 'ndpi_protocol2name'.

i copyed the libndpi.so to /usr/local/lib.
expo

[2016-11-24 06:22] p2yogi commented on #304
In quickguide, it says we can directly include "ndpi_main.h" to our application code. but then while compiling it is giving error as mentioned in this issue subject...

Thanks

[2016-11-24 08:59] kYroL01 commented on #300
@mgigante any update if I can close this issue ?

[2016-11-24 09:16] kYroL01 commented on #304
Hi @p2yogi .
Can you post exactly what your compiler says ?
It's strange because ndpi_main.h is in the library.

[2016-11-24 09:26] kYroL01 commented on #305
How did you change the Makefile ?
It seems you miss the reference to ndpi_main.h (where is the prototype of that two functions).

[2016-11-24 09:30] mgigante commented on #300
@kYroL01 I tested the latest code yesterday and still not all facebook app traffic on android get caught. I haven't had the chance to further investigate. I'll send and update by today. Thanks!

[2016-11-24 09:34] kYroL01 commented on #300
I did not put all the FB server name yet, maybe is for that.

2016-11-24 10:30 GMT+01:00 Marco Gigante <notifications@github.com>:

--
Michele Campus

[2016-11-24 11:20] mgigante commented on #300
I have flows classified ad SSL.Facebook by ndpiReader, still not detected by ipfw-classifyd+nDPI. E.g. connections to ip addresses in 31.13.74.0/24 and 31.13.86.0/24 subnets, which are in the list into ndpi_content_match.c.inc. I'll check whether ipfw-classifyd is doing something wrong or the problem lies somewhere else.

You refer to facebook names for DNS requests, right?

[2016-11-24 11:25] p2yogi commented on #304
Hi @kYroL01,

   Actually while compiling my code, I have added ndpi_main.h as header filesimilar to quickguide. But compiler is throwing error as given below:

In file included from /home/user/yog/vs/VFP/ctrl_sync/vs_ds/src/vs_ds.c:1:0:
/home/user/yog/vs/VFP/ctrl_sync/vs_ds/inc/vs_ds.h:2:23: fatal error: ndpi_main.h: No such file or directory
 #include "ndpi_main.h"
                       ^
So I

[2016-11-24 11:35] kYroL01 commented on #300
I think this is not a problem of nDPI.
I mean nDPI detect correctly 31.13.74.0/24 and 31.13.86.0/24 subnets as facebook traffic (because they are ip addresses of facebook servers), so the problem maybe is how your nDPI received the packets.

nDPI refers to Facebook with DNS host names, SLL host names and also IP subnet ranges (wich is specify in ndpi_content_match.c.inc).

[2016-11-24 11:44] kYroL01 commented on #304
Are u sure you put correctly the library in the correct place (same folder) of your project ? Because it seems that when you want to include ndpi_main.h in your vs_ds.h, compiler not able to find it.
Check correctly the path

[2016-11-24 12:17] p2yogi commented on #304
nDPI library folder is placed in /home/user/yog/nDPI right now.

I will place it in /home/user/yog/vs/VFP or else I can give the path of libarary in my makefile as
   /home/user/yog/nDPI/src/include

I would try with these and compile again. It should work.

Thanks for your reply. I would update you with the result after my iteration.

[2016-11-24 13:13] p2yogi commented on #304
hi @kYroL01.

  I did above mentioned iterations, and it is getting compiled.

Thanks

[2016-11-24 13:27] kYroL01 commented on #304
You're welcome

[2016-11-24 13:27] #304 closed, assigned to nobody

[2016-11-25 02:15] kyunghopark commented on #305
The ndpReader.c file includes the ndpi_api.h which including the ndpi_main.h.

I changed the Makefile like the following.(Makefile in example directory)
 (Of course, i copyed the libnpid.so file to /usr/local/lib)
1) 110 line : ndpiReader_DEPENDENCIES = $(top_builddir)/src/lib/libndpi.la
   ==> ndpiReader_DEPENDENCIES = $(top_builddir)
2) 305 line : LDADD = $(top_builddir)/src/lib/libndpi.la -lpca

[2016-11-27 06:31] p2yogi opened #307 "undefined reference to many api like "ndpi_set_protocol_detection_bitmask2""
Hi,

  After restarting my machine. I have starting to face this issue,

My project has two folders one which is ndpi library and other is my project related files.
I am using ndpi api for application identification. Hence I have included 'ndpi_main.h' in my project file. I have given the path of ndpi library as well for compilation and linking in my make file as shown below:

:   CFLAGS += -I/hom

[2016-11-29 14:24] mgigante commented on #300
Sorry for the late update. I made a debug session and I guess I narrowed down the problem I'm facing.
As attachment a pcap of a four packets SSL connection to Facebook which escapes my filter application, while ndpiReader correctly classifies as SSL.Facebook.

By adding packet dump and print of detected protocol just after ndpi_detection_process_packet() call at line [486](https://github.com/ntop/

[2016-11-29 15:05] kYroL01 commented on #300
nDPI library detect a protocol or application if there is L5 (or L7 it depends on you see the ISO/OSI) level, so if there is a payload of Application level.
Basically the three way handshake are TCP packets; nDPI detect it as TCP but there is no application level so this is why this pkts are detected as UNKNOWN.
This is the behaviour of nDPI.

BUT I isolated your first three pkts and nDPI detect i

[2016-11-29 16:17] mgigante commented on #300
Ok, thanks for the explanation.

I have a FreeBSD based router with a set of pf (the packet filter) rules which do:
- divert packets arriving on a "lan" interface to user space application (via divert(4) socket)
- user space application classifies each packet using nDPI
- if packets match a set of protocol, they are discarded (in order to block the connection)
- otherwise packets are re-injected i

[2016-11-30 15:24] depraved22 opened #309 "Capture Plex Traffic"
I have a pretty simple config yet I seem to be missing something kinda easy.

I'm trying to capture plex traffic. It runs on TCP port 32400 and is accessible via a port map to the internet and folks can connect to that port to play content.

My custom proto looks simple:

tcp:32400@Plex

I can get it to match if my server initiates the connection but if it comes the other way, it is marked SSL ins

[2016-11-30 15:34] kYroL01 commented on #309
Simple: Plex is not classified service in nDPI.
It is not your fault.
So, if u provide a pcap I'll see on how to put plex inside the library.
Thanks

[2016-11-30 15:38] depraved22 commented on #309
What's the best way to provide that (I'm good with the actual command to capture the traffic)?

[2016-11-30 15:56] kYroL01 commented on #309
Did you try to put **tcp:32400@Plex** in a file .txt and pass to the library with option -p ?
If u did this and nDPI does not show Plex I think there is a bug to solve in the library.

[2016-11-30 15:58] depraved22 commented on #309
Yep:

[code]

`Startup Line	ntopng --interface "p3p1" --http-port "3000" --dns-mode "1" --local-networks "192.168.1.0/24" --data-dir "/var/tmp/ntopng" --disable-autologout "" --ndpi-protocols "/etc/ntopng/custom.protos" --http-prefix "/ntopng" --daemon "" --disable-login "1" --dump-flows "mysql;localhost;ntopng;flows;ntopng;xxxxx"`

[2016-11-30 16:01] kYroL01 commented on #309
Can u provide me this pcap to do a test ? I tried with another pcap and works.
Thanks

[2016-11-30 16:01] depraved22 commented on #309
Here is the packet capture as well.

[capture.pcap.zip](https://github.com/ntop/nDPI/files/622271/capture.pcap.zip)

[2016-11-30 16:16] kYroL01 commented on #309
I tested and I realized that is **not** a nDPI issue.
If you try the ndpiReader with _-p custom.protos_ you see that _Plex_ is correctly identified.
So I think there's a bug in ntopng side.
Open an issue on ntopng repo and refer to this issue.
Please specify also how you start ntopng.
Thanks

[2016-11-30 16:16] #309 closed, assigned to nobody

[2016-12-01 09:04] a7lan opened #310 "iis.net and g2a.com detects as TOR"

[2016-12-01 09:47] p2yogi commented on #307
Dynamic linking is working..

[2016-12-01 09:47] #307 closed, assigned to nobody

[2016-12-01 09:52] p2yogi opened #311 "QUIC is only detected"
Hi

   I have used nDPI api for application identification in my solution. It is detecting applications like bit-torrent and skype.

But when I am opening any application like facebook, twitter etc on google chromium browser. My application is only detecting ap id as 188 (Quic) and nothing else. whereas in ndpiReader example it is detecting quic and other thing as well like http.

So I had a query

[2016-12-01 10:18] kYroL01 commented on #311
I'm not sure if I understand.
It is a fault of nDPI or the application you're using ?
Of course nDPI has the concept of flows for sessions, it is not a packet sniffer (like Wireshark).
I.e. this is flow struct for a [tcp session](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_typedefs.h#L447)

So, if nDPI detect protos correctly, I close this issue.

[2016-12-01 10:18] #311 closed, assigned to nobody

[2016-12-01 10:19] kYroL01 commented on #310
Can u provide a pcap for this issue ? Thanks

[2016-12-01 11:18] mgigante commented on #300
I have a question related to my previous post.
By processing just the first packet, ndpi_detection_process_packet() returns NDPI_PROTOCOL_UNKNOWN and looks to set guessed protocol to SSL.Facebook into struct ndpi_flow_struct.guessed_protocol_id, ndpi_flow_struct.guessed_host_protocol_id.
Is there any API to retrieve guessed protocol, or should I directly access to those flow fields?
Thanks

[2016-12-01 12:49] a7lan commented on #310
Yes, but not today. Maybe tomorrow

[2016-12-01 14:43] kYroL01 commented on #300
I think you refer to [this](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_api.h#L348)

[2016-12-06 09:19] mgigante commented on #300
It was it!
I can detect and eventually block Facebook traffic from/to android app as well.

Just to better clarify me how ndpi engine works:
ndpi_detection_process_packet() processes the packets flow and may not return a known protocol until a number of processed packets, as in "protocol not fully detected yet".
ndpi_guess_undetected_protocol() returns the best guessed protocol so far for a flow.

[2016-12-06 15:51] kYroL01 commented on #300
Actually, every packets return a protocol (or PROTOCOL UNKNOWN if no packets match with any dissector or any ip-range or host name), but the same packet belongs to a flow that could be another protocol than the single packet.
The ndpi_guess_undetected_protocol is like you say. In fact if you want to disable guess and use only DPI in ndpiReader, use the option _-d_

Thanks to you.

[2016-12-06 15:51] #300 closed, assigned to kYroL01

[2016-12-07 08:30] sologub opened #313 "IPVERSION definition missing"
I see constant IPVERSION is used in a few places but I can't find its definition and get a compilation error.
Is this a bug or am I missing something?

[2016-12-07 09:01] mkfsn commented on #313
I found the include here https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_includes.h#L45 :

[code]

and found  `IPVERSION` is defined in `netinet/ip.h`:

[code]

[2016-12-07 09:05] kYroL01 commented on #313
Yes is like @mkfsn says, so you have compilation error if you don't include **netinet/ip.h**

[2016-12-07 09:05] #313 closed, assigned to nobody

[2016-12-07 09:06] kYroL01 commented on #313
Look here http://unix.superglobalmegacorp.com/Net2/newsrc/netinet/ip.h.html

[2016-12-07 09:48] tianzhishuizhu opened #315 "confused about tcp retransmission in function ndpi_connection_tracking"
How does variable `ndpi_struct->tcp_max_retransmission_window_size`  work in tcp retransmission checking? Its value is 65536 in decimal.
In ndpi_main.c from line 3055, function  ndpi_connection_tracking():
[code]

My understanding:
// for simplification
[code]
I would think that if a1 < a2, that means retransmission happens. **Because a1 and a2 are u_int32_t, a1-a2 would be very large when a1 < a2

[2016-12-07 10:10] kYroL01 commented on #315
Retransmission happens exactly as the code says:

[code]

So if the difference between the actual pkt seq number and the next pkt seq number is bigger than the maximum dimension of the window size, that means you have a retrasmission of a tcp packet, and _packet->tcp_retransmission_ is set to 1.

[2016-12-07 10:10] #315 closed, assigned to nobody

[2016-12-07 10:27] tianzhishuizhu commented on #315
I debug with following code:
[code]

Only "real seq less than expected"  outputs.

[2016-12-07 10:29] kYroL01 commented on #315
Correct: **123456789** > **65536**  --> retrasmission

[2016-12-08 10:32] kYroL01 commented on #310
@a7lan any news ?

[2016-12-08 11:41] a7lan commented on #310
Yes. Sorry to keep you waiting. 2 pcap file. iis.net.
First file without tor block rule and second file with tor block rule
[pcap.zip](https://github.com/ntop/nDPI/files/639272/pcap.zip)

[2016-12-08 15:33] TTpartizan opened #316 "ndpi-netfilter for 1.8 or dev"
Hi
For 1.8 or dev (kernel 4.4 iptables-1.4.21) not compile ndpi-netfilter
Maybe someone make the a working fork?
https://github.com/ewildgoose/ndpi-netfilter

[2016-12-08 17:16] kYroL01 commented on #316
nDPI don't support anymore netfilter, so if you need to use it , look at any fork project that still maintain the netfliter support.

Maybe the upgratest work is this https://github.com/vel21ripn/nDPI

[2016-12-08 17:16] #316 closed, assigned to nobody

[2016-12-08 17:18] kYroL01 commented on #310
Thanks. I'll see it

[2016-12-08 17:23] kYroL01 commented on #310
I pass pcap to ndpiReader but they're both detected as SSL, not TOR.
Are u sure to use the latest version of nDPI ?

[2016-12-09 06:11] p2yogi opened #317 "String Pattern Matching....??"
Hi,

ndpi_detection_process_packet() API is called with particular arguments and we get result as application/protocol ID.

As DPI supports string pattern matching, so does ndpi has any api which does this....??
like: Any url with some string as keyword which could be detected by nDPI library and further can be used...??

Are any other API s...??

[2016-12-09 06:22] a7lan commented on #310
I have not tested the latest version. I'll try to test
Maybe ndpi detects it as https and tor, too? because when I add a rule to block tor, iis and g2a not openned. Other https sites work.

[2016-12-09 14:33] kYroL01 commented on #310
If you see the result with last version of nDPI, it detect your pcaps as SSL.
![img](https://cloud.githubusercontent.com/assets/7222956/21052268/63b0ee32-be24-11e6-9788-a50cb8256abb.png).

So the thing that I can do is add the detection of **iis.net** as Microsoft, if you think is a good idea.
Let me know about it

[2016-12-09 14:33] #310 closed, assigned to nobody

[2016-12-09 18:25] marty90 commented on #300
This protocol is called by Facebook "Zero". It is QUIC crypto over TCP.
In the client hello packet there is the Server Name in clear, so it's easy to identify.

Some pointers:

https://twitter.com/nikitab/status/685254800838008832

https://twitter.com/bascule/status/709561754292867072

https://cryptologie.net/article/321/real-world-crypto-day-2/

[2016-12-13 01:02] k0ste commented on #317
https://github.com/max197616/extfilter (block resources only).

[2016-12-13 04:00] p2yogi commented on #317
Hi,

  I could not understand much in above link due to being unaware about the language. Please explain it in English if possible.

Thanks for the help....!!

[2016-12-13 04:06] p2yogi opened #318 "unable to detect applications"
Hi,
 In my code I am not capturing live packets and giving it to nDPI. I am using DPDK and DPDK mbuf is passed to "**ndpi_detection_process_packet()**" API.

So in my case I am able to get master_protocol but unable to get applications like facebook, twitter etc...instead I am only getting ID as 188 (i.e. of QUIC)

I debugged it with GDB and In ndpiReader application packet size is much longer the

[2016-12-13 04:46] k0ste commented on #317
@p2yogi, this project analyze via nDPI ssl/http packets. After this search patterns uri. If pattern match - to source address sends HTTP 301 with redirect URL, if packet's encrypted to source address sends TCP RST flag. As I say above this project for block user requests via [Roskomnadzor](https://en.wikipedia.org/wiki/Federal_Service_for_Supervision_in_the_Sphere_of_Telecom,_Information_Technolog

[2016-12-13 05:33] p2yogi commented on #317
Hi @k0ste,

Ok I get it. Thanks for your reply.

From your above post I have one more query. In above project DPDK is used with nDPI library. Which means one would be passing struct rte_mbuf packet to ndpi library for application identification. So how does that work. Since ndpiReader demo example works on live packets.

And if you pass your own packet to "ndpi_detection_process_packet()" API for

[2016-12-13 10:43] kYroL01 commented on #318
I answered you privately to the mail you sent me.

[2016-12-13 10:43] #318 closed, assigned to nobody

[2016-12-13 11:11] kYroL01 commented on #317
@p2yogi What are you looking for ? Do you need a function to looking for a host name inside a url to say "this is app1", "this is app2" ? Maybe something like that https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_api.h#L95 ?

In `ndpi_detection_process_packet` the ID is obtain by another function, https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L3529 .

nDPi work by extracting host

[2016-12-13 11:11] #317 closed, assigned to nobody

[2016-12-20 17:31] kYroL01 commented on #88
@lucaderi is this issue could be considered implemented by this proto https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h#L51 ?

[2016-12-22 07:55] leveryd commented on #271
it will be nice feature.

[2016-12-22 08:07] sologub commented on #271
Taking into consideration that ndpiReader is an example app with the main purpose of showing how to use the nDPI lib to new developers, I'd like to suggest to not implement this feature nor any other integrations with 3rd party tools.
In my opinion complicating ndpiReader will make it harder for new devs to understand nDPI in the first place, and will only harm the adoption of nDPI project as a wh

[2016-12-22 08:24] leveryd commented on #249
still get "segment fault" when i listen on a live interface.
i use 1.8-stable version.

[2016-12-22 08:33] kYroL01 commented on #271
Sorry for late answer, but I'm agree with @sologub .
ndpiReader is a demo to show how to use nDPI and what nDPI does, concerning the most important feature of the whole things: detectiong protocols.
After internal discussion, we need to keep the demo easy.
If you need to create your application with other features, don't have fear to do it, also because it could be usefull for us to understand if

[2016-12-22 08:33] #271 closed, assigned to nobody

[2016-12-22 08:35] kYroL01 commented on #249
@leveryd Really ? Can u reproduce the issue of give us additional information to solve it ?

[2016-12-23 01:55] leveryd commented on #249
system information:
**Ubuntu 12.04.5 LTS \n \l**
linux kernel infrmation:
**Linux sec 3.8.0-29-generic #42~precise1-Ubuntu SMP Wed Aug 14 16:19:23 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux**
i upload  "core dump" file as attachment.
[core.zip](https://github.com/ntop/nDPI/files/670172/core.zip)
what any other information u need?

[2017-01-05 12:36] kYroL01 opened #323 "Add WeChat application protocol"
Missing WeChat recognition. See link for infos

 https://en.wikipedia.org/wiki/WeChat

http://www.cse.cuhk.edu.hk/~pclee/www/pubs/iwqos15chatdissect.pdf

[2017-01-10 10:40] tianzhishuizhu opened #324 "debugging problem"
When debugging ndpiReader, I set breakpoint to make gdb stop at specific line,but gdb doesn't do that. I think it's inlining and optimisation in gcc. How can I fix this problem? Thanks.

[2017-01-10 10:49] kYroL01 commented on #324
@tianzhishuizhu this is not a nDPI issue, and the only optimization of gcc is about the visibility of something variables.
So, this is a problem on your machine, or, as I think, you put a breakpoint on a line that cannot be reached in that moment.

[2017-01-10 10:49] #324 closed, assigned to nobody

[2017-01-10 10:57] tianzhishuizhu commented on #324
Thanks. I try it with `./autogen.sh ./configure make` and then `gdb ndpiReader`. Is it the right process for debugging?

I set breakpoint at **line 3281**

Breakpoint 1 at 0x40fb30: file ndpi_main.c, line 3281.

Num     Type           Disp Enb Address            What
1       breakpoint     keep y   0x000000000040fb30 in check_ndpi_tcp_flow_func at ndpi_main.c:3281
        breakpoint already hit 1

[2017-01-12 07:35] tianzhishuizhu commented on #324
I change `gcc -g -O2` to `gcc -g -O0` in all Makefiles, and then it works.

[2017-01-12 08:38] kYroL01 commented on #324
As i told you before, is a problem of visibility. Now you put more visibility on what gdb can show you.
If u want the maximum, try gcc -g3 .

[2017-01-13 01:36] shivanikhosa commented on #139
I resolved my issue before by adding an expiry for each conntrack. I have a timer that wakes up and frees up ndpi memory for unclassified conntracks who have hit their expiry. But I was rethinking about what you have mentioned in your reply i.e to not allocate memory when we see the first SYN packet but do it only when we see the first payload. Would it effect the recognition of the connection in

[2017-01-13 02:12] shivanikhosa opened #325 "Skype detection"
I was testing Skype detection and I see now, that most of the call traffic is either classified as RTCP or is unkown. Only the tcp connections get recognized as Skype. The udp session carrying the voice data isn't recognized.

[2017-01-13 12:11] kYroL01 commented on #139
Well the recognition of an app is availlable just if nDPI see the payloads, so it doesn't matter of SYN.

[2017-01-13 12:12] kYroL01 commented on #325
Can u provide a pcap of your skype traffic so i can see the bug and going to fix ?
Thanks

[2017-01-14 02:20] tianzhishuizhu commented on #324
Thanks.

[2017-01-16 02:17] shivanikhosa commented on #325
[skype.zip](https://github.com/ntop/nDPI/files/707114/skype.zip)

[2017-01-16 02:20] shivanikhosa commented on #325
I was just trying the Skype test call. I see a lot of tcp udp connections getting recognized as either skype or stun but the main voice call udp connection was Unknown. Are there any recent enhancements to skype dissector other than addition of new host name matching that could help me recognize the skype voice call?

[2017-01-16 07:16] izzie88 opened #326 "Cento-bridge still downloads torrent"
Hello Luca ,
Please find attached the zip file for packet capture.
I was still able to download torrents after applying the policy on the cento-bridge.
[torrent2.pcapng.zip](https://github.com/ntop/nDPI/files/707466/torrent2.pcapng.zip)
[torrent.pcapng.zip](https://github.com/ntop/nDPI/files/707468/torrent.pcapng.zip)

[2017-01-16 10:19] kYroL01 commented on #325
I have to check. Thanks for the pcap

[2017-01-17 01:45] shivanikhosa commented on #325
Thanks. I will wait for your reply.

[2017-01-18 09:57] shivanikhosa commented on #325
Wanted to mention that the skype version that I'm using is 7.30.0.105. I was looking at the dissector and I saw that the Skype dissector mostly was looking for the third byte of the payload to be 0x02 in case of UDP packets to classify as skype. When I make a test call, my payload 3rd byte isn't 0x02.
But I did notice another pattern when I see packets in wireshark.
 payload[0] = 0x80, payload[1]=

[2017-01-18 11:00] kYroL01 commented on #325
I'm watching all and try to understand better.

[2017-01-23 16:50] kYroL01 commented on #325
@shivanikhosa Actually the traffic classified as GigE Vision Streaming Protocol has the same two bytes as RTP payload[0] = 0x80 && payload[1] = 0x08. I extracted GVSP packet from your pcap and nDPI detect it as RTP for this reason. So I have to find a way to detect GVSP as Skype but ONLY for real skype traffic.
Are u agree with me ?

[2017-01-24 23:11] kYroL01 commented on #325
I'm doing some changes because I need to see deeper the question. Please be patient.
Thanks

[2017-01-25 02:57] shivanikhosa commented on #325
👍 Thanks for your efforts :)

[2017-01-25 13:22] alagoutte commented on #325
There is a false postive with GigE Vision Streaming dissector on Wireshark 2.2.x
the heuristic is now disable

[2017-01-25 14:37] kYroL01 commented on #325
@alagoutte Thanks for the clarification. So is correct if nDPI detect GVSP as RTP ?

[2017-01-26 01:31] shivanikhosa commented on #325
Yes I see that. I updated my wireshark  and the GVSP detection went away.

[2017-02-02 16:13] clauderobi commented on #297
Any progress on updating the documentation?

Beside de API, a description of the life cycle of the a detection instance, a flow and other objects would be really useful. A definition of odd terms, such as subscriber would be welcomed.

Finally, the example code variable and function names should be changed to better reflect what comes the library and what is internal code to the example. Starting

[2017-02-02 16:25] ghost opened #331 "ndpiReader.c:40:18: fatal error: pcap.h: No such file or directory"
Unable to compile. No results on google. Already tried libcap-dev, libcapnp-dev
Ubuntu 16.04

[2017-02-03 09:15] kYroL01 commented on #297
@clauderobi Please be patient till the next week. I'm start working on it in the next week for sure.
Thanks

[2017-02-03 09:15] kYroL01 commented on #331
I'm going to see and fix, thanks.

[2017-02-03 16:57] ilsani opened #332 "ASan heap buffer overflow in src/lib/protocols/dhcp.c"
ASan reported heap-buffer-overflow in src/lib/protocols/dhcp.c:81:17.

` $ CC=clang CFLAGS="-O0 -g -ggdb -fsanitize=address" ./configure && make `
` $ ./examples/ndpiReader -i sample.pcap `

output:

c8
READ of size 1 at 0x61400000fff4 thread T1
    # 0 0x54c9e4 in ndpi_search_dhcp_udp /tmp/nDPI-src/src/lib/protocols/dhcp.c:81:17
    # 1 0x51f1de in check_ndpi_udp_flow_func /tmp/nDPI-src/src/lib/n

[2017-02-03 16:59] kYroL01 commented on #332
I'll check it. Thanks!

[2017-02-03 17:27] clauderobi opened #333 "Include file installation path issue"
First of all, I am cross compiling so the issue may not be present when compiling native.

But first, before going to my issue, I found this small glitch in src/include/Makefile.am
library_includedir=$(includedir)/libndpi-1.4/libndpi
I guess it should be libndpi-@VERSION@, not libndpi-1.4 since I am using version 1.8

My main problem is that the path for the include files includes the library vers

[2017-02-04 07:52] alagoutte commented on #331
@ajzimme it is lipcap-dev (and no libcap-dev)... can you try ?

[2017-02-04 08:04] alagoutte commented on #333
Thanks claude for report

[2017-02-04 11:26] kYroL01 commented on #333
Thanks to both

[2017-02-04 18:11] clauderobi commented on #333
Thanks,

but this only solves the lesser issue. The main issue of having the version in the include pathname, forcing to have it in the source #include pragma or in the Makefile (-I) is not addressed. It is not common to have the version in the path name but I understand that when an API is not stable that may be necessary. But may be adding a soft link is acceptable; this is what is done for the

[2017-02-04 18:31] clauderobi opened #336 "no PCAP"
Is it possible to compile the library without pcap support? I do not need it nor want it on the platform I target.

Also, it is possible to skip building the example application?

[2017-02-05 17:14] ilsani opened #337 "ASan heap buffer overflow in src/lib/protocols/mgcp.c"
ASan reported heap-buffer-overflow in /src/lib/protocols/mgcp.c:61:6.

[code]
output:

[code]
PCAP file: [junk.pcap.zip](https://github.com/ntop/nDPI/files/753138/junk.pcap.zip)

[2017-02-06 00:00] clauderobi commented on #297
If you need early feedback let me know.

[2017-02-06 16:06] kYroL01 commented on #297
@clauderobi Yes sure, thanks

[2017-02-06 16:07] kYroL01 commented on #337
@ilsani Thanks for the pcap and report. I'll fix asap

[2017-02-08 16:26] clauderobi opened #338 "ndpi_flow_struct life cycle"
I am not sure if this place (issues) is the right place to ask question or discuss about topics since a group is better suited but I fail to find one.

I would like to understand better the life cycle of a single ndpi_flow_struct instance. What I am trying to do is to keep malloc and free to a minimum. Since I am already maintaining a high-up flow object, into which I would like to instantiate a n

[2017-02-09 14:49] Vans1 opened #339 "nDPI http server host length"
For now we have in ndpi_typedefs.h:
`  u_char host_server_name[192];`
According to RFC 1035 we have: "To simplify implementations, the total length of a domain name (i.e.,
label octets and label length octets) is restricted to 255 octets or
less".
So I think it should be:
`  u_char host_server_name[256];`

[2017-02-09 16:01] kYroL01 commented on #339
You're right, thank you

[2017-02-09 16:01] #339 closed, assigned to nobody

[2017-02-09 16:10] kYroL01 commented on #331
@ajzimme are u refer to this [line](https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c#L40) ?
You must install libpcap. For example http://stackoverflow.com/a/5779827

[2017-02-10 15:47] #331 closed, assigned to nobody

[2017-02-11 03:58] HaochuanXJTU opened #340 "What's the meanning of NDPI_SELECTION_BITMASK_PROTOCOL_COMPLETE_TRAFFIC?"
I think this bitmask is to distinguish the packet, like tcp or udp. So I can't understand NDPI_SELECTION_BITMASK_PROTOCOL_COMPLETE_TRAFFIC, please tell me the function of this bitmask. Thanks ~

[2017-02-13 11:38] subritm commented on #297
any update on this ?
I am also implementing similar stuff, where I use ndpi to detect the application and just print the application name.
I went through the example ndpiReader.c to get the info related to the changes in the init.
Also I added a function to pass on the skb to a function which will call ndpi_detection_process_packet function to find the protocol.
with this, I cannot detect any cust

[2017-02-13 11:41] kYroL01 commented on #297
@subritm I don't know how you implement properly your code, but the detection is done by dissectors, not by a single function

[2017-02-13 12:04] kYroL01 commented on #332
Can you check if this solved the problem ?
https://github.com/ntop/nDPI/commit/363b38ceb015530fa1f054c24ebe6c55483e64c1

[2017-02-13 12:49] ilsani commented on #332
I'll check asap.

[2017-02-13 16:12] kYroL01 commented on #337
Can u send me a new pcap that cause this B.O. ? Because after unziped the pcap seems corrupted and I cannot open it. Thanks

[2017-02-13 22:05] ilsani commented on #332
@kYroL01 seems solved. Thanks.

[2017-02-13 23:24] kYroL01 commented on #332
Good to know! I close the issue

[2017-02-13 23:24] #332 closed, assigned to nobody

[2017-02-14 00:22] kYroL01 commented on #336
1. There is no flag to disable the pcap support at compiling time. To do this you have to modify the code (at your risk).

2. If you want to exclude the example directory you have to modifiy this [Makefile.am](https://github.com/ntop/nDPI/blob/dev/Makefile.am) excluding the _example_ in SUBDIRS and then recompile all.

[2017-02-14 00:22] #336 closed, assigned to nobody

[2017-02-14 01:12] clauderobi commented on #336
But, how does the code is compiled inside the kernel? Surely libpcap is not capable of executing in the kernel. My use of the nDPI library is not inside the kernel.

[2017-02-14 09:03] kYroL01 commented on #336
nDPI does not have anymore the kernel support.

[2017-02-15 19:52] ilsani commented on #337
Sure. Pcap is [junk.pcap.zip](https://github.com/ntop/nDPI/files/778211/junk.pcap.zip)
I retried after the last commit and the stacktrace is changed a bit:

[code]

[2017-02-15 23:47] gabeblack opened #342 "netflix isn't detected very well"
I have a capture that is a majority of netflix traffic, but it is showing up as mostly HTTPDownload. I looked at some of the IPs and it appears that they may be from Amazon's cloud services. How would I go about modifying the code to follow that as my guess is that the amazon cloud services that are providing the streaming don't have hard-coded ip ranges assigned specifically for netflix...

[2017-02-16 09:31] kYroL01 commented on #342
Netflix uses Amazon's cloud service and servers. So, we have to see if the ip-range is modified to add properly server names. Can u pass me the pcap with this traffic ?
Thanks

[2017-02-16 09:32] kYroL01 commented on #337
Thank you

[2017-02-16 11:44] kYroL01 commented on #342
Check after this update https://github.com/ntop/nDPI/commit/af04f78bd783a18593fb9a1320bfc430ae8af0bc

[2017-02-16 15:17] gabeblack commented on #342
I tried your patch and unfortunately no additional traffic was detected as
netflix. I sent you a message to your profile email about the traffic I
have.

Thanks,
Gabe

On Thu, Feb 16, 2017 at 2:31 AM, Michele Campus <notifications@github.com>
wrote:

[2017-02-16 19:12] kYroL01 commented on #325
Do some test after [this](https://github.com/ntop/nDPI/commit/eb92c6b676064ef7bd642f43eae3136e7db4737e)
and let me know

[2017-02-20 16:56] kYroL01 commented on #325
@shivanikhosa any update ?

[2017-02-20 18:57] afiaux opened #344 "regression in classification of traffic on non-default port"
Hello,

I've noticed that commit 424fbb710ca7a883b7826eebc876c5c0611a3b2a introduced a regression in protocol classification when the traffic is not on the default port.

For instance SSH on port 22 is correctly classified as **SSH**, but the same SSH traffic on port 80 is classified as **Unknown**.

Reverting only the following change from the commit fix the problem:
[code]
However I'm not sure i

[2017-02-20 23:09] kYroL01 commented on #344
Thanks! I'll check asap

[2017-02-21 03:43] shivanikhosa commented on #325
I tested it with skype test call but I still see the same results. I see that in this patch you have added extra skype related ip ranges.
In my setup I still see the connection related to the skype call as being unclassified. The destination ip address matching probably won't be foolproof as I see different dst ip everytime. Were you able to identify any skype protocol related heuristics, that we

[2017-02-21 04:05] shivanikhosa commented on #325
I re-tested with skype-to-skype call and still the call packets are unclassified.
udp      17 179 src=192.168.1.10 dst=104.44.201.157 sport=11228 dport=3480 packets=8070 bytes=899637
Another call yields this connection:
udp      17 179 src=192.168.1.10 dst=104.44.201.173 sport=9182 dport=3480 packets=1637 bytes=182668

My recognized skype connections are as follows :
tcp      6 86387 ESTABLISHED s

[2017-02-21 11:44] kYroL01 commented on #325
@shivanikhosa Find heuristics we could use to improve detection is the challenge to make best dissectors for every protocol that doesn't have free and open documentation. This is the problem

[2017-02-21 12:16] kYroL01 commented on #344
I just start to see the problem but I think, on a fast look, that the check added is necessary. I'll go deeper and let u know.
Thanks for the pcap

[2017-02-21 15:23] kYroL01 commented on #337
@ilsani I have a question about the format of this pcap.
If I open with ndpiReader I can open it successfully, but Wireshark cannot oepn it (i'd like to see how a pkt is composed because nDPI classify this traffic as Unknown).

[2017-02-22 21:02] afiaux commented on #344
Hello,

So I've looked a bit at the code and I really don't get what you are trying to accomplish with the protocol guessing.

Whether it's in `ndpi_l4_detection_process_packet` or in `ndpi_detection_process_packet`:
- you first call `ndpi_guess_protocol_id` which will set `flow->guessed_protocol_id` to the protocol associated to the default port (80 -> HTTP, 22 -> SSH, ...)
- The you call `check_

[2017-02-22 21:23] kYroL01 commented on #344
@afiaux I'm agree with you. Must be changed to improve the correct way to detect.

[2017-02-23 18:16] ilsani commented on #337
@kYroL01 this pcap has been created by american fuzzy lop. likely wireshark does not open it because it is malformed.

[2017-02-25 02:50] tianzhishuizhu opened #345 "question about dns dissector"
In protocols/dns.c:
`	/* DNS Request */
	if((dns_header.num_queries > 0) && (dns_header.num_queries <= NDPI_MAX_DNS_REQUESTS)
	   && (((dns_header.flags & 0x2800) == 0x2800 /* Dynamic DNS Update */)
	       || ((dns_header.num_answers == 0) && (dns_header.authority_rrs == 0)))) {`

What's the use for checking **(dns_header.flags & 0x2800) == 0x2800**?It checks dns flag at postion 3 and 5 in 16 bit

[2017-02-26 22:54] kYroL01 commented on #345
For example read this http://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml#dns-parameters-12
"**In DNS query header there is a flag field in the second 16 bit word in
query from bit 5 through bit 11**"

[2017-02-26 22:54] #345 closed, assigned to nobody

[2017-02-26 22:58] kYroL01 commented on #337
Ok so without a good pcap i cannot solve this BO. I close for now, but if you have update, re-open it and attach the well formed pcap.
Thanks

[2017-02-26 22:58] #337 closed, assigned to nobody

[2017-02-27 07:40] tianzhishuizhu opened #346 "free expiring flow struct"
4-tuple <src_ip, src_port, dst_ip, dst_port> indentifies unique connection. But it may be reused by another protocol after a long time. Does nDPI free flow struct if flow expires?

[2017-03-03 09:47] kYroL01 commented on #346
Flows are not free automatically.
nDPI provides many free function to do that, for example
https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_api.h#L133
https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L4795
https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L331

If you want to free a flow you have to use it. C does not have garbage collector so the flows must be explicity fre

[2017-03-03 09:47] #346 closed, assigned to nobody

[2017-03-05 11:40] kYroL01 commented on #342
https://github.com/ntop/nDPI/commit/fd93036b792bc33a81cb46164b7a3184d8723fd6
Now is fixed and improved netflix detection IMHO.
I close this issue. If needed reopen

[2017-03-05 11:40] #342 closed, assigned to nobody

[2017-03-12 23:14] lucaderi commented on #340
I think this is old stuff from OpenDPI we could remove. @kYroL01 What do you think?

[2017-03-12 23:21] lucaderi commented on #344
@kYroL01 Any prediction about when we can expect this fix?

[2017-03-12 23:45] kYroL01 commented on #340
@HaochuanXJTU @lucaderi  I suppose this Bitmask is never used in the actual code, so, yes, I think we could remove.

[2017-03-12 23:46] kYroL01 commented on #344
@lucaderi I'm doing some modification of the code to improve performance and fix the issue. I hope in a couple of days to fix all

[2017-03-13 16:19] vpiserchia opened #349 "master_protocol"
Hello nDPI developers,

may ask you a clarification about the difference between these two fields in the ndpi_proto struct

typedef struct ndpi_proto {
  u_int16_t master_protocol /* e.g. HTTP */, protocol /* e.g. FaceBook */;
} ndpi_protocol;

It seems to me that the protocol field is always present, and this is not true for the master_protocol one.
Is this because you can have a first match on t

[2017-03-13 17:03] kYroL01 commented on #349
@vpiserchia Try to shine you:
1) the master_protocol is the protocol that carries a possible application protocol (i.e master = HTTP, protocol = Facebook, just in case the protocol does not match immediately with the dissector.
For example we can have a detection for Skype or SSL.Skype. The difference is that in the first case the detection is cause by the dissector, in second it is by name of hos

[2017-03-13 17:03] #349 closed, assigned to nobody

[2017-03-14 17:06] kYroL01 commented on #340
Actually this bitmask is used and cannot delete without a good fix before, but it's an old stuff so I have understand the real use of it.
I look in the code it is a macro for a left shift of 8 bit and set the value of `ndpi_selection_packet` to 256 ( https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L3356 )

[2017-03-15 16:39] kYroL01 commented on #325
Fix by https://github.com/ntop/nDPI/commit/5de6a96af5754c13846883b556f58fc79831c61d

[2017-03-15 16:39] #325 closed, assigned to kYroL01

[2017-03-15 16:39] #340 closed, assigned to nobody

[2017-03-15 21:53] #344 closed, assigned to kYroL01

[2017-03-20 02:50] HaochuanXJTU commented on #340
@kYroL01@luacaderi thanks for your help~

[2017-03-21 17:59] simonemainardi opened #352 "app_protocol and master_protocol"
sometimes `master_protocol` is unknown even when the `app_protocol` is not. This causes some known flows to be recognized as unknown by ntopng.

Here's a print of `app_protocol` and `master_protocol` for some flows

[code]
is this the expected behaviour?

[2017-03-21 18:12] kYroL01 commented on #352
In some cases yes, it is expected.
For example look at this [function](https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L4457).
Have you found some strange behaviour related to https://github.com/ntop/ntopng/issues/1046 ?

[2017-03-21 18:19] kYroL01 commented on #352
I think this is a possible bug, because in nDPI a flow is unknown only if both fields are unknown.
If an application protocol is detected directly by a dissector, `master_protocol` could be unknown; if instead is detected by hostname or by another dissector, it has both fields marked != unknown.

Is it possibile that nDPi and ntopng detection policy in that specific case are now different ? This c

[2017-03-22 10:10] kYroL01 commented on #352
Hi @simonemainardi this fix https://github.com/ntop/ntopng/commit/8bdfa8a09b79f38ed8a796789d36cebe4d325dc7
solve the issue ?

[2017-03-22 10:57] simonemainardi commented on #352
still need to carry on some tests

[2017-03-22 11:00] kYroL01 commented on #352
Ok thanks

[2017-03-22 17:03] simonemainardi commented on #352
ntop/ntopng#1046 is fixed via https://github.com/ntop/ntopng/commit/c286fd5e5fa709753060f1cae29ba08c267508f9

[2017-03-22 17:03] #352 closed, assigned to nobody

[2017-03-22 17:04] kYroL01 commented on #352
Thanks! ;)

[2017-03-23 01:22] blshkv opened #353 "unbind nDPI from ntop, aka use as a system library"
I have reported this issue in an old bug tracking system but it is gone.

ntop building system is a mess right now. it downloads nDPI during build and trying to compile even if nDPI is already installed in the system.

There are also other tools which are using nDPI like xplico.

The following patch allows to install include files so that they could be found during ntop build:
https://github.com/p

[2017-03-23 01:32] blshkv commented on #353
https://github.com/pentoo/pentoo-overlay/blob/master/net-analyzer/ntop/files/ntop-5.0.1-system-ndpi.patch

[2017-03-23 13:21] alagoutte commented on #353
Hi,

Please push directly your patch a Push Request (on ndpi and ntop repo)

[2017-03-24 12:37] subhedarnikhil opened #354 "need information about how https traffic is detected"
Hi All,

I  am using ndpi and wanted to check how to detect https packet , for e.g. youtube.com/ facebook.com/ gmail.com .
What i know  this https traffic is encrypted and sent using ssl and internally ndpi reads the ssl certificate but this certificate is of client or server can anyone tell me.. also how it is detected complete encrypted traffic can any one please help me..???

Thanks & regards,

[2017-03-24 12:40] alagoutte commented on #354
Hi,

Coming from the certificate of server (there is no certificate for client)

there is also some check on Pool of IP address

[2017-03-24 14:10] subhedarnikhil commented on #354
Hi  alagoutte,

I still not understood about the certificate .
if i rephrase your comment in this way, "  we are getting the server name from the SSL certificate , and this certificate is coming from the destination.." is it like this..???

Because in ssl.c file what i have found is we are calling getSSLcertificate() and inside this below statement gets the server name in the flow structure.

snpr

[2017-03-24 14:45] swtar commented on #323
Do you have any good ideas?

[2017-03-24 20:17] alagoutte commented on #354
Hi,

Yes, it is a the idea (you get the "server name via server_name extension" https://en.wikipedia.org/wiki/Server_Name_Indication

[2017-03-25 19:56] kYroL01 commented on #323
Hi @swtar I need a good pcap that I'm going to do in the following days and then I can try to put inside nDPI

[2017-03-25 20:08] kYroL01 commented on #354
@subhedarnikhil You can't decript the encrypted payload part of https traffic, of course (and we don't care about what is inside data part) but the structure of SSL certificate is well-known, so we can extract the server name and detect that traffic based on that name.

[2017-03-25 20:08] #354 closed, assigned to nobody

[2017-03-26 03:27] subhedarnikhil commented on #354
Hi,

So this issuer name is nothing but the servername..???

Also since we cant decrypt the the https traffic then , i the case of
Dropbox why we are having seprate file to handle whatsapp trafic..????

Regards,
Nikhil

On Sun, Mar 26, 2017 at 1:38 AM, Michele Campus <notifications@github.com>
wrote:

--
Regards,
Nikhil

[2017-03-26 06:02] subhedarnikhil opened #355 "Dropbox uses TCP or UDP..????"
Hi All,

I wanted to check that whther dropbox uses TCP or UDP as a transport layer protocol..???
1) what i know is dropbox uses https then it will use TLS  based encrypted traffic this is what i found in wireshark capture. Please check 108.160.172.238 as drop box ip address.

2) But when i parse these packets using ndpireader in gdb i got below stack ,

#0  ndpi_search_dropbox (ndpi_struct=0x671e

[2017-03-26 14:12] kYroL01 commented on #355
@subhedarnikhil Dropbox, like other applications, can use both protocol TCP and UDP.
Usually UDP is used to sync between Dropbox client and Dropbox server, while the data transfer flows in secure HTTP (TLS).
So basically there is no issue. It's the Dropbox behaviour and nDPI try to recognize it and detect it.

[2017-03-26 14:12] #355 closed, assigned to nobody

[2017-03-26 14:17] kYroL01 commented on #354
Hi subhedarnikhil.
Whattsapp is a very particular application and its detection is not so
easy. Basically you cannot improve a perfect dissector for it, so some data
could "hide" behind other protocols.
This is why you can find Whattsapp detection parts inside other protocol
dissectors.
Then, we don't care to decrypt payload data of a secure protocol; we just
need to understand what KIND of protoc

[2017-03-26 14:38] kYroL01 commented on #353
@blshkv I have to try the patch locally before push into official repository.
Thanks for it.

[2017-03-26 15:15] kYroL01 commented on #338
@clauderobi It's always difficult to give a good exhaustive answer in this case.

Correct: if u memset without correctly free the two subobject, you lost them and have mem leaks.
But the two subobjects in the `ndpi_flow_struct` are strictly correlated with the main object, so i don't know how much sense have keep them when the flow change. Can you explain better this point ?

[2017-03-26 15:32] blshkv commented on #353
sorry, the patches are for the previous version.

[2017-03-26 15:51] kYroL01 commented on #353
Ok, so i can close this issue ?

[2017-03-26 15:51] blshkv commented on #353
no, please port it to the latest ntopng

[2017-03-27 04:37] subhedarnikhil opened #356 "Need help of capturing https traffic."
Hi All,

i am interested to understand the the capturing of https traffic. What i know is we are determing the server name from ssl ceritificate. but  this is happening at the  initial level i.e. at handshaking level. But i want to know how we can  map the  this actual data to this server name..???

Regards,
Nikhil

[2017-03-27 08:43] kYroL01 commented on #356
Duiring the handshake exchange, the [ssl dissector ](https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/ssl.c) catch the server name from a field in Client Hello packet, and match it with a list of possible server names kept by nDPI internally ([here](https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc)).

A function to do this is https://github.com/ntop/nDPI/blob/dev/src/l

[2017-03-27 08:43] #356 closed, assigned to nobody

[2017-03-27 08:46] kYroL01 commented on #353
@lucaderi what do u think about this ?

[2017-03-27 14:13] bshastry opened #357 "Reporting buffer overflows"
Hi,

I'd like to report several buffer overflows in the nDPI library. Could I reach the developers in an email instead of posting the crash logs here? The thing is, there are several of them, and some might be security critical.

Thanks!

[2017-03-27 16:01] kYroL01 commented on #357
@bshastry you can send private mail to eivdence these buffer overflow, or send us a pull request.

Thank you

[2017-03-27 16:01] #357 closed, assigned to nobody

[2017-03-29 05:48] Manouchehri opened #358 "Segmentation faults due to libpcap?"
Seems like this might be related to #249. Happens after a couple seconds of web browsing.

[code]

[2017-03-29 09:57] kYroL01 commented on #358
Hi @Manouchehri . Actually if you read official Valgrind explanation for _definitely lost_ [here](http://valgrind.org/docs/manual/faq.html#faq.deflost), it says:

So i don't think this caused a SigFault, but, looking at your Valgrind log, it seems that those leaks are caused by the `clone` function in the libpthread library after a thread is started. Isn't it ? Did u crash with SigFault at certain

[2017-03-29 14:52] Manouchehri commented on #358
The memory leak errors are because it segfaults, and doesn't clean up. It definitely crashes. 🙁

[2017-03-29 15:50] Manouchehri commented on #358
[code]

[core.2397.gz](https://github.com/ntop/nDPI/files/879615/core.2397.gz)

[2017-03-30 09:35] subhedarnikhil opened #359 "Need help on https flow tracking..."
Hi ,

Want to know how we can track the HTTPS flow. What i know is  we are  getting the server name from the SSL certificate. But this is at handshaking level. Once connection is established then how we are obtain the flow information corresponding to that connection. Are we storing this information i.e. 5 tuples..? ??
 and comparing each flow corresponding to it..???

Regards,
Nikhil

[2017-03-30 09:47] kYroL01 commented on #359
@subhedarnikhil I understand you need explanation on what the dissector does and the behaviour inside nDPI, but I answered on a similar question in your latest issue related to HTTPS, and this is not a FAQ session, this is an issue session.
I cannot "teach" you on how to do a thing.
If I answer to all these kind of questions, everyone could open hundreds of issues like this, and this is not right,

[2017-03-30 09:47] #359 closed, assigned to nobody

[2017-03-30 09:58] kYroL01 commented on #358
Thank you. I have to check ASAP.

[2017-03-30 14:31] Manouchehri commented on #358
@kYroL01 Let me know if there's anything I can help with and/or if you have trouble reproducing it. Thanks!

[2017-03-30 14:32] kYroL01 commented on #358
@Manouchehri For sure

[2017-04-14 05:19] 490 commented on #323
I'm looking forward to this!!  thank you

[2017-04-14 07:28] kYroL01 commented on #323
Today I'm going to have a couple of good pcap and I'm working on it.
If you have other pcap to send, please, shared.

Thank you

[2017-04-14 23:03] kYroL01 commented on #358
@Manouchehri Can you please check if something changed with latest two commits 2b0809f3dc297289f9413db4dde2eaa109a3603e and 29cd6ef9942188633b79b5c1fe62360f048a6450 ?

Thanks

[2017-04-15 00:15] Manouchehri commented on #358
Looks great, thank you!

[code]

[2017-04-15 00:15] #358 closed, assigned to kYroL01

[2017-04-15 07:33] kYroL01 commented on #358
I'm glad of this!

[2017-04-15 09:25] kYroL01 commented on #323
first commit
b97e3ee51a9a17b837a2ed8c30e5ddabbf2d7140

[2017-04-16 18:22] kYroL01 commented on #353
@blshkv I don't understand why the `-@VERSION@` in the Makefile should be a problem for nDPI.
I don't know if is a good thing to avoid this check.

For the second patch, please, open an inssue or (better) send a pull request directly into ntopng repository.

[2017-04-16 18:25] #338 closed, assigned to nobody

[2017-04-16 21:46] kYroL01 commented on #333
@clauderobi does your problem related with the installation of the lib ? I mean (if I understand well) you say that every time we put a new version, if you use the lib you have to change makefile, isn't it ?

[2017-04-17 01:32] blshkv commented on #353
I'm not an automake expert so feel free to adjust it properly
The only reason why I removed version from the include path is that it would be possible to specify it in the configure script of ntop (see NDPI_INC variable) in the second patch.

[2017-04-17 07:04] kYroL01 commented on #353
In the beginning I don't understand what you mean, but now I think you're right. We have to modify this thing properly. I'm working on it.
Thank you

[2017-04-17 11:21] 490 opened #361 "ERROR: could not open pcap file or playlist: ens802f1: No such file or directory"
Hi,
1、I can see ens802f1(a 10G intel nic)by ifconfig,but when I execute ./ndpiReader -i ens802f1 -s 30 it says ERROR.. and I can use ndpiReader to read a pcap file correctly.
2、If I want to combine Intel DPDK with nDPI, use nDPI to analyse the packet captured by DPDK ,could you give me some advice?
Thank you very much!

[2017-04-18 13:53] JeevanNailwal opened #362 "unable to detect bittorrent (upto 50% loss)"
Hi All,
I was using ndpi_1.8-stable binary for my bittorrent data etection and figured almost 50% loss. Please find the attached logs, pcap file for your reference. Please let me know if you need any more information from my setup.

ndpiReader version:
jeevan@lap-jeevan:~/CODE/ndpi_1.8/nDPI$ ndpiReader -r
ndpiReader - nDPI (1.8.0-1.8-stable-467-6450ae2)
jeevan@lap-jeevan:~/CODE/ndpi_1.8/nDPI$

pca

[2017-04-18 14:03] kYroL01 commented on #361
Can u specify little bit more about this ?

[2017-04-18 14:05] kYroL01 commented on #362
Thanks for reporting. I'm going to investigate on it.

Thank you

[2017-04-19 01:44] 490 commented on #361
my input is :   ./ndpiReader -i ens802f1 -s 30
and then:
Using nDPI (1.8.0) [1 thread(s)]
ERROR: could not open pcap file or playlist: ens802f1: No such file or directory
(I can see this ens802f1 device by "ifconfig")
I have read the source code:
` if((pcap_handle = pcap_open_live((char*)pcap_file, snaplen, promisc, 500, pcap_error_buffer)) == NULL)
    {
        capture_for = capture_until = 0;

[2017-04-19 07:31] kYroL01 commented on #361
nDPI use the pcap library to manage how to open a device, so `pcap_open_live` and `pcap_open_offline` are under the control of the **libpcap** library.
It seems that the pcap library does not recognize **ens802f1** as a network device, and this is why you have no handle on it.
Which kind of device is it ? What _ifconfig_ says about it ?

[2017-04-19 07:47] 490 commented on #361
ens802f1 is a `Intel Corporation 82599ES 10-Gigabit SFI/SFP+ Network Connection (rev 01)`,eno1 is a `Intel Corporation I210 Gigabit Network Connection (rev 03)`.I tried both of them and "No such file or directory"
$ **ifconfig**
`eno1`: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 10.254.13.19  netmask 255.0.0.0  broadcast 10.255.255.255
        inet6 fe80::b83e:65b7:80fd:f900

[2017-04-19 10:36] Ravi-t opened #363 "ndpiReader crashing"
I started ndpiReader with -i option to analyze live data on the interface of my Centos 7.2 VM, but it crashed within few seconds.

The backtrace of the crash is as follows:

gdb ndpiReader core.29107
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free softwar

[2017-04-19 11:00] kYroL01 commented on #363
Going to see soon! Thanks

[2017-04-19 15:33] Ravi-t opened #364 "Invalid code in ndpi_util.c"
In function named "packet_processing" line number 546, it will result in a crash

 if(flow != NULL) {
    workflow->stats.ip_packet_count++;
    workflow->stats.total_wire_bytes += rawsize + 24 /* CRC etc */,
      workflow->stats.total_ip_bytes += rawsize;
    ndpi_flow = flow->ndpi_flow;
    flow->packets++, flow->bytes += rawsize;
    flow->last_seen = time;
  } else {
    return(flow->detected

[2017-04-19 15:38] kYroL01 commented on #363
I close this because of https://github.com/ntop/nDPI/issues/364

[2017-04-19 15:38] #363 closed, assigned to nobody

[2017-04-19 15:50] Ravi-t commented on #364
The function get_ndpi_flow_info always returns NULL value for fragmented packets because of following code at line 222 in ndpi_util.c

 if((iph->ihl * 4) > ipsize || ipsize < ntohs(iph->tot_len)
       || **(iph->frag_off & htons(0x1FFF)) != 0)**
      return NULL;

[2017-04-19 15:57] Ravi-t commented on #363
this issue seems to be different from #364 as the crash is coming at a different place, also this issue #363 relates to crash while analyzing live traffic while #364 is while reading a pcap file, but need to check whether the root cause is same or not.

[2017-04-19 16:11] kYroL01 commented on #364
@Ravi-t I think you're right but i can fix later.
Please be patient, but thank you so much for this reporting.

[2017-04-19 16:11] Ravi-t commented on #364
I think either ndpiReader should support fragments else in function "packet_processing" we should declare a new variable called nproto as
**struct ndpi_proto nproto = { NDPI_PROTOCOL_UNKNOWN, NDPI_PROTOCOL_UNKNOWN };**
and on line 546 return **nproto** instead of **flow->detected_protocol** to avoid the crash
so that it looks as

if(flow != NULL) {
    workflow->stats.ip_packet_count++;
    workfl

[2017-04-19 16:12] kYroL01 commented on #364
You can also send a pull request if you prefer.
I'm watching later. Thanks

[2017-04-19 17:22] Ravi-t opened #366 "ndpiReader crash while analyzing Server Hello"
ndpiReader crashed on encountering Server Hello packet, I have attached the coredump and trace file.
The bt is as follows:

gdb ndpiReader corelive.57873
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.

[2017-04-20 13:14] JeevanNailwal commented on #362
Hi Michele,
Did you get time to look at this issue?

On Tue, Apr 18, 2017 at 7:35 PM, Michele Campus <notifications@github.com>
wrote:

[2017-04-20 13:34] vel21ripn commented on #362
**download_bittorrent_3.pcapng**
IMHO This is encrypted BT. Cannot detect by content.

[2017-04-20 15:44] kYroL01 commented on #362
Yes I'm going to see now. I'll answer asap.

[2017-04-20 21:03] #364 closed, assigned to kYroL01

[2017-04-20 21:25] kYroL01 commented on #366
I checked now and the issue seems to be solved.
Reopen in case u have problems.
Thanks

[2017-04-20 22:25] kYroL01 commented on #361
Hi @490
Unfortunately this is not a nDPI issue. It seems that your device `ens802f1` has some problem with _libpcap_ but I don't know how to help you from my side.
Have you tried if there's something in your configuration that avoid the correct work with the library ?
Try **ethtool** to see config
Look also [here](https://communities.intel.com/message/431540#431540)

For your second question, why

[2017-04-20 22:25] #361 closed, assigned to nobody

[2017-04-20 23:43] #362 closed, assigned to kYroL01

[2017-04-21 00:02] #323 closed, assigned to kYroL01

[2017-04-21 00:07] kYroL01 commented on #326
Hi @izzie88 let me understand better: the problem is that there is a false positive on torrent traffic or anyway that traffic is real torrent traffic ?
if it's the second option this is not an nDPI issue.

[2017-04-21 01:04] 490 commented on #361
thank you !

[2017-04-21 09:01] Ravi-t commented on #366
Have you done any new fix? With the fix that I provided earlier for fragmented packets this issue is not resolved. The core and traces that I attached earlier are on the binary including my fixes so it seems to be some other issue which is still pending. Please check.

Thanks,
Ravi

[2017-04-21 09:08] kYroL01 commented on #366
I'll check better, but I tested your pcap and ndpiReader does not crash for me.
Going to see deeply. For now I reopen the issue

[2017-04-21 16:52] rubencitroxs opened #367 "Protocols are not shown"
Dear:

Protocols are not shown in the "Recent active flows" tab.
Are shown as unknown

Versions:
NProbe v.7.5.170330
Ntopng x86_64 v.2.5.170330

The problem is with nDPI, when viewing reports via ntopng, all protocols are not displayed.
-example:
Youtube
Whatsapp
Instagram

I attach the catch because it was not possible by this means
https://we.tl/pUAuyKxeNn

![image](https://cloud.githubuserconte

[2017-04-27 06:32] layeghy opened #368 "Segmentation fault (core dumped)"
I tried to install nDPI (v1.8 latest at 27-04-2017) and received the below message in three different machines when I run
[code]

(even with root access)

[code]
when I want to run demo ndpiReader
I receive below error message (similar in all machines):

[code]
I install nDPI on my VM (virtualbox) with Ubuntu 16.04 with this kernel:
[code]

I appreciate if you could help me.
Siamak

[2017-04-27 09:06] kYroL01 commented on #368
Can you post the message you received from **gdb** about the sig fault ?
I can't reproduce the issue by myself. Thanks

[2017-04-27 09:16] kYroL01 commented on #367
Hi @rubencitroxs . I tried your pcap but it seems corrupted and I cannot open it both ndpiReader and Wireshark.
Can you send again please ?
So, you told us in your traffic there are flows of Youtube Whatsapp and Instagram that are not show because are you sure the traffic of these protocols **are** present, right ?
I need a good pcap to fix the problem.
Thanks.

[2017-04-27 09:37] layeghy commented on #368
Thanks for the prompt reply.

I am not familiar with gdb. I run it and put here the results:

[code]
and when I run it with ``` -i ``` option:
[code]
the same as:
[code]

Thanks for the help.

Siamak

[2017-04-27 10:02] kYroL01 commented on #368
I think you have to understand how gdb is used before...
The latest two command are completely wrong.
First of all run gdb with root privilage using _sudo_ as
`sudo gdb /home/nftools/nDPI/example/ndpiReader`
Then, after the gdb window is open, you have to run it passing the pcap you want to examine, like this
[code]
Then, after you received your (supposed) segmentation fault, you have to run **bac

[2017-04-27 18:39] kYroL01 commented on #368
Any news ?

[2017-04-28 13:06] 490 commented on #318
@p2yogi hello,did you capture packets by DPDK and analyse them by nDPI?
such as
[code]
how to implement it?could you please give me  some advice ?could you please share your code on github?
Thank you very much!!!

[2017-04-28 15:21] rubencitroxs commented on #367
Hello

If I am sure that the traffic of these protocols is present.
I attach the new catch.
I have another query, how are web pages visited by a host?
example:
![image](https://cloud.githubusercontent.com/assets/27857718/25535050/34c901f8-2c0c-11e7-8adf-62381a133883.png)

-Do you have to buy another license? DNS plugins?

-I attach the catch because it was not possible by this means
https://wetran

[2017-04-28 16:50] kYroL01 commented on #367
@rubencitroxs For every question concerning ntopng, open issue on ntopng issue page.
From you screenshot i just give you one error about the github.com not detected well, but is impossibile to detect correctly ALL the DNS query.
After checking your pcap I can understand better, anyway.

[2017-04-28 17:57] rubencitroxs opened #369 "View pages visited by a host"
How can I view pages visited by a host?
example
![image](https://cloud.githubusercontent.com/assets/27857718/25540842/d6069e3e-2c22-11e7-9eaa-2ecc1f304e37.png)

My ntop does not show me that information.

[2017-04-28 18:31] kYroL01 commented on #369
You open again in nDPI. Open here https://github.com/ntop/ntopng/issues

[2017-04-28 18:31] #369 closed, assigned to nobody

[2017-04-28 18:39] rubencitroxs commented on #369
Dear

Because they closed the subject?

Saludos cordiales:

Rubén Sáez
Ingeniero de Proyectos
Axia Tecnología Limitada
San Diego 630 Oficina 42
Santiago Centro – Chile
56-2- 5626735  -  9-73928636
 <mailto:rsaez@axia.cl> rsaez@axia.cl
 <blocked::blocked::blocked::http://www.axia.cl/> www.axia.cl

De: Michele Campus [mailto:notifications@github.com]
Enviado el: viernes, 28 de abril de 2017 15:31
Pa

[2017-04-28 18:41] kYroL01 commented on #369
Because this is a question for **ntopng**, not **nDPI**.
Open this issue HERE https://github.com/ntop/ntopng/issues

Thank you

[2017-05-01 17:47] lucaderi commented on #326
Please make sure that you use nDPI (and non unDPI) in cento and it should work.

[2017-05-01 17:47] #326 closed, assigned to kYroL01

[2017-05-02 05:13] JeevanNailwal opened #371 "need a NULL check in ndpi_patricia_lookup"
@line 771
 new_node = (patricia_node_t*)ndpi_calloc(1, sizeof *new_node);
new_node->bit = prefix->bitlen;

Solution:
Need to check if ndpi_calloc returns valid memory or not!!
if(! new_node) return NULL;

[2017-05-02 07:46] lucaderi commented on #368
@layeghy Can you please share the pcap?

[2017-05-02 13:38] hamhock opened #372 "add FIX protocol"
FIX (Financial_Information_eXchange) protocol

https://github.com/blttll/fixc
https://en.wikipedia.org/wiki/Financial_Information_eXchange

[2017-05-02 13:55] rubencitroxs commented on #367
Did you see the catch?
Any solution?

[2017-05-02 14:18] kYroL01 commented on #367
Yes I saw the pcap and IMHO there is nothing strange.
I saw different detection from your screenshot; are u sure you have upgrade nDPI and ntopng correctly ?
Look:

![img](https://cloud.githubusercontent.com/assets/7222956/25621855/eb0fe744-2f52-11e7-9f29-d609f6462980.png)

[2017-05-02 14:29] rubencitroxs commented on #367
Yes, follow the steps that show me emanuel

I strongly suggest you to upgrade to the nightly builds of ntopng and nProbe, which will likely solve your issues.

For the update you will need to flush your existing ntopng data. If you accept this, please follow these steps for the update:

1) stop ntopng: systemctl stop ntopng
2) stop nprobe
3) flush data: sudo rm -rf /var/tmp/ntopng && redis-cli flu

[2017-05-02 14:30] kYroL01 commented on #367
Look at the result, there is a lot of **Unknown** pkts because I think you are under a VLAN and there are lots of broadcast messages (255.255.255.255) and all of these pkts cannot be detected different from **Unknown**.
Another thing: there are hundreds of **HTTP**, but with private IP adresses (_192.168.0.33_ or _192.168.0.25_) and examining the flows, this is only generic pkts so nDPI correctly

[2017-05-02 14:37] kYroL01 commented on #367
Are u using a VLAN ? If yes, How can u use it with nProbe ?

[2017-05-02 14:40] rubencitroxs commented on #367
We actually have a VLAN segment, but it is not published in NTOP. Should not be seen.
Private addresses 0.25 (server ntop, nprobe), and 0.33 is my computer on which I work.

[2017-05-02 14:44] kYroL01 commented on #367
IMHO the pcap you sent us is different from the traffic you show in the screenshot (i.e. I can't see any ip addr == `138.255.97.14` while in yours it's show).
So maybe is a different pcap or you catch the traffic in a different way.

[2017-05-02 14:49] rubencitroxs commented on #367
Traffic capture with tcpdump, from ntop
Tcpdump -i eth0 -w /tmp/ntop.pcap

[2017-05-02 14:50] kYroL01 commented on #371
Thank you

[2017-05-02 14:50] #371 closed, assigned to nobody

[2017-05-02 14:52] kYroL01 commented on #367
Can you pass the screenshot of the traffic detected by ndpiReader ?

[2017-05-02 15:00] rubencitroxs commented on #367
![image](https://cloud.githubusercontent.com/assets/27857718/25624006/8e45eb4a-2f2e-11e7-865c-c3124687c562.png)
![image](https://cloud.githubusercontent.com/assets/27857718/25624053/af29ec3a-2f2e-11e7-8172-761407a76e1c.png)
![image](https://cloud.githubusercontent.com/assets/27857718/25624167/f3bfd080-2f2e-11e7-9480-f6a83c0b0d8f.png)

[2017-05-02 15:03] kYroL01 commented on #367
So, what's the problem with this detection ? It seems that the traffic detection  is correct, isn't it ?

[2017-05-02 15:06] rubencitroxs commented on #367
Sure, but the main problem is that it does not recognize YOUTUBE traffic.
Never shown. en la pestaña FLOW/Application

[2017-05-02 15:08] rubencitroxs commented on #367
And neither the "URLs" that enter the HOST

[2017-05-02 15:08] kYroL01 commented on #367
Do me a big favour: provide a pcap with **ONLY** a good **Youtube** traffic, so I could understand better.
Thanks

[2017-05-02 15:30] rubencitroxs commented on #367
Dear
Does it serve you if you are a specific host to have only youtube traffic?

example
Tcpdump -i eth0 src 192.168.0.X -w /tmp/ntop.pcap

[2017-05-02 15:44] kYroL01 commented on #367
Tcpdump cannot filter by application. Is like Wireshark, is a packet analyzer.
Filter for private ip address doesn't mean anything in this case.
So, if you wanna catch only Youtube traffic, launch tcpdup on your `eth0` and generate YouTube traffic opening ONLY YouTube (no other pages or torrent or anything could be mix the traffic).

[2017-05-02 15:46] rubencitroxs commented on #367
If I understand, I attach the catch

https://wetransfer.com/downloads/1c276d57dc1397920d53014fc56b51ff20170502154439/75bf556f61238cbd8a4b039f6ab024cb20170502154439/0aafdd?utm_campaign=WT_email_tracking&utm_content=general&utm_medium=download_button&utm_source=notify_recipient_email

[2017-05-02 16:18] kYroL01 commented on #367
It's _impossibile_ to detect YouTube with these kind of pcap.
Seeing your results, every "server" IP address is Multicast address (in the range `224.0.0.0 - 239.255.255.255`) so it's impossible to have any hostname match with the real server of YT (because YT could be detected by IP address or host name).
I think the problem is not the nDPI detection but your nProbe/ntop environment. At this point

[2017-05-03 21:39] emarshswe commented on #118
This is an old but an really an interesting request. Any progress in the discussions @kYroL01 and @lucaderi ?

[2017-05-04 07:41] lucaderi commented on #118
Please start sending a pull request so we can use it as starting point for this activity

[2017-05-07 05:57] subhedarnikhil opened #373 "Need help on SSL certificate"
Hi All,

I  need a small information  to take the host name from SSL certificate.

Currently we are reading the SSL certificate and from that we are extracting the host name.

I  have a access point on which i am trying to port the nDPI library.
Below  is the topology.

Wireless client -------- Access point-------- External network

If the SSL certificate is coming for the Wireless client then , c

[2017-05-07 17:57] kYroL01 commented on #373
Hi @subhedarnikhil
Yes, why not ? nDPI could extract host name from certificate thanks to **SSL dissector**.
I think you have no problem in this environment.

Regards

[2017-05-07 17:57] #373 closed, assigned to nobody

[2017-05-10 22:06] pavel-odintsov opened #376 "Do you have any options to detect nDPI version from source code?"
Hello!

I just discovered that you changed API and my code:
[code]

Is not working anymore.

So I have a question. How could I detect nDPI version to use a different syntax from some recent version and prefer to use old syntax for old versions?

I'm looking for something like:
[code]

[2017-05-10 23:15] pavel-odintsov opened #377 "0[NDPI] ndpi_init_protocol_defaults(missing protoId=226) INTERNAL ERROR: not all protocols have been initialized"
Hello!

I use nDPI from Debian Stretch (1.8-1) and have following code to init nDPI:
[code]

I checked few official references about nDPI but they are pretty outdated.

How could I fix this issue?

Thank you!

[2017-05-11 10:06] kYroL01 commented on #376
Hi @pavel-odintsov .

Actually I think you refering to a very old API. I checked where that function is changed but I think the old API is in 1.7 or older, isn't it ?

What is in this [implementation](https://github.com/ntop/nDPI/blob/442adce51db0b3fd9fdfe9f80df9e3cb767414c1/src/lib/ndpi_main.c#L1809) that break your code ?
I think the params passed to the old function now are inside the new API.

[2017-05-11 10:39] kYroL01 commented on #377
Many users ask us to introduce some "empty" placeholders to keep the protocol numeration in order with old version of nDPI.
When we add a new protocol, we set it to one of the free placeholder

So if u have no protocol defined with number 226 you can put an empty placeholder like [this](https://github.com/ntop/nDPI/blob/442adce51db0b3fd9fdfe9f80df9e3cb767414c1/src/lib/ndpi_main.c#L1625)

[2017-05-11 10:59] kYroL01 commented on #368
I close for inactivity. Reopen if necessary

[2017-05-11 10:59] #368 closed, assigned to nobody

[2017-05-11 10:59] #367 closed, assigned to nobody

[2017-05-11 11:12] kYroL01 commented on #366
@Ravi-t i missed the part

nDPI don't process fragmented packet: when a pkt is recognized to be fragmented, it's discarded.

[2017-05-11 11:22] Ravi-t commented on #366
Yes, I agree for fragmented packets we just discard it in function packet_processing. But this crash was not for a fragmented packet, I got a core dump when DPI was processing a Server Hello packet which I got when I was analyzing the live traffic on my server interface.

[2017-05-11 13:46] kYroL01 commented on #366
Can u please pass me the pcap that cause the SIGFAULT ? I saw the coredump but I need to see the pkts.
Thanks

[2017-05-11 14:03] #88 closed, assigned to nobody

[2017-05-11 22:17] pavel-odintsov commented on #376
Hello!

I think I have actual commit number: https://github.com/ntop/nDPI/commit/22e03ee98a07cce4a58b38b97860f56541ab82d9

My tools work in a very wide range of distros and I would like to use ifdef to support old 1.7 version because old centos/debian distros use it but I also want to support new version with new API and I looking for options to implement it.

[2017-05-11 22:18] pavel-odintsov commented on #377
Hello!

Yep, I think that I understand reasons. But users really concerned about such error messages and would be nice to have the option to suppress it if it is safe.

[2017-05-12 08:56] kYroL01 commented on #376
We have to discuss about it.

[2017-05-12 09:02] kYroL01 commented on #377
If you do what I suggest you, the problem will be solved.
in the `dev` branch we implemented it and there is no problem.
Try to understand better: are u using a modified old version of nDPI ?

[2017-05-12 10:34] pavel-odintsov commented on #377
Hello!

I got this code from Debian Stretch (9) packages.

On Fri, 12 May 2017 at 10:02, Michele Campus <notifications@github.com>
wrote:

--
Sincerely yours, Pavel Odintsov

[2017-05-17 11:03] stathisgotsis opened #378 "Snapchat detection"
Hi,

Snapchat does not seem to be properly detected using the latest version of ndpi. I suppose this is related to QUIC protocol now being used by snapchat.
[Snapchat_1_anon.zip](https://github.com/ntop/nDPI/files/1007452/Snapchat_1_anon.zip)
[Snapchat_2_anon.zip](https://github.com/ntop/nDPI/files/1007455/Snapchat_2_anon.zip)

BR,
Stathis

[2017-05-17 11:03] kYroL01 commented on #377
IMHO there is no problem with the actual dev repository. Open if necessary.

[2017-05-17 11:03] #377 closed, assigned to nobody

[2017-05-17 11:04] kYroL01 commented on #378
I'll check.
Thanks

[2017-05-17 11:05] kYroL01 commented on #366
@Ravi-t any update ?

[2017-05-17 14:21] Ravi-t commented on #366
Both crash and pcap files are already present in the _crash.zip_ file that I uploaded while opening the issue.

Thanks

[2017-05-17 14:23] Ravi-t commented on #366
Attaching it again

Thanks
[crash.zip](https://github.com/ntop/nDPI/files/1008039/crash.zip)

[2017-05-17 15:03] kYroL01 commented on #366
this is the trace from your core:
![core](https://cloud.githubusercontent.com/assets/7222956/26160690/459d41a4-3b22-11e7-9f02-129711afddd2.png)

and this the result passing your pcap to my ndpiReader (from last dev repo):
![pcap](https://cloud.githubusercontent.com/assets/7222956/26160819/8d2f726c-3b22-11e7-9f0a-017010617343.png)

1) the trace seems to be different from the one you passed me (the

[2017-05-17 15:35] kYroL01 commented on #378
Fixed https://github.com/ntop/nDPI/commit/ebb6d4499ae2ab9f474318fca08326609440e91c
Thanks

[2017-05-17 15:35] #378 closed, assigned to kYroL01

[2017-05-17 15:42] Ravi-t commented on #366
Thanks for the information, let me check if I shared the correct pcap which was resulting in crash, I will test again.

[2017-05-17 15:49] kYroL01 commented on #366
Perfect.
Also check if the issue has been solved.

[2017-05-17 17:29] Ravi-t commented on #366
Sure...I will test and update you in few days.

Thanks

[2017-05-19 08:31] HaochuanXJTU opened #384 "Help"
How can I test the accuracy of ndpi, do you have some benchmark?

[2017-05-20 11:17] pavel-odintsov commented on #376
Hello!

Do you have some updates about it?

[2017-05-20 11:23] kYroL01 commented on #376
Hi @pavel-odintsov . Actually we are very busy and we don't have discussed about it yet.
Hope to do asap.
Thanks

[2017-05-20 11:28] kYroL01 commented on #384
Hello @HaochuanXJTU .
We don't have special benchmark.
I think the best way is created a properly environmet and test result on any protocols you want to verify.
Do you thought about it ?

[2017-05-20 14:36] kYroL01 commented on #384
If your doubt is about the performance between nDPI and other tools for packet inspection, I suggest you to read [this](http://vbn.aau.dk/files/179043085/TBU_Extended_dpi_report.pdf).
You can see nDPI obtains the best score ;)

[2017-05-20 14:36] #384 closed, assigned to nobody

[2017-05-24 05:53] subhedarnikhil commented on #118
Hi  ,

I wanted to throw some light on second point i.e. on categorsation.
How can we categorize the traffic like,,

HTTP/News/BBC
HTTP/News/CNN
HTTP/News/GloboTV

Simplifying notation:
HTTPS/File/{Dropbox,UbuntuOne}
HTTPS/Webmail/{GMail,Yahoo}
HTTPS/VideoStreaming/{NetFlix,YouTube,Vimeo,Vevo}
HTTPS/SocialMedia/{Twitter,Facebook}
HTTPS/Communication/{KakaoTalk,Skype,GTalk,Webex}

Whether can we ge

[2017-05-24 07:59] kYroL01 commented on #118
H all.
About the **categories** feature, it has been implemented [here](https://github.com/ntop/nDPI/commit/7d0397a8fb7bc6cc0841d84c48eab0e08f6e567a).
For the other points we are open to discussion and suggestions.

Regards

[2017-05-25 11:44] subritm opened #387 "Office 365 detection- Added changes for detection"
FYI
While testing office 365, found that its not getting detected.

I added these domins and I can see its getting detected properly
src/lib/ndpi_content_match.c.inc

Thanks

[2017-05-25 12:26] kYroL01 commented on #387
Hi @subritm Thanks for reporting this!
I'll update asap.
Thank you

[2017-05-25 15:16] kYroL01 commented on #387
https://github.com/ntop/nDPI/commit/d17ea73273eacf4044759fe4e563e96a8195ffdd

[2017-05-25 15:16] #387 closed, assigned to kYroL01

[2017-05-30 07:03] subhedarnikhil opened #390 "Do we have support for metadata extraction..???"
Hi All,

I came across a situation where we can extract the metadata from the flow or the received packet.
Say for Data Structure for email protocols (SMTP, IMAP, POP, webmail)
Below is the metadata.
1) sender entery.
 a)sender name
 b) sender email
 c)sender alias.
2)Content.
3)Subject
4)Date
5) Draft
6)Receiver Entry
a)Receiver name
b)Recever email
c)recevr alais
d)receiver type
7 ) Encoding
8)

[2017-05-30 10:11] kYroL01 commented on #390
Hi @subhedarnikhil thanks for this question.
Some metadata are extracted when nDPI dissect a packet, any not.
There are a lot of informations but if you're interest on it we have to speak about if it's usefull for all the community.
I think we have to discuss and think better, but IMHO your question is good.

[2017-05-30 10:13] kYroL01 commented on #366
@Ravi-t any news ? Thanks

[2017-05-30 10:14] kYroL01 commented on #333
I close for inactivity. Reopen if necessary

[2017-05-30 10:14] #333 closed, assigned to nobody

[2017-05-30 12:34] Ravi-t commented on #366
I got the crash again. Backtrace is as follows, I have attached the pcap and coredump. Thanks

[core.4203.zip](https://github.com/ntop/nDPI/files/1038261/core.4203.zip)
[crashTraces.zip](https://github.com/ntop/nDPI/files/1038270/crashTraces.zip)

Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./ndpiReader -i eno16777736'.
Program terminated with signal 11, Segm

[2017-05-30 16:22] subhedarnikhil commented on #390
Hi Michael,
Thanks for the response.
I agreed that we have to discuss this requirement and I have started
background work on this.
Can you please start a discussion to gather more information to extract the
metadata....???

Regards,
Nikhil

On Tuesday, May 30, 2017, Michele Campus <notifications@github.com> wrote:

--
Regards,
Nikhil

[2017-05-31 09:00] subhedarnikhil commented on #390
@kYroL01
Thanks for the response.
I agreed that we have to discuss this requirement and I have started background work on this.
Can you please start a discussion to gather more information to extract the metadata....???
Regards, Nikhil

[2017-05-31 09:04] kYroL01 commented on #390
Hi. Yes absolutely. I think is a good discussion to improve nDPI.
My only doubt is about the number of informations we could extract and the way to do this, avoiding to weigh down the library

[2017-05-31 10:21] subhedarnikhil commented on #390
@kYroL01

Agreed with your concern.
But at the minimal lets gather required attributes which will be helpful to extract the metadata.
What  you say..??
Probably we can  consider my yesterday's attribute list as a base line and we can discuss further.
Also i was having an idea to add a rate limiting feature but dont know how it will be useful and feasible .

Regards,
Nikhil

[2017-05-31 13:55] kYroL01 commented on #390
For me is ok. We can discuss about it starting from this issue.

Regards

[2017-05-31 16:03] subhedarnikhil commented on #390
Hi ,
That's great let's sync up some time tomorrow if you are fine with it.
Can we have a discussion on Skype?
My Skype is is Nikhil.ss

Please share me yours too.

Regards,
Nikhil

On Wednesday, May 31, 2017, Michele Campus <notifications@github.com> wrote:

--
Regards,
Nikhil

[2017-05-31 19:39] kYroL01 commented on #390
I think is ok. write me a private mail to campus@ntop.org and we can speak there (and I'll give you my skype there). Thanks

[2017-06-02 06:11] max197616 opened #392 "Data analysis in different packets."
Hi,

Can the nDPI extract data (for example http) from different packets within the same tcp session?
For example, in the first packet:
GET /test.html HTTP1/1\r
In the second packet:
\nHost: example.com\r\n\r\n

Thanks.

[2017-06-02 10:46] kYroL01 commented on #392
Every packet is analyzed regardless the other, but two packets could belong to the same flow.
So, if we have two HTTP packets, nDPI extract all possibile information from both pkts.
You cannot choose "from this pkt i want to extract only URL and from the other Host".

[2017-06-04 00:02] pauloangelo commented on #118
Hi @kYroL01, @lucaderi, @emarshswe  and others,

I'm going to work on this in a few days and send some pull requests. We can discuss here some doubts and coding evolution.

Best regards,

Paulo Angelo

[2017-06-04 04:47] subhedarnikhil commented on #118
Hi
Paulo Angelo
In fact I have already started the design and some
Part of coding let's discuss sometime our thoughts

On Sunday, June 4, 2017, Paulo Angelo <notifications@github.com> wrote:

--
Regards,
Nikhil

[2017-06-05 12:54] subhedarnikhil opened #393 "Google Drive is detected"
Hi I have seen that Google drive traffic is not detected by nDPI.

Do we need to implement the supoort for the same..???

Regards,
Nikhil

[2017-06-05 13:34] kYroL01 commented on #393
Hi @subhedarnikhil . Provide a pcap with Google Drive traffic and share with us.

Thanks

[2017-06-05 13:34] #392 closed, assigned to nobody

[2017-06-05 17:43] kYroL01 commented on #393
This issue refers to this https://github.com/ntop/nDPI/issues/126

[2017-06-05 17:43] #393 closed, assigned to nobody

[2017-06-07 00:57] pauloangelo commented on #118
@subhedarnikhil

Cool! Which one are you working on ? (1, 2 or 3)

Regards,

PA

[2017-06-07 04:29] subhedarnikhil commented on #118
@pauloangelo
i am currently working on

HTTP/News/BBC
HTTP/News/CNN
HTTP/News/GloboTV

Simplifying notation:
HTTPS/File/{Dropbox,UbuntuOne}
HTTPS/Webmail/{GMail,Yahoo}
HTTPS/VideoStreaming/{NetFlix,YouTube,Vimeo,Vevo}
HTTPS/SocialMedia/{Twitter,Facebook}
HTTPS/Communication/{KakaoTalk,Skype,GTalk,Webex}

Please sync and discuss about your thoughts

[2017-06-07 11:30] subhedarnikhil opened #396 "need to extract linkedin,Soundcloud and google photo."
Hi
Looks like we need to classify the https  flows such as Linkedin ,google photo .
Since both of them uses dst port as 443 .
Currently i am working on that  and just wanted to check that currently Linkedin and google photo are part of SSL flows..????

Regards,
Nikhil

[2017-06-07 12:56] kYroL01 commented on #396
As for all the Google "suite" we need just to add the server name of their services [here](https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc) to perform pattern matching string. nDPI already etract server name (and in general host name) from SSL or HTTPS in order to classify encripted protocol flows.

For Linkedln I think is the same things, but I need to check. I catch a pcap

[2017-06-07 13:21] subhedarnikhil commented on #396
So can i add one more TCP handler for linkedin and soundcloud..????

[2017-06-07 13:30] kYroL01 commented on #396
Sure, look at https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc to put string refers to a server name or ip-range address. Then send a pull request and I'll check it correctness.

[2017-06-07 15:22] hrhasani opened #397 "nDPI does not work at all with iptables while ndpiReader works?"
I compiled ndpi_netfilter and made it's kernel module(and load it!). When I add some simple filter to drop ftp, http it doesn't work, but when I run ndpiReader it's detect everything correctly! What is the problem? I add an iptables rule like this:
`
iptables -I FORWARD -m ndpi --http -j DROP
`

also I add another simple rules in POSTROUTING but it didn't work too!

[2017-06-07 15:29] kYroL01 commented on #397
Hi @hrhasani . I think the problem is just because nDPI does not have the kernel support anymore. If you wanna continue to use it, looking for parallel fork project that continue in that direction.
https://github.com/betolj/ndpi-netfilter

[2017-06-07 15:29] #397 closed, assigned to nobody

[2017-06-08 05:57] hrhasani commented on #397
Hi @kYroL01. I exactly used that project to use nDPI in iptables. But the problem is that the ndpiReader worked fine for me, but the ndpi-netfilter didn't!

[2017-06-08 07:44] kYroL01 commented on #397
I understand it and I'm sorry for it, but we don't provide to keep the netfilter part anymore. I think you have to speak with the developer who continue to works with netfilter. If ndpiReader works fine, the problem is on the netfilter side.

[2017-06-08 08:10] hrhasani commented on #397
Ok, thanks

[2017-06-08 08:12] kYroL01 commented on #397
You're welcome

[2017-06-08 08:53] kYroL01 opened #399 "Add a way to properly check IPv6 address to classify protocols"
Recently I see that an increasing number of protocols don't match the IPv6 range that could allow to classify applications.
The best way is to implement a similar things as https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L23, but with only IPv6 addresses to keep things clear and sorted.
For example `2a00:1450:400d:806::2001` is a Google server address but nDPI classify it ju

[2017-06-08 09:55] pechy opened #400 "Whatsapp detection doesn't work"
Whatsapp (mobile Android APP) is not detected in recent nDPI version.

I see several reasons for this:
- WhatsApp uses more IP adresses and ranges then stated in [ndpi_content_match.c.inc](https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L80). The IP used in my case (169.55.67.244) isn't catched by this filter. See that the DNS query before, it returns more IP addresses, so t

[2017-06-08 09:59] kYroL01 commented on #400
Thank you very much. I'm look at it asap!
Provide a pcap it will be always the best way.

[2017-06-08 13:23] pechy commented on #400
Hello,
attached you can find pcap file.
[wa_anon.zip](https://github.com/ntop/nDPI/files/1061108/wa_anon.zip)

[2017-06-08 15:07] YumingMa opened #401 "Does Lync with TLS detection support？"
the lync with TLS detection doesn't  work via my test.there is the code about lync in the source code, but there is not LYNC protocols in the supported list. could you help me confirm the question，please?  I will upload the packets tomorrow.
Thanks in advance!

[2017-06-08 23:24] kYroL01 commented on #401
Hi @YumingMa I checked and yes, Lync is present in the list of protocols but it seems a proper detection is missing. Maybe is an old protocol deleted not correctly.
If you share a pcap we provide to put inside in the best way.
Thanks

[2017-06-09 01:14] YumingMa commented on #401
[lyn.zip](https://github.com/ntop/nDPI/files/1062796/lyn.zip)
I uploaded the lync pcap. Thanks. If any questions, please contact me.

[2017-06-09 08:35] kYroL01 commented on #401
Thank you!

[2017-06-09 11:16] kYroL01 commented on #400
first commit https://github.com/ntop/nDPI/commit/e0366a99653debd29d57aae3ac81a0559a5434fb

[2017-06-09 11:24] kYroL01 commented on #400
second commit https://github.com/ntop/nDPI/commit/af3086fb82e4c4622e10370ab092822e55fb6716

Please check if now WA is correctly detected.
Thanks

[2017-06-10 04:10] YumingMa commented on #401
Any updates?
Could you provide the best way to support Lync detection. Though it is an old protocol, but many people use it. so I think we should support it ASAP. I can try to code.

[2017-06-10 08:59] kYroL01 commented on #401
Hi @YumingMa I ask you to be patient but in a couple of day I'll provide the code. No problem if it's an old protocol. If people use its usefull.

[2017-06-10 17:33] subhedarnikhil opened #402 "Line messenger traffic detection"
Hi ,
Wanted to check that line messenger uses https 443 port or something different???
Currently I am writing the code for line messenger

Thanks,
Nikhil

[2017-06-10 17:37] subhedarnikhil commented on #402
Also same asmfor signal messenger since it uses end to end encryption are they using same port as 443 or different any idea

[2017-06-10 21:56] kYroL01 commented on #402
Provide a pcap for these protocols or send us a pull request with code and we will see.
Thanks

[2017-06-11 15:05] kYroL01 commented on #401
HI @YumingMa . Check your pcap I see many traffic on many ports, but the only things I can understand looking on Internet about Lync is that it use for sure the `TCP port 5061` for Skype; the others are variables.
Again, extract server name from TLS certificate does not give us much information. I need more informations or additional hints to have a good classification of this protocol. Can you gi

[2017-06-11 16:27] subhedarnikhil commented on #402
Hi Michele ,

Please find attached  packet capture line messenger.

Regards,
Nikhil

On Sun, Jun 11, 2017 at 3:26 AM, Michele Campus <notifications@github.com>
wrote:

--
Regards,
Nikhil

[2017-06-11 16:31] YumingMa commented on #401
I am so sorry.  I can't have other support. I only uploaded another pcap. I think we can have a good classification of this protocol based on port 5061 and  matching "lync"  in server name field now.  If we meet new detection missing of this in the future, we could add new code to fix it.
Thanks

[2017-06-11 16:33] YumingMa commented on #401
[lync2.zip](https://github.com/ntop/nDPI/files/1066584/lync2.zip)

[2017-06-11 16:51] kYroL01 commented on #401
Ok thanks. I'll see what shall I do as better as I can.

[2017-06-12 07:39] subhedarnikhil commented on #396
In this scenario do i need to add only servername or do i need to add the ip address as well..????

[2017-06-12 08:20] kYroL01 commented on #396
You can add both if you are sure that also IP-address i for that domain.
For Drive I already do this https://github.com/ntop/nDPI/commit/39dc99443cf60c2daa859d77c59b811a4aad4243

[2017-06-12 08:22] subhedarnikhil commented on #396
Okay , tell me one thing how i can send you a git pull request..????

[2017-06-12 08:29] kYroL01 commented on #396
Read this https://help.github.com/articles/creating-a-pull-request/
When you send I'll check if everything is ok.

[2017-06-12 08:46] YumingMa commented on #401
I found we should parse data pactet to detect lync data stream. so the prot shouldn't  be  5061. We should check other prots stream.

[2017-06-12 08:48] nikofil opened #403 "Different results from linking with apt package lib / compiled lib"
Hello!
I am writing some code that uses nDPI. It's based on https://github.com/caesar0301/pcapdpi/blob/master/pcapReader.c and I've noticed the behavior changes depending on how I link the nDPI library. The file I'm compiling is the same as the one above, but I removed the linux_compat.h include and I changed the ndpi_main.h include to ``#include <libndpi-1.7.1/libndpi/ndpi_main.h>``. You can see

[2017-06-12 08:53] kYroL01 commented on #401
Which kind of data packets ? We just parse not encrypted payload.

[2017-06-12 09:21] kYroL01 commented on #403
HI @nikofil
First of all, which version are you including with `-lndpi` ? Did you try to remove and recompile all after upgrade to the version `1.8` ?

[2017-06-12 09:28] nikofil commented on #403
Hey!
I've tried the packages libndpi3 (on Ubuntu Yak) and libndpi4 (on Zesty) which, according to https://launchpad.net/ubuntu/+source/ndpi, contain versions 1.7.1 and 1.8.1. I've also tried compiling many different versions, and I've tried doing everything in containers to make sure there is no interference, but the same thing happens.

[2017-06-12 09:36] kYroL01 commented on #403
It seems the apt package are out of sync. Maybe there was additional fixes added later not include in the package from Ubuntu.
BTW the last stable version is `2.0` (see the branches).

[2017-06-12 09:38] kYroL01 commented on #400
Other tests show the issue seems to be solved. Reopen if necessary

[2017-06-12 09:42] kYroL01 commented on #403
Just a thing look at your code:
https://github.com/caesar0301/pcapdpi/blob/master/pcapReader.c#L536
i suggest you to to `return -1` (or other number different from `0`) to avoid warning.

[2017-06-12 10:53] YumingMa commented on #401
I want to detect data stream over lync.  For example, I chats by lync, we could detect the chat stream as lync . It seems more difficult.

[2017-06-12 11:53] subhedarnikhil commented on #396
Hi,

I have sent an pull request please check the code and proceed further.

[2017-06-12 13:30] kYroL01 commented on #401
I'm trying to see if it's possibile

[2017-06-12 23:40] nikofil commented on #403
So turns out you were right, I was actually not compiling the older versions somehow, only >=2.0, while the packages were <=1.8. I have no idea how I missed it, I was 100% sure that I had tried older versions, but apparently it is version 2.0 that makes the difference, which isn't in any package yet.
Thank you for your time! I'm closing this issue now.

[2017-06-12 23:40] #403 closed, assigned to nobody

[2017-06-13 05:01] subhedarnikhil commented on #396
Hi  kYroL01 ,
Looks  like i am confused in the git pull request.
Just now i  have checked out the latest code and merged my changes .

Please find attached zip  files with this comment .
Please  let me know which branch
[soundclound.zip](https://github.com/ntop/nDPI/files/1070343/soundclound.zip)
 should i mention in my next pull request.

[2017-06-13 07:43] kYroL01 commented on #403
You're welcome!

[2017-06-14 15:58] subhedarnikhil commented on #396
Hi kYroL01,
When my code will get added to the dev branch????

Regards,
Nikhil

[2017-06-14 16:03] kYroL01 commented on #396
Hello. Please be patient for a day. I'll do the work asap.
Thanks

[2017-06-15 14:09] mamash opened #407 "No 2.0 tag"
Can you tag 2.0, please, so that source for 2.0 can be downloaded?

[2017-06-15 14:16] kYroL01 commented on #407
Did it.

Thanks

[2017-06-15 14:16] #407 closed, assigned to nobody

[2017-06-15 14:18] mamash commented on #407
Thanks!

[2017-06-16 06:59] mamash commented on #407
Actually, you seem to have tagged the latest commit as 2.0, but the codebase already references 2.1.0. Assuming 2.1.0 is not released yet, can you, please, re-tag with the specific commit that marked the 2.0 "release"?

Sorry to be such a drag. To paraphrase a well known quote, you keep using the 'tag' word, I do not think it means what you think it means. ;)

[2017-06-16 07:02] mamash commented on #407
Looking at the history of configure.ac, it doesn't seem that you ever actually published a 2.0 release (that the changelog suggests), because the file went from 1.8.0 straight to 2.1.0.

Is 2.1.0 released then? I'm looking for a reliably tagged released nDPI that I can package to build ntopng-3.0 against. What do you suggest I use?

[2017-06-16 08:45] kYroL01 commented on #407
@mamash I think I fixed, look now I tagged the 2.0-stable (https://github.com/ntop/nDPI/commit/09c176576697f5dc8fc4c6340ba57127399c3eac) as u expected.
The 2.1.0 release is for the `dev` branch, but you can use it without problem with ntop 3.0

[2017-06-19 18:41] kYroL01 commented on #401
I think the detection could be improved. I'm going to see deeply.

[2017-06-20 00:51] YumingMa commented on #401
I think you are right. the old code doesn't support it over tcp and can't detect it over udp. I only fix them. you can check  the document named MS-ICE2. So I also think my patch could merge.
[[MS-ICE2].pdf](https://github.com/ntop/nDPI/files/1086687/MS-ICE2.pdf)

[2017-06-20 01:35] YumingMa commented on #401
Thanks. I still work on this case in the furture.

[2017-06-21 10:08] kYroL01 commented on #401
You're welcome.

[2017-06-21 10:08] #401 closed, assigned to nobody

[2017-06-21 22:16] myth11 opened #410 "Small TCP Window of HTTP(S) header"
Hi.
One of the popular methods of circumventing DPI is setting a very small TCP window. So the first package:
GET /test.html HTTP1 / 1 \ r
\ NHost: example.com \ r \ n \ r \ n
Can be broken into several small ones. Is it possible to add such situations to ndpi? Since at the moment ndpi ignores such cases

[2017-06-22 08:50] kYroL01 commented on #410
Hi @myth11 . Did u see this issue happened or is a potential risk ? Actually I never see that things, but maybe you're right.

[2017-06-22 11:35] ayeshabasit opened #411 "make error while installing nDPI for ntop"
Here is my output, I installed pfring already as per instructions here http://www.ntop.org/get-started/download/

make all-recursive
make[1]: Entering directory '/root/nDPI'
Making all in src/lib
make[2]: Entering directory '/root/nDPI/src/lib'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/root/nDPI/src/lib'
Making all in example
make[2]: Entering directory '/root/nDPI/exampl

[2017-06-22 12:32] myth11 commented on #410
Yes I saw.

[2017-06-22 12:34] myth11 commented on #410
https://github.com/ValdikSS/GoodbyeDPI

[2017-06-22 12:37] kYroL01 commented on #411
@ayeshabasit It seems very strange that does not find ndpiReader.
Are u sure you did all steps correctly ?
Try do re-do all doing `./autogen.sh` before `./configure` if you didn't do it.

[2017-06-22 13:20] kYroL01 commented on #410
I'm looking deeply. Did u notice the bug using that program ? Are u refering to `Removing space between header name and value in Host header` and `Adding additional space between HTTP Method (GET, POST etc) and URI` in the Active DPI field ?

[2017-06-22 13:34] kYroL01 commented on #402
Any news about pull request or line messenger pcap ?

[2017-06-22 13:35] #390 closed, assigned to nobody

[2017-06-22 15:28] myth11 commented on #410
Yes, there are subscribers and servers that exploit this error

[2017-06-22 15:30] kYroL01 commented on #410
So the point (if I understand better) is to split the long line nDPI extract from metadata of HTTP(S) into smallest ones to avoid that exploit by these programs, correct ?
I think we can do it, and thanks to reporting it

[2017-06-22 16:30] myth11 commented on #410
Yes, I think that if you teach ndpi to collect fragmented packages into one whole, then these programs will no longer work.

[2017-06-22 16:32] myth11 commented on #410
Our system uses ndpi version 1.8. Is it possible to make a patch for it?

[2017-06-22 18:09] dangbert commented on #407
@kYroL01  Why is 1.6 tagged as the latest release?
https://github.com/ntop/nDPI/releases

[2017-06-23 04:13] subhedarnikhil commented on #402
do you want pcap form line messenger..????
Why dont you commit my changes on behalf of me , next time on wards i will
commit my check ins.

On Thu, Jun 22, 2017 at 7:04 PM, Michele Campus <notifications@github.com>
wrote:

--
Regards,
Nikhil

[2017-06-23 04:14] subhedarnikhil commented on #390
i am working on this issue, please give me some time.

On Thu, Jun 22, 2017 at 7:05 PM, Michele Campus <notifications@github.com>
wrote:

--
Regards,
Nikhil

[2017-06-23 09:31] kYroL01 commented on #407
@danielengbert because nobody do that thing again. I have to do but not immediately.

[2017-06-23 09:36] kYroL01 commented on #402
You sent a wrong pull request, so I did manually the chnged you requested.
Look https://github.com/ntop/nDPI/commit/b462a0845f08bffdbc92bbec63177950f0e150f8
I putted GOOGLE_DRIVE (and have to finish other things) but Line Messenger is another protocol, so it hs no boundary with this commit.

[2017-06-23 09:38] kYroL01 commented on #411
Any news ?

[2017-06-23 09:59] subhedarnikhil commented on #402
Hi MMichael,

Line messenger uses  SSL/ HTTPS only , so we have to modify only
ndpi_content_match.c and ndpi_protocol_ids also i have already shared the
PCAP for the same.

AFAIK, LINE is not doing its own specific protocol.

Regards,
Nikhil

On Fri, Jun 23, 2017 at 3:06 PM, Michele Campus <notifications@github.com>
wrote:

--
Regards,
Nikhil

[2017-06-23 10:45] kYroL01 commented on #410
Yes I think so, I have to push eventually modification also in 1.8 branch, if u can't upgrade t0 2.1.
I'll work on it, thanks for suggestion.

[2017-06-23 12:28] myth11 commented on #410
Thank you. I hope for an early solution to this problem))

[2017-06-23 12:30] kYroL01 commented on #410
Yes asap !

[2017-06-23 12:31] myth11 commented on #410
First of all, TCP-level fragmentation for first data packet. But other ways to bypass (Active DPI), too, can cause inconvenience

[2017-06-25 04:23] ghost opened #414 "make error:unknown type name ‘json_object’"
a error while making:
......
ndpiReader.c: In function ‘bpf_filter_produce_filter’:
ndpiReader.c:2310:3: error: unknown type name ‘json_object’
   json_object *jObj_bpfFilter = json_object_new_object();
   ^
......
thx

[2017-06-25 08:49] YumingMa commented on #414
I met the same error. the error was caused by 7235c9a7.

[2017-06-26 10:16] kYroL01 commented on #414
Let me know if the error is fixed now

[2017-06-26 10:35] kYroL01 commented on #411
I closed now. Open if necessary

[2017-06-26 10:35] #411 closed, assigned to nobody

[2017-06-26 10:39] #414 closed, assigned to nobody

[2017-06-26 10:40] ghost commented on #414
nice work,it works:)

[2017-06-26 12:32] lucaderi commented on #372
@hamhock Can you please provide some fix traces?

[2017-06-26 20:20] hamhock commented on #372
pcap file:
[fix.zip](https://github.com/ntop/nDPI/files/1103359/fix.zip)

thanks.

[2017-06-27 09:13] kYroL01 commented on #372
@hamhock I'll push the dissector code in few minutes.

[2017-06-27 09:40] kYroL01 commented on #372
Implemented.

[2017-06-27 09:40] #372 closed, assigned to kYroL01

[2017-07-04 12:12] subritm commented on #376
Hello,

Executing ndpiReader, it gives some version number. I think @pavel-odintsov wants something similar.

./ndpiReader
Welcome to nDPI 2.1.0-922-1a605e2

[2017-07-04 12:16] subritm commented on #376
or ./ndpiReader -r also gives the ndpi version and git revision number

[2017-07-05 07:49] ayeshabasit commented on #411
Hi, I did ./autogen.sh and ./configure but the results are the same :(

Also, what directory should I git clone all of these (pf ring, dpi, etc)? I did them at root, but that does not feel right.

[2017-07-05 08:15] kYroL01 commented on #411
I think the problem is the **root** directory. Why you placed there ? Try to do all in a different folder.
If you install these libraries from source code I suggest you to do under your home space.
Try to install correctly nDPI in a different place:

1. `git clone https://github.com/ntop/nDPI.git` (on the branch you prefer, i suggest dev that is the upgradest)
2. `./autogen.sh`
3. `./configure`
4.

[2017-07-06 07:05] ArslanSaleem opened #416 "How to extract mac address using nDPI?"
Hi,
I am trying to find the mac address of source but i didn't find documentation or source code to extract mac address.Is it possible to get mac address using nDPI?

[2017-07-06 09:25] kYroL01 commented on #416
Actually the library don't use a specific API to do this. the MAC address is matched during the analysis of ethernet header in https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_typedefs.h#L121 you can see:

[code]

Do u think it could be a good feature to add ? How you use the MAC addresses extracted?
Thanks

[2017-07-06 10:35] ArslanSaleem commented on #416
Yes, i tried the above approach but getting unknown characters. Below is the code that i used alongwith the outputs.
1.
`void packet_handler(u_char *args,const struct pcap_pkthdr* packet_header,const u_char* packet)
{
ethernet = (struct ndpi_ethhdr *) packet;
printf("Dest from ethHdrC: %s\n", ethernet->h_dest);
}`
output:
`Dest from ethHdrC: �������R��##`

Another i used another approach to parse

[2017-07-06 22:18] kYroL01 commented on #416
Hi @ArslanSaleem Your code is wrong. Try this:

[code]

I tested and it works.

[2017-07-06 22:18] #416 closed, assigned to nobody

[2017-07-07 06:20] ArslanSaleem commented on #416
It worked thanks

[2017-07-07 10:09] kakadoo opened #417 "Compile error on OpenBSD 6.1"
hi

i get this error

`
Making all in example
depbase=`echo ndpiReader.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`; gcc -DHAVE_CONFIG_H -I. -I..  -I../src/include    -pthread  -g -O2 -MT ndpiReader.o -MD -MP -MF $depbase.Tpo -c -o ndpiReader.o ndpiReader.c && mv -f $depbase.Tpo $depbase.Po
ndpiReader.c:65: error: '_bpf_filter' redeclared as different kind of symbol
/usr/include/net/bpf.h:301: error: pre

[2017-07-07 10:50] kYroL01 commented on #417
Test if this solved the problem, thanks

[2017-07-07 16:51] kakadoo commented on #417
hi

now i get
`
Making all in example
depbase=`echo ndpiReader.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`; gcc -DHAVE_CONFIG_H -I. -I..  -I../src/include    -pthread  -g -O2 -MT ndpiReader.o -MD -MP -MF $depbase.Tpo -c -o ndpiReader.o ndpiReader.c && mv -f $depbase.Tpo $depbase.Po
ndpiReader.c: In function 'parseOptions':
ndpiReader.c:452: error: lvalue required as left operand of assignment
ndpiReader

[2017-07-09 14:28] GMarciales opened #418 "Getting error after installing."
I am running WireShark 2.2.6 on Ubuntu 16.04 LTS and OS-X 10.12.5, both systems disabled the plugin due to a error when opening.

![screenshot from 2017-07-09 10-14-40](https://user-images.githubusercontent.com/15690019/27994739-48d4e37a-6491-11e7-9220-5c91a1dcc51d.png)
<img width="451" alt="screen shot 2017-07-09 at 10 15 12 am" src="https://user-images.githubusercontent.com/15690019/27994741-4cb

[2017-07-09 16:11] kYroL01 commented on #417
What about after this https://github.com/ntop/nDPI/commit/c5bc91145f9ce6553678b1ea3a6c0ddc1e6afdfb ?

[2017-07-10 05:19] kakadoo commented on #417
hi

next new error after git pull,

`
Making all in example
depbase=`echo ndpiReader.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`; gcc -DHAVE_CONFIG_H -I. -I..  -I../src/include    -pthread  -g -O2 -MT ndpiReader.o -MD -MP -MF $depbase.Tpo -c -o ndpiReader.o ndpiReader.c && mv -f $depbase.Tpo $depbase.Po
ndpiReader.c: In function 'parseOptions':
ndpiReader.c:452: error: lvalue required as left operand of

[2017-07-11 00:41] flepti opened #419 "L7 Apple detection (Protocol 140)"
On ntop flows, everything is associated with apple,
e.g.
Application: Skype.Apple
Dropbox.Apple
HTTP.Apple
SSL.Apple
DNS.Apple
And... on ndpi_content_match.c.inc, is it really 17.0.0.0/8?

[2017-07-11 06:30] kYroL01 commented on #419
Hi @flepti Can you provide a pcap to see this issue ?
Yes, the CIDR 17.0.0.0/8 is associated with Apple name server. We need to see deeply with a pcap.
this is what `whois` return:

Thanks

[2017-07-11 22:35] flepti commented on #419
Try this.
[dropbox.zip](https://github.com/ntop/nDPI/files/1140401/dropbox.zip)

[2017-07-12 07:44] kYroL01 commented on #419
Thanks. I'll let u know asap

[2017-07-13 12:53] kYroL01 commented on #419
Hi @flepti . Are u sure you sent me the correct pcap to investigate ? Because from this pcap I just see DropBox flows correctly detected by nDPI.

[2017-07-13 14:00] kYroL01 commented on #417
Can you please told me the version of the compiler you used in OpenBSD ?

[2017-07-13 14:23] kYroL01 commented on #417
Nevermind the compiler question. I think I fixed.

https://github.com/ntop/nDPI/commit/6d7f5552de5cf88a6dc994b0d2a93dadbbe23509

[2017-07-13 16:55] Kazz3r24 opened #420 "Feature request: Add Plex Media Server traffic to nDPI"
As requested I am adding a feature request to have Plex Media Server traffic added to nDPI.

Pcap file link is below, Pcap files are not supported to upload to github, so I have placed a link to a secure location where it can be downloaded from.

https://kkazienko.dattodrive.com/index.php/s/vw0JUITiJbziwvg
MD5: 0261101f9f51995e48713933dee81a1f
SHA1: d2f53ed7472deae791874b9c610e4b3a1221a5f9
SHA256:

[2017-07-13 16:59] kYroL01 commented on #420
Thanks for sharing pcap.
The work will be done asap.

[2017-07-13 16:59] #417 closed, assigned to nobody

[2017-07-13 17:33] MicahLyle opened #421 "SSL client vs. server certificate possible issue"
Using the latest development version (also occurs on the 2.0 stable branch), with the https google request in the pcap below (there is a DNS lookup and then an HTTPS google request in the PCAP file), the SSL flow classifies the `client_certificate` as `www.google.com` but `server_certificate` is empty. Shouldn't it be `client_certificate` empty and `server_certificate` `www.google.com`?

[google_h

[2017-07-13 20:32] kYroL01 commented on #421
Thanks for reporting. I'll check asap.

[2017-07-13 22:36] flepti commented on #419
HI @kYroL01 . Setup is okay now, I tried reinstall ntopng the past few weeks and still apple protocol is everywhere. I tried to reinstall it again yesterday and everything is fine now.

[2017-07-14 08:08] kYroL01 commented on #419
Good to know! Thanks

[2017-07-14 08:08] #419 closed, assigned to nobody

[2017-07-14 15:39] kakadoo commented on #417
hi
make  are now successful just some warning
` warning: sprintf() is often misused, please use snprintf()`

thanks you .

i will now start the installation and test on a active openbsd firewall

holger

[2017-07-14 18:59] MicahLyle commented on #421
@kYroL01 you're welcome. When I looked into it and stepped through the debugger, I think I've found at least some of what's happening. I attached two screenshots below.
<img width="1113" alt="screen shot 2017-07-14 at 11 49 27 am" src="https://user-images.githubusercontent.com/10660805/28226351-a591d012-688a-11e7-93ea-fc5e900b6107.png">
![screen shot 2017-07-14 at 11 49 58 am](https://user-images.

[2017-07-14 19:18] MicahLyle commented on #421
@kYroL01 I'll submit a pull request later today, I think I know how to fix it.

[2017-07-15 01:27] MicahLyle commented on #421
@kYroL01 Here's my progress so far (I have to head home for the weekend soon, based out of California here).

https://github.com/MicahLyle/nDPI/tree/ssl-certificate-fix

It's a quick and simple fix, but I'd possibly like to enhance it. I've modified the tests that were clearly still passing and just had an extra server certificate attached to the SSL output. However, there are now some tests where

[2017-07-15 08:52] kYroL01 commented on #421
Hi @MicahLyle .
Really thanks for ALL.
I think you're right about the server name, and I appreciate the test you did to see the improvement of your work.
SSL dissector is old and sometimes not easy to understand where improve, so everything new to fix some issues are welcome.

This is also my idea, so correctly, we can have a variable to differenziate the need. The only problem is where and how to

[2017-07-18 01:09] MicahLyle commented on #421
@kYroL01 here is my current approach, I will test it tomorrow:

https://github.com/MicahLyle/nDPI/commit/6e85b9344298dbba49d06951360c5e3c464d92ba

Basically if the nDPI users want to check for extra packet detection in their code, they are welcome to. Protocol detectors can now also specify if they want to check for extra packets and how many extra packets they want to check for (and what the call

[2017-07-19 09:51] lynn1050 opened #423 "ndpiReader crash while processiong the live traffic"
ndpiReader crash on one server, but not on another server, when it is processing the live traffic.
The backtrace is as follows:

#0  0x000000308287b81c in free () from /lib64/libc.so.6
#1  0x000000000040a32a in ndpi_free_flow_info_half (flow=0x7ffff220d8b0, func=0x438480 "node_idle_scan_walker") at ndpi_util.c:79
#2  0x00000000004071fc in node_idle_scan_walker (node=<value optimized out>, which=<v

[2017-07-20 19:58] ingria opened #424 "nDPI is taking SSL.Telegram traffic for SSL.Amazon's"
I'm using nDPI with ntopng.

nDPI v. 2.0.0-836-3cfcc05

[2017-07-23 08:55] kYroL01 commented on #424
Hi @codefuhrer please provide us a pcap to see the issue.

THanks

[2017-07-23 08:55] kYroL01 commented on #423
Thanks for reporting. I'll check asap

[2017-07-26 09:58] lucaderi opened #425 "Add Skype Conference Call detection"
See https://github.com/ntop/nDPI/blob/dev/tests/pcap/skype-conference-call.pcap

[2017-07-26 22:19] #425 closed, assigned to nobody

[2017-07-27 02:06] sferlin opened #426 "nDPI v2.1.0 crashing with large trace"
Hi, I have large (few GB) trace files, and I am using ndpi with -v 2 option to get the output and parse it. At some point, while reading the trace, nDPI crashes. I haven't used a profiler, just observing that some of my trace files do not go through. Any thoughts?

[2017-07-27 10:27] kYroL01 commented on #426
Hi @sferlin . Are u understand the part of the trace could cause the crash ? Maybe you can share us that part to understand better.

[2017-07-27 11:41] #421 closed, assigned to nobody

[2017-07-29 20:17] kYroL01 commented on #424
@codefuhrer any news ? I need a pcap to understand what's wrong

[2017-07-30 06:41] lucaderi commented on #410
@myth11 Can you please send a pcap that I can use to reproduce the issue without having to install the tools you reported?

[2017-07-30 17:20] ingria commented on #424
@kYroL01 I'm still not sure what's the root of the problem - nDPI or ntopng.

Sometimes it shows the correct values, but sometimes it shows Amazon instead of Telegram.

[2017-07-30 23:12] kYroL01 commented on #424
Well, how can we understand if the detection is correct, without a pcap to see the issue ?
Any other idea ?

[2017-08-02 22:23] kYroL01 commented on #426
Close for inactivity. Open if necessary and possibily with pcap that cause crash. Thanks

[2017-08-02 22:23] #426 closed, assigned to nobody

[2017-08-02 22:29] kYroL01 commented on #376
@lucaderi What do u think about this ?

[2017-08-03 12:19] bdrung commented on #376
That doesn't really help. The version information is needed on compile time in a deterministic way. Having a header that defines the major and minor version number is much more usable than needing to run a shell command, parse the output to extract the major and minor and then set a flag for compilation.

[2017-08-03 12:41] pavel-odintsov commented on #376
Yes, indeed. We need version in geaders to use it in ifdef constructions

[2017-08-04 11:06] kYroL01 commented on #424
Close for inactivity. If you send us a good pcap we can inspect better. Thanks

[2017-08-04 11:06] #424 closed, assigned to nobody

[2017-08-07 10:52] kYroL01 opened #429 "Add Signal application protocol"
https://en.wikipedia.org/wiki/Signal_(software)

https://security.stackexchange.com/questions/121304/how-does-the-signal-protocol-used-by-whatsapp-work

https://eprint.iacr.org/2016/1013.pdf

[2017-08-08 21:24] pauloangelo commented on #118
Hi @kYroL01, @emarshswe, @lucaderi  and @subhedarnikhil

I already requested a pull with implementation of  "1) Classification".

As mentioned above in this thread, the categorization feature is implemented [here](https://github.com/ntop/nDPI/commit/7d0397a8fb7bc6cc0841d84c48eab0e08f6e567a).

regards,

Paulo Angelo

[2017-08-08 22:09] pauloangelo commented on #118
Complementing...

I'm going to work on  ./src/lib/ndpi_main.c to have a look on the classifications of non "content match" protocols.

regards,

Paulo Angelo

[2017-08-09 16:16] kYroL01 commented on #396
LinkedIn here https://github.com/ntop/nDPI/commit/5e2f75f5f02efcaac4aca57c40fb838ddd45df68#diff-37f0ad94bbd32b9fbff7d75f1307c652R8294

[2017-08-09 16:16] #396 closed, assigned to nobody

[2017-08-09 17:24] pauloangelo commented on #118
Hi all,

I requested a new pull with some adjusts on classifications at "./src/lib/ndpi_main.c".

I believe we can close this issue, the most important questions are implemented (1 and 2). For point number 3, we can discuss better in another thread, if necessary.

regards,

Paulo Angelo

[2017-08-09 17:26] kYroL01 commented on #118
Hi @pauloangelo I'm watching and testing your pull req, thanks

[2017-08-09 17:43] kYroL01 commented on #118
Thanks for the work. I think is good and I can close this issue.

[2017-08-09 17:43] #118 closed, assigned to nobody

[2017-08-11 08:54] smirAnton opened #432 "Integrating Tshark with nDPI"
Guys, is it possible to integrate tshark with nDPI?
I wanna use deep packet inspection in tshark console.
Thanks for help!

[2017-08-11 08:57] VitalyKushnir commented on #432
@smirAnton Ye, it would be great to have this integration

[2017-08-11 15:13] pauloangelo opened #433 "Code formatting (indentation, etc.)"
Hi all,

Are there default basic instructions for code formatting in nDPI? Such as indentation, function names, etc.

Thank you in advance.

regards,

Paulo Angelo

[2017-08-11 16:01] pauloangelo opened #434 "Improvements on HTTP dissection"
Hi all,

I'm needing some features on the HTTP dissection module, which are useful for intrusion detection. Currently, we have the following for HTTP:
- OS detection (caught in the user-agent header);
- HTTP request method;
- URL; and
- content type.

I suggest the addition of:
- Number of headers in the request (actually the number of lines in the request header);
- The HTTP protocol version in t

[2017-08-11 19:58] kYroL01 commented on #433
Hi.
Well, there aren't special rules for code formatting. I think you can follow the code indentation and tab you can see.
For function names, you can see [this](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_api.h) for example.

If you have questions like this you can also write me privately, thanks!

Regards

[2017-08-11 19:58] #433 closed, assigned to nobody

[2017-08-11 20:00] kYroL01 commented on #434
Hi @pauloangelo . I think these features could be helpfull, so I'm agree with you.

If you can provide a pull request, feel free to do it and I'm testing and we can dissuss on it.

Thank you!

[2017-08-11 20:00] #434 closed, assigned to nobody

[2017-08-14 10:14] s-alabdullatif commented on #5
any update on this matter or how to make the protocol list up to date? Thanks in advance

[2017-08-15 18:56] alagoutte commented on #433
Yes, it will be a good idea to add indent modelines (file) for editconfig for example :)

[2017-08-16 16:10] lucaderi commented on #432
Did you see https://github.com/ntop/nDPI/tree/dev/wireshark ?

[2017-08-18 02:37] chigosec opened #437 "socks4 detect failed"
[socks4 rfc](http://ftp.icm.edu.pl/packages/socks/socks4/SOCKS4.protocol)
If the request is granted, the socks server returns a length of 8 bits. so follows code is error, and  socks4 detect failed.
[code]
I fixed the code as follows and worked fine
[code]
socks45.c

Good lucky!!!

[2017-08-18 07:26] kYroL01 commented on #437
I'm going to fix, thanks!

[2017-08-18 08:12] #437 closed, assigned to nobody

[2017-08-28 15:53] andyarus opened #440 "App crash because of nDPI"
nDPI version 1.8
Running app through GDB

[code]

Any ideas why this happen and how fix this?
It's my mistake or problem in nDPI?
packetlen=61664?
I use buffer length for PF RING zc cluster equal 1536

[2017-08-29 17:51] lucaderi commented on #440
Please share the source code of your app as otherwise I cannot help you

[2017-08-29 18:22] #366 closed, assigned to nobody

[2017-08-29 18:26] lucaderi commented on #418
@GMarciales Line 7 of ndpi.lua does not contain < that looks to me a git merge issue. Please clone nDPI again and it will work

[2017-08-29 18:26] #418 closed, assigned to nobody

[2017-08-29 18:26] lucaderi commented on #305
$ grep ndpi_set_detected_protocol libndpi.sym
ndpi_set_detected_protocol

Problem solved

[2017-08-29 18:26] #305 closed, assigned to nobody

[2017-08-29 18:57] lucaderi commented on #376
@pavel-odintsov Sorry for taking so long, however what you asked has been implemented.

[2017-08-29 18:57] #376 closed, assigned to nobody

[2017-08-29 19:03] lucaderi commented on #410
@myth11 Any chance to get a pcap?

[2017-08-29 19:35] lucaderi commented on #410
Fixed what was possible to reproduce. When @myth11 will provide a pcap with fragmented/small windows requests we'll check them and make patches if nDPI does not detect them

[2017-08-29 19:35] #410 closed, assigned to nobody

[2017-08-29 19:51] pavel-odintsov commented on #376
Thanks!

[2017-08-31 11:33] andyarus commented on #440
[code]

Seems I get not usual packet bytes and therefore was wrong calculate
[code]

I updated to nDPI 2.0.0 and remade code where I did this calculation and while all works good.
Thanks!

[2017-08-31 11:33] #440 closed, assigned to nobody

[2017-09-02 20:49] cavedon commented on #377
This is indeed a problem of the nDPI version (1.8) that is in Debian stable (stretch).
For bugs found in the Debian packages it is better to open the bug in the Debian bugtracker.
Anyways, given that the message appears to be harmless, it will probably stay like this for 1.8 in Debian stretch, and the next Debian release will include nDPI 2.0 or later where the problem should be fixed.

[2017-09-03 07:47] TaranehKhalili opened #441 "telegram protocol doesn't detect"
telegram does not detect by ndpi

[2017-09-03 07:56] kYroL01 commented on #441
Hi @taranehk Provide a pcap so we can see the problem.

[2017-09-03 12:40] TaranehKhalili commented on #441
Hi @kYroL01
I provide two pcap, one for web based telegram and one for its desktop application.

[telegram desktop](https://expirebox.com/download/cfd4986694058af8221cb97f197698bb.html)
[telegram web](https://expirebox.com/download/19281bb1bac8367c1961acf9d2772f8a.html)

[2017-09-03 14:41] kYroL01 commented on #441
FIxed by https://github.com/ntop/nDPI/commit/8e8445e02f9190c9fb12b01c097dda68a4c88856

[2017-09-03 14:41] #441 closed, assigned to nobody

[2017-09-05 04:54] TaranehKhalili commented on #441
thanx @kYroL01
but it doesn't work. still http_download is the protocol which is detected by ndpi.

[2017-09-05 09:31] spinenkoia opened #443 "The migration of the names of the protocols"
Good afternoon. I updated the version of the library from 1.8 to 2.0, but the protocols has changed. For example, 217(Ubntac2) is now 31 and number 31(Imesh) has deleted. How can I do the migration?

[2017-09-05 11:44] spinenkoia commented on #443
We use this library in production, and we can't afford to delete the created rules, which are linked to id protocols.

[2017-09-06 10:35] TaranehKhalili opened #444 "Telegram Application detection failed in FORWARD chain of iptables"
I want to detect telegram protocol for web and it's application.
I could detect and drop web.telegram. But the telegram application can not detect by ndpi. HTTP_DOWNLOAD is the protocol which is detected by the ndpi.
How is the process of detecting a protocol? first protocol checked by files in /src/lib/protocols OR by entries in ndpi_content_match.c.inc (IP addresses and FQDNs) ?
@kYroL01
why tel

[2017-09-12 03:51] huniyaarif1 commented on #199
I created a protocol decoder for LISP based on this raised issue. I tested it by creating UDP packets in Scapy and it's working correctly. I wanted to know if I can contribute and what is the testing process?

[2017-09-13 09:21] kYroL01 commented on #199
Send a pull request with code, thanks

[2017-09-13 09:21] #199 closed, assigned to nobody

[2017-09-14 05:33] ilovezfs opened #446 "Was 2.0 retagged?"
Currently the SHA-256 checksum for https://github.com/ntop/nDPI/archive/2.0.tar.gz is a42a60ebd64bc8606f780204222893027f6dce0e3b460d7be655e5e065f5f3fa.

Originally it was 90ae6e4de83bda5bb7405207020c1e0be364841510fdf5f0a2d48974e1a3fbcb. See https://github.com/Homebrew/homebrew-core/pull/14632.

Was 2.0 retagged at some point?

[2017-09-14 07:15] kYroL01 commented on #444
First of all nDPI check IP address and Port range and THEN check eventually dissectors in protocols directory.
I tested with your pcap and everything is working correctly. So, did u tried to update and recompile all ?

[2017-09-14 07:34] SoftnauticsLtf commented on #400
Looks like something is changed again and detection is not working properly.
I captured pcap and used in reader and seems some of packets are categorized as unknown which belongs to whatsapp.

@kYroL01 can you please have a look into this.
Let me know if anything needed more.
@pechy can you please re-open this issue.
[whatsapp.zip](https://github.com/ntop/nDPI/files/1302080/whatsapp.zip)

[2017-09-15 17:10] #432 closed, assigned to nobody

[2017-09-17 14:09] ilovezfs commented on #446
@lucaderi @kYroL01 any idea what happened here?

[2017-09-18 03:40] EBWi11 opened #448 "As a rookie....."
I would like to ask in addition to the 2013 documents, there is no updated more detailed documentation for reference?
I would like to use nDpi traffic analysis and https analysis, Google does not have any relevant documents, I am very depressed.
so,If have any demo or documentation,Please provide me, thx!

[2017-09-18 07:40] kYroL01 commented on #448
Yes, the pdf in the `doc ` section is from 2016
https://github.com/ntop/nDPI/blob/dev/doc/nDPI_QuickStartGuide.pdf

As demo I suggest you to use the ndpiReader test program
https://github.com/ntop/nDPI/tree/dev/example

If you need a fast introduction, you could write me in private for questions, If I could answer you.

[2017-09-18 07:40] #448 closed, assigned to nobody

[2017-09-18 11:09] EBWi11 commented on #448
thx!

[2017-09-18 16:51] kYroL01 commented on #444
I close because IMHO now the bug is fixed (as I said above). Reopen if necessary

[2017-09-18 16:51] #444 closed, assigned to nobody

[2017-09-20 04:27] TaranehKhalili commented on #444
I think telegram dissector cannot detect telegram flows between the application and server because of the protocol which telegram used for transferring data (MTproto).
IMHO the telegram dissector code is not complete.

[2017-09-20 07:03] kYroL01 commented on #444
Ok I'll check asap

[2017-09-20 09:38] TaranehKhalili commented on #444
Thanx
I think the matter is when you detect a protocol based on ip address (for example 149.154.166.120 for telegram) you should not continue the detection process. because of this problem http_download is the protocol which is detected instead of telegram.

[2017-09-20 16:59] androuxx commented on #416
in which file and line i need to add this code to print the mac address ?
 and how i can print the timestamp of the packets  also?

[2017-09-21 09:00] SoftnauticsLtf commented on #400
@kYroL01 @pechy can you please look into it.

[2017-09-21 09:11] kYroL01 commented on #400
@kishan-sib Sorry, I didn't see the comment. Of course, I'll check asap

[2017-09-24 04:37] dsokoloski commented on #146
Gentlemen,

We've run in to the same issue.  Our current solution was to borrow the ^ and $ regex characters and implement explicit head/tail matching.  Depending on the number of permutations (or levels) enabled (head & tail, head-only, tail-only), it can add up to 3 additional radix/ptree lookups per hostname.  That being said, we haven't seen a notable CPU usage increase when testing traffic up

[2017-09-24 11:11] TaranehKhalili opened #451 "OpenVPN does not detect"
openvpn protocol does not detect by ndpi.

[2017-09-25 04:15] TaranehKhalili commented on #444
well I could solve the problem by this change in ndpi_detection_process_packet function.
` flow->guessed_protocol_id = (int16_t)ndpi_guess_protocol_id(ndpi_struct, protocol, sport, dport, &user_defined_proto);
    if(flow->packet.iph) {
      if((flow->guessed_host_protocol_id = ndpi_network_ptree_match(ndpi_struct, (struct in_addr *)&flow->packet.iph->saddr)) == NDPI_PROTOCOL_UNKNOWN)
        flo

[2017-09-25 06:31] kYroL01 commented on #444
You could also send a pull request and then I'll check it.
I also try to see better, because i try telegram-desktop.pcap you sent me and I detect it correctly.
I see

[2017-09-25 06:31] kYroL01 commented on #451
Send a pcap, please.

[2017-09-25 08:07] TaranehKhalili commented on #444
OK. thanx. I send a pull request. 1a6546850652acdd12570345a1ec71a13ad5405d

[2017-09-25 13:00] la10736 opened #456 "Missed uthash header in `make distdir`"
In the tarball created by `make distdir` the file `example/uthash.h` used by target `ndpiReader` is missed.

[2017-09-25 13:21] #456 closed, assigned to nobody

[2017-09-25 16:00] mhdtbc opened #458 "Detect Call direction in Whatsapp Voice"
Dear all,

Is there any way to implement in ndpi whatsapp voice call direction detection (incoming or outgoing) depending on the capture. I was wondering if this can be done only by finding out if the first packet even cyphered is in incoming or outgoing direction.

Thanks.

[2017-09-25 19:41] dangbert opened #459 "Some of the API functions in the shared library are private"
See the stackoverflow thread [here ](https://stackoverflow.com/questions/46393154/c-code-undefined-reference-to-function-when-using-shared-library/46416892#46416892) for details about the problem.

In summary: there are some API functions that are inaccessible when using the shared library, libndpi.so,
 (they are treated as local symbols for some reason).
* set_ndpi_flow_free
* set_ndpi_flow_mallo

[2017-09-25 20:59] kYroL01 commented on #459
I think you're right... I have to think about it deeply. Thanks.

[2017-09-26 08:46] kYroL01 commented on #458
IMHO the best way is to understand who begin the conversation, so, in a cyphered comunication, who send the Client hello, and consequently, mark it as the one who "outgoing" the call.
Thanks to you

[2017-09-26 08:46] #458 closed, assigned to nobody

[2017-09-26 14:35] dangbert commented on #459
Someone on stackoverflow helped identify the fix: https://stackoverflow.com/a/46416892/5500073

Now I see that there are other functions that have this problem as well such as (ndpi_workflow_process_packet).

I will try to identify all the functions where this is a problem and possibly submit a pull request.

[2017-09-27 09:39] mhdtbc opened #461 "Use nDPI to extract or mark packets in PCAP"
Dear All,

I would like to use nDPI to extract from a large pcap, a file with only Whatsappvoice recognised packets.

Is there a way to do it with example nDPIReader ?

Thank you.

[2017-09-27 09:44] kYroL01 commented on #461
nDPI is not an extractor. you can use it to evidence which packets are WhatsApp voice and then you have to use an application to extract only that packet.
You can use nDPI as a "filter" for your application.

Cheers

[2017-09-27 09:44] #461 closed, assigned to nobody

[2017-09-27 09:50] kYroL01 commented on #446
Yes, it was retagged from here https://github.com/ntop/nDPI/commit/09c176576697f5dc8fc4c6340ba57127399c3eac

[2017-09-27 09:50] #446 closed, assigned to nobody

[2017-09-27 10:23] ilovezfs commented on #446
@kYroL01 thanks for confirming!

[2017-09-27 13:58] vel21ripn opened #462 "The difference in the results of testing nDPI-2.0 on 32-bit and 64-bit platforms."
[code]
On both systems, the gcc-5.3.0 compiler was used.
On the 64-bit platform, the tests are successful.
On the 32-bit platform there are several errors.
[code]
More details
[code]

**Can anyone confirm this problem?**

[2017-09-27 14:10] kYroL01 commented on #462
I think we need to update results. Thanks for reporting.

[2017-09-27 14:18] kYroL01 commented on #462
https://github.com/ntop/nDPI/commit/662ef2f65bc9b5864e6ac1b7080e43d3d576463f

Update ALL the code and try again. Thanks

[2017-09-27 14:18] #462 closed, assigned to nobody

[2017-09-27 15:06] vel21ripn commented on #462
There are 2 strange files: nintendo.pcap and skype-conference-call.pcap
( You need to fix the 19th byte from 0x08 to 0x04  )
[code]
Initially, I described the problem with testing the 2.0-stable (6607c33) branch.
The problem is that the tests give different results on different architectures.

[2017-09-27 16:04] vel21ripn commented on #462
[code]
This is a fake error. Just different the order of output data.
The cmpFlows () function compares the number of bytes of data in the flow, which gives ambiguity to the sorting. It can be better to compare flow.hashval for testing?

[2017-09-27 16:07] kYroL01 commented on #462
I think is to have a unique and consistent output. Just my opinion.

[2017-09-27 16:50] vel21ripn commented on #462
dev (662ef2f)

Please recheck the results for the sample traffic pcap/skype_no_unknown.pcap . There is a difference in the number of flows.
[code]

[2017-09-29 10:06] vel21ripn opened #465 "Failure of testing due to different levels of optimization when building a project."
Building a project with the CFLAGS="-g -O0" and CFLAGS="-g -O2" keys produces different results.
GCC-5.3.0 (64bit) is used.
PR #464  is the first step in identifying the problem.

[2017-09-29 10:19] kYroL01 commented on #465
Actually I don't understand the correlation between the pull request (that I think is correct) and the different levels of optimizzation. Can you explain better ? Thank you

[2017-09-29 12:46] vel21ripn commented on #465
Previously, sorting used only the total number of bytes in the stream, which gave, in the presence of undefined program behavior, a different order of output of the list of flows.
PR #464 eliminates this uncertainty in the behavior of the program.
Different results of the program with different optimization is a special case for different results when working on different architectures.
[code]
OK

[2017-09-29 13:57] kYroL01 commented on #465
First of all, I checked and IMHO the corrupted samples (_nintendo_ and _skype-conference-call_) must be deleted.

[2017-10-02 07:09] vel21ripn commented on #465
Error found and fixed ( #466 )

[2017-10-02 07:09] #465 closed, assigned to nobody

[2017-10-02 14:44] mluethi opened #467 "Build with JSON-C not possible"
Hi.

I'm trying to build nDPI from the repo - and I want it to support JSON-C.
This doesn't work the standard way as described in http://www.ntop.org/get-started/download/

That's what I do:
[code]

Test:
[code]

JSON-C is installed:
[code]

System config:
[code]

What's wrong with how I do it?
Maybe it is related to #169?

Thank you for your help!

[2017-10-02 19:48] dangbert commented on #459
Ok so I was wrong about ndpi_workflow_process_packet being a missing symbol (it turns out I was using that function wrong).

However, the following functions were missing symbols:
* set_ndpi_flow_malloc
* set_ndpi_flow_free
* ndpi_flow_free

after adding them to libndpi.sym I was able to compile my program (a modified version of ndpiReader) using the nDPI-2.0 shared library.

Pull request submitte

[2017-10-03 07:59] mluethi commented on #467
Hi.

It seems that I solved it by myself.
Next to installing the essential packages:
[code]

I added these as well:
[code]

Now, doing this:
[code]

works to get a version which supports json-c.

May I propose to add these instructions to **README.nDPI**?
Note: this is only tested for Debian...

Thanks.

[2017-10-03 14:08] kYroL01 commented on #467
i'll check asap. Thanks

[2017-10-03 14:09] kYroL01 commented on #451
No pcap, no dissector. Re-open when you can provide one. Thanks

[2017-10-03 14:09] #451 closed, assigned to nobody

[2017-10-03 14:14] kYroL01 commented on #443
Yes, from 1.8 to 2.0 there were some changes in the names cause by deleting any old protocols. Later we decide to don't change this behaviour to avoid create problem like the one you report.
Unfortunately users reports this later, and some of the number changed. With 2.0 you don't have this issue anymore. Are there any chance to update directly to 2.0 and accept these changes ? Maybe you have just

[2017-10-03 17:26] spinenkoia commented on #443
Thank you very much for the reply, now the problem is solved, we removed the protocols. We are more concerned about the constant changes in the protocols, if in the next version of such changes will not, it is very good.

[2017-10-03 17:31] kYroL01 commented on #443
@spinenkoia Yes we introduct some "empty" lines in case a protocol is removed.
BR

[2017-10-03 17:31] #443 closed, assigned to nobody

[2017-10-03 17:37] NatashaR4in opened #470 "trace flow to the end"
hi all , i want to trace a tcp flow that labeled with specific signature to the end .how can i do that ?
thanks in advance

[2017-10-03 19:06] kYroL01 commented on #470
I think this question is too generic and maybe is different from the behaviour of nDPI.
How you use nDPI ? How you sign a flow ? the end of a single flow or the flows or single protocol ?

[2017-10-04 06:19] TaranehKhalili commented on #470
End of TCP flow is marked by the fin or rst flags in the tcp header.