[2015-04-27 17:04] nyov opened #1 "Hello"
I'm glad to see ntop / nDPI coming to git!

I see you're starting with no history though, so I wanted to say feel free to take my svn mirror from https://github.com/nyov/ndpi and continue from there.
(I haven't watched it for a while now, but I hope it has all the ndpi branches and that no commits were missed by the mirror script.)
You can of course drop the glue and opendpi code after, if you wis

[2015-04-30 10:10] lucaderi commented on #1
Hi, yes we're slowly moving all our sw to github. It takes a bit of time however.

I wanted to import the whole repository and keep history, but as ndpi is part of the ntop svn, the history is very long and the port failed. so we started over.

I am not too familiar with git yet, so if you have suggestion etc, please let me know.

[2015-05-01 08:32] nyov commented on #1
I am aware, svn can be quite the effort to port.
I would give you my script, but I'm afraid the initial mirroring was mostly hand-made, then whipped into shape until it could auto-update newer svn revisions and then forgotten.

So my mirror is only updating for the ndpi sub-folder inside the svn.
If the code links to things outside the ndpi folder, or did so in the past, my mirror is incomplete.
B

[2015-05-06 10:23] lucaderi commented on #1
Honestly I would like to keep the repository tidy and avoid this import as I am not too familiar with git and possible side effects.

[2015-05-06 21:07] #1 closed

[2015-05-10 21:00] lucaderi opened #4 "Implement multi-protocol detection"
Ability to return multi-protocol detection (e.g. IP, UDP, DNS, Twitter) instead of just Twitter for a DNS query for www.twitter.com

[2015-05-10 21:03] lucaderi opened #5 "Add ability to load new protocols at runtime"
Currently nDPI is a monolithic library. Instead it would be desirable to split nDPI into engine + plugins where protocol dissectors are loaded at runtime (e.g. via shared libraries)

[2015-05-20 06:39] adamzvikler opened #7 "Kakao Talk"
This App is very popular in the Far East. Can you support it?

How can I send you traces for Kakao talk? I get a message 'unfortunately, we don't support that file type'

[2015-05-20 06:53] lucaderi commented on #7
Please send a merge request for a file to put inside https://github.com/ntop/nDPI/tree/dev/tests/pcap

[2015-05-20 08:28] adamzvikler commented on #7
How do I do that? I couldn't find a merge option

[2015-05-20 08:30] lucaderi commented on #7
https://help.github.com/articles/creating-a-pull-request/

[2015-05-21 14:10] petergaublomme opened #8 "Feature request for SnapChat traffic"
I'd like to request for Snapchat traffic to be classified by nDPI.

Server names should be the following:

feelsonice-hrd.appspot.com
feelsonice.appspot.com

Two pcap files of sample traffic are available at
https://drive.google.com/file/d/0B-7GNfxPaSADekxKUUdKdUlzWlE/view?usp=sharing

[2015-05-26 11:25] Skryabind opened #12 "Oscar protocol detects only in connect"
ICQ traffic (Oscar protocol) detects correct only when clients connects to icq server. Later, after client idle, when a flow was deleted as an old flow, when an icq-messages goes over the established connection, nDPI can't detect this flow as a oscar protocol.

[2015-05-26 14:57] tomerto opened #13 "Kakao.pcap"
Kakao Chat

[2015-05-26 19:26] lucaderi commented on #12
Please attach a pcap file that we can use to reproduce the issue

[2015-05-27 03:40] Skryabind commented on #12
Please tell how to make a pcap file. I just test this in my program, I add to a code a line like this:
printf("%u\t%u\t%u\t%u\t%d\n", ntohl(flow->lower_ip), ntohl(flow->upper_ip), flow->lower_port, flow->upper_port, flow->detected_protocol);
And show detected protocol to flows between my IP and login.icq.com. Sometimes (usually in initial connect) protocol detects as 69 (Oscar), and sometimes (usu

[2015-05-29 08:34] tomerto opened #16 "Differentiate between different types of WhatsApp media"
nDPI is required to differentiate between different types of WhatsApp media i.e. WhatsApp Voice vs. WhatsApp Messaging.

PCAP traces of WhatsApp Voice and WhatsApp Messaging sent by mail to ntop-dev@ntop.org

[2015-06-04 17:10] lucaderi commented on #16
@tomerto Please have a look at https://github.com/ntop/nDPI/commit/4ce9dec54ecb18b7eb5b9123bfbfc6c57aa35c6b that includes support for WhatsApp voice detection. Please test it extensively as STUN detector has been strongly modified. We are doing tests on our side, but if you have STUN traffic traces or further WhatsApp traces to share, please send them to us as more testing is probably needed.

[2015-06-07 10:53] tomerto opened #17 "Add nDPI support for EAQ application"
Add nDPI support for EAQ application. PCAP file with example sent separately.

[2015-06-07 10:54] tomerto opened #18 "Add nDPI support for Meu application"
Add nDPI support for Meu application. PCAP file with example sent separately.

[2015-06-07 10:55] tomerto opened #19 "Add nDPI support for Beta application"
Add nDPI support for Beta application. PCAP file with example sent separately.

[2015-06-07 10:55] tomerto opened #20 "Add nDPI support for Torcedor application"
Add nDPI support for Torcedor application. PCAP file with example sent separately.

[2015-06-08 12:08] Mile-Lile opened #22 "Some of nDPI filters do not match traffic"
I am ddwrt user and some time ago ddwrt developers drop using l7 filters and started using nDPI with iptables (for marking-matching traffic for QoS and Access Restriction purposes). I am not developer nor the network guru. Just simple SOHO user with very basic understanding of routers.
ddwrt has big community and now we have problem because some nDPI protocols (filters) do not work. ddwrt devs say

[2015-06-10 14:33] lucaderi commented on #22
@Mile-Lile Can you please attach a pcap file that I can use to reproduce the bug?

[2015-06-10 14:33] #16 closed

[2015-06-10 14:44] lucaderi commented on #7
@adamzvikler We moved this issue to https://github.com/ntop/nDPI/issues/13.
Can you please send me a pcap file to reproduce the issue?

[2015-06-10 14:44] #7 closed

[2015-06-10 17:20] Mile-Lile commented on #22
I can run Wireshark on Windows machine and get you pcap but I think it wont help much because nDPI is implemented and running as module on ddwrt router (my win machine is behind that router)... it is embedded system and there is no flashspace for tcpdump (at least on my router, no space for optware - cheap low end router)... Recently I found out that ddwrt nDPI work is based on this "distro" of nD

[2015-06-10 18:35] Mile-Lile commented on #22
ok. here is pcap. You will see (line 660) that I successfully connected to youtube (tls1) but skype after upgrade of app failed to connect and did retransmision all the time... file is 12,4MB so it is on gdrive for download https://drive.google.com/file/d/0B0SCwy1irn3qR0VKVlJRMGRBMUE/view?usp=sharing
here is ddwrt firewall where you can see that skype and youtube filters are loaded but aperently o

[2015-06-10 18:38] Mile-Lile commented on #22
File is to big for upload 12.4MB and only 10MB is allowed on git so here is my googledrive where you can download it  <https://drive.google.com/file/d/0B0SCwy1irn3qR0VKVlJRMGRBMUE/view?usp=sharing> https://drive.google.com/file/d/0B0SCwy1irn3qR0VKVlJRMGRBMUE/view?usp=sharing

From: Luca Deri [mailto:notifications@github.com]
Sent: Wednesday, June 10, 2015 4:34 PM
To: ntop/nDPI
Cc: Mile-Lile
Subjec

[2015-06-14 07:42] lucaderi commented on #19
@tomerto The trace you sent me for testing contains a few SSL handshake sessions, but in real traffic to analyse. Example the connections below have just SSL handshake.
	6	TCP 10.8.0.1:60406 <-> 72.246.97.26:443 [proto: 64/SSL_No_Cert][13 pkts/845 bytes]
	7	TCP 10.8.0.1:60408 <-> 72.246.97.26:443 [proto: 64/SSL_No_Cert][13 pkts/845 bytes]
	8	TCP 10.8.0.1:60410 <-> 72.246.97.26:443 [proto: 64/SSL_N

[2015-06-14 07:47] lucaderi commented on #17
@tomerto Can you please provide me more info about this protocol? Is there an application to download? I need this for documenting the dissector and for regression testing.

[2015-06-14 08:37] tomerto commented on #17
@lucaderi See more info here: http://www.brasilbandalarga.com.br/

[2015-06-14 08:40] Mile-Lile opened #23 "Add nDPI support for Popcorn Time application"
There is application called Popcorn Time. It is very popular in our county (Serbia) and I believe in others too. Because of the local laws you can watch movies online but it is prohibited to download them, it is against the law. This app do exactely that. Popcorn Time streams movies, popular series and TV shows from torrents. So, this application is widely used. It can be used on Windows, Andoids

[2015-06-14 10:32] lucaderi commented on #20
Just implemented in nDPI.

[2015-06-14 10:32] #20 closed

[2015-06-14 10:32] lucaderi commented on #18
Just implemented in nDPI.

[2015-06-14 10:32] #18 closed

[2015-06-14 10:32] lucaderi commented on #17
Just implemented in nDPI.

[2015-06-14 10:32] #17 closed

[2015-06-14 10:32] lucaderi commented on #13
Just implemented in nDPI.

[2015-06-14 10:32] #13 closed

[2015-06-14 11:44] tomerto opened #24 "Add nDPI support for TIM_WiFi application"
Add nDPI support for TIM_WiFi application. Trace sent in a separate email.

[2015-06-14 13:55] lucaderi commented on #23
@Mile-Lile I have looked at the pcap you sent me and this is basically BitTorrent traffic. I don't see how to   bind this BitTorrent traffic to Popcorn Time rather than to BitTorrent. What do you think?

[2015-06-14 15:36] Mile-Lile commented on #23
I just thought there is some workaround. I was thinking that they (Popcorn time app) have and use their own "swarm" so that connections can be traced somehow? But, on the second thought "mission is inpossible" :)... IP of peers, src and dst ports changes all the time, the only way is to bind traffic to protocol... Sorry for wasting your time, ticket can be closed as invalid. I just tried to block

[2015-06-14 18:03] lucaderi commented on #23
@Mile-Lile Let's close it and leave this ticket in pending state until a better idea comes out.

[2015-06-14 18:03] #23 closed

[2015-06-15 14:16] lucaderi commented on #12
@Skryabind Sorry for the late reply. Please use wireshark to capture traffic of your ICQ connection, so that we can both see the beginning of the connection and also when the connection gets idle.

[2015-06-15 14:23] lucaderi commented on #22
@Mile-Lile I have looked at the traffic and I believe nDPI works correctly. I think the issue is because you use an old nDPI. In order to update I need somebody to send me the patches I need to include into the linux kernel module for nDPI. Please try to send me a merge request.

[2015-06-15 17:07] Mile-Lile commented on #22
Not sure that I understand what I have to do? ddwrt uses latest 1.60 nDPI, and kernles 3.10, 3.18, 3.19, 4.1 depending on unit... I would send you the "patches" but I don't know anything about coding and programing. I am not developer. Just SOHO user on ddwrt non comercial community .What about Humberto, he told me that he will do some patches for kernel and netfilter till last Sunday...

[2015-06-16 02:10] betolj commented on #22
The "ndpi-netfilter" projects with logical structure based on "ewildgoose" model don't  work well nowadays.

1. Only one exclusive "conntrack notify" call: For this reason, it cann't be used in conjunction with nfnetlink. But, when you remove the nfnetlink kernel module, the conntrack application wont works anymore.

2. The web host detection depends on http or ssl protocols enabled: Youtube or Fa

[2015-06-16 03:16] Mile-Lile commented on #22
Thx betolj!!!

[2015-06-16 07:44] vel21ripn commented on #22
On what traffic you tested? I was getting consistently "out of memory" on the traffic of 200 Mbit / s 120k conntrack after 4-8 hours (conntack callback patch).
I have a version without the patch to the kernel, but it requires a the kernel 3.10 and above. Part of my corrections were included in nDPI, but then the process is stopped. Look http://devel.aanet.ru/ndpi/. Translation into English by http

[2015-06-16 11:19] betolj commented on #22
Hi, vel21ripn.

Your tests are made with http://devel.aanet.ru/ndpi/ ?

From 3.2 kernel series, the kernel patch is necessary because the register of "conntrack notify event" is exclusive (only one). And this is made by nfnetlink (default) call - It is mandatory requirement to use conntrack and conntrackd tools. So, the purpose of kernel patch is to allow two simultaneously conntrack notify events

[2015-06-16 19:24] Mile-Lile opened #27 "Add nDPI support for windowsupdate"
I remember there was windows update protocol in the old days. What happened to it? Lots of people will migrate from windows 7, 8, 8.1 to windows 10... it will be 3GB update that will run in background. It will be handy to have WSUS filter to put it to low priority...

[2015-06-16 19:26] Mile-Lile commented on #27
http://www.computerworld.com/article/2929024/microsoft-windows/microsoft-triggers-windows-10-nag-campaign-on-windows-7-8-1-devices.html

[2015-06-16 20:50] alexhebra opened #28 "FTP DATA not detected"
Hi,

I'm downloading some data using ftp and it hasn't detected how many bytes i've downloaded. Otherwise i can see it has been detected as Unknown protocol. If you need anything else please let me know.

[2015-06-17 07:55] vel21ripn commented on #22
Yes, I use this version for almost a year. Version "ewildgoose" contains a memory leak or a "race condition" or problems with locks. The second "callback" and duplication nf_conntrack - bad idea.
I added the extension "nf_conntrack" (for older kernels require a patch). Main goals: reducing the required memory (850 bytes per connection), stable performance, support for IPv6.

[2015-06-17 08:48] lucaderi commented on #28
@alexhebra Alex please provide a pcap (full packets) containing both the FTP connection and data.

[2015-06-17 11:04] betolj commented on #22
Ok. Just now I understand that you are the developer in "devel.aanet.ru".
I will give a better studied in your solution too and and try to improve my code too.

I could enable the youtube, facebook and others web hosts filtering with something like this:

static u8 nfndpi_protocols_http[NDPI_LAST_IMPLEMENTED_PROTOCOL];
...
ndpi_enable_protocols (const struct xt_ndpi_mtinfo*info)
{
...

[2015-06-17 13:46] alexhebra commented on #28
Hi Lucas,

Here is the link to download my pcap output: https://mega.nz/#!GUcEnBLA!2Wo3_1_YCoLQdv1RZJkcuy21CSqZahK1Tn9BRj6zxcg

As you can see i was trying to download ftp://ftp.debian.org/debian/dists/jessie/main/Contents-source.gz, about 42MB size file.

It wasn't detected as FTP data, but you can find it as Unknown protocol. Thanks.

[2015-06-18 08:35] Skryabind commented on #12
@lucaderi
1. This is pcap file with connection process, Oscar detects correct: https://dl.dropboxusercontent.com/u/5135944/Github/icq_dump_connect_cut.cap
2. This is pcap file with some messages only. traffic detects as SSL: https://dl.dropboxusercontent.com/u/5135944/Github/icq_dump.cap
This traffic is not encrypted, you can read a message "HI" by command tcpdump -n -r /root/icq_dump.cap -X | gre

[2015-06-18 19:17] Mile-Lile opened #31 "Add nDPI support for icmp and icmpv6"
I don't see it in /src/lib/protocols. Is it detected in some other way? Just in case pcap files for icmp and icmpv6 added... Thx

https://drive.google.com/file/d/0B0SCwy1irn3qTDlMVGhSUXc1dU0/view?usp=sharing

https://drive.google.com/file/d/0B0SCwy1irn3qZVJVRjd3X0x0Tm8/view?usp=sharing

[2015-06-21 20:53] lucaderi commented on #22
@betolj @vel21ripn @Mile-Lile Ok guys but can you please send me a merge request so I can integrate all this into nDPI?

[2015-06-22 06:17] tomerto opened #33 "Add nDPI support for HOOQ application"
Add nDPI support for HOOQ application. HOOQ is a Video Streaming service. https://www.hooq.tv/
Traces will be sent separately.

[2015-06-23 09:18] Skryabind commented on #28
@alexhebra , I have the same problem. As I see in sources, ftp-data protocol only detects if you download one of certain filetypes, defined in source code.
Problem of ftp-data is in passive mode: data and commands flows in different ports, thus nDPI have a problem to detect a data connection without information about command connection.
In my program I make a hack: if protocol of flow is not defin

[2015-06-23 10:12] Skryabind opened #34 "Is nDPI a thread-safe?"
To work with >10Gps traffic I want to share the traffic detection in different threads. Shall I use one detection module for all threads or own detection module for each thread?

[2015-06-23 11:17] unusualfor opened #35 "[Still NOT CLOSED] Why the JSON output isn't created?"
I've used this DPI for many months; I always installed it in the past with the svn commands, as well as the git repository wasn't available yet.
So, for my new Ubuntu VMs as well as for my Ubuntu PC, I started installing it with the procedure here illustrated; since I have always used the json output, I installed the libraries before the autogen and the configuration, and the compilation was succe

[2015-06-23 12:56] lucaderi commented on #34
Each instance returned by ndpi_init_detection_module() is lock-less but not thread safe if shared across threads. Please create one instance per thread as we do in https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c

[2015-06-23 12:56] #34 closed, assigned to nobody

[2015-06-23 12:58] lucaderi commented on #35
@frforesta configure checks if the json-c  library is installed. If so, JSON is generated. I think this is your problem

[2015-06-23 13:09] unusualfor commented on #35
@lucaderi already checked, of course. The environment is perfectly build: the old dpi works well and writes the json, the new one does not. But I really appreciate your help, thanks.

[2015-06-23 13:26] unusualfor commented on #35
@lucaderi You have closed the topic, but the issue remains :/ and this is not due to json-c or any other JSON library, cause they are working with the old program in the same environment!
I'm telling you for future users, not for my personal's sake :)

[2015-06-23 14:02] lucaderi commented on #35
@frforesta Is the code on git able to reproduce the issue?

[2015-06-23 14:06] lucaderi commented on #35
@frforesta It works for me
deri@LucasMacBookPro.lan 244> ./ndpiReader -i ~/pcap/http/http.pcap -j capture.json -v 2

nDPI Memory statistics:
    nDPI Memory (once):      94.54 KB
    Flow Memory (per flow):  1.92 KB
    Actual Memory:           1.61 MB
    Peak Memory:             1.61 MB
deri@LucasMacBookPro.lan 245> cat capture.json
{ "traffic.statistics": { "ethernet.bytes": 136886, "discarded.

[2015-06-23 14:18] alexhebra commented on #28
Hi @Skryabind @lucaderi,

Yes, i saw only some filetypes are detected. But even this kind of files have problems. I've tried it also and same issue persists.

But anyway i think you should provide your patch, sounds a smart approach to this issue. I don't know what @lucaderi  thinks. Can you?

Thanks.

[2015-06-23 14:22] unusualfor commented on #35
@lucaderi I've used the git code and tried on my PC (Ubuntu 14.04.3), on two different VMs built from different images, always Ubuntu, and a Fedora one. In all of them I've done all the steps required in order to make it work, but it still doesn't work properly. It starts, it goes on, but it doesn't create the json file. In all of these machines are been installed the json libraries and all things

[2015-06-23 16:25] Skryabind commented on #28
Sorry, in my case this is a part of my program, not a patch of libndpi. I don't know, how to change this issue in libndpi source :(
My code is like this:

[code]

Also I use some optimization and save all flows with 21 port to separate search tree. This tree is small and thus this code works fast enough.

[2015-06-24 11:47] lucaderi commented on #35
@frforesta See below

# ./ndpiReader -i lo -v 2 -j capture.json

^C
nDPI Memory statistics:
    nDPI Memory (once):      94.54 KB
    Flow Memory (per flow):  1.92 KB
    Actual Memory:           1.60 MB
    Peak Memory:             1.60 MB

# ls -l capture.json

-rw-r--r-- 1 root root 1001 Jun 24 13:46 capture.json
root@i7:/home/deri/nDPI/example# cat capture.json
{ "traffic.statistics": { "ether

[2015-06-24 11:47] #35 closed, assigned to nobody

[2015-06-24 13:10] unusualfor commented on #35
@lucaderi it's exactly what I've done, as you may have seen above. Of course, I've run it as superuser, otherwise it won't use the pcap library.

I've understood that it worked for you, I've only tried to submit a bug that probably affects this program, but it doesn't matter. Since everything I've done is correct, I'll be using the old version, that, I repeat, in the same environment works well (s

[2015-06-24 13:12] lucaderi commented on #35
@frforesta Can you please run gdb and see what happens?

[2015-06-24 14:50] lucaderi commented on #33
@tomerto See https://github.com/ntop/nDPI/commit/2be84d4d644cd6122d9328a5619d1f1168bda03f
Note that as HOOQ is apparently a customer of Quickplay, the protocol is set to quickplay

[2015-06-24 14:50] #33 closed, assigned to nobody

[2015-06-24 14:58] lucaderi commented on #24
@tomerto Implemented in https://github.com/ntop/nDPI/commit/ce94b7e545bca595a87c50379b37432423f395b6

As this traffic is TIM traffic that can be accessed on Wifi or plain ethernet, I marked it as TIM (no Wifi extension).

[2015-06-24 14:58] #24 closed

[2015-06-25 00:17] jnicholls commented on #4
+1

[2015-06-25 00:19] jnicholls opened #37 "DNS Resource Record "CLASS" field is not read"
I don't know why this is the case, but as shown at https://github.com/ntop/nDPI/blob/b2816d72da0a724f0af6d75d8fa368383bf7e1b4/src/lib/protocols/dns.c#L189 the 2-octet class field is not read from the resource record; the line is commented out.  Why is that?  I would expect this to throw the entire parser off by not moving the index forward 2-octets.

[2015-06-25 00:43] #37 closed, assigned to nobody

[2015-06-25 05:54] Skryabind opened #39 "nDPI hangs in some packets"
Function ndpi_detection_process_packet hangs when process the packet mpegts.
Captured packet:
https://dl.dropboxusercontent.com/u/5135944/Github/mpegts.cap
This problem occur in version 1.6.1. Version 1.5.1 works normally.

[2015-06-25 11:00] lucaderi commented on #39
@Skryabind See https://github.com/ntop/nDPI/commit/7e28cc0981dfcbbea9a08fd622a408f16184347a
Don't forget to star nDPI on github :-)

[2015-06-25 11:00] #39 closed, assigned to nobody

[2015-06-25 22:17] kong156 commented on #4
How many revisions are you planning between 1.6 and 2.0? :)) It is mandatory to split nDPI "protocols" into it's basics. This is a must for QoS classifiers. Also it would be nice if you could collapse or expand these basic protocols related to the main services (Youtube, Skype, Facebook, Tweeter, etc.) and maybe splitting at L7 is enough (for example Google may be presented as http/s, smtp, imap,

[2015-06-26 15:12] lucaderi commented on #4
@kong156 I know that but we need time and help. Would you be willing to contribute perhaps?

[2015-06-26 15:26] kong156 commented on #4
Sorry, but if I could I think that already would have happened. Unfortunately I'm not a programmer, just a humble user of your wonderful piece of software.

[2015-06-29 17:25] tomerto opened #40 "Add nDPI support for Globo.tv application"
Add nDPI support for Globo.tv application. An application providing access to Globo, a TV channel in Brazil. Trace will be sent separately

[2015-06-29 17:26] tomerto opened #41 "Add nDPI support for EasyTaxi application"
Add nDPI support for EasyTaxi, an application to call taxis. Trace file will be sent separately.

[2015-06-29 17:27] tomerto opened #42 "Add nDPI support for 99 Taxis Application"
Add nDPI support for 99 Taxis, an Application to call taxis. Trace will be sent separately.

[2015-06-29 17:28] tomerto opened #43 "Add nDPI support for OpenSignal Application"
Add nDPI support for OpenSignal, a Speed test application. Trace will be sent separately

[2015-06-29 17:29] tomerto opened #44 "Add nDPI support for SIMET Application"
Add nDPI support for SIMET, a speed test application. Trace will be sent separately

[2015-06-29 17:30] tomerto opened #45 "Add nDPI support for Waze Application"
Add nDPI support for Waze, community based traffic and navigation Application. Trace will be sent separately

[2015-07-01 12:38] tomerto opened #46 "Add nDPI support for Deezer Application"
Add nDPI support for Deezer Application, a Music Streaming service. Trace will be sent separately.

[2015-07-01 12:39] tomerto opened #47 "Add nDPI support for Recarga Application"
Add nDPI support for Recarga Application, an Application to recharge mobile credits

[2015-07-01 12:40] tomerto opened #48 "Add nDPI support for Portas Abertas Application"
Add nDPI support for Portas Abertas Application, a Mobile Operator Portal. Trace will be sent separately

[2015-07-01 12:43] tomerto opened #49 "Add nDPI support for TIM Beta Application"
Add nDPI support for TIM Beta Application, a chargeable application that allows the subscriber to pay accordingly their use of Voice, Internet and SMS service. The connection can be done via Facebook login or using a password that need to be generated via BETA site. Trace will be sent separately

[2015-07-01 12:44] tomerto opened #50 "Add nDPI support for TIM Menu Application"
Add nDPI support for TIM Menu Application, which gives  subscribers access all Mobile Operator's apps and services. Trace will be sent separately

[2015-07-01 12:46] tomerto opened #51 "Add nDPI support for MEU Application"
Add nDPI support for MEU Application, allowing Mobile Operator's subscribers have access to all information regarding their account, bills, credits, activate or deactivate promotions, etc. Trace will be sent separately

[2015-07-01 12:47] tomerto opened #52 "Add nDPI support for Som de Chamada Application"
Add nDPI support for Som de Chamada Application, allowing Mobile Operator subscribers to personalize the ringtone with different tones and music. Trace will be sent separately.

[2015-07-01 16:16] lucaderi commented on #4
Implemented in https://github.com/ntop/nDPI/commit/7f807b81feaae91fca09210d10ed12ee9cf89257

[2015-07-01 16:16] #4 closed

[2015-07-01 16:17] lucaderi commented on #22
@betolj @vel21ripn @Mile-Lile Hi all unless you send us a merge request soon, we're going to close this issue.

[2015-07-01 16:21] lucaderi commented on #27
@Mile-Lile Please provide a pcap file.

[2015-07-02 06:05] Mile-Lile commented on #27
I can't do it right now 'cause I'm in process of migration to windows 10. My PC machines don't do update anymore (manually)... They do it "silently" (when they are in "idle") in the background and I don't know when to capture pcap... So, please don't close ticket for now, lets wait for july 29th and then I provide pcap for WSUS... Thx

[2015-07-02 19:26] Mile-Lile commented on #27
here is file https://drive.google.com/file/d/0B0SCwy1irn3qZlhPTW1RdVlFdEU/view?usp=sharing
let me know if it is valid for WSUS detection or I will provide soon another one... Thx for your work.

[2015-07-02 21:08] alrferreira opened #54 "Add nDPI support for Instagram application"
Add nDPI support for Instagram (social network focused on photo publication).
Trace will be sent separately

[2015-07-03 14:50] kYroL01 commented on #8
Hello mr. @petergaublomme. I'm starting to work on Snapchat dissector as you asked us.
I'd like to know what kind of traffic you sent through your Snapchat session (to understand better the two pcap files you linked).
Thank you.

[2015-07-04 13:12] Mile-Lile commented on #27
and this one https://drive.google.com/file/d/0B0SCwy1irn3qNVZDb0xxekR6MGs/view?usp=sharing

[2015-07-05 18:40] lucaderi commented on #8
Fixed in https://github.com/ntop/nDPI/commit/f5d6cd511ecbf19bc434fcabb6c2304976359ea1

[2015-07-05 18:40] #8 closed

[2015-07-09 17:52] backer-and commented on #23
Popcorn Time has been dismissed according to: http://getpopcornti.me

[2015-07-09 17:54] Mile-Lile opened #61 "Add nDPI support for detecting Secured Socket Tunneling Protocol (SSTP) port:443"
Secure Socket Tunneling Protocol was introduced by Microsoft in Windows Vista SP1, and it is now available for Linux, RouterOS and SEIL.  SSTP uses SSL v3, and therefore offers similar advantages to OpenVPN (such as the ability to use to TCP port 443 to avoid NAT firewall issues), and because it is integrated into Windows may be easier to use and more stable.
The following header structure is comm

[2015-07-11 16:48] lucaderi commented on #52
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:48] #52 closed, assigned to nobody

[2015-07-11 16:48] lucaderi commented on #51
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:48] #51 closed, assigned to nobody

[2015-07-11 16:48] lucaderi commented on #50
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:48] #50 closed, assigned to nobody

[2015-07-11 16:48] lucaderi commented on #49
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:48] #49 closed, assigned to nobody

[2015-07-11 16:48] lucaderi commented on #48
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:48] #48 closed, assigned to nobody

[2015-07-11 16:49] lucaderi commented on #47
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:49] #47 closed, assigned to nobody

[2015-07-11 16:50] lucaderi commented on #45
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:50] #45 closed, assigned to nobody

[2015-07-11 16:50] lucaderi commented on #44
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:50] #44 closed, assigned to nobody

[2015-07-11 16:51] lucaderi commented on #43
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:51] #43 closed, assigned to nobody

[2015-07-11 16:51] lucaderi commented on #42
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:51] #42 closed, assigned to nobody

[2015-07-11 16:51] lucaderi commented on #41
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:51] #41 closed, assigned to nobody

[2015-07-11 16:51] lucaderi commented on #40
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:51] #40 closed, assigned to nobody

[2015-07-11 16:52] lucaderi commented on #54
Still awaiting your trace

[2015-07-11 16:52] lucaderi commented on #19
Fixed in https://github.com/ntop/nDPI/commit/2f347a33d8564ebb9f2bf42d344398912f682898

[2015-07-11 16:52] #19 closed

[2015-07-11 16:55] #46 closed, assigned to nobody

[2015-07-12 10:45] sudeepta-bhuyan opened #62 "nDPI quick start guide is not in sync with the latest code."
For eg. It talks about using the demo pcapReader application, which is not present in the latest code.
Instead ndpiReader should be used.

[2015-07-12 10:57] lucaderi commented on #62
Can you please update it and send us the new version?

[2015-07-12 11:09] sudeepta-bhuyan commented on #62
Sure. I'll  do that.

[2015-07-12 12:07] sudeepta-bhuyan commented on #62
Hi Luca,
Unfortunately i don't have a Mac. So I am getting into a lot of ugly formatting issues when trying to edit the files using my word processor. Could you please send me the .pages file exported to either .doc or docx format, so that I can do  the necessary edits and send them to you.

Appreciate your help.

Thanks,
Sudeepta

[2015-07-12 18:39] lucaderi commented on #62
Done. I have added a new Word version of the manual. Please enable "track changes" and mail me the new document for inclusion. Thanks.

[2015-07-13 13:15] kYroL01 commented on #12
Implemented with 9d1e99ad0a45f7fefc1d4a9a46c061c3aa5f60b7.

If you have a longer pcap with an initial longer session establishment i can try to extend the dissector.
For the time being i close the issue.
Thank You

[2015-07-13 13:15] #12 closed

[2015-07-13 13:36] lucaderi commented on #27
Fixed in https://github.com/ntop/nDPI/commit/0b7af2dbbc5b6ee6480ab3022a1e1e4695a916bd

[2015-07-13 13:36] lucaderi commented on #54
Implemented in https://github.com/ntop/nDPI/commit/5c55b970c6a25face44a7f10ac5756861d3750cb

[2015-07-13 13:36] #54 closed, assigned to nobody

[2015-07-13 13:37] #27 closed

[2015-07-13 13:37] lucaderi commented on #22
Closing the issue as we have not received a merge request yet. Once this will happen we will reopen it.

[2015-07-13 13:37] #22 closed

[2015-07-13 14:07] lucaderi commented on #61
We have looked at your trace and like OpenVPN it is just SSL and once decrypted we can see the real SSTP protocol. We could add a handler looking at the name of the server (xxx.freesstpvpn.com in your case) but as it is not too reliable and limited in scope, we prefer not to do that. Thanks for submitting your request

[2015-07-13 14:07] #61 closed, assigned to nobody

[2015-07-13 14:17] lucaderi commented on #31
Fixed in https://github.com/ntop/nDPI/commit/1d711d849d4cc1350ede04b4f5e0911ac59e88fa

[2015-07-13 14:17] #31 closed, assigned to nobody

[2015-07-13 14:44] lucaderi commented on #28
We have enhanced the FTP_DATA dissector as the @Skryabind suggestion (keep track of open port 20/21) is not feasible because nDPI does not keep intra-flow stats/dependencies. We have introduced a fix in https://github.com/ntop/nDPI/commit/5af906ad83a7e561eff5a9ed77bd1e8e6b5c2b00 that we think is a good compromise. Please give it a try.

[2015-07-13 14:44] #28 closed

[2015-07-13 16:40] Mile-Lile commented on #61
Ok. Thx for clarifying. By googling I found this:

SSTP works in this way:
First, a TCP connection on port 443 is established.
Second, SSL Negotiation starts, server certificate is downloaded and validated.
Third, SSTP control over HTTP is sent.
Fourth, PPP connection and authentication.
Fifth, authentication verified bind for IP traffic flow.
Sixth, PPP over SSTP encapsulated traffic between host

[2015-07-13 16:41] sudeepta-bhuyan commented on #62
I have sent you the new document. Thanks.

[2015-07-13 22:19] #62 closed, assigned to nobody

[2015-07-14 13:58] SrPatinhas commented on #23
@backer-and the original team yes, but this one https://popcorntime.io is continuing the project for over a year

[2015-07-14 17:14] alexhebra commented on #28
Hi @lucaderi ,

I've just tried with development ndpi version and didn't work. I don't know if @Skryabind has tested already. What seems strange is: it only worked with pcap file that i sent you. If i try to access any another FTP site and download anything it wasn't recognized. I used ndpiReader to try.

Let me know if i can help you.

Thanks.

[2015-07-14 21:06] lucaderi commented on #28
@alexhebra What you want to do can be done at the application level, not inside nDPI that has a per-flow knowledge only. nDPI receives the packets only until a flow has been detected, then it has no possibility of implementing log like "flow between this hosts with 21 port exists". In essence this is on the app that uses nDPI that has knowledge of flows and that has to make that decision.

[2015-07-18 01:26] alrferreira opened #67 "WhatsApp Detection"
Hello guys. Congratulations for the work!
In my tests,  the version 1.6 is not properly detecting/blocking Whatsapp messages.
Can confirm me if I have done wrong?

[2015-07-18 08:10] kYroL01 commented on #67
Hello @alrferreira .
Can you detect a pcap of your Whatsapp session that is not properly detecting ?
Thank you

[2015-07-20 14:28] alrferreira commented on #67
Hello @kYroL01.

Follows pcap files:
http://www.netdeep.com.br/tmp/whatsapp_with_ndpi_rule.pcap
http://www.netdeep.com.br/tmp/whatsapp_without_ndpi_rule.pcap

Thanks!

[2015-07-20 15:24] alrferreira opened #68 "Add nDPI support for Evernote application"
Hello,
Please add nDPI support for Evernote (notes application generally in mobile devices)

Follows trace (tested login, synchronization, and changing a note):
http://www.netdeep.com.br/tmp/evernote.pcap

Thanks!

[2015-07-20 15:28] kYroL01 commented on #67
Thank you.
We try to fix all in following days.

[2015-07-20 15:51] alrferreira opened #69 "Add nDPI support for TED application"
Please add nDPI support for TED (video conference platform application).

Trace is here:
http://www.netdeep.com.br/tmp/TED.pcap

Thanks!

[2015-07-20 15:55] kYroL01 commented on #69
Maybe we take more time to do all because we are busy. Be patience please.

Thank you

[2015-07-20 17:19] alrferreira commented on #69
Ok. No problem.
Meanwhile, I'm testing other commonly used applications (icq, snapchat, tinder, facebook messenger, play store, google plus, imo, dubsmash, 4shared, linkedin, etc) and will send the pcap file of the monitored traffic.

[2015-07-23 06:02] pavel-odintsov opened #70 "Perfromance debugging issue"
Hello, folks!

Thanks for your brilliant work!

I have run nDPI on Network with 500 kpps load (per packet analitics mode) and expect significant performance issues, I can't achieve more than 250 kpps. Thus, I have tried to debug it but have some troubles with debugging symbols.

In perf top I saw:

[code]

But my binary is not stripped:

[code]

And have all important symbols:

[code]

I have inst

[2015-07-24 12:19] lucaderi commented on #70
Pavel
first of all please disable -O2 and add -g for debugging.

This said, nDPI is a library, not a networking bridge as ntopng. So I am unable to assist as it is used inside your code. Please try to reproduce the issue with ndpiReader. Thanks.

[2015-07-24 12:19] #70 closed, assigned to nobody

[2015-07-24 12:23] pavel-odintsov commented on #70
Luca, I speaking about another thing :)

Perf top correctly show functions from my code (i.e. I have -g -O0). But I want to build nDPI itself with debug enabled and can't find any options in configure for this.

[2015-07-24 12:30] lucaderi commented on #70
Edit src/lib/Makefile after configure and add your options

[2015-07-24 12:38] pavel-odintsov commented on #70
What about nice option for configure?=) Folks from Debian have added -dbg package and it's very useful

[2015-07-28 07:37] imvisiontech opened #71 "performing DPI for http pipeline"
Hi,
Is it possible to work with ndpi to capture multiple requests and responses in a single http session (http pipeline support)?
The example code  demonstrates only single request-response detection.

thanks,
Shirley.

[2015-07-28 12:06] lucaderi commented on #71
nDPI does not capture but analyzes traffic that has to be captured by other means (e.g. PF_RING). This said, pipeline or not, nDPI can be used to detect HTTP traffic and this is what it does.

[2015-07-28 12:06] #71 closed, assigned to nobody

[2015-08-04 00:55] ver2go commented on #22
I'm seeing this issue too and would like to be able to filter on YouTube.  So you need @Mile-Lile @betolj @vel21ripn to submit a merge before it can be fixed?

[2015-08-04 08:27] kYroL01 commented on #22
@ver2go If you think you solve the problem, please, send a pull request, so we can see the result of your fixing. We cannot discuss about a problem without seeing the code.
Thank you.

[2015-08-07 08:37] lucadistefano opened #74 "ndpi confonde teredo con bittorrent"
un cliente mi ha segnalato che la sua connessione con la casa madre viene rilevata come bittorrent ma è una connessione Teredo.

i pcap li trovi in dropbox:
Dropbox/Wurth/baddpi-bittorrent-teredo.pcap.gz
Dropbox/Wurth/baddpi-bittorrent-teredo-small.pcap

[2015-08-07 13:56] #74 closed, assigned to nobody

[2015-08-08 23:56] alrferreira commented on #67
Any news? Did you detected the issue?

[2015-08-09 07:42] lucaderi commented on #67
How did run your tests? Did you use ntopng in bridge mode?

[2015-08-10 02:07] alrferreira commented on #67
I used tcpdump in my firewall.

André Luiz R. Ferreira

-----Mensagem Original-----
De: "Luca Deri" notifications@github.com
Enviada em: ‎09/‎08/‎2015 04:42
Para: "ntop/nDPI" nDPI@noreply.github.com
Cc: "André L. R. Ferreira" alrferreira@netdeep.com.br
Assunto: Re: [nDPI] WhatsApp Detection  (#67)

How did run your tests? Did you use ntopng in bridge mode?
—
Reply to this email directly or view it

[2015-08-10 06:50] lucaderi commented on #67
Ok but who is supposed to block you WhatsApp? You complain as there is an issue on nDPI but it is not clear why you think so and who should block this traffic.

[2015-08-10 13:30] alrferreira commented on #67
I did a test with nDPI, integrated with iptables (version 1.6).
It worked with most applications, but with Whatsapp, is not blocking anymore. Before he could block.

See the used syntax:
iptables -I FORWARD -o eth1 -m ndpi --whatsapp -j DROP

So I captured traffic and send it to help me identify what happens.

[2015-08-10 13:42] lucaderi commented on #67
We do not support this module, please contact its coder. We have asked several times to send us a patch so that we can update the code of this kernel module inside nDPI but nobody helped. Thus I cannot assist you unfortunately.

[2015-08-10 13:42] #67 closed, assigned to nobody

[2015-08-12 12:50] lucaderi opened #75 "Add Hotspot Shield support"
Add https://www.hsselite.com protocol dissector

[2015-08-18 09:11] lucaderi commented on #75
Initial implementation is already in the git repository.

[2015-08-18 09:11] #75 closed, assigned to nobody

[2015-08-25 02:01] bcronje opened #77 "BUG - Cast away of const inside ndpi_detection_process_packet"
In `ndpi_detection_process_packet` the packet parameter is defined as `const unsigned char *packet`:

[code]

However on line https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L3316 you cast this const away:

[code]

Which eventually gets use as a parameter to `ndpi_network_ptree_match` in line https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_main.c#L3423 :

[code]

Inside `ndpi_network_

[2015-08-25 06:51] lucaderi commented on #77
Good. Can you please provide us a patch (merge request?)

[2015-08-25 11:36] bcronje commented on #77
Sure, I'll give it a go. Will send through a pull request sometime today.

[2015-08-25 13:59] whoknowz opened #78 "Viber protocol is not detected."
Viber is no longer detected, identified as unknown. Will upload pcap file soon.

[2015-08-25 14:47] rs-natano opened #79 "ndpi_protocol2name() not exported"
The release notes for nDPI 1.6 mention "New API call for converting nDPI protocols IDs to names ndpi_protocol2name()", but the function name is not included in libndpi.sym and thus not exported in the resulting shared library.

<pre>
natano@ketzer:~$ nm /usr/lib/libndpi.so.1.0.0|grep protocol2name
000000000000efd0 t ndpi_protocol2name
</pre>

Notice the lower-case 't', which indicates that the sym

[2015-08-25 22:31] lucaderi commented on #79
Fixed

[2015-08-25 22:31] #79 closed, assigned to nobody

[2015-08-25 23:04] bcronje commented on #77
@lucaderi I've send the pull request. That PR only addresses the invalid write to the packet ip header, it ensures that we do not pass `flow->packet.iph->saddr` or `flow->packet.iph->saddr` directly to `ndpi_network_ptree_match` where it will get written to. So the logic hasn't changed.

However, I think there is room for improvement which I could address in another pull request. I'll open a new i

[2015-08-25 23:34] bcronje opened #81 "Inconsistent byte order for parameters passed to ndpi_network_ptree_match"
As a follow up to issue #77 , currently there is inconsistent usage of the byte order of the `in_addr *pin` parameter of `ndpi_network_ptree_match`

Based on the existing implementation of `ndpi_network_ptree_match` it appears `ndpi_network_ptree_match` expects `in_addr *pin` to be in host byte order, as you convert to network byte order looking at your comment here:

[code]

I'm assuming `ndpi_pa

[2015-08-25 23:35] #77 closed, assigned to nobody

[2015-08-26 06:53] lmangani opened #82 "Add Hooks for FFI Bindings"
Based on internal discussion and ongoing testing w/ LUA/NODE FFI bindings, extend the current nDPI reader examples to include dedicated call & callback mechanisms to be paired with FFI requests;

PoC Ref LUA: https://github.com/lmangani/nDPI-lua/blob/master/src/ndpiReader.c

[2015-08-26 12:00] AlekMarkus opened #83 "ntopng detect Skype Traffic , but there is no skype installed on workstations"
i can see that ntopng detect Skype Traffic from specific workstation (450 MB) but there is no skype installed on this workstation how its possible ? the same happening with TOR i can see traffic in my network (40MB) from 4 workstaions , but there is no TOR installed on those workstations

i have attached pcap file from Skype Traffic that can be download from here :

https://www.dropbox.com/s/5x9r1

[2015-08-26 13:26] bcronje commented on #81
@lucaderi do you guys want to tackle this internally? Or you happy if I take a shot at it?

[2015-08-26 13:29] lucaderi commented on #81
Go ahead

[2015-08-26 13:32] bcronje commented on #81
Great, should send through something later today.

[2015-08-26 14:10] #83 closed, assigned to nobody

[2015-08-26 23:40] bcronje commented on #81
OK PR #84 send. You have already done a lot of the work in your previous commit, so this PR addressed the outstanding endianess issues I could pick up.

[2015-08-26 23:42] lucaderi opened #85 "Add new API call for detection setup"
Currently it is the nDPI caller that decides when a given flow has been detected or not. In order to clean library internals it would be desirable to add a new API call where the caller specified what is the max number of UDP/TCP packets after which detection fails.

[2015-08-27 00:50] bcronje commented on #85
Regarding this, ignoring any performance issues, how would the caller know what the optimal number of packets would be to ensure nDPI receives enough packets per flow to optimally identify protocols?

From an nDPI caller point of view, I would ideally like to get some indication from the library what the minimum number of packets per UDP/TCP flow need to be to identify all supported protocol disse

[2015-08-27 03:56] bcronje opened #86 "False positive for Skype"
I've uploaded 3 pcap files with false positives on Skype: https://github.com/bcronje/pcaps/tree/master/pcap-files

Capture taken from a brand new installed Windows 10 workstation with no applications except Wireshark and Bittorrent client.

I suspect the identification came from dst IP match, but in this case it was definitely not used for Skype.

[2015-08-27 04:00] bcronje opened #87 "Office 365 URLs and IP address ranges"
Just in case you haven't seen this document from Microsoft, it contains a significant list of URLs and IP address ranges for Office 365

https://support.office.com/en-us/article/Office-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2?ui=en-US&rs=en-US&ad=US

Feel free to delete/close this issue if it's not applicable.

[2015-08-27 06:42] lucaderi commented on #85
Great idea but this is v2 of this issue:
- v1: tell nProbe when the library should give up (in the worst case) for detection
- v2: specify, per protocol, the max number of packets. For instance for DNS it will be 1 (or 2 if we want to see req/reply) instead for HTTP it will be much more.

[2015-08-27 06:47] lucaderi commented on #81
Thank you: all works as expected.

[2015-08-27 06:47] #81 closed, assigned to lucaderi

[2015-08-27 07:02] lucaderi commented on #87
Hi, would you like to join the nDPI development team?

[2015-08-27 08:58] lmangani commented on #86
Please retest, this should have been fixed with https://github.com/ntop/nDPI/commit/a3d66b07778981d5abbf2d2525f83eb349e3a4f3

[2015-08-27 22:44] bcronje commented on #86
Yep still false positive running on latest git code. At least one of those 3 examples has an IP Address that is associated to Skype as defined in `ndpi_content_match.c.inc`, see `false-skype3.pcap`

Server IP: 157.56.106.184

ndpi_content_match.c.inc:

[code]

However the traffic was not Skype, looks like Teredo IPv6 over UDP tunneling to Microsoft, it must be some internal Windows callback, as no

[2015-08-27 22:50] bcronje commented on #87
Thanks for the invite Luca, but I'm stretched a bit thin at the moment. So best I can offer is to log issues and send patches through if I'm able to fix it myself. I have however just integrated nDPI in one of our projects, so I'll definitely be around.

[2015-08-28 09:07] lucaderi opened #88 "New HTTP download protocol"
The generic HTTP protocol Id should be further refined adding the information is the client is doing genetic HTTP (e.g. web browsing) or if is using the protocol for downloading files.

[2015-08-28 09:42] rs-natano opened #89 "Can the packet be freed after being fed to ndpi_detection_process_packet()?"
I can't seem to find this information in the documentation. What I have in mind is a usage like that:

<pre>
ndpi_detection_process_packet(..., packet, ...);
free(packet);
</pre>

This seemed to work with nDPI 1.5.1, but after upgrading to 1.7.0 that produces segfaults (to be investigated).

[2015-08-28 10:11] fcollini opened #90 "Problem compiling nDPI on Centos 5.2"
Dear nDPI,

i am not able to compile nDPI, latest version, on CentOS 5.x with kernel 2.6.19.

I have this error during autogen.sh:
checking whether pthreads work without any flags... no
checking whether pthreads work with -Kthread... no
checking whether pthreads work with -kthread... no
checking for the pthreads library -llthread... no
checking whether pthreads work with -pthread... yes
./configur

[2015-08-28 13:54] bcronje commented on #89
I believe this is related to issue #77 The solution is to upgrade to the latest git source where a fix is implemented.

[2015-08-28 18:38] natano commented on #89
Yes, on latest git the issue is far less severe. One segfault remains though, please see https://github.com/ntop/nDPI/pull/91.

[2015-08-30 19:38] lucaderi commented on #87
Thank you. Looking forward hearing from you then

[2015-08-31 08:10] fcollini commented on #90
Solved!

You have, from gnu.org, download and compila latest:
- libtool
- automake
- autoconf

Then nDPI finish compiling and works well!

Francesco

[2015-08-31 08:17] #90 closed, assigned to nobody

[2015-09-02 11:12] a7lan opened #93 "Protocol QUICKTIME not detect"
Hello. I use ndpi together ndpi-netfilter. When I try to use the Protocol QUICKTIME to mp4 detection (e.g. youtube videos), ndpi it does not detect.

Sorry for my English.

PCAP Files

mode html5
https://drive.google.com/file/d/0B9pJNOnHB-bkZmZIekN6WDJUMEU/view?usp=sharing
mode flash
https://drive.google.com/file/d/0B9pJNOnHB-bkTGczbEpBQUFCeXM/view?usp=sharing

[2015-09-02 11:18] lmangani commented on #93
For both provided pcaps Youtube seems correctly detected.

[code]

Please clarify the expected results in order to troubleshoot. Also providing a PCAP with only the protocols of interest is usually more suitable and appropriate for such reports.

[2015-09-02 12:00] a7lan commented on #93
New pcap file html5
https://drive.google.com/file/d/0B9pJNOnHB-bkMWFCaldNbkNSNU0/view?usp=sharing

command was used
tcpdump -i ppp999 port 80  and src 74.125.110.57 -w /tmp/html5.pcap
where 74.125.110.57 is youtube ip when a watching  video.

I expect that will be detected by the resulting video from youtube

Other proto detected (eg http, ssh, icmp)

[2015-09-02 12:15] lmangani commented on #68
Have you tried using a protocol file definition, ie:

[code]

[2015-09-02 13:00] lmangani commented on #93
Capture is missing the setup/establishment consequently the flow is not properly detected. The original files seems to produce the desired output in my tests.

[2015-09-02 13:36] a7lan commented on #93
and now
https://drive.google.com/file/d/0B9pJNOnHB-bkZ0ZlNTJHbk1naTQ/view?usp=sharing

[2015-09-02 14:06] kYroL01 commented on #93
@lmangani : Inspecting the packets, i notice that in the payload is present the name of a web server used by youtube (gwiseguy - 2.0) used by many domains (https://seomon.com/website-technologies/web-servers/gwiseguy/2.0/).
But i think it's impossible to detect this as Quicktime protocol, just Youtube.

[2015-09-02 14:11] lmangani commented on #93
@kYroL01 fully agree at this stage that is the case currently

[2015-09-02 14:13] #93 closed, assigned to nobody

[2015-09-02 14:13] kYroL01 commented on #93
@lmangani maybe we can add the name of that server for the youtube dissector ? what are thinking of it ?

[2015-09-04 07:16] AlekMarkus opened #94 "Unknown Protocol was detected (25GB) and its grows"
Hey ,

i have dumped the Unkown Data to pcap file , and opened in Wireshark

i can see that all the Destination Ip is my Exchange server and Sometimes The Exchange Server is the Source and my Firewall become the Destination Host

So why ntopng is not detect this traffic as SMTP protcol ?

 i have noticed that since i have updated ntopng to the latest version i can see that Protcol SMTP has only 1.

[2015-09-04 09:08] rs-natano commented on #89
#77 is closed and #91 has been merged. I believe this issue to be resolved.

[2015-09-04 09:08] #89 closed, assigned to nobody

[2015-09-07 09:18] maciej-bielski opened #95 "Add radiotap to ndpiReader"
Hello,

please modify example code to recognise radio tap packets. I'm attaching 2 files: phone.cap - contains data sent from my phone, all.cap - contains all data collected in monitor mode. It would be very nice if there was pice of code which checks if packet contains data in order to skip e.g. beacon frames. I failed to write it by my own.

http://maciejbielski.pl/all.cap
http://maciejbielski.p

[2015-09-08 11:18] maciej-bielski commented on #95
Hello,

alter a while I finally managed to deal with radio tap packets. Please leave this ticket for me. I'll share my code with you when my project will be done.

Thanks!
Maciej Bielski

[2015-09-11 07:52] lucaderi commented on #78
@whoknowz Please update a pcap

[2015-09-18 07:46] ValentinaViscarelli commented on #94
Alek,
if I open your pcap files with wireshark, I cannot find smtp traffic so I'm not able to verify the problem. If you still have the problem please attach correct pcap files.
Thanks

[2015-09-20 11:17] AlekMarkus commented on #94
Hey Valentina,

ok i have uploaded new Pcap file .

https://www.dropbox.com/s/2elepircg2ahy0g/Unknown.rar?dl=0

you can exclude Source :10.1.1.200  ,    Destination : 10.1.1.20 on port 5002

this is my ElasticSearch Server(10.1.1.20) that receiving logs from some device on my network on port 5002 so that o.k.

but look for example at ip Source : 10.1.4.13 and Destination :  10.1.1.228

its sending

[2015-09-20 17:26] pauloangelo commented on #94
@AlekMarkus ,

There is no SMTP traffic in your second pcap. The communication between 10.1.4.13 and 10.1.1.228 is using the MSRPC protocol. The communication between Exchange and Outlook clients is based on MSRPC. Probably is the case.

I believe that libnDPI should classify this communication as MAPI or at least as DCE_RPC.

It would classify as DCE_RPC if the src port or dst port was 135. But i

[2015-09-20 21:31] ValentinaViscarelli commented on #94
DCE_RPC changed. Now the flows should be recognized.
Regards,
Valentina

[2015-09-20 21:31] #94 closed, assigned to ValentinaViscarelli

[2015-10-02 12:56] explosivose opened #97 "SSL certificates incorrectly extracted"
### Context:

I'm using some TLSv1 test data with no client authenticated handshake so to my understanding there should be no SSL client certificate, and an SSL server certificate.
### My observation:

`flow->protos.ssl.client_certificate` is populated using a Client Hello message in TLSv1 which, to my understanding, is incorrect, as it if the server that is providing the certificate later in the

[2015-10-02 13:21] kYroL01 commented on #97
Hello @explosivose .
You say in the dissector is missing the separation between the case where a client and a server send both the certificate, and the case where only the server must send, if I correctly understand.

[2015-10-02 13:32] explosivose commented on #97
My understanding of SSL is very limited

I don't expect any certificates to be found in the Client Hello message - is this a correct assumption?

[2015-10-04 12:24] kYroL01 commented on #95
Fixed (improvement needed): 1dc03d574195ffdd94091e2f15a77358e1119a46

[2015-10-04 12:24] #95 closed, assigned to kYroL01

[2015-10-07 12:52] Tomasu opened #99 "ipv6 version of ndpi_guess_undetected_protocol"
ndpi_guess_undetected_protocol only supports ipv4 currently. It would be useful if it also supported ipv6 or there was an ipv6 variant of it.

[2015-10-07 12:55] kYroL01 commented on #99
This is a thing to do. Thank you

[2015-10-07 13:05] kYroL01 commented on #99
@Tomasu can you also provide a pcap with an ipv6 guess undetected protocol, if you have it ?

[2015-10-07 15:16] Tomasu commented on #99
I can grab a pcap file with some IPV6 data in it, but that function only accepts ipv4 addresses.

[2015-10-07 15:19] kYroL01 commented on #99
It's ok, then i'll modify using that pcap ;)

[2015-10-07 17:01] Tomasu commented on #99
http://tomasu.net/~moose/ipv6.pcap

I tried attaching it here, but it seems github tries really hard to be annoying.

[2015-10-07 19:32] kYroL01 commented on #99
It's ok. Thanks man. I'll doing in the following days.

[2015-10-08 01:23] imehrdad2012 opened #100 "Live detection"
Hi,

Thanks for providing the useful DPI library.  I am interested in live DPI but I would like to know the application name as soon as I observe the first few packets in the flow to drop the flow before it gets completed. Do you have any pointers on how to achieve this goal based on the example provided?

Sorry in advance if I am opening an issue since I could not find the mailing list.

[2015-10-08 12:02] Tomasu opened #102 "SPDY dissection support"
Currently libndpi does not support detecting the SPDY protocol (precursor to HTTP2). It is fully encrypted via TLS. The easiest way of detecting it that i can tell is there is an application data protocol field set to "spdy", or at least it is in wireshark.

[2015-10-08 12:10] Tomasu opened #103 "dissection support for ports 5228 and 5221 that chrome uses"
Based on some googling, it looks like they are originally XMPP ports, but chrome is passing some binary data over the connection. The first few bytes are somewhat similar between packets, but there are some variances. I'm not sure how to figure this out without knowing more about the protocol.

http://tomasu.net/~moose/5228.pcap

[2015-10-08 12:41] kYroL01 commented on #102
In my opinion I don't know if it's usefull a dissector for the old SPDY protocol.
The Google group, in February 9, 2015, announces to refuse SPDY in favour of HTTP/2, as you can read this http://blog.chromium.org/2015/02/hello-http2-goodbye-spdy-http-is_9.html.
This is also one of the reasons why Google realeased the Quic protocol.

[2015-10-08 12:43] Tomasu commented on #102
I wouldn't ask, but i see a fair bit of SPDY traffic still.

[2015-10-08 12:54] Tomasu opened #104 "custom protocols file not taking precedence over builtin dissectors"
I've setup a protocols file that i load, which has tcp:56000,udp:56000@Custom, but some traffic is being misdetected as Viber, Tor, and other protocols.

[2015-10-08 13:07] kYroL01 commented on #103
I launched this pcap with ndpiReader and i have this results:
**SSL_No_Cert     packets: 40            bytes: 7452     flows: 2**
**Google               packets: 14            bytes: 2218     flows: 2**

So, what's wrong ? nDPI cannot base dissection only on ports without an associated protocol.
Do you think that these ports are only used by the XMPP protocol ?
Please, explain better what is your

[2015-10-08 13:15] kYroL01 commented on #104
Please, can you provide this pcap file ? Thanks.
Viber, for example, is going to be fix, as you can see from this issue (https://github.com/ntop/nDPI/issues/78).

[2015-10-08 13:20] Tomasu commented on #103
HM, so it seems to actually be detecting it as SSL/Google for you? I should check with the ndpi example more often.

Though I was hoping it'd be possible to actually figure out a more specific protocol for those ports.

The ports in question are normally XMPP, but chrome is sending binary, non XMPP data across. Maybe it's just encrypted xml, I don't know.

[2015-10-08 13:37] Tomasu commented on #104
I didn't let it run for very long, but it's found both Viber and Tor when I'm just checking for port 56000 which theoretically only be one single protocol.

http://tomasu.net/~moose/56000.pcap

[2015-10-08 13:42] kYroL01 commented on #103
I tested right now: I launched your pcap with our ndpiReader and yes, the packets are correctly detected as Google/SSL.

As I read on Wiki, "Originally named Jabber, the protocol was developed by the Jabber open-source community [...]. XMPP servers can be isolated (e.g., on a company intranet), and secure authentication (SASL) and encryption (TLS) have been built into the core XMPP specifications.

[2015-10-08 13:43] Tomasu commented on #103
Ah, if there is an option for encrypted jabber, it could be useful. That's essentially what Google Talk is.

[2015-10-08 14:06] kYroL01 commented on #103
Yes, but, for example, Google Talk is encrypted. you cannot have a protocol dissector, maybe a service if you know exactly the used servers and ports.
This is why we have only the jabber unencryped dissector.

[2015-10-08 14:30] Tomasu commented on #103
I was thinking that since its a connection oriented protocol, it would have some kind of handshake and pattern that can be fingerprinted, even if it is encrypted. How else is each end able to understand each other?

[2015-10-08 15:07] kYroL01 commented on #103
I think is necessary a better study of the case and how to implement the best way.
The questions is:
- is needed and possibile a XMPP protocol dissector ?
- how is possibile detect it if is encrypted ?

[2015-10-08 15:23] kYroL01 commented on #104
Are you sure you're using the last dev nDPI version ?
I did a test with ndpiReader, and no Viber is detected, but the most traffic is (correctly) detect as BitTorrent and Unknown:

**Unknown              packets: 2667          bytes: 2243269       flows: 54**
**BitTorrent            packets: 8193          bytes: 3579024       flows: 851**
**Skype                  packets: 28              bytes: 49

[2015-10-08 15:23] #104 closed, assigned to nobody

[2015-10-08 15:50] Tomasu commented on #104
Ok, sounds good. Thanks for looking into it.

[2015-10-08 15:55] kYroL01 commented on #104
You're welcome

[2015-10-08 16:10] kYroL01 commented on #100
Hello.
nDPI use these ways:
1) Application protocol based on UDP could be detected with 2 packets;
2) Application protocol based on TCP could be detected with 15 packets;
3) If no app proto could be detecting, is marked as "Unknown".

You can't specify how many packets captured, but you can use the **_-s**_ option, that define the capture duration in second (availlable only in live mode).

I close

[2015-10-08 16:10] #100 closed, assigned to nobody

[2015-10-08 16:18] mehrdadmoradi-crusoe commented on #100
Thanks for the response. Is there any way to understand the TCP application protocol by observing fewer than 15 packets? My traffic is mostly short-lived TCP flows so it is necessary for me decide to pass or the drop traffic faster.

[2015-10-08 16:49] kYroL01 commented on #100
Unfortunately not yet.
I think your question is kinda in discussion in this other issue https://github.com/ntop/nDPI/issues/85.
So the question is open, as you can see.

[2015-10-08 18:56] mehrdadmoradi-crusoe commented on #100
Sure.

The only thing I was able to find in the source code is the following that defines when to give up inspecting a flow. Right?
  if((flow->detected_protocol.protocol != NDPI_PROTOCOL_UNKNOWN)
     || ((proto == IPPROTO_UDP) && (flow->packets > 8))
     || ((proto == IPPROTO_TCP) && (flow->packets > 10))) {
    flow->detection_completed = 1;

Unlike the number 2 and 15 you mentioned, it seems

[2015-10-10 09:03] kYroL01 commented on #100
Yes, you're right, but it's not a strictly rule. For example, a DNS packet could be detected just with a single packet (you can try). So it depends on the application protocol to be detect.

[2015-10-10 09:04] lucaderi commented on #100
This issue is a duplicate of #85

[2015-10-12 06:15] subritm opened #106 "Ndpi not able to detect custom port based application"
I want to add my own application using ndpi.

I added an UDP port 8009 for detecting as Iperf. But ndpi does not detect it.

Here is my protos.txt file

tcp:81,tcp:8181@HTTP
udp:5061-5062@SIP
tcp:860,udp:860,tcp:3260,udp:3260@iSCSI
tcp:3000@ntop
tdp:8009@Iperf

host:"googlesyndacation.com"@Google
host:"venere.com"@Venere
host:"kataweb.it",host:"repubblica.it"@Repubblica
host:"ntop"@ntop

ip:213.75

[2015-10-12 22:57] kYroL01 commented on #97
Sorry for anwer in late.

Well, the ssl dissector is correct.
I explain better.
When nDPI encounter for the first time the _Client Hello_ packet, the function involved is not the one you highlited, but the **ndpi_search_ssl_tcp** (https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/ssl.c#L536).
This function, first of all, try to understand if the packet analized is an SSL or Whattsapp pkt; if

[2015-10-15 14:04] kYroL01 commented on #106
nDPI does not have a dissector for Iperf protocol. So this is why is not detected.
I've read this https://code.google.com/p/iperf/wiki/IperfProtocolStates .
Can you provide a pcap with this traffic ? I'll take a look if it's possibile to create a protocol dissector or protocol service.
Which kind of iperf are u using ? The only active version now is the Iperf3.

[2015-10-15 19:37] jean-christophe-manciot commented on #5
Nice!
There could be a couple of ways to easily import protocol dissectors:
- from wireshark: why reinvent the wheel? and almost all living protocols on earth are available there
- using netzob (http://doc.netzob.org/en/latest/tutorials/wireshark.html) which is an exporter plugin that allows automatic generation of Wireshark dissectors from proprietary or undocumented protocols

[2015-10-15 19:40] lucaderi commented on #5
Because of 1. speed reason 2. we cannot use Wireshark dissectors in other apps easily 3. because we just need to detect the protocol, not to fully dissect packet.

[2015-10-15 19:44] jean-christophe-manciot opened #107 "BGP traffic is not detected"
![bgp traffic](https://cloud.githubusercontent.com/assets/13176858/10525586/d218509e-7385-11e5-9721-a4298ede79e6.jpg)
![no bgp traffic](https://cloud.githubusercontent.com/assets/13176858/10525592/d5cf9fc6-7385-11e5-95f3-f0d1f828c06e.jpg)

[2015-10-15 20:01] lucaderi commented on #107
Please provide a pcap file with BGP traffic

[2015-10-16 16:04] kYroL01 commented on #107
@jean-christophe-manciot Try to see if now, after last commit, your BGP traffic is correctly detected.
If not, please, provide a pcap.
Thanks!

[2015-10-17 12:48] jean-christophe-manciot commented on #107
- The BGP traffic is not detected at all
- IPv4/IPv6 multicast addresses are considered as hosts
- IPv4 subnet broadcast addresses are considered as hosts
- the networks are unknown
- no MAC addresses are detected
- some Netbios traffic is detected when there's no such thing on the "wire"
- the well-known ports in "Dashboard/Ports" appear as numbers when they could easily be translated into their

[2015-10-17 12:50] kYroL01 commented on #107
Ok.
Thanks for the details.

[2015-10-17 12:51] lmangani commented on #106
<pre>tdp:8009@Iperf</pre>

tdp: is not going to work, try tcp:

[2015-10-17 13:26] kYroL01 commented on #107
@jean-christophe-manciot Well, I opened you pcap with nDPI, and yes, no BGP is detected. But I also opened it with Wireshark and no BGP packet is detected!!
Tha majority of the packets are Spanning Tree Protocol, that is different from BGP.
Ok a STP is nedded in my opinion, but your pcap is not a BGP pcap. Maybe you passed a different pcap ?

![stp](https://cloud.githubusercontent.com/assets/72229

[2015-10-17 13:38] kYroL01 commented on #107
The only thing that I agree with you is the NetBios that maybe need to be fix. I'll take a look.

[2015-10-17 14:02] jean-christophe-manciot commented on #107
I confirm all the bugs described earlier, each one of them; from the pcap file I uploaded:
![bgp](https://cloud.githubusercontent.com/assets/13176858/10559100/279a5ab8-74e8-11e5-8140-8268ca406719.jpg)
The latest Wireshark 1.12.8 (along with the latest libpcap 1.7.4) is available here for Ubuntu 15.04: https://github.com/jean-christophe-manciot/wireshark

[2015-10-17 14:30] lmangani commented on #107
@jean-christophe-manciot could you provide an example pcap for this condition with actual BGP packets to accelerate reproducing? In our lab tests traces containing BGP are correctly detected while the port used is not an element of course, unless forced to be so by use or protos mapping.

[2015-10-17 14:36] kYroL01 commented on #107
@jean-christophe-manciot For the others points you posted in your list, I think that is not nDPI issue (except netBios), while is speaking about ntopng.

[2015-10-17 14:39] lmangani commented on #103
Besides actual XMPP/Jabber/Jingle, please see: https://support.google.com/a/answer/1279090?hl=en

[2015-10-17 14:42] kYroL01 commented on #103
@lmangani thank you for the support

[2015-10-17 16:32] jean-christophe-manciot commented on #107
@lmangani: Cf. my second post in this thread.
@kYroL01:  I don't know what are the specs of nDPI vs ntopng; I suppose both dev teams pull together.

[2015-10-17 16:47] lmangani commented on #107
@jean-christophe-manciot there are only BGP ports used in that PCAP and no BGP traffic as far as we could see. nDPI works by inspecting the protocol and not by assuming the ports unless instructed so.

As of the second question from @kYroL01 this is to keep issues in the repository where they belong (nDPI vs. ntopng) and to help our team track and work those issues efficiently. Thanks for understa

[2015-10-18 08:07] jean-christophe-manciot commented on #107
If I understand correctly, all these issues come from ntopng, not nDPI.
How can we transfer this thread to ntop/ntopng?

[2015-10-18 08:09] jean-christophe-manciot commented on #107
I will try to simulate some BGP traffic with an open connection between neighbors.

[2015-10-18 08:48] jean-christophe-manciot commented on #107
Here's a pcapng file with an open BGP connection between peers with exchange of UPDATE: https://drive.google.com/file/d/0B5fXyIn0-GDFbU02TDNmX2daQnc/view?usp=sharing
The results are the same with this traffic.

[2015-10-18 09:22] jean-christophe-manciot commented on #107
I believe I've found the issue:
- over Ethernet, everything works fine, except for bullets n°4/5 and I could add that the private AS number is not detected. I suppose it's ntopng's job: https://drive.google.com/file/d/0B5fXyIn0-GDFcWJwVW81aVQzeVk/view?usp=sharing
- over Serial HDLC (previous post), nothing works. I suppose you don't expect traffic over serial interfaces, like HDLC, PPP, Frame-Rela

[2015-10-18 17:42] kYroL01 commented on #107
@jean-christophe-manciot The issue for the missing detection of a protocol is good if you let on nDPI, the other things that you see wrong on ntopng (MAC addresses missing and things like this) are issues for ntopng.
Thanks for the new pcap, tomorrow I'll take a look and I follow your details. Thanks for collaboration.

[2015-10-19 00:01] kYroL01 commented on #107
Fixed BGP detection with 74b016c8b6d74e0c2c9be55fd3ac331d23bbdbb4

[2015-10-19 00:01] #107 closed, assigned to nobody

[2015-10-20 18:48] stalsbyt opened #108 "nDPI/ntopng build failed on FreeBSD"
Hi. I'am trying to compile ntopng/nDPI on FreeBSD and get different issues.
FreeBSD 9.3-RELEASE
try devel branches of ntopng/nDPI:

[code]

try stable nDPI and all branches of ntopng:

[code]

[2015-10-21 08:23] kYroL01 commented on #108
First of all, don't use the stable branch, use the dev one.

This is a ntopng issue.
It seems that the errors are on ntopng source code, so please open this issue on ntopng.

[2015-10-21 08:23] #108 closed, assigned to nobody

[2015-10-21 08:53] lucaderi commented on #108
@stalsbyt I have just tested on FreeBSD 10 and ntopng+nDPI compiles and works beautifully.

[2015-10-22 15:31] Cyclones92 opened #109 "Issue Installing nDPI"
I am trying to install nDPI for NTOPNG through git and apparently something isn't working correctly. :/

[someuser@someserver nDPI]$ ./autogen.sh
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force -I m4
autoreconf: configure.ac: tracing
autoreconf: running: libtoolize --copy --force
libtoolize: putting auxiliary files in`.'.
libtooli

[2015-10-22 15:33] kYroL01 commented on #109
Are you download the repository from dev or stable branch ?

[2015-10-22 15:37] Cyclones92 commented on #109
Hmm good question.  Here's the steps I took to get to where I am.

git clone https://github.com/ntop/ntopng.git
cd ntopng
./autogen.sh
./configure
...this is where it complained about nDPI being not installed and it gave me a few instructions on how to install it, so I followed those and then it complained about the issue I mentioned.  I just tried to run ./configure again and here's the new error

[2015-10-22 15:50] kYroL01 commented on #109
First of all, be sure you download nDPI from the dev branch (default).
Then, where have you put the nDPI folder ?
You must have a ntopng folder "box" where you put the ntopng and nDPI folders you download from repo.

[2015-10-22 17:15] kYroL01 commented on #109
@Cyclones92 let me know if you solved.

[2015-10-22 17:47] lucaderi commented on #109
I think you have problems with permissions. Like if you have checked out the code with an use and run autogen with another that cannot write into the directory. Please fix this and it will work.

[2015-10-22 17:47] #109 closed, assigned to nobody

[2015-10-22 17:47] Cyclones92 commented on #109
I used the following:
git clone https://github.com/ntop/nDPI.git

[2015-10-22 17:48] lucaderi commented on #109
We compile daily packages on CentoOS6 and it works for us. It is a permission problem. Please fix it.

[2015-10-22 17:50] Cyclones92 commented on #109
Okay thank you.  Used it as root user and it works. Sorry for wasting your time.

[2015-10-22 17:53] lucaderi commented on #109
Thank you for using our tools.

[2015-10-22 17:55] kYroL01 commented on #109
@Cyclones92  Remember to star ntopng and nDPI ;)

[2015-10-23 15:34] kYroL01 commented on #99
fixed 59d0af33b89acd55f0ffb69aaabc2c2160c436bf

The problem was before the ndpi_guess_undetected_protocol.
Now the program test could recognize tunneling 6in4.

[2015-10-23 15:34] #99 closed, assigned to kYroL01

[2015-10-23 16:57] kYroL01 commented on #106
@subritm any news ?

[2015-10-25 22:31] lmangani commented on #106
Closing for inactivity, re-open if needed.

[2015-10-25 22:31] #106 closed, assigned to nobody

[2015-10-25 22:33] lmangani commented on #97
Closing for inactivity, reopen if needed.

[2015-10-25 22:33] #97 closed, assigned to nobody

[2015-10-26 11:31] bowenYu opened #110 "[HELP] Missing ipv6 address"
I use the example program of nDPI ndpiReader to classifiy pcap files offline. There are a lot of ipv6 traffic flow missing src or dest address in the result file of the ndpiReader output. Here's one example:

[code]

The src address was missing.

I checked the pcap file by using wireshark. The missing one should be

[code]

Could someone help me about this problem? Thanks.

[2015-10-26 12:16] vel21ripn commented on #110
change in ndpiReader.c:171 "typedef struct ndpi_flow"
from  "char lower_name[32], upper_name[32];"
to "char lower_name[48], upper_name[48]; // for ipv6"

[2015-10-26 12:21] #110 closed, assigned to nobody

[2015-10-26 12:44] #86 closed, assigned to kYroL01

[2015-10-28 01:29] xumjbn opened #112 "Why nDPI design and implementation default in userspace dynamic library ?"
[code]

[2015-11-02 12:06] JeevanNailwal opened #113 "nDPI unable to diagnose torrent data"
During testing the latest nDPI codebase (version 1.7), I figured some discrepancy in the output of this application.

Setup: Laptop with Linux ubuntu 15.04
Software: Skype, ndpiReader (1.7) and transmission bittorrent client
1. In my first test case, I made a SKYPE call to my friend who disconnected it, at his end. the data which I received from ndpiReader is :

Unknown              packets: 27

[2015-11-02 12:07] JeevanNailwal commented on #113
During testing the latest nDPI codebase (version 1.7), I figured some discrepancy in the output of this application.

Setup: Laptop with Linux ubuntu 15.04
Software: Skype, ndpiReader (1.7) and transmission bittorrent client

1. In my first test case, I made a SKYPE call to my friend who disconnected it, at his end. the data which I received from ndpiReader is :

Unknown              packets: 27

[2015-11-02 15:58] lucaderi commented on #113
Pcap to be used for testing https://drive.google.com/file/d/0B4M_moAIGLMSVElMOXJmNWhBUEE/view?usp=sharing

[2015-11-13 11:07] adrienb4 opened #115 "how to create filter to block website"
Hello

I want to create a filter for analyze a particular website traffic. Could you give me a procedure for add this filter ?

Thank

[2015-11-13 11:10] lmangani commented on #115
Hi @adrienb4

nDPI is a library and not an application. You might want to try ntopng which leverages nDPI.

If you are integrating nDPI, check out the example nDPI Reder code:
https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c

If you want to create custom mappings without additional code use protos.txt:
https://github.com/ntop/nDPI/blob/dev/example/protos.txt

I hope this helps!

[2015-11-13 11:10] #115 closed, assigned to nobody

[2015-11-13 11:18] adrienb4 commented on #115
I use nDPI with Iptables (https://github.com/betolj/ndpi-netfilter).
I want to block a particular website from my lan, but i don't know how add this website.

[2015-11-13 11:36] lucaderi commented on #115
@adrienb4 We plan to add this feature on ntopng. Please file an issue request under ntopng.

[2015-11-13 13:17] adrienb4 commented on #115
@lucaderi I have duplicate my issue for ntop project. However how i can add a filter for nDPI for block a website with iptables mod (as is done with Facebook). Thank

[2015-11-15 21:43] simonemainardi opened #116 "__LITTLE_ENDIAN__ macro redefined"
When compiling nDPI on El Capitan the compiler complains multiple times with warnings like the following

[code]

nDPI compilation succeeds regardless of the warnings above, but ntopng fails to build:

[code]

[2015-11-15 21:45] #116 closed, assigned to nobody

[2015-11-16 16:07] imehrdad2012 opened #117 "DETECTION MIGHT NOT WORK CORRECTLY Warning"
Hello,
When I run the ndpiReader, I always get the following warning. Is it serious? How can I address it?
WARNING: packet capture size is smaller than packet size, DETECTION MIGHT NOT WORK CORRECTLY

[2015-11-16 16:23] lmangani commented on #117
This suggests your packets are truncated, consequently dissectors and detections might not work as intended.

[2015-11-17 14:27] kYroL01 commented on #117
Hi @imehrdad2012 . This is not a nDPI problem, because, as @lmangani explain in the previous comment, this is a control inside ndpiReader to avoid truncated, corrupted or bad packets to be analized.
If you see here (https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c#L1780) ndpiReader is designed to check if the length of the entire packet matching with the one read from a field of the pack

[2015-11-17 14:29] kYroL01 commented on #113
@JeevanNailwal any news ?

[2015-11-17 15:03] mehrdadmoradi-crusoe commented on #117
Thanks for the comprehensive response. In fact, this only happens when
capturing from an actual interface. I am not sure what the problem is.

Best Regards,
---Mehrdad

On Tue, Nov 17, 2015 at 9:27 AM, Michele Campus notifications@github.com
wrote:

##

---

Mehrdad Moradi
‌Research Assistant
University of Michigan- Ann Arbor

[2015-11-17 15:13] lmangani commented on #117
This could be an issue with your port monitoring/mirroring settings affecting large packets

[2015-11-17 18:57] kYroL01 commented on #117
@imehrdad2012 You're welcome !

[2015-11-17 18:57] #117 closed, assigned to kYroL01

[2015-11-18 04:21] JeevanNailwal commented on #113
Not yet. I was waiting for your response as I am still stuck for torrent
data type.
I tried the nDPI app for skype,xbox.... and other web applications but it
worked fine. Only in the case of torrent, I am got lot and lots of
unidentified protocol packets!!

On Tue, Nov 17, 2015 at 7:59 PM, Michele Campus notifications@github.com
wrote:

[2015-11-18 08:28] vel21ripn commented on #113
Try checking traffic using "ndpiReader -B 4" of branches vel21ripn/nDPI/tree/netfilter-dev

[2015-11-18 08:40] JeevanNailwal commented on #113
Hello Vitali,
Is it the command you are talking or I have to download the branch version
of nDPI?(sorry for this naive question as I am new for this section)

I tried both, command got failed as -B is invalid option and
Branchwise, I am unable to locate the code on web.

jeevan@lap-jeevan:~$ ndpiReader -B 4 -i wlan0
ndpiReader: invalid option -- 'B'
ndpiReader -i <file|device> [-f <filter>][-s <du

[2015-11-18 08:56] vel21ripn commented on #113
It means that you are running an old ndpiReader. Try running ndpiReader by specifying a full path to the new version.
In my branch has parser DHT messages that can detect encrypted bittorrent.

[2015-11-18 10:02] JeevanNailwal commented on #113
Hi Vitally,
I am using version 1.7 of ndpireader, downloaded from the ndpi site. Can
you please post the link, from where I can get the updated code?

On Wed, Nov 18, 2015 at 2:26 PM, Vitaly Lavrov notifications@github.com
wrote:

[2015-11-18 10:07] JeevanNailwal commented on #113
FYI....
Link from where, i got the source code:
http://sourceforge.net/projects/ntop/files/nDPI/

I landed here, when I clicked on stable version NDPI on ntop's download
page! (http://www.ntop.org/get-started/download/ )

On Wed, Nov 18, 2015 at 3:32 PM, Jeevan Nailwal jeevan.ginnie@gmail.com
wrote:

[2015-11-18 10:08] kYroL01 commented on #113
@JeevanNailwal the -B option is not provided in the official repo of nDPI.
@vel21ripn this is not an old version of nDPI, is the current version. If you do any kind of modifies is your personal thing and you can do, of course, but is not a "new" version.
Open source means collaboration. If you added changes that bring improvements to the nDPI community, please, send us a pull request, because this

[2015-11-18 10:10] kYroL01 commented on #113
@JeevanNailwal don't use the stable branch, use the dev one.
I'm sure a bittorrent protocol revision is needed.

[2015-11-18 10:13] JeevanNailwal commented on #113
ok... Thanks for the clarification Michele. At least you confirmed that I
am using latest Release version.
Can anyone please confirm if its a genuine issue with this version?

Vitally, If possible, can i get a patch of this problem? It will help me to
move forward.

On Wed, Nov 18, 2015 at 3:38 PM, Michele Campus notifications@github.com
wrote:

[2015-11-18 10:15] kYroL01 commented on #113
It's not properly an issue, I think many packets are not totally recognized and we need to improve the bittorrent dissector.
Can u send the pcap you speak about ?

[2015-11-18 10:18] JeevanNailwal commented on #113
Thanks for the help Michele. You can find the pcap file at:
https://drive.google.com/file/d/0B4M_moAIGLMSVElMOXJmNWhBUEE/view?usp=sharing

On Wed, Nov 18, 2015 at 3:45 PM, Michele Campus notifications@github.com
wrote:

[2015-11-18 10:31] vel21ripn commented on #113
I get file from https://drive.google.com/file/d/0B4M_moAIGLMSVElMOXJmNWhBUEE/view?usp=sharing

Detected protocols:
        Unknown              packets: 239           bytes: 19362         flows: 58
        DNS                  packets: 94            bytes: 9456          flows: 39
        HTTP                 packets: 20            bytes: 1368          flows: 3
        MDNS                 packets:

[2015-11-18 10:40] JeevanNailwal commented on #113
Thanks for the update Vitaly. Is it from your forked branch/stable version
or dev version?
I am just trying to figure our the problem with my app.

On Wed, Nov 18, 2015 at 4:01 PM, Vitaly Lavrov notifications@github.com
wrote:

[2015-11-18 10:45] JeevanNailwal commented on #113
FYI... I downloaded the dev branch and output with that is :(almost similar
to the one, which i got from STABLE release)

jeevan@lap-jeevan:~/CODE/nDPI/dev/nDPI/example$ ./ndpiReader -i
/home/jeevan/Downloads/torrent_snapshot_1MB.pcapng

---
- NOTE: This is demo app to show _some_ nDPI features.
- In this demo we have implemented only some basic features
- just to show you what you can do with the

[2015-11-18 12:48] JeevanNailwal commented on #113
Hi Vitaly,
I am still stuck with dev and stable release branches!! Can I get a patch
file(or set of files) to go through this(to run through my issue)?

On Wed, Nov 18, 2015 at 4:15 PM, Jeevan Nailwal jeevan.ginnie@gmail.com
wrote:

[2015-11-18 14:57] vel21ripn commented on #113
@JeevanNailwal
git clone -b netfilter https://github.com/vel21ripn/nDPI.git  && cd nDPI && ./autogen.sh && make

[2015-11-18 15:25] vel21ripn commented on #113
@kYroL01 I sent a patch, but it makes a lot of changes and it can't adopt to official tree.
The key differences are described [README](https://github.com/vel21ripn/nDPI/blob/netfilter/ndpi-netfilter/README).

[2015-11-18 15:26] kYroL01 commented on #113
@vel21ripn Ok thank you for the explanation

[2015-11-19 04:38] JeevanNailwal commented on #113
Thanks a lot for the help Vitaly.

On Wed, Nov 18, 2015 at 8:56 PM, Michele Campus notifications@github.com
wrote:

[2015-11-19 13:17] pauloangelo opened #118 "Discussion for new features"
Hi all,

We are using nDPI in the Hogzilla IDS project and we would like to contribute with it to implement some features that we are needing. However I would like to discuss a little bit with you before we spend time coding. Below we describe three points that we have in mind.
#### 1) Classification

nDPI provides a “protocol” classification in SAFE, ACCEPTABLE, FUN, UNSAFE, DANGEROUS or UNRATED.

[2015-11-19 17:18] kYroL01 commented on #118
Hi @pauloangelo nice to apprecciate this work.
Before giving you an answer, we have to discuss internally, specially with @lucaderi .

[2015-11-19 17:20] #113 closed, assigned to nobody

[2015-11-22 20:08] max197616 opened #119 "Bug in ssl.c"
Hi.
I think that there is a bug in the file ssl.c at line 291:
if(!packet->iph /\* IPv4 */) return(-1);
If we are using ipv6 packet we always get undetected protocol. I commented this line and nDPI can detect ssl properly.

[2015-11-22 20:53] lucaderi commented on #119
@max197616 Can you please send a pcap file to reproduce the problem?

[2015-11-22 21:23] betolj opened #120 "Why kernel directives were removed?"
I'm keeping one ndpi-netfilter fork here:
https://github.com/betolj/ndpi-netfilter

I had to return many directives such as "#ifndef **KERNEL**" manually. Why?
https://github.com/betolj/ndpi-netfilter/tree/master/nDPI-patch/src

[2015-11-22 21:28] lucaderi commented on #120
You have contributed to this https://github.com/ntop/nDPI/issues/22 so you know the story. We did that because I do not think DPI should happen in the kernel but I am open to keep it. The point is that there are so many fork and sub-forks for this feature, that make difficult to maintain it. I suggest you to sync with the other kernel-DPI developers and send a merge request (one) so that we can co

[2015-11-22 21:28] #120 closed, assigned to nobody

[2015-11-22 22:53] kYroL01 commented on #119
@max197616 If you comment out, nDPI can properly detected SSL with IPv6 ?
Maybe that control into the dissector must be deleted, 'cause we check for IPv6 before enter in the dissector.

[2015-11-23 07:31] max197616 commented on #119
Yes, if I commented out described line, nDPI can properly detect SSL in the ipv6 packets.
I attached the dump (rename the extention from .png to .pcap).
![ipv6](https://cloud.githubusercontent.com/assets/14889541/11331509/22f22868-91cd-11e5-8d7f-302156cbb3b3.png)

[2015-11-23 08:53] kYroL01 commented on #119
I think it's easy to solve as i said before. Now i cant. Later I'll do.

[2015-11-23 09:09] #119 closed, assigned to nobody

[2015-11-24 02:02] #112 closed, assigned to nobody

[2015-11-25 14:52] pavel-odintsov opened #121 "nDPI operation on cropped packets"
Hello, folks!

I'm trying to emerge sflow with sampled packet headers and nDPI.

And I stuck here. I need some help..

So you have function:

[code]

We have ipsize param only here. But for sampled data we haven't single packet size. We have captured_lenght (120 bytes in my case) and full_length (1500 bytes in my case).

How I should use nDPI for sampled data?

[2015-11-25 15:38] pavel-odintsov commented on #121
And detection algorithm works really bad.

For 4000 packets I get following:

[code]

For full packets I get about 90% of correctly detected packets!

[2015-11-25 15:40] kYroL01 commented on #121
Can you provide the interested pcap file ?

[2015-11-25 15:41] pavel-odintsov commented on #121
It's bit complicated because there are bunch of personal data here ... :(

[2015-11-25 15:46] kYroL01 commented on #121
Well, it's bit complicated understand the problem too for me in this way.
I tried to pass to nDPI another pcap with many sflow packets and the program detect the sflow protocol correctly.
Actually I really don't care about your personal data, but if you don't want, send me just few packets with both lengths.

[2015-11-25 15:54] pavel-odintsov commented on #121
I will try to isolate problem with some sample data. Thanks for help!

[2015-11-25 16:03] kYroL01 commented on #121
As you prefer, of course.
It's a strange behaviour btw, but I don't think is a sflow dissector problem in nDPI.
Just to understand, how is it possibile that your packets are full or "truncated" ? Maybe your captured packets are corrupted in some way.

I close the issue. If you find a way to send us a new pcap without "personal" data or you found other issues, re-open.
Thanks

[2015-11-25 16:05] #121 closed, assigned to nobody

[2015-11-25 16:08] pavel-odintsov commented on #121
Packets are truncated because sflow uses packet cropping and sampling. I'm getting only first 110 bytes of each packet from the wire.

[2015-11-25 16:18] kYroL01 commented on #121
You are right, but it's strange that none of the sflow packets are detected.
I mean, it provides for exporting truncated packets, so, is it possibile that the sampling is too short ?
If you look at sflow dissector, it accept packet with udp payload len >= 24 byte.

It's just an hypothesis.

[2015-11-26 06:58] panaceya opened #122 "Buid failed on FreeBSD"
Hello!

I have error in compilation nDPI:

[code]

OS: FreeBSD 10.2

[2015-11-26 11:16] kYroL01 commented on #122
Which version of nDPI are you using ?
Have you update from stable or dev branch ?

Tell me if this fix 12b47fece04ba658227790d7fbe76624bd21984e solved the problem (update from dev branch).

[2015-11-26 14:59] pavel-odintsov commented on #121
Hello!

Yes songs interesting. It could be an root of issue. I will share my nDPI binary output soon.

[2015-11-26 21:16] panaceya commented on #122
I use latest version from git (origin/dev).

[2015-11-26 21:19] kYroL01 commented on #122
Ok, with that fix, the issue is solved ? update and let me know, thanks.

[2015-11-27 08:23] panaceya commented on #122
Sorry, but error exists:

[code]

[code]

[2015-11-27 15:55] kYroL01 commented on #122
I'm doing some modifies. Please wait.
Thank you

[2015-11-28 07:44] lucaderi commented on #122
@kYroL01 @panaceya Due to windows (where I had the same problem) I have made some changes a day ago. Please do not change anything and try again first.

[2015-11-28 13:04] kYroL01 commented on #122
@lucaderi Yes Luca, I saw the modification. For me all working correctly. We're waiting an answer after @panaceya test.

[2015-11-30 15:04] kYroL01 commented on #122
Please @panaceya tell us if the recent changes solved the problem, so we can close this issue.
Thank you.

[2015-11-30 20:44] panaceya commented on #122
Sorry, I could not answer before. Now there are no errors.
Thanks for the work and have a nice day :)

[2015-11-30 20:44] #122 closed, assigned to nobody

[2015-12-01 12:52] kYroL01 commented on #122
Great. Thank you

[2015-12-01 13:43] adrienb4 opened #123 "emule new version"
It's possible to create a filter for the new version of emule ? The bittorent is OK.
http://www.emule.com/

Thank

Adrien

[2015-12-01 14:00] adrienb4 commented on #118
Go go go go !! :)
I just spent the last two days to classify filters (Social Network, Streaming, Cloud....).
These classifications are really missing !!

[2015-12-04 16:23] adrienb4 opened #124 "dropbox android app"
I think the filter for dropbox don't work with android app. Ip in the list works ?

Thank

Adrien

[2015-12-04 17:23] lucaderi commented on #124
Please provide a pcap to play with

[2015-12-04 19:18] Mile-Lile opened #125 "Add support for MS OneDrive"
OneDrive (previously SkyDrive, Windows Live SkyDrive and Windows Live Folders) is a cloud storage, file hosting service that allows users to sync files and later access them from a web browser or mobile device. Users can share files publicly or with their contacts, publicly shared files do not require a Microsoft account to access. It is part of the suite of online services formerly known as Windo

[2015-12-04 19:19] Mile-Lile opened #126 "Add support for Google cloud services (Gdrive, Gphoto)"
Google Drive is a file storage and synchronization service created by Google.[2][3] It allows users to store files in the cloud, share files, and edit documents, spreadsheets, and presentations with collaborators. Google Drive encompasses Google Docs, Sheets, and Slides, an office suite that permits collaborative editing of documents, spreadsheets, presentations, drawings, forms, and more.

Google

[2015-12-07 15:19] adrienb4 commented on #124
See attached file (rename en .pcap).
I have added the ip network in source code, but i think they are not detected.

http://whois.arin.net/rest/org/DROPB/nets
[dropbox.txt](https://github.com/ntop/nDPI/files/54092/dropbox.txt)

[2015-12-07 15:47] adrienb4 commented on #124
I confirm my theory. I have changed the url in 'ndpi_content_matching.c.inc' file. When I lunch dropbox app, no traffic match. Only url with *.dropbox.com match.

[2015-12-07 16:33] lucaderi commented on #124
fixed

[2015-12-07 16:33] #124 closed, assigned to nobody

[2015-12-08 11:25] adrienb4 commented on #124
It's works ! Thank

[2015-12-08 11:34] adrienb4 opened #127 "block ip for service"
Hi

I would like to create a filter for block 'OCS GO' a french service (similar to NetFlix).
Actualy I can add the website, but what is the procedure for add ip range ?

I add this in 'ndpi_content_math.c.inc, but ips are not matching :

[code]

https://apps.db.ripe.net/search/query.html?searchtext=178.248.208.210#resultsAnchor

Thank

Adrien

[2015-12-08 11:50] kYroL01 commented on #127
The procedure to _recognize_ is add a subnet for a range of IP address.
For example: https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L63

but actually, nDPI cannot block a range of IP.

[2015-12-08 12:57] adrienb4 commented on #127
For block, I convert nDPI in iptables module. But when I use nDPI with NTOP, no traffic is matching with this ip range.

[2015-12-08 14:48] adrienb4 commented on #127
I checked everything, and the ip range is not categorized. :(

[2015-12-08 15:58] kYroL01 commented on #127
It's because it's not enough modify only ndpi_content_math.c.inc.
I'll show you how to do it.

[2015-12-08 16:09] adrienb4 commented on #127
Thank you !! You will allow me to progress :)

[2015-12-08 16:30] kYroL01 commented on #127
If you want to add a service, you have to modify two files: the ndpi_content_match.c.inc and the ndpi_protocol_ids.h.
in this second file you have to put a line in the _service_ list like this:

[code]

where _number_ is the n+1 number associated to the service you add.

Services begin from here: https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h#L220

[2015-12-08 16:41] adrienb4 commented on #127
I also modified the second file.

**ndpi_content_match.c.inc :**

[code]

[code]

**ndpi_protocol_ids.h :**

[code]

I have test with URL only, and the traffic is classified. If  I test with IP RANGE only, the traffic is not classified.

I validated the ip range with tcpdump.

What is going on ?

[2015-12-09 08:40] kYroL01 commented on #127
Can you pass me a pcap with a capture of these packets ?
I need to reproduce what you see to understand better.
Thanks

[2015-12-09 09:24] adrienb4 commented on #127
See attached file (rename in .pcap)
I have create ocs service with parameters in this issue.

Thank for your help.

[ocs.txt](https://github.com/ntop/nDPI/files/56560/ocs.txt)

[2015-12-11 18:27] kong156 commented on #85
Is there a way to find out the state of a flow detection process? Thanks.

[2015-12-13 15:18] xgerligand opened #129 ""ndpi_includes.h" need to be added to "nDPI/src/lib/Makefile.am" too"
To be properly copied to  : /usr/include/libndpi-1.7.1/libndpi/
i think "ndpi_includes.h" have to be include in this part of "nDPI/src/lib/Makefile.am" like this

libndpi_la_include_HEADERS = ../include/ndpi_api.h \
                 ../include/ndpi_define.h \
                 ../include/ndpi_includes.h \
                 ../include/ndpi_main.h \
                 ../include/ndpi_protocol_ids.h \

[2015-12-13 16:23] kYroL01 commented on #129
Fixed by 237de95285a0129f1b86fdfe9519e6e14302abc9

Thank you

[2015-12-13 16:23] #129 closed, assigned to nobody

[2015-12-15 09:02] adrienb4 commented on #127
Hi @kYroL01

did you find the problem of my issue ?

Thank

Adrien

[2015-12-15 10:55] kYroL01 commented on #127
Hi @adrienb4 sorry for answer you in late. Maybe I'll find the problem, but untill tomorrow i'll busy to work on it.
From tomorrow I'll come back to work to nDPI to 100 % and first of all I'll try to solve this issue.
Be patient, please. :)

[2015-12-17 08:01] alberk8 opened #130 "Add Microsoft Onedrive Protocol"
I have a pcap capture of Microsoft onedrive. Thanks.

http://wikisend.com/download/312042/dump.pcap

[2015-12-17 11:49] kYroL01 commented on #130
Thank you

[2015-12-18 09:27] alberk8 opened #131 "Add WhatsApp from Web Browser"
Hi,
I seems that Whatsapp protocol from Web browser is using different IPs than the ones from Smart Device Apps.   What I am getting is the IP block 169.55.74.0/23.  This seems to be dynamic round robin from DNS (w3.web.whatsapp.com) where the "w3" can change (ie, w1, w2,etc) and this in turn resolved to dyn.web.whatsapp.com.   Thank you.

Please find the pcap dump
http://wikisend.com/download/946

[2015-12-18 10:53] #131 closed, assigned to nobody

[2015-12-22 15:18] kYroL01 commented on #127
@adrienb4 I'm trying to understand the problem.
First of all, if you insert OCS as a service and not as a procotol, you cannot modify the line
`#define NDPI_LAST_IMPLEMENTED_PROTOCOL`
because OCS is putting as a service.
Second: I tried to put the name of the server as you did, but (also without the ip range) the traffic is not classified as "ocs". Are u sure the name of the url is correct for the

[2015-12-22 15:26] adrienb4 commented on #127
@kYroL01
Yes the URL are correct. You can test with this site : http://ocs.fr/ and http://www.ocs.fr/
During my test the website are ok (classified), but no the IP.

[2015-12-22 20:37] kYroL01 commented on #127
But how is classified ? what is the output of nDPI ?

[2015-12-23 08:29] adrienb4 commented on #127
I give you the classification today. Thank

[2015-12-23 15:27] adrienb4 commented on #127
For a service, if i not modify the #define NDPI_LAST_IMPLEMENTED_PROTOCOL line, the service is NEVER classified. But it is classified with an increment.

For my new tests, i used this configuration :

[code]

[2015-12-23 15:38] adrienb4 commented on #127
Using nDPI (1.7.1-dev-267-e0c6d80) [1 thread(s)]
Reading packets from pcap file /tmp/ocs.pcap...
Running thread 0...

[code]

[2015-12-23 15:42] kYroL01 commented on #127
Ok let me try your configuration and I'll let you know.
Maybe I understand the problem thanks to your help.

[2015-12-23 15:55] kYroL01 commented on #127
@adrienb4 I think I solved! And also insered the IP range.
I used the pcap you sent me last time ;)
Before commit, I need to do some changes.
Wait please

[2015-12-23 16:00] adrienb4 commented on #127
Cool, I expect the solution for my problem :P

[2015-12-23 23:24] kYroL01 commented on #127
Fixed by bfded9087579b10fd5d9464e1661c4ebe1d766e8

[2015-12-23 23:24] #127 closed, assigned to nobody

[2015-12-29 04:11] u8906250 opened #133 "Discussion for custom ip range"
for now , it doesn't support ip range

ip:213.75.170.0/24@CustomProtocol

could add this feature?

[2015-12-29 10:15] kYroL01 commented on #133
Well, what is the service or protocol related to this ip range ?

[2015-12-29 18:48] kYroL01 commented on #87
@bcronje I started to put urls and ip ranges as you suggested (see 3aa506eb1b6ddf629b6c7c4f74060c52da6768e0).
I close this issue but I'll continue the work. Thanks a lot for the link ;)

[2015-12-29 18:48] #87 closed, assigned to nobody

[2015-12-30 02:20] u8906250 commented on #133
for example, LINE service http://at.line.me/en/

LINE Corporation
119.235.224.0/20
119.235.235.0/24

[2015-12-30 09:15] kYroL01 commented on #133
Actually the ip range associated to a service is well supported by nDPI.
If you see https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc
this feature is well implemented.

[2015-12-30 09:36] u8906250 commented on #133
yes, but I think the custom proto file is not support this feature.

I trace ndpi_load_protocols_file() -> ndpi_handle_rule() ->  ndpi_add_host_ip_subprotocol() , and found it just call inet_pton() to convert one ip address text to binary.

[2015-12-30 11:28] kYroL01 commented on #133
Now I understand what you mean.
Yes, that feature is not provided, because nDPI can just load protos passing tcp or udp ports related to a protocol (i.e. `tcp:80,tcp:3128@HTTP`).
This is a good point to implement for the future!

[2015-12-31 08:48] u8906250 commented on #133
thank you!
and I try to add this feature (it's easy, haha) and already tested, see patch.txt

[patch.txt](https://github.com/ntop/nDPI/files/75455/patch.txt)

[2015-12-31 12:36] kYroL01 commented on #133
I'm trying and testing! I'll let you know, thanks!

[2015-12-31 16:08] kYroL01 commented on #133
fix by 5336aecde7e6f40e22810538dba9dd6601291145

[2015-12-31 16:08] #133 closed, assigned to nobody

[2016-01-03 16:49] ohadkl opened #134 "Wrong detection of LYNC protocol"
We are using nProbe Pro v.7.3.151217 ($Revision: 4740 $) on Ububtu for monitoring IP cameras.
The nDPI detect the Lync protocol but it should detect RTP as the flow is video being sent from the IP camera to a network video recorder.
attached is a link to a pcap file that demonstrates the false detection.

https://dl.dropboxusercontent.com/u/27973370/LYNC%20protocol.pcapng

[2016-01-03 16:59] kYroL01 commented on #134
Thank you for the pcap. I'll try to fix asap !

[2016-01-03 23:08] kYroL01 commented on #134
Hi @ohadkl .
I just launch nDPI with your pcap but i don't see any Lync protocol detected.
Look:
![1d](https://cloud.githubusercontent.com/assets/7222956/12081389/504b829e-b277-11e5-8170-45442fc08567.png)

Are u sure you have the latest nDPI version ?

[2016-01-04 08:05] ohadkl commented on #134
Hi @kYroL01,
we are using nProbe with one of the latest versions so i assumed it includes also the latest version of nDPI.
I will try and update the package and re-validate.

[2016-01-04 10:36] kYroL01 commented on #134
Please update and let me know, thanks.

[2016-01-07 09:14] adrienb4 commented on #127
@kYroL01 : Thank for your job. It's work great :)

[2016-01-07 10:09] kYroL01 commented on #127
@adrienb4 You're welcome :)

[2016-01-07 13:01] shadrack222 opened #135 "Ntopng compilation error on debian 8.2 x86"
Hello,

After nDPI compilation without problems i got the following error while compiling ntopng (date : Wed Jan 6 16:34:53 2016 +0100 )

...

In file included from /usr/local/include/libndpi-1.7.1/libndpi/ndpi_main.h:33:0,
                 from /opt/ntopng/include/ntop_includes.h:99,
                 from src/NetworkInterface.cpp:22:
/usr/local/include/libndpi-1.7.1/libndpi/ndpi_api.h:77:40: note

[2016-01-12 16:24] kYroL01 commented on #135
Hi @shadrack222
As you explained, this is a ntopng problem, so I suggest you to open this issue to ntopng and not here.
Thank you

[2016-01-12 16:24] #135 closed, assigned to nobody

[2016-01-12 16:25] kYroL01 commented on #134
@ohadkl Any News ? For me the issue is fixed, but I wanna be sure if I close this or not.

[2016-01-12 16:36] shadrack222 commented on #135
Ok, thanks kYroL01

[2016-01-12 21:54] ohadkl commented on #134
I have tested this issue further more and it seems that the LYNC identification is happening from time to time and not constant. As such it is very hard for me to capture the specific PCAP file.

you can close the case, if i will be able to capture the proper PCAP file i will reopen the case.

[2016-01-13 00:03] Diego-IFAL opened #136 "Calculate average time to classify packets"
Hello, I wonder if it is possible to calculate the average time for sorting the packages, as well as whether it is possible to calculate the average time CPU usage. I need this information for my Master's degree. Thanks.

[2016-01-13 10:03] kYroL01 commented on #134
Ok, thank you for the answer. If you have any news, re-open the issue.

[2016-01-13 10:03] #134 closed, assigned to nobody

[2016-01-13 10:39] kYroL01 commented on #136
Hello.
Need more info.
How can you use nDPI ?
What about "sorting the packages" ? I think is possibile to calculate the CPU usage by nDPI to show the avg time it use the CPU, but:
1) We need to understand how to integrate this features
2) We have to do a clean work to avoid useless overhead for the library

[2016-01-13 10:43] lmangani commented on #136
@Diego-IFAL  If you want to calculate iterations just fork the ndpireader example and add some timers/counters and their output for your one time usage. I don't think this request should drive any changes to the codebase.

[2016-01-13 14:04] Diego-IFAL commented on #136
Thank you for your attention, I do not plan to be implemented the function to calculate the average time for the classification of packages or to calculate the average time spent CPU usage. I wish someone would help me implement this function in nDPIReader so I can continue my master. I'm not a programmer and I need urgently calculate this information to be able to model the nDPIReader. I believe

[2016-01-13 15:55] kYroL01 commented on #136
@Diego-IFAL I'd like to help you, but I need time and to understand better what you need.
Maybe I could try to add this feature in my fork branch before commit into the official nDPI, because I cannot add if this could spread the overhead of the library, ok ?
How urgent you need this ? Because you know, we have other many things to do.

[2016-01-13 18:28] Diego-IFAL commented on #136
Hello KyroL01, I talked to Luca Deri and he explained to me that the average time spent in packet processing can be achieved by the "1 / nDPI throughput"; The "nDPI throughput" is already provided on the outcome of nDPIReader. Regarding the use of CPU I can check this in ubuntu processes monitor.
Now I need to know if it is possible, in a generic way, calculate the average time of packet capture,

[2016-01-14 10:14] kYroL01 commented on #136
@Diego-IFAL I'll see what I can do for help you.

[2016-01-14 12:49] Diego-IFAL commented on #136
@kYroL01 Thank you, that's very important to me. Just to help you understand, I need to divide time use of nDPIReader by modules, for example, the packet capture function has spent "x" time running; the packet classification function spent "x" time running. According to Luca Deri, the average time spent in the packet classification can be obtained by "nDPI throughput" as already told you, then bel

[2016-01-16 15:26] lucaderi commented on #136
Closing this issue as the user contacted me privately

[2016-01-16 15:26] #136 closed, assigned to nobody

[2016-01-28 07:55] ghost opened #137 "nDPI API"
Hi all,
   I need to know that how to get the packet length,payload,time and indepth details of each packets using nDPI. I got the indepth details of each packet using wireshark. In nDPI they are having some configuration API . but i dont know how to use that. Please ,suggest me the  solution as soon as possible.

Thanks and Regards,

[2016-01-28 08:14] lucaderi commented on #137
I suggest you to look at https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c for an example or to a dissector code you can find in https://github.com/ntop/nDPI/tree/dev/src/lib/protocols

[2016-01-28 08:14] #137 closed, assigned to nobody

[2016-01-28 08:55] ghost commented on #137
Thank you for your response .
i surfed already that you have posted before.still, i didnt get any clear idea.
In the user guide they given that api, thats the exact solution what i think.
I just to know where to use that and how to use that.
Thank you

[2016-01-28 09:19] rathnaTech commented on #137
hi
I am also having the same question.please suggest me any solution
Thanks

[2016-01-28 09:29] rathnaTech opened #138 "on comparison with wireshark"
![screenshot from 2016-01-28 14 56 06](https://cloud.githubusercontent.com/assets/16934803/12640321/5d5e45dc-c5cf-11e5-82e1-131e60bdca24.png)

Hi Luca and all,
    In the above snap ,the wireshark shows the exact details like length,payload ,source,destination etc,.,Like that, is their any way to find payload,length in nDPI. please suggest me the possible solutions.
Thank you,

[2016-01-28 11:02] lucaderi commented on #138
nDPi is a DPI toolkit, not a packet sniffer. Please have a look at the code of https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c for an example

[2016-01-28 11:02] #138 closed, assigned to nobody

[2016-01-28 11:02] kYroL01 commented on #138
First of all, nDPI and Wireshark don't show the same informations to the user.
Second, are u interested where you can find it inside the the code or you want just to see that information?
For example: if you launch _ndpiReader_ with the option **-v 2**, you can see more detailed informations about the flows (for example you can see, for every flow, the IP source and IP dest, the main protocol and

[2016-01-28 11:17] rathnaTech commented on #138
Thankyou Luca and  kyroL01,
hi kyroL01
    As you said ,i used -v 2 it doesn't show the details as you mentioned. Its just show the protocols like TCP and UDP. please, put the snap as you got from your code.

Thank you

[2016-01-28 11:19] rathnaTech commented on #138
Hi Luca,
   Then which library or product gives the details as i mentioned before . can you help me.
Thank you,

[2016-01-28 11:26] kYroL01 commented on #138
@rathnaTech **./ndpiReader -i wlan0 -v 2**

![1d](https://cloud.githubusercontent.com/assets/7222956/12643079/3958dca2-c5ba-11e5-9a9d-2b7c9cde26e4.jpg)

It works as I explained

[2016-01-28 11:28] rathnaTech commented on #138
Thank you so much for spending your valuable time with me kYroL01.

[2016-01-28 11:32] kYroL01 commented on #138
No problem. But if you're interest in a packet sniffer library or a tool without a GUI , look at [tcpdump & libpcap](http://www.tcpdump.org/).

Greetings

[2016-01-28 11:34] rathnaTech commented on #138
Thank you once again   kYroL01

[2016-01-28 12:48] brunodeandrade opened #139 "Memory overflow in DDoS attacks by nDPI"
Hello, we are using nDPI and nDPIReader to make a tool that can detect the IP's that are causing a DoS and DDoS attack. We have noticed that when we simulate a DDoS attack with more than 20,000 IP's (sending around 1 million packets per second), nDPI consumes a huge amount of memory (almost 14 GB in 20 minutes of attack).

Could anyone tell me where I can free the data structures to decrease this

[2016-01-29 05:53] rathnaTech opened #140 "PF_RING zcount error"
Hi all,
     When i am executing zcount, i can get the below error. Please give me some solution.
### # ****:~/PF_RING-6.0.3/userland/examples_zc$ ./zcount -i eth0 -c 1

pfring_zc_create_cluster error [Operation not permitted] Please check that pf_ring.ko is loaded and hugetlb fs is mounted**
**

Thankyou

[2016-01-29 05:57] rathnaTech commented on #78
*_@whoknowz *_
Please update the latest version library. It will detect all the protocols.

[2016-01-29 05:59] rathnaTech commented on #138
Hi  kYroL01,
         shall i know ,how to write a json file in ndpi. Please put snap if possible.
Thank you

[2016-01-29 06:32] rathnaTech opened #141 "Regarding nDPI"
Hi Luca and all,
                Does nDPI is capable to capture 10G interface card packets ??

Thank you,

[2016-01-29 08:08] lucaderi commented on #141
Yes of course. You need 2 threads for handling a 10G pipe, but we're developing a micro-nDPI (see http://www.ntop.org/nprobe/towards-100-gbit-flow-based-network-monitoring/) that will be way faster as we are targeting 100G

[2016-01-29 08:08] #141 closed, assigned to nobody

[2016-01-29 08:09] lucaderi commented on #140
Hi
1. please sudo first
2. if you want to use ZC you must load the ZC drivers and do zcount -i zc:ethX....

[2016-01-29 08:09] #140 closed, assigned to nobody

[2016-01-29 08:10] lucaderi commented on #139
the nDPIreader is a test application for verifying nDPI implementation. Nothing more than that. For continuous packet capture and classification via nDPI please use tools like nProbe

[2016-01-29 08:10] #139 closed, assigned to nobody

[2016-01-29 09:33] rathnaTech commented on #141
Thank you for your response Luca,
    Is it possible to combine nDPI with (tcpdump or libpcap ) to read the packet indepth.
   For example:

**14:53:56.978664 IP (tos 0x0, ttl 64, id 14072, offset 0, flags [DF], proto TCP (6), length 60)
    192.168.200.193.49850 > maa03s21-in-f1.1e100.net.https: Flags [S], cksum 0xd23a (correct), seq 593875615, win 29200, options [mss 1460,sackOK,TS val 4465168 e

[2016-01-29 09:45] rathnaTech commented on #140
Thank you Luca,
 I done everything like loaded ZC drivers,make,make install,configure. while running the command as you mentioned above i will get the below details

**-desktop:/home/nbox/PF_RING-6.0.3/userland/examples_zc# ./zcount -i zc:eth0
zcount - (C) 2014 ntop.org
Using PFRING_ZC v.6.0.3.150330
A simple packet counter application.

Usage:   zcount -i <device> -c <cluster id>

[2016-01-29 12:00] rathnaTech commented on #138
hi  kYroL01,
   Are u there ?? .Please reply to me.
Thank you

[2016-01-29 12:12] kYroL01 commented on #138
You have to use the **-j** option.
**-j file.json**     _(Specify a file to write the content of packets in .json format)_

[2016-01-29 12:18] rathnaTech commented on #138
Thank you Luca,
   I did . Please answer my other issues as i posted with various headings.
Thank you.

[2016-01-29 12:35] rathnaTech commented on #141
Hi Luca,
  Are you there ??.Please reply me the above question

Thank you,

[2016-01-29 12:42] lmangani commented on #141
@rathnaTech this tracker is dedicated to issues of nDPI, you might want to look into ntopng which already covers such feature to a large extent. if you need custom development or professional support please email support@ntop.org

[2016-01-29 12:49] rathnaTech commented on #141
Thank you imagani

[2016-01-30 21:05] whoknowz commented on #78
Thanks, works now

[2016-01-30 21:05] #78 closed, assigned to ValentinaViscarelli

[2016-02-03 08:05] u8906250 opened #143 "Google classify question"
hello, I tested the url

http://lifedom.top/user/u3tqlvmjhc9e5o1wf0p8s2ai6rkxdn7g/121677/page?url=https%3A%2F%2Fwww.google.com.tw%2Fwebhp%3Fsourceid%3Dchrome-instant%26ion%3D1%26espv%3D2%26ie%3DUTF-8&iframe=

And it was being classified to Google, why?
I found there exists "google.com" in URI, because of this reason?

[test.zip](https://github.com/ntop/nDPI/files/115283/test.zip)

[2016-02-03 11:34] kYroL01 commented on #143
@u8906250 I'll try and I'll let you know

[2016-02-04 06:43] rathnaTech commented on #143
@u8906250
i tried your captured file it doesn't classified as google.

[2016-02-04 10:21] rathnaTech opened #144 "i get an error while compiling nDPI"
***_Using nDPI (1.7.0) [1 thread(s)]
Capturing live traffic from device eth0...
Capturing traffic up to 5 seconds
Running thread 0...
Segmentation fault (core dumped)
*_
**
i got the above error while compiling nDPi.

[2016-02-04 14:49] lucaderi commented on #144
Please provide a way to reproduce it with nDPIreader

[2016-02-04 14:56] kYroL01 commented on #143
Yes, nDPI classify that pcap as Google.
In this evening I'll give you an answer @u8906250 .
Thank you to evidence that.

[2016-02-04 18:17] kYroL01 commented on #144
Try to update your nDPI to the latest version that you can find in the _dev_ branch [1.7.1-dev] and let us know.
I tried and no sigfault arise

[2016-02-05 02:04] u8906250 commented on #143
thanks.  I look forward to hearing from you @kYroL01

[2016-02-05 05:38] rathnaTech commented on #144
@kYroL01
 Hi .Thank you I solved the problem
Please watch the link https://github.com/ntop/nDPI/pull/142 and respond me for the query i asked.

[2016-02-05 11:18] #144 closed, assigned to nobody

[2016-02-08 06:33] rathnaTech opened #145 "found an issue in nDPI"
Dear all,
     while running ./ndpireader  it will detect website as a protocol.

for example:
i am loading www.whatsapp.com it shows in detected protocols (whatsapp packets -1 flows -3)
My question is that i am loading http protocol right why it show htttp as whatsapp.

And actually nDPI should detect whatsapp protocol for whatsapp application.but it also detect website as protocol.

[2016-02-08 09:21] kYroL01 commented on #145
I think the point is that for a http packet we also try if there is a host name match here https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L7404 .

Later I'll check better.

[2016-02-08 10:02] rathnaTech commented on #145
so if i am using application for whatsapp it will  also detect a protocol right.
if i am using whatsapp.com you are tracking the string and marked it as a protocol.
michele

[2016-02-10 22:04] kYroL01 commented on #143
@u8906250 Sorry for the late.
I understand the problem and I'm going to fix it.
But I really don't understand what is _lifedom_
Is a google chrome plugin or service ?

[2016-02-11 00:51] u8906250 commented on #143
Ha, I also don't understand.

But don't be care the host name, I try other host still same issue, like

xxxxxx.xxx/?url=www.google.com

And if you change to yahoo like

Xxxxxx.xxx/?url=www.yahoo.com

It will classify to YAHOO

[2016-02-11 02:42] backer-and commented on #143
@u8906250, it detects Google because your URL, which contains `"google.com"` (though not part of the hostname) matches [this rule](https://github.com/ntop/nDPI/blob/3aa506eb1b6ddf629b6c7c4f74060c52da6768e0/src/lib/ndpi_content_match.c.inc#L7368). You can try to produce another false positive by simply visiting http://www.example.com/www.google.com while http://www.example.com/google.com it is not

[2016-02-11 07:43] u8906250 commented on #143
Yes, I understand.
But that's unreasonable because it's really not google service.

[2016-02-11 08:58] kYroL01 commented on #143
@u8906250  Are you using _lifedom_ in any way ? How do you have that url ?
nDPI parse the url so when read _google_ or _yahoo_ associate the packets to the protocol it know (as @backer-and explain you). Lifedom is not present, so this is the reason of the false positive.
Before commit the fix I have to understand if this is a good service or not for a good classification.

[2016-02-11 13:02] u8906250 commented on #143
Oh, don't care lifedom, it's just a example I use to explain how a http connection been classified to google services but it's not.

You can just put it to unknown service, ha

[2016-02-11 15:12] kYroL01 commented on #143
Well, for HTTP packets, nDPI parse the url of the payload to find more information to give for a better classification.
If we can't do that, a lot of applications based on well-known host name or server names or server IP, can't be properly detected.
If the payload of the http match to nothing known, the traffic is detected as just http.
Why this flow can't be detected as Google if in the url of t

[2016-02-11 18:03] backer-and commented on #143
@u8906250, it is a rough issue to be addressed as I tried to say in the [previous comment](https://github.com/ntop/nDPI/issues/143#issuecomment-182677969).
As mentioned above it is simple to produce a false positive by visiting http://www.example.com/www.google.com.

Now if you edit `src/lib/ndpi_content_match.c.inc` adding `{".example.", "Example", NDPI_SERVICE_EXAMPLE, NDPI_PROTOCOL_ACCEPTABLE}`

[2016-02-12 00:42] u8906250 commented on #143
@kYroL01
I think the thing to parse url to get more information to classify could be an option to choice . Maybe someone think parse host is enough to classify.

As for lifedom, I can just add the host name to extend application file

[2016-02-12 10:17] kYroL01 commented on #143
You have to consider that ndpiReader is a test program for the library nDPI. For sure I'll consider this option you ask, even if I think people or program that using nDPI are happier if the library give the majority of the information about the application. But I'll open a discussion about this aspect for sure.

For now I'll push a commit for lifedom detection and close this. Later I could open a

[2016-02-12 10:23] kYroL01 commented on #145
Yes exactly. nDPI parse the url of the payload to find more information about the application protocol. If you using whatsapp app or visit the website, the packets as inside the host name of the application, and this is why they are detecting as the same protocol.
This is not a bug, is the behaviour of nDPI.
I think this aspect maybe must be re-consider for a better implementation. I'll see in the

[2016-02-12 10:23] #145 closed, assigned to nobody

[2016-02-12 21:08] lucaderi commented on #143
Unfortunately some of the above statements were not correct. The problem reported was a bug as reported. The fix I have made fixed the problem.

[2016-02-12 21:08] #143 closed, assigned to nobody

[2016-02-13 07:08] rathnaTech commented on #145
Thank you michele i understood .

you have made some algorithm to read the hostname in that certificate.using that you have printed the DNS and protocol name right.

Is it possible to get the payload and data using that algorithm for application protocols??
i am  looking forward for your response as soon as possible..

[2016-02-13 07:57] lucaderi commented on #145
No this is something we won't provide as nDPI is not the place for doing this kind of things.

[2016-02-13 20:02] backer-and opened #146 "Wrong host match for subdomains"
cc4ceb88a06f600fd7a0b44473dd4d2b2d364402 doesn't seem to completely fix the problem introduced in #143.

There is a global host match issue found both in DNS:

[code]

and HTTP (plus DNS):

[code]

Note that in the former case the lookup fails since there is no DNS record matching `not.google.example.com` while in the latter case the host `not.google.github.io` is resolved to `github.io` (yet it g

[2016-02-13 23:12] lucaderi commented on #146
@backer-and Fell free to provide a fix for the problem,

[2016-02-14 18:41] kYroL01 commented on #146
In my opinion, is probably necessary a general re-check of the http dissector.

[2016-02-15 01:07] backer-and commented on #146
@lucaderi I'm thinking about, it doesn't appear to be so simple rewriting all the hosts matching parts used in DNS, HTTP and maybe in other dissectors.

[2016-02-15 09:44] max197616 opened #147 "SSL detected as TOR"
I have got wrong detection of the SSL protocol (see attached file).
I think that there is a bug in file tor.c line 27. Maybe here incorrect comparison and must be '|| !strncmp(certificate, "www.", 4))"?

[https1.pcap.zip](https://github.com/ntop/nDPI/files/130394/https1.pcap.zip)

[2016-02-15 09:53] kYroL01 commented on #146
I closed the issue but I'll work on these protocols to find a good solution.

[2016-02-15 10:03] kYroL01 commented on #147
Yes you're right!
Thank you. Fixed

[2016-02-15 10:03] #147 closed, assigned to nobody

[2016-02-15 10:09] lucaderi commented on #146
honestly I don't see the problem. We need to implement a better matcher.

[2016-02-15 10:11] kYroL01 commented on #146
Yes, is not a bug, just do a better matching for http payload imho

[2016-02-16 04:49] u8906250 opened #148 "ndpiReader.c memory leak problem"
I think we need to free flow after ndpi_tdelete()

before

[code]

after

[code]

[2016-02-16 11:25] kYroL01 commented on #148
Thanks.

[2016-02-16 11:25] #148 closed, assigned to nobody

[2016-02-17 03:47] u8906250 commented on #148
@kYroL01

you misunderstand what I mean, ha

need to free flow itself

like
 free(ndpi_thread_info[thread_id].idle_flows[--ndpi_thread_info[thread_id].num_idle_flows]);
not
 free_ndpi_flow(ndpi_thread_info[thread_id].idle_flows[--ndpi_thread_info[thread_id].num_idle_flows])

[2016-02-17 08:57] kYroL01 commented on #148
Well... https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c#L593

An _idle flow_ is a **ndpi_flow** and that function do the job.
Maybe I must add _**ndpi_free(ndpi_thread_info[thread_id].idle_flows[--ndpi_thread_info[thread_id].num_idle_flows])**_

[2016-02-17 09:04] u8906250 commented on #148
yes, I have tested it,

I watched the free memory was getting less and less if didn't free flow.

[2016-02-17 09:18] kYroL01 commented on #148
Yes I did a test too and I confirm what u say. But I also think that is necessary both functions. I push a commit.

[2016-02-17 09:26] u8906250 commented on #148
I think you did call free_ndpi_flow() here

https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c#L687

no need to call again, ha

[2016-02-17 09:39] kYroL01 commented on #148
You have to understand that many part of the code are not written to us and are inherit from an old project. So I also need a better inspection of the code.
I'm watching better and do a commit. Thanks for suggestion.

[2016-02-17 09:42] u8906250 commented on #148
It's ok, you're welcome.

[2016-02-18 02:04] u8906250 commented on #148
@kYroL01

sorry, have to remind you

--ndpi_thread_info[thread_id].num_idle_flows
must be done after all stuff. otherwise you just free the next idle flow.

[code]

[2016-02-18 06:31] lucaderi commented on #148
@u8906250 can you please send a pull request instead of bits and pieces. This would allow us to better evaluate your contribution. Thanks

[2016-02-18 06:46] u8906250 commented on #148
really! I try.

I never use pull request function before.

[2016-02-18 06:57] u8906250 commented on #148
Oh, I was wrong

"--ndpi_thread_info[thread_id].num_idle_flows" is ok

I am used to put "--"  at the rear like "ndpi_thread_info[thread_id].num_idle_flows--", so I get a little confused, ha

sorry about that

[2016-02-18 11:26] kYroL01 commented on #148
Exactly... is correct

[2016-02-19 01:10] kYroL01 opened #149 "False positive for Viber detection"
In a recent pcap I notice that VIber protocol are detected in a false positive way.
Need to investigate.

[2016-02-19 09:20] rathnaTech opened #150 "Is it possible to extract the GTP protocols??"
Hi all,
     I got the flow details and protocol list using nDPi.Is it possible to extract the GTP protocols.If yes please suggest me the way.

[2016-02-19 09:44] lucaderi commented on #150
Yes. See ndpiReader -h
  -t                        | Dissect GTP/TZSP tunnels

[2016-02-19 09:44] #150 closed, assigned to nobody

[2016-02-19 10:21] rathnaTech commented on #150
I used that i want see indepth of GTP. Is it anyway to do that.Like wireshark did.

[2016-02-21 07:51] chinasun021 opened #151 "How can I get http flow's source MAC and dst MAC？"

[2016-02-21 08:59] lucaderi commented on #151
@chinasun021 You can view this in the flow information window of ntopng. There you will see the flow peers and if you click on them you can see their mac. In nDPI we handle only IP traffic, so you need to handle this yourself as we do in ntopng. Please star nDPI on github.

[2016-02-21 08:59] #151 closed, assigned to nobody

[2016-02-25 02:17] chinasun021 commented on #151
Thanks for your reply！I don't need ntopng all functions,I just want use nDPI functions and show all flow's MAC.I consider to modify something in nDPI,in flow struct add ndpi_ethhdr info.

[2016-02-25 10:49] lucaderi commented on #151
Ok do not forget to share the code with the community

[2016-02-26 07:12] alexspirt opened #152 "Some bugs in ndpiReader"
Hi, all.

Thanks for this great library and example app ndpiReader.
I found some bugs when used ndpiReader.
1. ndpiReader.c
   543: `json_object_object_add(jObj,"host_n.port",json_object_new_int(ntohs(flow->upper_port)));`
   "host_n.port" should be replaced with "host_b.port"
2. When ndpiReader processes pcap list it does not close pcap files. On Linux it can lead to error: "Too many open files".

[2016-02-26 10:29] lucaderi commented on #152
@alexspirtmsu Can you please send us a pull request?

[2016-02-26 19:47] kYroL01 commented on #152
@alexspirtmsu point 1 of course is a typo.
Point 2 I'm not completely agree with you. I did a test and I go through the code with gdb, and the **._pcap_handle** ( the result of _pcap_open_offline_ ) is overwritten every time a pcap is open, so we handle just one open file for pcap avery time we process it.

I also try to put  **pcap_close(ndpi_thread_info[thread_id]._pcap_handle);** in these way:

[2016-02-26 19:49] kYroL01 commented on #152
6df31099c21198643336cc3a064df33cb559c547

[2016-03-02 11:14] kYroL01 commented on #152
@alexspirtmsu any news ? I close the issue. If you're not agree with the things I wrote, write here. Thanks

[2016-03-02 11:14] #152 closed, assigned to kYroL01

[2016-03-03 01:44] zar1n opened #154 "HTTPS detects as TOR"
Hello,

Link to flow dump file - https://www.dropbox.com/s/aaz4cqse2cw2qs5/static1.e621.net.pcap?dl=0
URL - https://static1.e621.net/data/d1/00/d100146df07c78366c10ae89787dcbc8.jpg (nswf)

[code]

And several URLs without flow dump files:
https://casino.bwin.com
https://ru.partypoker.com/

Used nDPI version 1.7.0 from sourcefordge.

Thank you.

[2016-03-04 00:02] kYroL01 commented on #154
Investigate on this issue.
Thanks for reporting.

[2016-03-04 03:08] zar1n opened #155 "Some HTTP detects as Apple"
Hello,

Link to flow dump file - https://www.dropbox.com/s/oh8iwl6auxafclz/gesti-mnogo.net.pcap?dl=0
URL - http://gestimnogo.net (nsfw)

[code]

And several URLs without flow dump files:
http://www.best-prava.eu/orenburg.html
http://www.originals-diploms.com/
http://kalyanmir.ru/category/tabak/
http://best-prava.eu/price.html
http://best-prava.eu/index.html
http://cash-forum.biz/topic/4418-prodazh

[2016-03-04 16:11] lucaderi commented on #155
Fixed in 1.7.1

Using nDPI (1.7.1-dev-299-20374b5) [1 thread(s)]
Reading packets from pcap file /Users/deri/Downloads/gesti-mnogo.net.pcap...
Running thread 0...

nDPI Memory statistics:
    nDPI Memory (once):      105.91 KB
    Flow Memory (per flow):  1.88 KB
    Actual Memory:           1.91 MB
    Peak Memory:             1.91 MB

Traffic statistics:
    Ethernet bytes:        171588        (

[2016-03-04 16:11] #155 closed, assigned to nobody

[2016-03-04 16:41] kYroL01 commented on #155
@zar1n just to make you better understand why is detected as CloudFlare, see http://whois.domaintools.com/gestimnogo.net

[2016-03-07 07:27] Mile-Lile opened #156 "Add request: Spanning Tree Protocol filter"
`The Spanning Tree Protocol (STP) is a network protocol that ensures a loop-free topology for Ethernet networks. The basic function of STP is to prevent bridge loops and the broadcast radiation that results from them. Spanning tree also allows a network design to include spare (redundant) links to provide automatic backup paths if an active link fails, without the danger of bridge loops, or the ne

[2016-03-07 09:02] kYroL01 commented on #156
Hello @Mile-Lile
The STP protocol dissector is a must-to-do thing that I wanted to do, but I didn't do yet for a reason: nDPI (and ntopng) doesn't show the L2-only packets (i.e. ARP packets also).
This choice is because we are interested in discovery application flows.
For the purpouse you evidence I think that we must re-think to add this features in a good way, also without change completely the

[2016-03-07 09:30] Mile-Lile commented on #156
Thx @kYroL01 for your time.
I am aware that nDPI do layer7 inspection and that inspecting L2 packet is not maybe interesting for
nDPI devs and needs lots of your free time. This was just suggestion because I think that marking such packets and prioritizing them in network could be useful... If this is changing the nature of nDPI
then maybe it is not very good idea:)
Thx again

[2016-03-07 09:35] kYroL01 commented on #156
We'll think better and we will see.
I think this is a good point in general, but I don't know if usefull here.
For now I let open this issue for thinking about it.

[2016-03-07 09:45] kYroL01 commented on #154
I check also others **Tor** pcap and a better detection is definitely needed.

[2016-03-07 22:46] kYroL01 commented on #130
Duplicate issue: https://github.com/ntop/nDPI/issues/125

[2016-03-07 22:46] #130 closed, assigned to nobody

[2016-03-08 00:51] kYroL01 commented on #125
https://github.com/ntop/nDPI/commit/8321b2fa66bb58fa85c36586b21deae8449d6465

[2016-03-08 00:51] #125 closed, assigned to nobody

[2016-03-08 06:46] Mile-Lile commented on #125
Thx @kYroL01 appreciate your work!

[2016-03-08 10:18] kYroL01 commented on #125
You're welcome

[2016-03-08 19:23] max197616 opened #157 "Bug in ssl.c"
When in TLS extension server_name uses punycoded server name, function stripCertificateTrailer from ssl.c removes symbols from server_name and in the flow->protos.ssl.client_certificate placed incorrect value. Samlpe output:
./ndpiReader -v2 -i 1xbet.pcap

---
- NOTE: This is demo app to show _some_ nDPI features.
- In this demo we have implemented only some basic features
- just to show you what

[2016-03-09 22:25] kYroL01 commented on #157
I'll fix asap !

[2016-03-10 07:27] u-Map opened #158 "Traffic falsely identified as Bittorrent"
Hi,

In recent testing we've found that many non bitrorrent SSL traffic was falsely identified as bittorrent traffic (including google,viber,facebook and many more).

Testing Environment:
We've used ndpireader output for detection analysis.
Client IP : 192.168.200.222 (android phone with no bittorrent client) GW: 192.168.200.60

Server eth0: 192.168.200.60
Server eth0: 192.168.10.200
GW: 192.168.1

[2016-03-10 10:49] kYroL01 commented on #157
Fixed by https://github.com/ntop/nDPI/commit/7ae06a114df358010c27cdf5819d1abdadd099fb

Thank you support!

[2016-03-10 10:49] #157 closed, assigned to kYroL01

[2016-03-10 11:09] kYroL01 commented on #158
ALL the BitTorrent are wrong in your capture ? I mean, you are sure NO BitTorrent app is open when you captured (just to understand).

[2016-03-10 11:34] kYroL01 commented on #158
Actually the packet detected as BitTorrent in your pcap are only UDP packets (I extract a sub-pcap with only packets detected as BitTorrent). No SSL are involved.
I Investigate on this.

[2016-03-10 13:15] u-Map commented on #158
@kYroL01 Yes. Client was an Android Phone with no BitTorrent app installed.

[2016-03-10 13:19] u-Map commented on #158
Just to add something. I got a Viber call during a previous testing while I'm looking at the ndpireader output. All viber traffic for that call was marked as Bittorrent/37. Unfortunately I couldn't get a packet trace for that incident.

[2016-03-10 14:37] kYroL01 commented on #158
I know that a new Viber dissector is needed (https://github.com/ntop/nDPI/issues/149).
Are u able to send me a pcap of only an entire Viber session ? Thanks

[2016-03-10 15:45] mzhumakhanov commented on #148
Hello!
Instead of using two functions "ndpi_flow_freer" and "ndpi_free" in one place, you can use already defined function "ndpi_flow_freer", that has already included these two functions. Logically, both variants are the same, but my variant little pretty.

[2016-03-10 16:04] kYroL01 commented on #148
@mzhumakhanov I'm completely agree with you. Is a must-do-do thing that I need to change but soon a little refactory will be done. Thank you!

[2016-03-11 07:39] u-Map commented on #158
Sure. I'll send one asap.

[2016-03-11 09:43] kYroL01 commented on #158
Thanks a lot!

[2016-03-11 11:24] lucaderi commented on #158
I have looked at a few flows of your pcap. For instance capturing port 192.168.200.222:45493 I see UDP traffic as below
that IMHO is BitTorrent. Open your pcap and will see.

d1:ad2:id20:U.!4.....N.. ..L....9:info_hash20:N....t...D>."?+.....e1:q9:get_peers1:t2:Fw1:v4:LT..1:y1:qe

Furthermore looking at the MAC addresses, this is not a mobile-originated traffic (we see VMware MAC addresses). Please

[2016-03-11 11:25] lucaderi commented on #158
Please remember to send us a viber trace.

[2016-03-12 12:22] Mile-Lile commented on #149
I have some Viber traces from desktop if it can help...
[Viber_desktop.zip](https://github.com/ntop/nDPI/files/170388/Viber_desktop.zip)

[2016-03-12 12:36] Mile-Lile commented on #126
Google Photos is a photograph and video sharing and storage service by Google.
It was announced in May 2015 and spun out from Google+, the company's social network.
At its launch, reviewers wrote that the service was among the best of its kind.
There is a problem of bandwidth hog due to Android synchronization service on smartphone and tablets.
On android the sync service takes every photo, video

[2016-03-12 12:47] kYroL01 commented on #126
Thank you for sharing this informations

[2016-03-12 12:48] Mile-Lile commented on #126
you are wellcome...
[Google_Drive_NEW_app.zip](https://github.com/ntop/nDPI/files/170399/Google_Drive_NEW_app.zip)

[2016-03-12 14:24] Mile-Lile commented on #158
Check if my trace can help...
[Viber_desktop.zip](https://github.com/ntop/nDPI/files/170440/Viber_desktop.zip)

[2016-03-14 08:27] u-Map commented on #158
Sorry for the delay. Viber trace attached.
[viber_mobile_cap_1.zip](https://github.com/ntop/nDPI/files/171572/viber_mobile_cap_1.zip)

[2016-03-14 08:36] u-Map commented on #158
Btw, I see a huge difference of packet count in pcap file and ndpi reader output.

Below are the commands I've used for testing.

sudo tcpdump -i eth1 -vvv -nnn -s0 host 192.168.200.222 -w viber_mobile_cap_1.pcap
sudo ./ndpiReader -i eth1 -v2 | grep 192.168.200.222 > /home/ndpi/ndpireader_viber_mobile.txt

As I've already send the pcap I attach the latter below.

Can you please clarify this?

[ndp

[2016-03-14 08:39] kYroL01 commented on #158
@Mile-Lile & @u-Map Thanks for the pcap. Hope to write a new Viber dissector soon.

@u-Map Did u understand what Luca said you about the BitTorrent flows you see ?

[2016-03-14 08:50] u-Map commented on #158
@lucaderi

No. The static IP 192.168.200.222 was assigned to the Android by the time of testing.

The gateway server used for testing was a VM (VMware). And there may be other broadcast traffic from other VMs.

Ok. I got it. I have no idea about other apps that could sent Bittorrent traffic installed on test Android phone. I will investigate.

@kYroL01's correction on SSL vs UDP was right. It was

[2016-03-14 09:11] kYroL01 commented on #158
This is normal, because **tcpdump** is a packet sniffer/analyzer, while **nDPI** use the deep packet inspection to classify the flows of packets.
Consider that ndpiReader is a demo for testing the application protocol flows, not singles UDP/TCP packets.

I see that the majority of the flows are detected as _Unknown_ because (i think) it is Viber flows not correctly detected (and this is why is nec

[2016-03-14 18:52] u-Map commented on #158
@kYroL01 Thanks for clarification. But this is little confusing for me. I though ndpiReader demo application output should be like following.

Total packets in pcap: 100
Ndpireader output:
prot 1 : 10pkts
prot2: 30 packets
prot 3: 15packts
prot n: 5 packets
unknown (unidentified/other) prot: (100 - (10+30+15+5)) = 60
TOTAL = 100

Because I see the packet count too in the ndpiReader output.

Detect

[2016-03-14 22:37] kYroL01 commented on #158
@u-Map No packets are missing in the detection, but ndpiReader discard the only-L2 packets (i.e. ARP).
If you see:
IP packets:            **_10680         of 10701 packets total_**
and the "missing" packets are exactly the 21 ARP packets in your pcap.

p.s. I almost finished to do the Viber dissector and Viber service detection. I have to do some test and then push a commit.

[2016-03-15 00:02] kYroL01 commented on #158
7c511fb2f2b827f96349f6fb0e2193f9793aa068 (for Viber)
I have to finish the dissector, but this commit I think solved many problems of detection.

[2016-03-15 00:03] kYroL01 commented on #149
7c511fb2f2b827f96349f6fb0e2193f9793aa068

[2016-03-15 00:03] #149 closed, assigned to kYroL01

[2016-03-16 09:38] kYroL01 commented on #158
I close this issue as the BitTorrent in your pcap is right. If you'll see other inconsistency open new issue.

Thank you.

[2016-03-16 09:38] #158 closed, assigned to kYroL01

[2016-03-17 04:28] jahanzeb-arshad opened #159 "nDPI not detecting all BitTorrent flows"
The nDPi engine is not detecting all Bittorrent flows. Attached is the pcap file of traffic flow which it is not able to detect.

[bittorrent.pcapng.zip](https://github.com/ntop/nDPI/files/177253/bittorrent.pcapng.zip)

[2016-03-17 08:36] kYroL01 commented on #159
Thank you for the pcap.

[2016-03-17 16:25] lucaderi commented on #159
@jahanzeb-arshad I have analysed the pcap with @kYroL01 and we do not see issues. Can you please narrow down the problem and provide a new pcap with _only_ the bit torrent traffic that is not detected?

[2016-03-18 07:25] jahanzeb-arshad commented on #159
Following is the flow information as detected by nDPI

![ndpi-flows](https://cloud.githubusercontent.com/assets/17155548/13871146/fffb67b0-ed03-11e5-88a8-c2e88f7c33e9.png)

Attached is the pcap file with only the flows which are shown as unknown by the nDPI.
[bittorrent.pcapng.zip](https://github.com/ntop/nDPI/files/179206/bittorrent.pcapng.zip)

[2016-03-18 08:41] lucaderi commented on #159
As you can see the flows with a strikethrough have been blocked. Now it seems there is a flow with relatively high bandwidth that was not blocked. This is the issue I will try to solve. Stay tuned.

[2016-03-18 10:00] #159 closed, assigned to nobody

[2016-03-18 11:52] kYroL01 commented on #159
Thanks @lucaderi

[2016-03-19 10:01] alberk8 opened #160 "Add Request: Git"
Hi,
Please add the git protocol.  Thanks.

[2016-03-21 14:51] ayle opened #162 "Compile as a DLL"
Hello,

I'm not very good in C/C++ but I'm currently asked to develop a soft based on nDPI using C#/.Net.

I'm not able to build neither the Win32 example (PcapExample) nor the library as a DLL. Is there any existant procedure as the Linux one to compile nDPI on Windows/Visual Studio ?

Thanks in advance, and sorry for the disturbance...

[2016-03-21 15:26] kYroL01 commented on #162
Try if this could help you: http://www.codeproject.com/Articles/9826/How-to-create-a-DLL-library-in-C-and-then-use-it-w

[2016-03-21 15:53] ayle commented on #162
Hi,

Thanks for your link. I understand the concept, but between the example and a project like nDPI, the difference seems huge to me...

I started to generate the project but there are incompatibilities between the Windows environment and the Linux one (due to several libraries as strings.h for example). For now, it is the btlib.c / btlib.h that generates errors and stops the build... and with my

[2016-03-22 10:34] kYroL01 commented on #160
Can you provide a good pcap with the _git_ protocol ?
Thanks

[2016-03-23 13:13] lucaderi commented on #162
@ayle See https://github.com/ntop/nDPI/tree/dev/example/Win32 and if you happen to update it, please send us a pull request.

[2016-03-24 14:55] JeevanNailwal opened #163 "Need help in classification of protocol and subprotocols"
Hi all,
Can you please help me to get the document which can tell me , out of 219 available protocol-ids, which all protocol ids comes in protocol region(like HTTP, HTTPS) and which all protocol ids are in subprotocol section(skype, bittorrent)?

In addition, can someone please explain on the linking on various kind of protocol identities.
Basically, different types of protocol NDPI_SERVICE_.....

[2016-03-24 22:03] kYroL01 commented on #163
[Here](https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h) you can see the list of all the availlable protocols/subprotocols detected by nDPI associated to their IDs.

I try to explain better.
First of all, _protocols_ are considerd "real" protocols like HTTP, SSL, DNS; _subprotocols_ are the application protocols detected over protocols thanks to flows like Facebok, Skype, BitT

[2016-03-24 22:13] #163 closed, assigned to nobody

[2016-03-25 03:54] JeevanNailwal commented on #163
Thanks for the reply Michele.

Just one more query, as you said that "protocols are considerd "real" protocols" so that means all other types i.e. SERVICE, PROTOCOL_IP and PROTOCOL_CONTENT... they all come in subprotocol catogory?

[2016-03-25 10:21] kYroL01 commented on #163
In a way, yes.
But there are applications that is detected sometimes as protocols (with its dissector) sometimes as service (and the protocol is (for example) SSL or HTTPS.

[2016-03-26 12:28] JeevanNailwal opened #164 "is there any relation in coAP and BT?"
Hi All,
I am looking to avoid BT data in my network. I was testing latest DEV branch and found the below result:

Detected protocols:
    Unknown              packets: 161           bytes: 16355         flows: 64
    DNS                  packets: 19            bytes: 1793          flows: 9
    HTTP                 packets: 75            bytes: 16067         flows: 6
    SSDP                 packet

[2016-03-26 13:49] kYroL01 commented on #164
There isn't direct relation between coap and BT.
As explain here, [COAP](https://en.wikipedia.org/wiki/Constrained_Application_Protocol) "is an application layer protocol that is intended for use in resource-constrained internet devices, such as WSN nodes. CoAP is designed to easily translate to HTTP for simplified integration with the web, while also meeting specialized requirements such as multi

[2016-03-26 15:41] JeevanNailwal commented on #164
Hi Michele,
The provided pcap has only session with BT. the o/p of ndpiReader output
was pasted in my query. I am pasting the same again, for your reference.

Detected protocols:
Unknown packets: 161 bytes: 16355 flows: 64

DNS packets: 19 bytes: 1793 flows: 9
HTTP packets: 75 bytes: 16067 flows: 6
SSDP packets: 2 bytes: 540 flows: 2
COAP packets: 7994 bytes: 5861897 flows: 268
BitTorrent packets:

[2016-03-26 19:19] kYroL01 commented on #164
Thanks @JeevanNailwal for the pcap.
I think you are right! Definetly that are **not** CoAP prackets but BT !!

I need to fix this! Thanks. Hope to solve asap !

[2016-03-26 19:21] kYroL01 commented on #162
I close the issue but @ayle if you have news or update to send us, follow what Luca sayd. Thanks

[2016-03-26 19:21] #162 closed, assigned to nobody

[2016-03-27 00:43] kYroL01 commented on #164
Now I think you could be satisfy.
Result from your pcap after fix:

Unknown              packets: 146           bytes: 13776         flows: 62
        DNS                  packets: 19            bytes: 1793          flows: 9
        HTTP                 packets: 73            bytes: 15935         flows: 6
        SSDP                 packets: 2             bytes: 540           flows: 2
        COA

[2016-03-28 10:14] JeevanNailwal commented on #164
Hi all,
But with live packets, Theres a NEW problem: (please have a look at number of UNKOWN packets)

Detected protocols:
    Unknown              packets: 3812          bytes: 4577759       flows: 172
    DNS                  packets: 6             bytes: 628           flows: 3
    COAP                 packets: 3             bytes: 216           flows: 2
    BitTorrent           packets: 6478

[2016-03-28 10:18] JeevanNailwal commented on #164
Hi All,
There's a new issue with the above changes. Now my unknown flows are also
increasing with the same rate. Please see the o/p of ndpiReader below:

Detected protocols:
Unknown packets: 3812 bytes: 4577759 flows: 172

DNS packets: 6 bytes: 628 flows: 3

COAP packets: 3 bytes: 216 flows: 2

BitTorrent packets: 6478 bytes: 5264271 flows: 261

ICMP packets: 1 bytes: 162 flows: 1

SSL packets: 6

[2016-03-28 10:22] kYroL01 commented on #164
I see.
I'll check where is the problem.

[2016-03-28 22:12] kYroL01 commented on #164
TOR and BitTorrent need to be checked better. I ask you just please to be patient. I try to understand better in these days.
Thanks.

[2016-03-28 23:41] lucaderi commented on #164
@kYroL01 Hi Michele can we meet to discuss about how to address this issue?

[2016-03-29 04:17] JeevanNailwal commented on #164
Thanks for the concern Michele. I will patiently wait for your response.

Regards,
Jeevan

On Tue, Mar 29, 2016 at 5:11 AM, Luca Deri notifications@github.com wrote:

[2016-03-29 05:35] JeevanNailwal commented on #164
Another observation:
I tried to print the return type of "ndpi_detection_process_packet" and figured that for the packet, which are not getting detected as BITTORRENT, master_protocol and protocol both are zero! While for the detected packets, protocol = 37(BITTORRENT) while master_protocol is always zero!

[2016-03-29 09:25] kYroL01 commented on #164
@lucaderi When you want.

@JeevanNailwal when a packet is unknow is normal that you have master_protocol and protocol to zero; is also normal that not all the protocols have master_protocol != 0. For example if BT is detected on SSL connection (i.e. through certificate) you have master_protocol = SSL and protocol = BT.
If BT is detected directly with its dissector, you have just protocol. This is

[2016-03-31 12:41] Enteee opened #165 "1.7 release tag"
According to [1] and [2] there should be a 1.7 release of this software but there is no git tag 1.7. Is there a reason for this? Could you please tag the 1.7 release commit. That would help me a lot. Thank you.

[1] : http://www.ntop.org/announce/released-ndpi-1-7/
[2] : https://sourceforge.net/projects/ntop/files/nDPI/

[2016-03-31 13:44] kYroL01 commented on #165
@Enteee If you see branches, there are the 1.7 stable branch of nDPI.
Then, the dev branch is the _always-updated_ branch.
If you're looking for commits you ask: 0a4c8e2959facfe1c03c6216f017c740e8b4c4da

[2016-03-31 13:49] #165 closed, assigned to nobody

[2016-03-31 15:12] Enteee commented on #165
thanks I saw the branches before, so is there a reason you didn't tag the 0a4c8e2959facfe1c03c6216f017c740e8b4c4da as 1.7? A simple

[code]

would help me a lot.

[2016-03-31 15:24] lucaderi commented on #165
@Enteee What about this?
![screen shot 2016-03-31 at 17 23 21](https://cloud.githubusercontent.com/assets/4493366/14180934/4f9c4b8e-f765-11e5-8570-97517015e53e.png)
Don't forget to star nDPI on github

[2016-03-31 15:30] Enteee commented on #165
I do work on a project which has _A LOT_ of dependencies to other projects. We include them as submodules and on release we do something like

[code]

this works nicely for all of the dependencies except this one. Also I didn't notice that there is a 1.7 release just until today because your [Releases page](https://github.com/ntop/nDPI/releases) only contains the 1.6 release. Adding a tag for 1.7

[2016-03-31 15:31] lucaderi commented on #165
@Enteee As your project uses our tools, do you plan to contribute to nDPI ?

[2016-03-31 15:38] Enteee commented on #165
@lucaderi If I need a new protocol I might consider doing so. But right now the library works pretty fine for me. But how is this question related to the topic?

[2016-03-31 15:44] lucaderi commented on #165
@Enteee As you seem to have experience, your help would be desirable. Please consider contributing to the project as you did with your tag suggestion.

[2016-03-31 16:01] kYroL01 commented on #165
@lucaderi Do you think we can add that tag for the commit evidenced ?

[2016-03-31 22:14] kYroL01 commented on #123
Can you provide a pcap please ?

[2016-04-01 10:17] HaochuanXJTU opened #166 "undefined reference to `ndpi_set_detected_protocol',`ndpi_protocol2name'"
When I use DPDK to link the lib of ndpi，it‘s show that undefined reference to `ndpi_set_detected_protocol' and`ndpi_protocol2name'. But another function can be linked.

[2016-04-01 11:56] vnetserg opened #167 "Viber protocol is not recognized"
Hello all,
I've build the latest dev version of nDPI and still it does not recognize Viber protocol. I am using ndpiReader executable from "examples" folder. Pcap file with Viber voice call can be found here: https://drive.google.com/file/d/0B_nvZYkh0O5NYW5RZlo5czJmYzg/view?usp=sharing
Target session is "UDP 192.168.1.94:39242 <-> 87.228.93.187:41959".
Am I doing something wrong or this is a bug?

[2016-04-01 12:11] kYroL01 opened #168 "Viber protocol needs a new dissector"
After changes, old Viber dissector is not good and need a completely refactoring.

[2016-04-01 12:12] kYroL01 commented on #167
Yes @vnetserg . Viber protocol completely changed and a new dissector is needed.
It's a thing we'll do.
Stay tuned here: https://github.com/ntop/nDPI/issues/168

Thanks for the pcap. This is very helpfull!

[2016-04-01 12:12] #167 closed, assigned to nobody

[2016-04-03 20:25] kYroL01 commented on #164
@JeevanNailwal To solve the thing that you said we have to refact the bittorrent dissector, because we need to keep flows in a cache to understand when many flows must be recognize as BT. Not a fast refactor so please be patient for the moment.
Thank you!

[2016-04-06 09:13] kYroL01 commented on #166
@HaochuanXJTU Have you tried to upgrade the nDPI from the dev branch from here ? Maybe the link from you downloaded is old.

[2016-04-10 07:55] tianzhishuizhu opened #171 "How to study nDPI and develop dissection support for a specific application"
I'm a student and interested in protocol/application classification. I have run ntopng on my ubuntu and read some documentation. But I have some problems about learning.
1. I can't find documentation about how nDPI determines which application flows belong to based on pcap file detailedly, from the viewpoint of developer instead of user. For instance, to classify YouTube flows, how can a developer

[2016-04-10 08:52] lucaderi commented on #171
I suggest you to read http://luca.ntop.org/nDPI.pdf and then explore the source code with a debugger.

[2016-04-10 08:52] #171 closed, assigned to nobody

[2016-04-10 09:02] tianzhishuizhu commented on #171
Thanks for your reply! I have read that article bofore and need some time to understand it. I find algorithm like: string-based matching, Aho-Corasick and encryption protocol, certificate.  Can you instruct me the outline of algorithms being used by nDPI? I will study about that. Debugging is really useful process, Thanks! I'll try it.

[2016-04-10 09:18] kYroL01 commented on #171
@tianzhishuizhu If u have specific questions about, you could send me a private mail instead ask here.
I could answer to your doubt asap.
Thank you

[2016-04-10 10:16] tianzhishuizhu commented on #171
@kYroL01 Thanks!

[2016-04-12 21:43] kYroL01 commented on #166
@HaochuanXJTU I close for inactivity. In case let us know

[2016-04-12 21:43] #166 closed, assigned to nobody

[2016-04-13 07:09] tianzhishuizhu opened #174 "compile nDPI output /usr/bin/ld: cannot find -lnuma"
When I compile the nDPI source code, `make`, the  output is:  **/usr/bin/ld: cannot find -lnuma** Thanks!

[2016-04-13 07:34] HaochuanXJTU commented on #166
OK， thanks for you help, I have solved this problem by redefine the function.

[2016-04-13 07:35] kYroL01 commented on #166
I suggest you to keep update nDPI by the dev branch that you can find here on github.
Regards

[2016-04-13 07:43] HaochuanXJTU commented on #166
Do you know a high speed processing packet libraries DPDK, I have made a program using DPDK to capture packet, and using ndpi to process packet. But the program will be quit when recieved a packet.Can you give me some advice?

[2016-04-13 08:09] kYroL01 commented on #174
It seems you missed the NUMA lib (Non Uniform Memory Access). Which nDPI version do you use ?
Can you post the output of makefile ?
Maybe you just need `apt-get install libnuma-dev`

[2016-04-13 08:11] kYroL01 commented on #166
Sorry, i never used DPDK.
IMHO It seems to be strange that you use two different programs to do capture and processing packets when you just need one.

[2016-04-14 01:20] tianzhishuizhu commented on #174
I use the latest version on github. Do you mean the whole file `Makefile` in the nDPI directory?

[2016-04-14 01:24] tianzhishuizhu commented on #174
I try sudo apt-get install libnuma-dev, and there is no error output about -lnuma. The `make` output is:

[code]

Has nDPI been correctly installed?

[2016-04-14 01:57] tianzhishuizhu opened #176 "discover about QQ and facebook using nDPI and ndpiReader"
I have several problems, mainly about discovery of facebook and QQ protocol.
1. I run the command `sudo ./ndpiReader -i eth0 -s 20` several times and login on facebook.com. But the ndpi Reader doesn't output information about facebook.
2. Really, on ubuntu, there is only webqq avaliable, does it mean nDPI can also discover webqq? In windows, there is QQ avaliable. But when I login webqq, it hasn't

[2016-04-14 08:00] kYroL01 commented on #176
1. I did a test right now and I detected correctly facebook
2. I also went to web.qq to and nDPI detect QQ application as well.

It seems that the problem is not about nDPI. Are u sure you're using the correct version ?

[2016-04-14 08:07] kYroL01 commented on #174
I think it's correctly installed, but:

yours:
`/bin/bash ../libtool  --tag=CC   --mode=link gcc -pthread -g -O2 -static  -o ndpiReader ndpiReader.o ../src/lib/libndpi.la   /home/hu/PF_RING/userland/libpcap/libpcap.a /home/hu/PF_RING/userland/lib/libpfring.a -lnuma  -lrt     -lrt
libtool: link: gcc -pthread -g -O2 -o ndpiReader ndpiReader.o  ../src/lib/.libs/libndpi.a /home/hu/PF_RING/userland/lib

[2016-04-14 08:11] tianzhishuizhu commented on #174
I don't install PF_RING. I just want to test nDPI and ndpiReader. Yeah, I have tried again and it can work.

[2016-04-14 08:16] tianzhishuizhu commented on #176
I install the latest version on github. I just install nDPI and ndpiReader, and nothing more. The output also shows that: `packet capture size is smaller than packet size, DETECTION MIGHT NOT WORK CORRECTLY`.

[2016-04-14 08:27] kYroL01 commented on #174
GOOD! :)

I close the issue.

[2016-04-14 08:27] #174 closed, assigned to nobody

[2016-04-14 08:32] kYroL01 commented on #176
That "warning" comment is normal, and it inform you that the ndpiReader is just a test demo for nDPI and maybe some packets are not properly detected.
It's not an error.
I suggest you to upgrade nDPI and try again.
go in your nDPI folder and do `git pull && make` and try again, because I see that nDPI detect correctly both application protocols.

[2016-04-14 08:44] tianzhishuizhu commented on #176
I run `git pull && make` in my nDPI directory. In the same time , I watch video on facebook.com. The output is:
       Unknown              packets: 2             bytes: 692           flows: 2
    DNS                  packets: 10            bytes: 1892          flows: 5
    HTTP                 packets: 12            bytes: 2791          flows: 2
    NetBIOS              packets: 2             byt

[2016-04-15 09:00] Enteee commented on #165
so is this off the table?

[2016-04-15 09:39] lucaderi commented on #165
When we'll release 1.8 we'll tag it

[2016-04-16 13:25] kYroL01 commented on #176
@tianzhishuizhu any news ?

[2016-04-16 15:55] giomasce commented on #160
You can find a capture attached. I think a reasonably quick and robust filter would be to check for the string `git-upload-pack` beginning at the fifth byte of the first client packet.

[git_filtered.pcapng.zip](https://github.com/ntop/nDPI/files/222285/git_filtered.pcapng.zip)

[2016-04-16 16:03] kYroL01 commented on #160
@giomasce thank you !

[2016-04-17 09:01] radare opened #178 "Where's the ndpi-1.7 release tag?"
I have found that there's an 1.7 tarball release in your website, but not in github, this is confusing packagers and many distros are still shipping 1.6

[2016-04-17 09:15] radare opened #179 "Patch from voidlinux"
https://github.com/voidlinux/void-packages/tree/master/srcpkgs/ndpi/patches

this patch is not even included in git version of ndpi

[2016-04-17 10:07] Vaelatern commented on #179
Context: This patch is required for [the musl libc](http://www.musl-libc.org/)

[2016-04-17 13:06] kYroL01 commented on #178
I have to check better

[2016-04-17 15:11] kYroL01 commented on #165
@Enteee https://github.com/ntop/nDPI/tree/1.7

[2016-04-17 15:12] kYroL01 commented on #178
Did it.
https://github.com/ntop/nDPI/tree/1.7

[2016-04-17 15:12] #178 closed, assigned to nobody

[2016-04-17 15:14] kYroL01 commented on #179
@radare For what is necessary to nDPI ?

[2016-04-17 15:30] radare commented on #179
Is ndpi a verb?

[2016-04-17 15:30] radare commented on #178
Thanks!

[2016-04-18 10:59] Enteee commented on #165
thank you!

[2016-04-20 01:33] binkybear opened #181 "BGP detection crashes on Android"
Running ntopng in chroot on Android phone run into this error (seen in gdb):

[code]

Removing BGP from nDPI fixes issue and ntopng will continue to run.  Unsure what is causing issue and I know it's a bit unusual to run on Android phone.

[2016-04-20 07:49] kYroL01 commented on #181
Are u able to send us a pcap that cause the crash ?

[2016-04-21 10:06] lucaderi commented on #181
@binkybear I have made a fix https://github.com/ntop/nDPI/commit/1be91947343c6b1737d138d91947cdaa7f5891ad that might help. Better would be a pcap file or a better trace dump. Please upgrade and let us know.
This said, can you please comment (just curious) what are you doing with nDPi on Android?

[2016-04-21 21:20] #181 closed, assigned to nobody

[2016-04-21 21:31] binkybear commented on #181
I can confirm that commit has fixed issue.  I wasn't expecting such a quick response/fix-amazing work!  Sorry I wasn't able to provide a pcap/trace dump soon.

So a quick background: I work on a project called Nethunter with is Kali Linux chroot running on android phones.  A request was made to get ntopng working within the chroot.  I was getting a bus error but wasn't sure where it was occurring

[2016-04-22 02:01] tianzhishuizhu opened #182 "does ntopng include nProbe automically"
1. Does ntopng include nProbe automically?
2. I have seen documentation about nProbe.That shows it is necessary to create the nProbe license otherwise the probe will operate in demo mode. If ntopng has included nProbe, does nProbe work in demo mode? thanks!

[2016-04-22 05:05] lucaderi commented on #181
@binkybear This looks very interesting and it demonstrates the power of open source as I would have never expected to see ntopng on an Android device. If you want to write a README file to add into ntopng/docs please send me a pull request so we can document this. Thank you.

[2016-04-22 06:29] lucaderi commented on #182
nProbe is not necessary to ntopng unless you need to convert flows. Please see http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/
Yes if you want to use nProbe you need a license. Manual is here https://github.com/ntop/nProbe/tree/master/doc

[2016-04-22 06:29] #182 closed, assigned to nobody

[2016-04-22 08:29] kYroL01 commented on #181
That's sounds great!
@binkybear is the software could be use in a stand-alone version to try it also in other Linux distributions ?

[2016-04-23 20:20] aperezdc opened #183 "ndpi_guess_undetected_protocol() only supports IPv4"
The function does not support using IPv6 addresses. Its prototype is (from `ndpi_api.h`):

[code]

The source/destination host addresses are 32-bit values, which is IPv4 only. One alternative could be that the `shost` and `sport` parameters have type `const u_int8_t*` (byte arrays), and adding an additional parameter to indicate the type of the addresses (en `enum` value).

[2016-04-24 08:18] lucaderi commented on #183
I understand your point but at the moment we do not haver IPv6 to guess. Do you have any?

[2016-04-24 15:06] kYroL01 commented on #179
@radare well, are you using "to" only with verbs ?
I meant: is **really necessary** that patch for nDPI ?

[2016-04-24 15:08] kYroL01 commented on #176
Close for inactivity

[2016-04-24 15:08] #176 closed, assigned to nobody

[2016-04-24 15:09] radare commented on #179
This patch is necessary to build ndpi with musl instead of glibc. Its not really a big problem if you dont use musl :p

[2016-04-24 16:52] kYroL01 commented on #179
@radare thanks for explanation. I'll do it ;)

[2016-04-24 17:19] radare commented on #179
👍

[2016-04-24 21:00] lucaderi commented on #179
Fixed in https://github.com/ntop/nDPI/commit/8cb6172e4bb44fdb45bf80dd3328a0f57173b45b

[2016-04-24 21:00] #179 closed, assigned to nobody

[2016-04-26 16:58] #164 closed, assigned to nobody

[2016-04-28 14:16] tianzhishuizhu commented on #182
Does it mean ntopng analyse traffic just by packets instead of flow without nprobe? Without nprobe, just by libpcap to capture packets?

[2016-05-08 15:03] HaochuanXJTU opened #186 "I can't understand this"
if((iph->ihl \* 4) > ipsize || ipsize < ntohs(iph->tot_len) || (iph->frag_off & htons(0x1FFF)) != 0)
      return NULL;

what's the meaning of iph->frag_off & htons(0x1FFF)) != 0 ?

[2016-05-10 22:27] kYroL01 commented on #186
We check if an IP packet is fragmented or not. If yes, we discarted.
This is to keep thing simple in ndpiReader, becuase actually is only a demo app for test.

[2016-05-10 22:34] kYroL01 commented on #156
I think about it and I guess this feature, for now, is not applicable to nDPI. Maybe I guess I could add STP but is better don't add overhead not so usefull for the purpose of nDPI.

[2016-05-10 22:34] #156 closed, assigned to nobody

[2016-05-10 22:37] kYroL01 commented on #123
without a pcap I cannot satisfy this request. I close now. If you provide a pcap in future, reopen this. Thanks

[2016-05-10 22:37] #123 closed, assigned to nobody

[2016-05-11 08:45] mikes-gh opened #189 "Traffic Classification with dynamic ports"
Since a lot of windows traffic uses the rpc port mapper and dynamic ports the majority of my traffic is Unknown. Sometimes the same port on different hosts is used for different services.  So even if I do a netstat -ab to check the services using the ports and add the port descriptions I have no way to classify the traffic across hosts that uses the same port for different services.

Is there anyw

[2016-05-11 09:18] kYroL01 commented on #189
nDPI already provides a classification based on host, not only on port.

https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc

Can you do a real example ?

[2016-05-11 09:51] mikes-gh commented on #189
Yes but not a combination of both at the same time which would be required to map dynamic posts that may be different per host.

Something like.

tcp:3000@ntop
host:hosta,tcp:51995@spooler
host:hostb,tcp:51995@AD

Unless you have any other ideas of how to classify the traffic.  mybe need to think laterally here.

[2016-05-12 07:57] tianzhishuizhu opened #191 "How to debug nDPI"
How can I debug nDPI source code in linux? Can you help me?

[2016-05-12 08:00] kYroL01 commented on #191
Do you want debug because you find issues or to understand how it works ?
I suggest you to use _gdb_ and see how the program go on.

[2016-05-12 08:01] tianzhishuizhu commented on #191
@kYroL01  I want to understand how it works. I have downloaded the source code of ndpi. How can I compile to debug the whole code? Thanks

[2016-05-12 08:11] kYroL01 commented on #191
There isn't a debug mode. Once you have downloaded the code you have to do:
- ./autogen.sh
- ./configure
- make

Now your code is ready and I suggest you to run _**gdb**_ on [ndpiReader](https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c) make a breakpoint on main (and on other functions) and see the flow of execution.

[2016-05-12 08:11] #191 closed, assigned to nobody

[2016-05-12 08:12] tianzhishuizhu commented on #191
@kYroL01 Thanks for your reply!

[2016-05-12 08:14] kYroL01 commented on #191
You're welcome.

[2016-05-12 08:19] tianzhishuizhu commented on #191
@kYroL01  I have done the three steps you mentioned. I find a execute file named **ndpiReader** in the directory
`nDPI/example/ndpiReader`. Do you mean debug nDPI just with the command `gdb ndpiReader`?  **But how to refer the pcap file as input packet?**

[2016-05-12 12:58] kYroL01 commented on #191
@tianzhishuizhu Have you ever program in C ? Do you know how gdb work ?
If you are not a programmer it's hard to explain how to do.
I suggest you to read the documentation of nDPI if you are not able to navigate through the code.

https://github.com/ntop/nDPI/blob/dev/doc/nDPI_QuickStartGuide.pdf

[2016-05-12 13:33] tianzhishuizhu commented on #191
@kYroL01  I have read it. I try `gdb ./ndpiReader -i my.pcap`. But gdb outputs `Interpreter my.pcap' unrecognized`. The document shows `ndpiReader -i <file|device>`

[2016-05-12 14:06] #186 closed, assigned to nobody

[2016-05-12 17:36] kYroL01 commented on #191
Well, It's impossible for me teach you in this way how a debugger like gdb could be use.
It's not a fast thing to explain: http://www.delorie.com/gnu/docs/gdb/gdb_toc.html

[2016-05-17 01:55] tianzhishuizhu opened #192 "Non-DNS traffic detected as DNS - IP tunnel over DNS"
I want to know the process of detecting **DNS** protocol. Does the process only use known port?No dpi method(**Layer7 inspect**) used for detecting DNS? Thanks!
 In function **ndpi_search_dns()**  `if((s_port == 53 || d_port == 53 || d_port == 5355) && (flow->packet.payload_packet_len > sizeof(struct ndpi_dns_packet_header)))`

[2016-05-17 05:56] Mile-Lile commented on #192
OpenDNS can listen on port 443...
There is something called IP-over-DNS... Iodine creates tunnel over port 53 http://code.kryo.se/iodine/
so, I hope nDPI can search dns traffic on other ports...

[2016-05-17 08:05] kYroL01 commented on #192
@tianzhishuizhu if you see better in the dissector, there are many checks to inspect the payload (for example to see if a dns is a query or a response, or to extract host name server, but I think that I need to check better.
Thank you @Mile-Lile i didn't know this.

[2016-05-17 08:16] kYroL01 commented on #192
I did a test with a dns tunnel iodine pcap and nDPI detect all the packets as DNS correctly.
@tianzhishuizhu @Mile-Lile The check on port **53** is necessary because DNS flows _for sure_ on this source or destination ports ( https://technet.microsoft.com/en-us/library/dd197515(v=ws.10).aspx ), then, we apply dpi method to detect if that packet is really a dns.

If you find dns packets that not use

[2016-05-17 09:30] Mile-Lile commented on #192
It shouldn't be detected as DNS... because iodine just uses port 53 for all traffic (to avoid ISP restrictions such as Great China Firewall). All traffic, such as http, p2p etc goes through tunnel (src pt 53 and dsp pt 53)... so not sure if it works good...

I can't provide pcap because I use wireshark on PC to grab traffic and my home router can redirect dns request on other non standard dns port

[2016-05-17 09:45] kYroL01 commented on #192
@Mile-Lile Thanks a lot for clarification. I have to investigate better.
Can you open a specific issue for this to focus better the problem ?
Thank you

[2016-05-17 10:01] Mile-Lile commented on #192
Yes I can, but I must find way to catch pcap first. My wireshark is behind my router firewall where I can do dns port redirection... I'll back to you in few days... maybe to do nslookup from my PC to OpenDNS 5353 and 443 port while wireshark is running...

[2016-05-17 10:03] kYroL01 commented on #192
Take your time and thanks also to @tianzhishuizhu for evidence that.

[2016-05-17 10:08] Mile-Lile commented on #192
Oh yes:) OpenDNS listens on port 443... try it yourself... from windows machine do:

`nslookup -type=a -port=443 www.blic.rs 208.67.222.222`

I got this answer:

`C:\Users\hmilenkovic>nslookup -type=a -port=443 www.blic.rs 208.67.222.222
Server:  resolver1.opendns.com
Address:  208.67.222.222

Non-authoritative answer:
Name:    blicrs.dreamlab.pl
Address:  185.104.64.10
Aliases:  www.blic.rs`

[2016-05-17 10:14] kYroL01 commented on #192
Maybe for OpenDNS we just filter by IP as describe [here](https://en.wikipedia.org/wiki/OpenDNS#Name_Server_IP_Addresses)

[2016-05-17 10:51] Mile-Lile commented on #192
as a matter of fact I think it is very good idea! Even if dns traffic is encrypted (when using DNSCrypt protocol, which authenticates DNS traffic between the user's computer and the name servers on port 443) it will use OpenDNS resolver IPs... so adding OpenDNS resolvers IPs will help... I don't know any other free service listening on non standard dns port... but I can tell you OpenDNS is very po

[2016-05-17 10:58] tianzhishuizhu commented on #192
@kYroL01  You are welcome. Your work is really appreciated!

[2016-05-17 11:00] kYroL01 commented on #192
It's not only mine, all the contributions are important ;)

[2016-05-17 16:30] kYroL01 commented on #192
https://github.com/ntop/nDPI/commit/ccdcf9d82b5e599beb7e9f96acd767110b0aa965
@Mile-Lile test need

[2016-05-17 17:54] Mile-Lile commented on #192
[trace.zip](https://github.com/ntop/nDPI/files/268805/trace.zip)

I will try to provide pcap with non dns traffic on port 53. I'll try... first I have to figure it out how:) Trace above is OpenDNS trace...

[2016-05-17 19:33] kYroL01 commented on #192
Thanks a lot. I'll do many test

[2016-05-17 19:39] kYroL01 commented on #192
I tried and even if I putted the cidr for OpenDNS ip address, nDPI doesn't detect correctly. I think is not a dns problem but an internal bug in nDPI.
I have to check better.

[2016-05-18 06:59] Niko78 opened #194 "ndpi detect netflow/ssl anyconnect vpn only by known port ?"
hi,
I use last nightly ntopng and ndpi detects strange things
1) all my routers sends netflow to ntopng on port 7002 so should be detected as netflow stream, but it is displayed as afs3-prserver in ntopng
2) we have cisco anyconnect ssl vpn access and this time it appears in ntopng as quic

I'm not saying it's not normal, I just would like to know if it's normal.

thanks

Nico

[2016-05-18 07:38] kYroL01 commented on #194
Can you provide a pcap with specific captured traffic to understand better ?
I don't think is normal, I think it might be a bug in dissection, but I have to check your pcap.

Thanks

[2016-05-18 08:01] Niko78 commented on #194
sure
first pcap about netflow stream received on ntopng server
[netflow.zip](https://github.com/ntop/nDPI/files/269898/netflow.zip)

[2016-05-18 08:18] Niko78 commented on #194
second pcap about stream being anyconnect ssl vpn
[anyconnect.zip](https://github.com/ntop/nDPI/files/269934/anyconnect.zip)

[2016-05-18 08:24] kYroL01 commented on #194
@Niko78 for point **1**: I passed the pcap on nDPI and it detect perfectly as Netflow.
The problem is that ntopng show only 10 pkts as Netflow, and the rest as RX or Unknown.
The _afs3-prserver_ is the keyword associated by the web to port [7002](http://www.t1shopper.com/tools/port-number/7002/)

[2016-05-18 08:29] kYroL01 commented on #194
Point **2**: nDPI detect correctly this pcap as SSL and OpenVPN. No errors. So try to upgrade nDPI and ntopng and recheck.

[2016-05-18 08:29] Niko78 commented on #194
ah ok and what could be the solution ?

[2016-05-18 08:31] kYroL01 commented on #194
I think is a things internal to ntopng and nDPI could be not well syncronized. We have to check better.
I suggest first to upgrade all and try again.

[2016-05-18 08:46] Niko78 commented on #194
just upgraded now I'm in
ntopng 2.3.160518
1.7.1-dev-413-1e37916

[2016-05-18 09:37] Niko78 commented on #194
so after the upgrade, ntopng still shows me QUIC for anyconnect ssl vpn and still afs3-prserver for netflow :-(

[2016-05-18 09:49] kYroL01 commented on #194
This is what I see from anyconnect pcap on ntopng:

![anyconnect](https://cloud.githubusercontent.com/assets/7222956/15354529/74f6e6ba-1cee-11e6-8469-6e575cd09154.png)

[2016-05-18 09:52] kYroL01 commented on #194
and this for netflow:

filtered by Netflow application
![netflow_1](https://cloud.githubusercontent.com/assets/7222956/15354594/bbc11264-1cee-11e6-9606-ff3cd3abde16.png)

and with all protos enabled
![netflow_err](https://cloud.githubusercontent.com/assets/7222956/15354611/c81ab2d6-1cee-11e6-8129-58901fb6ef44.png)

So the problem is that ntopng does not show all the Netflow pkts as netflow, but th

[2016-05-18 10:07] Niko78 commented on #194
ok
just retried on my side
<img width="909" alt="anyconnect" src="https://cloud.githubusercontent.com/assets/17108017/15355058/03be21c2-1cf1-11e6-9999-b347dd23255e.PNG">
<img width="917" alt="netflow" src="https://cloud.githubusercontent.com/assets/17108017/15355059/03be75a0-1cf1-11e6-866c-d645d7a76d09.PNG">

[2016-05-18 10:12] kYroL01 commented on #194
Yes, the error is on RX show for anyconnect, and this is the same for me, but i can't see wrong quic pcap... It's strange. Are u really sure to have upgrade correctly ? Because we did some modification on quic yesterday.

[2016-05-18 10:18] Niko78 commented on #194
well I just upgraded ntopng/nprobe...
<img width="929" alt="ntop" src="https://cloud.githubusercontent.com/assets/17108017/15355387/96972268-1cf2-11e6-8eef-444b288517b1.PNG">

or I missed something else ?

[2016-05-18 19:16] kYroL01 commented on #194
It's very strange. I think you didn't missing anything but I don't understand why I see correctly your pcap and you don't.
I have to investigate much better.

[2016-05-19 03:04] shivanikhosa commented on #139
But if thousands of single packet connections come in e.g someone doing a port scan, then the memory consumption goes extremely high since nDPI needs around 8 packets to classify the connection and it doesn't release the memory until then. Is there a plan of classifying these 1 packet connections based on some heuristics to a port scan so that memory can be released ??

[2016-05-19 03:28] tianzhishuizhu opened #195 "What's the method used in nDPI to discover features of an application's payload"
What's the **method or algorithm** used in summarying features of an application's payload? Are these features found by programmers inspecting every packet or Automation method？Thanks! Because there are so many applications and protocols. How to improve efficiency to summary features of application's payload?

For example, for detecting application qq, qq.c comment is:

[code]

[2016-05-19 05:11] lucaderi commented on #139
Correct, but this is not a nDPI issue but of the app that uses it. In fact in non nDPI testing apps (such as nProbe or our upcoming nProbe cento) the flow memory is released/allocated in a different way. Example if you see a SYN you do not need to allocate nDPI memory but just when the first payload packets hits your app.
Bottom line: ndpiReader is just a testing application, nothing more than tha

[2016-05-19 05:50] shivanikhosa commented on #139
Thanks for your prompt reply. I actually have a different setup. I'm running nDPI inside the linux kernel and using it to filter packets as and when they pass through the network stack. But with these single packet connections coming in during port scans, I allocate memory for flow and id structs when I receive the first packet of a connection but as we don't see any more packets this session is n

[2016-05-19 07:02] subritm opened #196 "Does nDPI supports multi instance ?"
I have a Linux system which has multiple people login.
I need to detect custom applications as well as predefine ones?
How can we achieve this ?

Each user is expected to have different custom applications.
Also out of 256 applications total, over 190 is predefined so leaving very less for custom.
So taking approx values , we have 66 number custom application left.

if there are 6 people adding 11

[2016-05-19 08:03] kYroL01 commented on #195
There are many protocols, and every application packet has its own payload, so it's impossible to use a unique _method_.
Not all the protocols are detected by official specifications, because many companies don't release them. Solution ? try to understand with reverse engeneering of packets and flows.
So to answer your question in a speech, _it depends on the application_.

[2016-05-19 08:03] #195 closed, assigned to nobody

[2016-05-19 20:35] Mile-Lile commented on #192
[IP_tunnel_over_DNS.zip](https://github.com/ntop/nDPI/files/273421/IP_tunnel_over_DNS.zip)

here is the pcap I promised. This is non dns traffic through dns port.... ip over dns tunnel is accomplished with software developed from these guys: https://your-freedom.net/

[2016-05-20 01:31] tianzhishuizhu commented on #195
@kYroL01  Yeah. I will study reverse engineering of packets and flows. Can you instruct me a document about the topic of *\* reverse engineering of packets *\* or a link of wiki about it? I'm worrying about searching false information. Thanks for your reply.@kYroL01  Can you help me ?

[2016-05-20 08:04] kYroL01 commented on #192
@Mile-Lile huge work man. Thank you so much! ;)

[2016-05-20 10:17] lucaderi opened #197 "Add nDPI Protocol Aliases"
Add the ability to specify protocol aliases
- VoIP=SIP+RTP
- Encrypted=SSL+SSH+....
- HTTPs=HTTPDownload+HTTP_Application_ActiveSync+HTTP_Connect+HTTP_Proxy

[2016-05-21 08:47] Niko78 commented on #194
if I can help you let me know

[2016-05-21 09:53] lucaderi commented on #196
For new protocols you need to create a dissector this unless the protocol can be detected by configuring nDPI (see ndpireader -p). If your protocols to add will exceed 256 we will find a solution. Start sending pull requests and we'll see what we can do.

[2016-05-21 09:53] #196 closed, assigned to nobody

[2016-05-21 12:03] Niko78 opened #198 "add protocols : db2 and hsrp"
hi,
I use ntopng with ndpi and that would be great if ndpi could detect db2 & hsrp protocols
You can can get pcap from here

HSRP : https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=hsrp.pcap
DB2 : https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=drda_db2_sample.tgz

thanks, regards

Nico

[2016-05-22 11:56] anubisg1 opened #199 "Add support for LISP"
Locator/ID Separation protocol has control plane and dataplane udp encapsulation.
Encapsulated user data packets are transported using UDP port 4341, and LISP control packets are transported using UDP port 4342.

really easy to detect.

[2016-05-23 09:38] lucaderi commented on #199
Please provide a pcap file with packets

[2016-05-23 09:55] anubisg1 commented on #199
Here:

https://www.cloudshark.org/captures/457f86a4c0f0

last 2 packets are data-plane transported over a lisp tunnel.

[2016-05-24 08:05] Niko78 opened #202 "add RSH protocol"
hi,
I would like to identify RSH in ntopng
https://www.wireshark.org/docs/dfref/r/rsh.html

and a pcap example
[rsh.zip](https://github.com/ntop/nDPI/files/279028/rsh.zip)

[2016-05-24 08:34] Niko78 commented on #194
about netflow appearing as RX
do you think a fix is possible to get netflow instead of RX ?

[2016-05-24 08:37] kYroL01 commented on #194
Yes, sure, later i'll check all.

[2016-05-27 02:00] HaochuanXJTU opened #208 "How can read the NDPI_LOG?"
Recently，I were readed the source of nDPI，but I can't get the log of nDPI，so I need help.

[2016-05-28 06:56] lucaderi commented on #208
What type of log are you looking for? Please see the ndpiReader application for more info about detection

[2016-05-28 06:56] #208 closed, assigned to nobody

[2016-05-28 09:53] Niko78 opened #209 "add SUNRPC protocol"
hi,
would like to identify SUNRPC protocol in ntop
pcap can be found here : https://www.cloudshark.org/captures/1f8ff433f45c?filter=tcp.stream%20eq%200

thanks

Nico

[2016-05-28 17:23] Niko78 commented on #198
hi,
just for my information
what's the ETA for protocols integration in ndpi usually ?
thanks

Nico

[2016-05-28 17:25] lucaderi commented on #198
These protocols are added in best effort mode. If you want to expedite the process please consider funding the development.

[2016-05-28 17:29] Niko78 commented on #198
ok thanks for info
it was just to know

have a nice week end

Nico

[2016-05-28 18:19] Niko78 commented on #194
I think I found the issue
Right now I start ntop like that
ntopng -F "mysql;localhost;ntopng;flows;root;azer" -i tcp://172.31.1.244:5556 -d /storage/tmp -w 3000 -v

if I start it like that
ntopng -F "mysql;localhost;ntopng;flows;root;azer" -i eth0 -d /storage/tmp -w 3000 -v
it seems to be ok
with this command I can even see throughput graph below whereas it doesn't work with first command

problem

[2016-05-29 11:01] kYroL01 commented on #194
@Niko78 It seems more a ntopng/nprobe issue than a nDPI issue, because as I explained before, with nDPI I have detected the traffic correctly.

[2016-05-29 12:29] Niko78 commented on #194
ok, I posted an issue in ntopng with a link to here
let's see what they think about

[2016-05-30 19:23] alagoutte commented on #198
I start to looking for add HSRP support !

[2016-05-31 04:53] Niko78 commented on #198
great

[2016-05-31 10:26] lucaderi commented on #194
I have looked at the packets and in particular to fragments that create the issue you reported. In nDPIreader fragments are dropped, in ntopng they are handled. I have made an enhancement to nDPIreader and nDPI, so issues should be fixed. This said you have most of the traffic fragmented so IMHO you should fix your network first.

[2016-05-31 10:26] #194 closed, assigned to nobody

[2016-06-02 10:43] HaochuanXJTU opened #211 "I can't understand this"
I can't understand of the utility of "excluded_protocol_bitmask", looking forward to your favourable reply.

[2016-06-03 11:34] bcronje opened #212 "Custom protocol file precedence"
If I load a custom protocol file via ndpi_load_protocols_file() , will any custom protocols in that file take precedence over the build-in nDPI detection? Or will the custom protocols only be used as last resort if nDPI cannot detect the protocol?

[2016-06-08 18:16] alrferreira opened #213 "WhatsApp detection"
Hello,
I use ndpi with iptables. After the implementation of encryption, WhatsApp messages not be blocked and detected by ndpi.

[2016-06-09 05:04] lucaderi commented on #213
@alrferreira Please share a pcap file we can use for troubleshooting

[2016-06-09 13:01] sduponch opened #214 "Use nDPI on socket payload"
Hi ,

I want to use libndpi on a shadowsocks TCP proxy to set the TOS flag of a socket from his payload.
Unfortunatly , NDPI seem to do not Provide direct access to L4 detection.

Best regards ,
Sébastien DUPONCHEEL

[2016-06-09 13:25] lucaderi commented on #214
nDPI is for packet inspection and application characterisation. If you want to change the TOS, you can do that by setting the TOS bit and recomputing the checksum without any nDPI need

[2016-06-09 13:25] #214 closed, assigned to nobody

[2016-06-09 13:26] lucaderi commented on #212
The loaded protocols have no precedence with respect to the native dissectors. They are not for last resort, but for characterising traffic not handled by the native engine

[2016-06-09 13:26] #212 closed, assigned to nobody

[2016-06-09 13:26] lucaderi commented on #183
Closed for inactivity. Will resume when input will be provided.

[2016-06-09 13:26] #183 closed, assigned to nobody

[2016-06-09 13:48] sduponch commented on #214
I want to classify the payload of my socket without the IP header (as i have no acces to it from the application level). I already know how set TOS inside shadowsocks...

[2016-06-09 14:26] aperezdc commented on #183
@lucaderi: Sorry, I do not understand your reasoning that there are no IPv6 addresses to guess. Do you mean that the IP addresses passed to `ndpi_guess_undetected_protocol` are not used at all? Or is it something else?

[2016-06-09 14:58] kYroL01 commented on #211
The field _"excluded_protocol_bitmask"_ , as self-explained its name, is necessary to exclude a protocol during the classification for a flow.
If you see a protocol dissector, it is called when we are sure that the packet/flow we're analyzing cannot detected with that protocol. So in the bitmask for _protocols we can exclude for this flow_ we set the bit representing that protocol.

[2016-06-09 14:58] #211 closed, assigned to nobody

[2016-06-09 15:14] lucaderi commented on #183
@aperezdc I do not see a use case at the moment to justify its implementation. If you have time please implement it as one day we'll need to do it.

[2016-06-18 11:01] afiaux commented on #154
Hi,

The first thing you could do is revert commit [392a14241fa68512099ea6096a640275461af7d0](https://github.com/ntop/nDPI/commit/392a14241fa68512099ea6096a640275461af7d0).

Tor certificates common names DO start with "www." so currently no Tor traffic is detected as such, you only get false positives.

[2016-06-18 12:46] kYroL01 commented on #154
@afiaux I'll check better. Thanks for suggestion.

[2016-06-19 19:30] #154 closed, assigned to kYroL01

[2016-06-22 11:40] lucaderi opened #217 "Add ISC/SCADA Support"
See packet traces at https://github.com/automayt/ICS-pcap

[2016-06-24 11:21] kYroL01 commented on #160
@alberk8 please, do some test  0f089bd49a8bfa1e57e862cef1352c6514f4719f

[2016-06-24 11:21] #160 closed, assigned to nobody

[2016-06-24 14:05] kYroL01 commented on #213
@alrferreira any news or pcap to share ?

[2016-06-26 23:48] lmangani opened #218 "RTP reported as WhatsAppVoice when STUN packets present"
The `WhatsAppVoice` detector seems to be extremely greedy and in all my tests wrongly overrides RTP flows when a STUN request/answer preceeds them from the same port. This is common behavior for many SIP User-Agents, including Linphone when configured to use STUN.

No special PCAP required, any SIP+STUN+RTP (in this sequence) call seems to present this issue

[2016-06-27 08:01] kYroL01 commented on #218
Thanks @lmangani . Do you have a pcap to share to evidence this bug ?

[2016-06-27 10:10] lmangani commented on #218
@kYroL01 will share it privately if needed but ANY SIP/RTP call with STUN will trigger it

EDIT: traces sent with my comments

[2016-06-29 17:40] jjdevx opened #219 "ndpiReader 1.8.0 or ntopng 2.4 crashes while loading protos.txt"
No matter which protocol is defined, it always crashes when it load the first protocol.
Trace from ndpiReader
Program terminated with signal 11, Segmentation fault.
#0  0x00007feb3a686645 in __strcasecmp_l_sse42 () from /lib64/libc.so.6

Missing separate debuginfos, use: debuginfo-install glibc-2.12-1.192.el6.x86_64 pfring-6.4.1-694.x86_64
(gdb) bt
#0  0x00007feb3a686645 in __strcasecmp_l_sse42 ()

[2016-06-29 19:08] kYroL01 commented on #219
The error is inside the _ndpi_handle_rule_ function, when is called **strcasecmp**.
Have to check. Thanks for reporting.

[2016-07-01 09:48] Niko78 opened #220 "add TSM protocol"
That would be interesting if ndpi could detect TSM stream (IBM Tivoli Storage Manager)

pcap added
[tsm.zip](https://github.com/ntop/nDPI/files/343223/tsm.zip)

thanks

Nico

[2016-07-01 12:13] Niko78 opened #221 "RTP packets appear as unknown"
I have all my RTP packets which appear as unknown in ntop
I adde pcap
[rtp.zip](https://github.com/ntop/nDPI/files/343423/rtp.zip)

ntop 2.5.160630
ndpi 1.8.0-dev-457-ff6b193

Nico

[2016-07-01 20:27] lucaderi commented on #221
![screen shot 2016-07-01 at 22 26 24](https://cloud.githubusercontent.com/assets/4493366/16533692/ea771e82-3fda-11e6-85f7-c2fa326c3571.png)
Using the code in git it works

[2016-07-01 20:27] #221 closed, assigned to nobody

[2016-07-02 07:30] Niko78 commented on #221
well so on my side again a protocol which not appears ok in interface
<img width="922" alt="rtp" src="https://cloud.githubusercontent.com/assets/17108017/16539060/8dbee05a-4037-11e6-98e2-0e4264ca9648.PNG">

[2016-07-02 08:12] lucaderi commented on #221
Shall you have a pcap able to reproduce the problem (ntopng -i <pcap>) we'll reopen this issue

[2016-07-02 11:11] Niko78 commented on #221
I tried to start ntop with -i and the pcap
this time I can see well the right informations
so something is wrong somewhere... but where and how can I help ?

nico

[2016-07-02 16:30] kYroL01 commented on #198
DRDA / DB2 https://github.com/ntop/nDPI/commit/0e49eb1d17c33b784359f8dbdbb59041cac7aaab

[2016-07-02 16:41] Niko78 commented on #198
thanks

[2016-07-02 18:03] Mile-Lile commented on #213
I'm not sure if this can help but I did my best...
[WhatsApp_SSL.zip](https://github.com/ntop/nDPI/files/344658/WhatsApp_SSL.zip)

[2016-07-04 17:38] aidinfreedom opened #222 "Packet by packet detection"
I am not sure if this is the right place to ask question but I need a guidance to be able to modify the ndpiReader to be able to show each individual packet instead of flows and detected protocols. for example:
1. packet 1 : src_ip -> dst_ip  flow_id detected_protocol ...
thank you in advance

[2016-07-04 18:18] kYroL01 commented on #222
@aidinfreedom Your requests is not an issue, but a requests for a personalized work.
I suggest you to read this http://www.ntop.org/support/need-help-2/commercial-support/

[2016-07-04 18:18] #222 closed, assigned to nobody

[2016-07-05 03:36] chinasun021 opened #223 "can nDPI use PF_RNG DNA or ZC mode to capture packet?"
Hi,
    nDPI can support analyze 10Gbit/s data？

[code]

[2016-07-05 13:33] Niko78 opened #224 "add canon bjnp protocol"
on my network I have few packets generated by canon software (kind of scan)
it is named BJNP protocol

I added pcap
[bjnp.zip](https://github.com/ntop/nDPI/files/347812/bjnp.zip)

thanks

Nico

[2016-07-05 13:40] simonemainardi opened #225 "nDPI crashes when detecting GIT"
![image](https://cloud.githubusercontent.com/assets/3397663/16586485/7938fa62-42c6-11e6-9ecd-56a9ea8aad2c.png)

@kYroL01 can you please check? It looks that it fails here: https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/git.c#L75
also `git_len` is at `0`

[2016-07-05 13:42] kYroL01 commented on #225
@simonemainardi Sure I'll check asap ! Thanks

[2016-07-05 17:08] lucaderi commented on #225
@kYroL01 This code was (at best) suboptimal. It was crashing, it contained a memory leak and it was doing un-necessary things. Please pay attention to what you are doing next time you commit code. Thank you.

[2016-07-05 17:08] #225 closed, assigned to lucaderi, kYroL01

[2016-07-05 18:01] mmanoj commented on #223
Hi,

I'm also trying to use the same way, as per the following guide section 6.4 it's possible to recompile the pcaplibs and apps to use PF_RING. Need more clarifications to how to use advantage of PF_RING to nDPI reader.

https://github.com/ntop/PF_RING/blob/dev/doc/PF_RING-UsersGuide.pdf

Please advice.

[2016-07-05 18:37] kYroL01 commented on #225
Sorry, I'm apologize for it. My bad. I'll pay much more attention.

[2016-07-06 01:03] chinasun021 commented on #223
thanks for your reply！
I want to know libpcap over PF_RING can support analyze 10Gbit/s data？

[2016-07-06 05:11] mmanoj commented on #223
Hi,

I never try it yet. I'm also exploring the details.

[2016-07-06 05:21] Skryabind commented on #223
I successfully use nDPI with PF_RING in ZC mode. My traffic is about 20Gbps.

[2016-07-06 05:32] mmanoj commented on #223
Hi,

Can you share the steps, so I also can try and contribute. I'm using ndpi reader for test.

Thank you,

[2016-07-06 05:36] mmanoj commented on #223
@Skryabind

I compiled the PF_RING and libpcap as per the above mentioned PF_RING guide section 6.4, I need to know how to use it in nDPI and nDPI reader now. I dont have ZC yet. Please advice.

[2016-07-06 06:05] Skryabind commented on #223
@mmanoj
First, for high speed you can use threading, so look at example how to use zc cluster and balancer in  PF_RING/userland/examples_zc/zbalance.c
In this file find a line:
`if(pfring_zc_recv_pkt(outzq[id], &b, wait_for_packet) > 0) {`

b - is packet buffer, let's get a header and packet data:

[code]

Now you can use a code from pcap_packet_callback (in ndpiReader.c file) to get nDPI function

[2016-07-06 06:07] alagoutte commented on #224
It is easy to write a heuristic ! each packet start with magic ID: BJNP

[2016-07-06 06:36] chinasun021 commented on #223
thanks very much！ @Skryabind

[2016-07-06 06:45] mmanoj commented on #223
@Skryabind

Thanks for quick reply, I will try and update you.

[2016-07-06 07:07] mmanoj commented on #223
@Skryabind

can you also let us know how to test the processing throughput ?

[2016-07-06 08:35] Skryabind commented on #223
@mmanoj, I haven't solution to test it. I work in ISP, so I test my applications in real traffic mirrored to dev infrastructure.

[2016-07-07 02:59] mmanoj commented on #223
@Skryabind Ok, I will check with some traffic. Thanks.

[2016-07-07 03:15] mmanoj commented on #223
@Skryabind Can you mention how to link libpcap (PF_RING) version with nDPI/nDPIReader.c

[2016-07-07 03:49] Skryabind commented on #223
@mmanoj  You can install PF_RING kernel module, corresponding network driver, userland from PF_RING/userland/. I do it with this commands:

[code]

And then compile your app with -lpcap option.

P.S. This is my experience, probably @cardigliano or @lucaderi may correct me.

[2016-07-07 04:05] mmanoj commented on #223
@Skryabind Thanks for quick support, I will try this and update you. Your support is highly appreciated.

[2016-07-07 05:51] chinasun021 commented on #223
I don't find libpcap.so in PF_RING/userland/libpcap,I just find libpcap.a,so you can complie nDPI/nDPIReader.c statically with libpcap.a

[2016-07-07 05:59] Skryabind commented on #223
@chinasun021 after 'make' in PF_RING/userland/libpcap a file libpcap.so.1.7.4 is appears. And after 'make install' this library installs in system directories.

[2016-07-07 07:46] chinasun021 commented on #223
my version is 6.0.2,there is only libndpcap.so ,I don't know why.
I have download the newest version and it is ok

[2016-07-07 12:35] lucaderi commented on #223
So far we do not build -dev packages, so for developing code you need to use the cod ewe put on github and not the binary packages. nDPI can handle 10G links, but it boils down to number of pps and low you have. If you start the nDPIreader you will see the performance you an achieve on your box. Note that ZC can accelerate the data path but if this is not your bottleneck, you need to spawn multipl

[2016-07-07 14:04] vel21ripn commented on #223
@chinasun021 You can try ndpi-netfilter (see https://github.com/vel21ripn/nDPI/tree/netfilter )

[2016-07-07 17:25] mmanoj commented on #223
@lucaderi  Can you explain more about RSS and  spawn multiple threads to process traffic, as you said packet processing also need to support as incoming speed if I'm correctly understood. Other wise packet incoming rate higher then processing speed.

[2016-07-07 18:08] mmanoj commented on #223
@vel21ripn can you explain the relationship of your NDPI link with PF_RING ?