[2017-10-04 06:42] NatashaR4in commented on #470
when i am searching  , i see that whatsapp server on port 443 send a static packet to client directly afler client send a chat to server (like an ACK say that server received what client send ) , so i want to count those packet  just in this flow  , so i added an array in `ndpi_flow_struct` and a flag ,and in ssl.c i set the flag to 1 when flow accepted as whatsapp flow .
i tried to change the max

[2017-10-04 06:44] kYroL01 commented on #470
@taranehk I know that the end of the flow is a packet like that in general, but I want to understand in this scenario...
@NatashaR4in later I'm watching better andtry to help u, thanks.

[2017-10-04 10:19] SoftnauticsLtf commented on #400
Hi @kYroL01 ,
Any updates?

[2017-10-04 10:59] vel21ripn opened #471 "RFC: Debug output"
We have 3 levels of debug printing: NDPI_LOG_ERROR, NDPI_LOG_TRACE, NDPI_LOG_DEBUG
Now part of the protocol uses only _LOG_DEBUG, the other part uses only _LOG_TRACE.

IMHO We need to define the rules for using _LOG_TRACE and _LOG_DEBUG.
I propose to introduce the following rules:
The debug level _LOG_TRACE should be used when the protocol is successfully detected and at the beginning of processin

[2017-10-04 17:11] #459 closed, assigned to nobody

[2017-10-05 00:39] kYroL01 commented on #471
I'm agree with you for this scenario.

[2017-10-05 00:47] kYroL01 commented on #470
@NatashaR4in do u have your modified code so I can take a look and try ?
I think the problem is that when a flow is marked for a proto (i.e. Whatsapp), the following pkts in that flow are considered WA. I think there is a function do this work, to avoid to enter in the dissector every time the lib process another pkt of the same flow.
Can u tell me that is that packet or if u have a pcap represent

[2017-10-05 07:54] NatashaR4in commented on #470
ok, first of all , i found that whatsapp has a new signature , start with first packet of 1 byte contains 'E' ,and the second packet in flow will contain a WA at payload [8]and [9] , later in flow a packet with size payload_packet_len==67  and start with 0x00 0x00 0x40 appears after sending a chat message , i added those to function `ndpi_search_ssl_tcp` .
[w_chat1.zip](https://github.com/ntop/nDP

[2017-10-05 08:03] kYroL01 commented on #470
Thanks!

[2017-10-05 11:49] androuxx commented on #470
I think that this is a great idea to track a specific flow to the end or to the specific number of packets , packet by packet so we can labeling multi sub-services in the same flow if exists like whatsapp and messenger like[Whatsapp.chat.send_photo] or by using a custom array like @NatashaR4in doing
this is very helpful @kYroL01 for deep network monitor

[2017-10-06 18:15] kYroL01 commented on #467
https://github.com/ntop/nDPI/commit/ed830d24747dba810712156d9e05be0b3a811235

[2017-10-06 18:15] #467 closed, assigned to nobody

[2017-10-07 12:13] taranehk commented on #470
@kYroL01 I thought the matter is tracing a flow. I add some codes to ndpi_process_packet function to trace the flow to the end.  I can send a pull request if u want.
(I also consider some other options for osdpi_flow_node such as packet and bytes to have informations  about the flow.)
`
static u32 ndpi_process_packet(struct nf_conn * ct, const uint64_t time,
		const struct iphdr *iph, uint16_t ips

[2017-10-07 12:17] TaranehKhalili commented on #470
@kYroL01 I thought the matter is tracing a flow. I add some codes to ndpi_process_packet function of  in ndpi-netfilter to trace the flow to the end.  I can share it if u want.

[2017-10-09 11:42] NatashaR4in commented on #470
@taranehk  , yes please share it ,i may try to adapt the same modification to my nDPI , and if there is an updated version of netfilter and you could share ,that 's will be great.
thanks.

[2017-10-10 06:39] TaranehKhalili commented on #470
@NatashaR4in  I'll send a pull request for betolj/ndpi-netfilter as soon as possible.
[https://github.com/betolj/ndpi-netfilter](url)

[2017-10-10 07:20] kYroL01 commented on #470
@NatashaR4in @taranehk If you want to contribute for this task, please, send a pull request and we can integrate inside (after checking it's correctness).

[2017-10-10 21:51] NatashaR4in commented on #470
@taranehk ,we are waiting for your pull, and by the way is there a netfilter project run with the latest nDpi ? https://github.com/betolj/ndpi-netfilter seem outdated

[2017-10-11 08:11] TaranehKhalili commented on #470
I am trying to solve a bug and then I send the pull request. I am trying to solve this bug asap.

[2017-10-11 10:57] TaranehKhalili commented on #470
@kYroL01 I made my changes on ndpi-netfilter and it doesn't let me to send a pull request. what should I do now?

[2017-10-11 10:59] kYroL01 commented on #470
Of course, because you have to do that changes to a fork of nDPI, not ndpi-netfilter.
Fork nDPI, make your changes and send a pull request.

[2017-10-14 11:53] vel21ripn commented on #471
Please see commit https://github.com/vel21ripn/nDPI/commit/3eb7b6760c669626c0046b2bd3c40a7c3ab2d957

This is big commit!  155 files changed, 2662 insertions(+), 2463 deletions(-)
I will do the PR after your approval.

[2017-10-14 12:37] kYroL01 commented on #471
@vel21ripn I have to check these modification and let u know. Thanks

[2017-10-16 07:34] TaranehKhalili commented on #470
I'm sorry about my delay. I send the pull request on ndpi-netfilter. this is my commit. my fork name is taranehk.
[https://github.com/betolj/ndpi-netfilter/pull/60/commits/436f68ec1dffd3873919b6dfc11151082c0f9492](url)

[2017-10-16 07:39] kYroL01 commented on #470
@taranehk The link is dead. But if you want to contribute, why don't you send a pull request to this repository ? We have many differences from ndpi-netfilter repo, and it's easier if you send a pull request here. Please, respect this policy.
Thank you

[2017-10-16 07:51] TaranehKhalili commented on #470
ok. I'm trying...:)
here is the commit:
(open a new tab and paste the address bellow!!)
[https://github.com/ntop/nDPI/pull/475/commits/d02a6daece4562eea01ae22f4e80165f24542e39](url)

[2017-10-16 08:02] TaranehKhalili opened #474 "What is diffrence between http and ssl detection and other protocols?"
can anyone explain me how http and ssl is detected in ndpi completely? I want the process of detection of these protos step by step. :D

[2017-10-16 20:04] vel21ripn commented on #471
Small fix after refatcoring https://github.com/vel21ripn/nDPI/commit/63969935bc8798fb1b29ce470acfa3ec0301071a

[2017-10-16 20:11] kYroL01 commented on #471
@vel21ripn IMHO your pull request could be sent and check.
I prefer wait the opinion of @lucaderi on this modification about LOG stuff.

[2017-10-17 18:04] mariam1411450 commented on #138
hi kYroL01,
you have mentioned in a previous comment that in order to see the content pf the packets i could put it in a json file using the command that you have mentioned. when i tried that command i couldn't use it.  could you please specify how to use it?

[2017-10-17 21:13] kYroL01 commented on #138
This is the option to use:
**-j <file.json>   | Specify a file to write the content of packets in .json format\n"**

You have to compile ndpiReader with json library if you want to export statistic in a json file.
After this you have to specify a .json file to pass with -j option and it be filled with stats u can see from [here](https://github.com/ntop/nDPI/blob/dev/example/ndpiReader.c#L754)

[2017-10-17 22:18] androuxx commented on #470
@taranehk i tried to install your netfilter version, from your fork https://github.com/taranehk/nDPI/ and when i run the ./autogen.sh script i get `config.status: error: cannot find input file: `Makefile.in'`

[2017-10-17 22:41] mariam1411450 commented on #138
kYroL01, thank you for replying,
sorry another question, i <file.pcap|device> i have tried reading the packets from .pcap file, but when i tried substituting the file with the name of the device it wouldn't work. could you please demonstrate that part?
i'm  really sorry if i'm asking a lot it's just i have been trying to find anyone who has any sort of info about nDPI. thank you again

[2017-10-18 07:24] kYroL01 commented on #138
@mariam1411450 for sure you are digiting the wrong device name.
**ndpiReader -i wlan0** or **ndpiReader -i eth0**. You can see your devices name if you digit **sudo ifconfig** in your terminal.

[2017-10-18 16:23] androuxx commented on #470
what i need to setup ndpi-netfilter in inline-mode for control my network traffic?
i setup ndpi-netfilter on ubuntu 16.04.1 with two network interface, so how i can pass my network traffic to ndpi-netfilter machine ?
what iptabes need to setup for that ?

[2017-10-19 16:22] kYroL01 commented on #474
@taranehk What is your doubt ? We cannot do an how-to here.

[2017-10-19 21:22] androuxx opened #479 "nDPI-netfilter inline mode"
i'm trying to setup lasted version of ndpi-netfilter inline mode with Bypass NICs network card to control my network traffic with ndpi-netfilter machine.
the aim for that is to save accessing the network when ndpi-netfilter machine take down.(Bypass NICs)
i installed last version of ndpi-netfilter and it's work fine, but how can i setup the machine for inline mode ?
i tried to create basic bridge

[2017-10-20 03:41] qianguozheng opened #480 "ndpiReader pcap_loop() in multithread issue"
Hi guys:
I don't understand how the multithread work when call pcap_loop.
For example if I enable 2 thread in parameter, the it will have 2 pcap_loop API call. and then it will analyze the packet received one by one, while 2 pcap_loop will have the same data read from network device. Though the ndpiReader will find the hash in tree storage structure, I still think it is not quick enough.

Anyone h

[2017-10-20 08:07] kYroL01 commented on #479
@androuxx This is not the repo of ndpi-netfilter. Please open this issue in that repo (that is not our).
We delete the ndpi-netfilter kernel mode, but soon We will introduce a solution for this by combining netfilter, efficiency, and user-space. Thanks

[2017-10-20 08:07] #479 closed, assigned to nobody

[2017-10-20 12:34] mariam1411450 commented on #138
@kYroL01 sorry for asking too much but  I'm working on a graduation project with nDPI :D
when I write these command it says **ERROR: could not open pcap file or playlist wlan0: No such file or directory.** The command I wrote was **ndpiReader -i wlan0 enp0s3** and I tried **ndpiReader -i wlan0** can you write to me the full command please ? thank you so much

[2017-10-20 13:53] kYroL01 commented on #138
I think you have to put **sudo** command
`sudo ndpiReader -i [device name]`.
You can also pass a pcap file.

[2017-10-21 04:37] TaranehKhalili commented on #474
well I want to get LOG for every flow which is specified in iptables with "-j LOG". I made some changes in ndpi-netfilter for this purpose. I can get flows of every application except http, ssl and ftp. I thought it may concern to way of detection of these protocols.

[2017-10-21 04:39] TaranehKhalili commented on #470
@androuxx  you should install ndpi-netfilter. (instructions are in README file of these project)

after installation you can use it by for example:

[2017-10-21 04:47] taranehk commented on #470
@kYroL01 did you check the pull request?

[2017-10-21 11:01] kYroL01 commented on #474
@taranehk this repository DOES NOT support netfilter with iptables. If you ask me "what is the difference between http and ssl detection and other protocols" I can just answer that the difference is inside the payload at application level, that is used by specific dissector to parse and classify a protocol properly.
If you ask me something more for netfilter, I can't help you.

[2017-10-21 11:01] #474 closed, assigned to nobody

[2017-10-21 11:19] mariam1411450 commented on #138
@kYroL01  genuinely, thank you so much for replying, i just wanted to ask another question about the payload, how does we show the payload of packets? does this command -j <file.json> | Specify a file to write the content of packets in .json format\n" achieve this purpose?

[2017-10-21 11:22] kYroL01 commented on #138
@mariam1411450 If you have this doubt, please, write me a private mail to avoid to spam too muche this thread, thanks.

[2017-10-21 12:31] mariam1411450 commented on #138
@kYroL01 okay i will send you an email on the email you have provided fci1908@gmail.com, mine is mariam1411450@miuegypt.edu.eg

[2017-10-21 12:55] kYroL01 commented on #480
HI @qianguozheng , did u do any specific test for this behaviour. It will be nice to understand better the environment you test on it.

[2017-10-23 07:26] qianguozheng commented on #480
@kYroL01 Not really, am I right about logic of pcap_loop do and ndpiReader process?

[2017-10-25 17:06] kYroL01 commented on #353
@blshkv this link https://github.com/pentoo/pentoo-overlay/blob/master/net-libs/libndpi/files/libndpi-1.5.0-system.patch is outdate.

[2017-10-25 22:50] blshkv commented on #353
you can still find it in the previous revision. However, Gentoo guys seems pushed it to the main tree so I deleted it. Please see the following patches:

https://github.com/LordVeovis/gentoo/blob/master/net-analyzer/ntopng/files/ntopng-2.4-no-ndpi.patch
https://github.com/LordVeovis/gentoo/blob/master/net-analyzer/ntopng/files/ntopng-2.0-dont-build-ndpi.patch

They patched it differently (it's you

[2017-10-26 07:20] dugugang opened #481 "ndpiReader crash for long time testing"
munmap_chunk(): invalid pointer: 0x000000fff01a076e ***
======= Backtrace: =========
/lib64/libc.so.6(+0xa11b4)[0xfff13761b4]
bwtrackeruser[0x1006e824]
bwtrackeruser(ndpi_free_flow_info_half+0x68)[0x1006f148]
bwtrackeruser[0x10066388]
bwtrackeruser[0x10013898]
bwtrackeruser[0x100138b8]
bwtrackeruser[0x1006d80c]
bwtrackeruser[0x1006da68]
/lib64/libpthread.so.0(+0xb9ec)[0xfff17469ec]
/lib64/libc.so.

[2017-10-26 13:39] kYroL01 commented on #481
@dugugang How can I reproduce this issue to understand where is the crash ?

[2017-10-26 13:41] kYroL01 commented on #471
I close this because refers to the pull request you sent us.
Thanks

[2017-10-26 13:41] #471 closed, assigned to nobody

[2017-10-27 07:00] rudigital opened #485 "nDPI 2.0 detects some https sites as TOR traffic"
Greetings.

It looks like TOR detection rules have some false positives yet.
Here is a small list of domain names, returning _ERR_CONNECTION_RESET_, when attempting to connect via https:

- https://www.gazneftetorg.ru/
- https://www.skydns.ru/
- https://www.kavkazr.com/

This list will be supplemented as soon as I find new non-working sites.

CAP files with a couple of connection attempts for each

[2017-10-27 07:16] rudigital commented on #485
- https://vtb24.ru
[vtb24-ru.cap.zip](https://github.com/ntop/nDPI/files/1421085/vtb24-ru.cap.zip)

[2017-10-27 08:57] kYroL01 commented on #485
Yes, you're right. I have to understand why.

[2017-10-30 17:11] kYroL01 commented on #481
More information needed. Re-open if necessary. In this way is a useless issue.

Thanks

[2017-10-30 17:11] #481 closed, assigned to nobody

[2017-10-31 21:32] androuxx commented on #470
@taranehk did you test the the installation of your ndpi-netfilter code ?
i tried to install your netfilter but i get an error
[code]

then i get those file from ntop/nDPI
and when i tried to make the code i get the following:
[code]

[2017-11-02 14:05] dillinger79 opened #487 "youtube traffic not detected"
These 2 pcaps have youtube traffic, but ndpiReader classifies it  only as QUIC
[youtube.zip](https://github.com/ntop/nDPI/files/1438038/youtube.zip)

[2017-11-02 14:16] kYroL01 commented on #487
I'm checking, thanks

[2017-11-02 14:41] kYroL01 commented on #487
@dillinger79 nDPI detect this traffic as QUIC because there is no information on the host name server knows to identify YT. The only way to detect this traffic as YouTube is to associate the ip address. Can u confirm  it ?

[2017-11-02 14:54] alagoutte commented on #487
Missing some part of packet

because it is possible on (G)QUIC Client Hello to have a SNI

[2017-11-02 15:19] dillinger79 commented on #487
thanks to both, yes as i see know there are missing packets, michele the ip
can not be associated with youtube, please close the issue.
I will try to get a different trace with all the packets and check the
classification.

BR

2017-11-02 16:54 GMT+02:00 Alexis La Goutte <notifications@github.com>:

[2017-11-02 15:22] kYroL01 commented on #487
Perfect

[2017-11-02 15:22] #487 closed, assigned to nobody

[2017-11-03 08:33] #485 closed, assigned to nobody

[2017-11-05 10:20] elrawy commented on #429
Hello, Does the nDPI read the content of the payload and extract it ?? @kYroL01

[2017-11-05 14:10] kYroL01 commented on #429
@elrawy Of course nDPI read the content of payload to process a packet and get a classification

[2017-11-06 17:50] elrawy commented on #429
@kYroL01 could you tell me what command make the nDPI read the content of payload and extract it in a file please ?

[2017-11-06 17:54] kYroL01 commented on #429
@elrawy There isn't a command, it is an internal process made by code we have programmed. I really don't understand your question. nDPI is not a "program for users", is a library.

[2017-11-06 17:57] elrawy commented on #429
@kYroL01 yes i knew all of it but I'm asking if there is a command like ndpiReader -i that show detailed content ?

[2017-11-06 18:02] kYroL01 commented on #429
If u type ./ndpiReader without command u can see a list of options, maybe the one you look for is
**-j <file.json>            | Specify a file to write the content of packets in .json format**

[2017-11-07 13:46] dillinger79 opened #488 "classification tries"
Is there a suggested number of packets as to when to give up classification?
I am using 7 packets for tcp and 4 packets for udp, is that a good assumption?

[2017-11-07 20:06] kYroL01 commented on #488
Hi @dillinger79 Yes it's a good assumption, but I think you have to consider case by case. Some protocol needs less.
Regards

[2017-11-07 20:06] #488 closed, assigned to nobody

[2017-11-10 13:57] remort opened #489 "block Telegram app"
Signing in and messaging via Telegram are not being blocked with nDPI 2.0. File transfers are blocked within the lib only.
Traffic dump, containing the successful signing in and sending a couple of messages is attached below.
[telegram.pcapng.zip](https://github.com/ntop/nDPI/files/1461586/telegram.pcapng.zip)

[2017-11-10 14:26] kYroL01 commented on #489
Thanks for the pcap. I'm going to investigate

[2017-11-11 08:34] spinenkoia commented on #489
Here's another tcpdump icq, over TLS
[icq.zip](https://github.com/ntop/nDPI/files/1463572/icq.zip)

[2017-11-11 08:46] spinenkoia opened #490 "not blocked ICQ"
As I understand it, the Protocol Oscar must block ICQ. But in the tcpdump, everything goes goes through TLS and nothing is blocked. Only visible to the server addresses *.icq.com, *.icq.net (SNI).
The traffic dump that contains the entrance and sending the messages is attached below. nDPI 2.0, ICQ 10.0.0.12256 (Windows).
[icq.zip](https://github.com/ntop/nDPI/files/1463582/icq.zip)

[2017-11-11 10:12] spinenkoia commented on #485
I applied this patch to version 2.0 and everything is working except the web site https://www.kavkazr.com/ it still is blocked as Tor

[2017-11-11 14:58] kYroL01 commented on #485
Try after [this](https://github.com/ntop/nDPI/commit/3caac691d5640c505f03ae98fc187e019cb91d3d)

Thanks

[2017-11-11 15:25] kYroL01 commented on #489
Updated
https://github.com/ntop/nDPI/commit/a4532a49997ae185de393699e4b61c7d673fb78a

[2017-11-11 15:25] #489 closed, assigned to nobody

[2017-11-13 10:33] spinenkoia commented on #485
Yes, thank you, everything works

[2017-11-13 10:42] spinenkoia commented on #489
Hello, I have applied these patches 8e8445e02f9190c9fb12b01c097dda68a4c88856 a4532a49997ae185de393699e4b61c7d673fb78a for nDPI 2.0, does not work. Tried the version from the dev branch, it works. Tell me, what is not enough to work in version 2.0?

[2017-11-13 11:07] lucaderi commented on #489
You need to move to the development version

[2017-11-13 11:12] spinenkoia commented on #489
Okay, thanks

[2017-11-13 11:25] spinenkoia commented on #489
Another question, how stable is the dev branch? Can it be used in production?

[2017-11-13 12:59] lucaderi commented on #489
Yes it can be used

[2017-11-13 14:07] spinenkoia commented on #489
Okay, thanks

[2017-11-13 14:18] kYroL01 commented on #485
Great!

[2017-11-14 11:00] zhangwh1996 commented on #191
Log files generated using ndpireader is too small.In Ubunt,I use "sudo ./ndpiReader. ndpiReader -i data.cap  -f "ip and (tcp or udp)" -z a.log"to complete a traffic classification.The data.cap is 2.7GB,but the  a.log is only 4000KB.WHY?Who can help me?Thank you.

[2017-11-20 14:24] dillinger79 opened #491 "OOKLA not detected"
[ookla.zip](https://github.com/ntop/nDPI/files/1487930/ookla.zip)
i am uploading 2 ookla traces that are not classified by ndpi.

[2017-11-20 15:39] kYroL01 commented on #491
@dillinger79 I check your traces and I see there is information to understand that traffic is OOKLA.
All the packets in the pcaps are just TCP. Only some TCP has data part but is impossibile to extract information to associate with OOKLA; same behaviour for IP addresses and port used (traffic passed via 8080).
I did a check running ndpiReader and www.speedtest.net/ and it seems that nDPI detect th

[2017-11-20 15:42] kYroL01 commented on #490
Thanks for reporting. I'll check asap

[2017-11-20 16:06] kYroL01 commented on #490
Try now after this https://github.com/ntop/nDPI/commit/6e62367b56d7b79f840b02604c9d5e8f6340a0c5

[2017-11-22 03:46] am107 commented on #268
Hello,
I think that is a good idea. Allowing the user to set priorities would introduce more granularity in defining sub-protocol rules. I will try to see if I can introduce priorities.

[2017-11-22 05:43] andyarus opened #492 "Right way detect protocol"
Now for every packet:
1. alloc memory

[code]

2. detect protocol

[code]

3. free memory

[code]

But seems it's bad idea allocate and free memory for every packet
I need processings x Mpps

What a better, right way detect protocol?

nDPI have something like this?

[code]

Like
[code]
But without memory leaks

Allocate memory once and then just clear this memory before next protocol detection (nd

[2017-11-22 11:39] andyarus commented on #492
Based on

[code]

I did
1. alloc memory once
2. before protocol detection zeroed needed for detection data

[code]

3. detect protocol
[code]

I confused by members struct ndpi_flow_struct

[code]

It's just pointers? Memory not allocated for them by every call ndpi_detection_process_packet?
If yes, seems I get what I want.
But if in new version of nDPI this behavior will be changed, I cat get mem

[2017-11-22 13:21] NatashaR4in commented on #146
@dsokoloski, thanks for this great work .
is there a way to apply the regex to the middle of string  for example :
videos.XXXX.facebook.com where XXXX is a variable string .
please help
thanks again.

[2017-11-22 15:46] kYroL01 commented on #490
@spinenkoia any news ?

[2017-11-22 19:47] NatashaR4in opened #494 "Flow detection time limit"
Hi, as other flow analysis manages new flow detection through new unique 5-tuples , I'm having a problem with DNS responses ,  am sniffing on my ubuntu desktop , I'v noticed that some dns requests initialized from the same random source port , with time difference between the two requests about 40 seconds. NDPI did not detect the second request , I think it handles it as the same flow with the fir

[2017-11-22 21:49] anthaeus opened #495 "Lua Error :875 bad argument #2 to 'remove' number expected, got string"
packet:
6628	2017-11-22 22:44:20.465151	172.20.10.2	47028	db5.vortex.data.microsoft.com.akadns.net	443	TCP	94	47028→443 [ACK] Seq=1 Ack=1 Win=29312 Len=0 TSval=97770369 TSecr=108602559 [ETHERNET FRAME CHECK SEQUENCE INCORRECT]

0000   62 b3 95 8c 5c 64 60 67 20 89 4e 68 08 00 45 00
0010   00 34 3f 1a 40 00 40 06 3a 4c ac 14 0a 02 28 4d
0020   e2 fa b7 b4 01 bb 45 26 e4 09 62 57 5d 76 80 10
0030

[2017-11-22 22:14] kYroL01 commented on #494
A flow is detected with a 5-tuple, as u correctly said. A flow is "alive" for a certain period, after that expired.
From what you say it's strange that nDPI does not properly detect that request, maybe yes, it consider in the same flow, but every packet is analized.
Can u share the pcap of this traffic to understand better ?
Thanks

[2017-11-23 06:57] spinenkoia commented on #490
Thank you very much for your patch, I have not seen, sorry no time.

[2017-11-24 07:27] spinenkoia commented on #490
hello, i'm sorry, but your patch not worked (nDPI 2.0 + path). I patched version 2.0, maybe it's not valid case.
[code]

[2017-11-24 16:52] kYroL01 commented on #490
What does it mean "not worked" ? I properly can detect the pcap you sent me with ICQ, so I don't understand.
This is my output after patch:
SSL                 packets: 19            bytes: 1707            flows: 3
SSH                 packets: 3             bytes: 358               flows: 1
**ICQ                  packets: 1893       bytes: 1553538       flows: 10**

Did u try to recompile from `de

[2017-11-24 16:54] kYroL01 commented on #492
I think that if you think you can improve this behaviour you can send a pull request and we can discuss the code.

[2017-11-24 17:20] NatashaR4in commented on #494
Hi, sorry for late response, I was trying to figure the problem my self , no luck till now , I attached a pcap containing 2 dns queries with their responses, with 25 second in between , having the same 5-tuples , the output from ndpi is :
Using nDPI (2.1.0-1011-83104eb) [1 thread(s)]
Reading packets from pcap file /home/ubt/Desktop/dns_dissection/dns_problem.pcap...
Running thread 0...

nDPI Memor

[2017-11-24 17:43] kYroL01 commented on #494
So IMHO the problem is that the detection is only for Google and not for the other server name written in the query, isn't it ?
This is because the flow is unique (same IP addresses, same Ports, same transport protocol) and the application protocol detected is considered Google (the first matched). This is the question u say, right ?

[2017-11-24 23:14] NatashaR4in commented on #494
In the pcap their is 3 dns requests with their responces , the first query for "googleads.g.doubleclick.net" type A , the second for the same domain but of type AAA , the third request that comes after 25 sec is for "assets.bounceexchange.com" type A, this third request is not detected by ndpi , because it have the same 5-tuples , the problem is that the first request is detected but the third req

[2017-11-25 08:25] spinenkoia commented on #490
Yes, I'll try with the dev branch. Apparently with version 2.0 will not work.
Thank you

[2017-11-25 08:45] kYroL01 commented on #490
This is because the patch is pushed on dev brach. Use that if u can ;)

[2017-11-25 10:30] spinenkoia commented on #490
yes, i understand. I modified this patch for 2.0 branch

[2017-11-25 10:34] spinenkoia commented on #490
can you say me, when planned release. I would like use stable version only.

[2017-11-25 14:17] kYroL01 commented on #490
I don't know exactly.

[2017-11-25 14:17] #490 closed, assigned to nobody

[2017-11-26 13:31] elrawy commented on #297
@kYroL01 I want to ask something, when i change in the ndpiReader.c for example to just print something extra only, then recompile it the new line I added doesn't appear. I tried to delete the whole library and re-install it with modifications and it also doesn't appear anything, can you help with it ?

[2017-11-27 13:50] dillinger79 commented on #491
i did a little further investigation for this and as stated in this link https://support.speedtest.net/hc/en-us/articles/203845400-How-does-the-test-itself-work-How-is-the-result-calculated- the tests are now most of the time tcp and not http, i've taken some traces from my mobile phone and ndpi classifies the speedtests as http_proxy probably due to 8080 port, but i have not been able to detect a

[2017-11-27 14:06] kYroL01 commented on #491
@dillinger79 the only way is the one we do in nDPI, so port + ip_address.
Did u try to recompile the `dev` branch ? Now your pcap are succesfully classified as OOKLA

[2017-11-27 14:13] dillinger79 commented on #491
oh, i will surely check right now thanks

[2017-11-27 14:57] dillinger79 commented on #491
well i did recompile, but i do not see the ookla classification, it is still http_proxy

[2017-11-27 15:03] kYroL01 commented on #491
Are u sure you're using the `dev` branch ? It's impossibile that u can't see Ookla with that branch.

[2017-11-27 15:28] dillinger79 commented on #491
yes i am pretty sure, to which pcaps are you referring to? the test pcap of ndpi was always classified as ookla, the pcaps i attached to this issue are still classified as http_proxy as well as some extra pcaps that i have taken

[2017-11-27 21:20] androuxx commented on #494
@kYroL01  nDPI merge the flows with the same 5-tuples  in one flow even if those flows are different,  and this is not good for this situations!!
in @NatashaR4in  pcap file there is two different dns flow one for google and the other for bounceexchange, but the nDPI detected one DNS flow Even after passing ~25 sec from the first flow.

 so Does nDPI still cached the 5-tuples from the first flow an

[2017-11-27 21:33] kYroL01 commented on #494
I think @NatashaR4in and @androuxx you're right. I have to investigate better but yes, that's two different flows, not only one.

[2017-11-30 21:01] kYroL01 commented on #494
Can you test after this commit https://github.com/ntop/nDPI/commit/e5546eb988842b05c31fae38a8167fdc6c8fed0d ?
Thanks

[2017-12-01 05:44] dsokoloski commented on #494
I don't think the commit e5546eb will fix this issue.  I'm seeing the same problem as described above.  I will investigate tomorrow and let everyone know if I determine the issue (cached?  discarded? etc.)

[2017-12-02 16:10] dsokoloski commented on #494
FWIW, I spent several hours on this yesterday and came to the conclusion that this is not a bug in the nDPI engine.  It's doing exactly what it's supposed to do.  This is really an upper-level implementation issue (ndpiReader for example).  The implementation needs to manage DNS flows more closely in order to keep track of multiple requests from the same host that chooses to rebind the same local

[2017-12-02 16:38] kYroL01 commented on #494
@dsokoloski exactly! Anyway i close the issue, and keep in mind that ndpiReader is just a demo proto to test library. BTW if someone think to change the code in a better way, send a pull request.

Thank you

[2017-12-02 16:38] #494 closed, assigned to nobody

[2017-12-05 03:50] dsokoloski commented on #146
@NatashaR4in Unfortunately I can't think of a way to implement that.  The reason why is due to the way that these strings are stored and how they are subsequently matched on lookups (nDPI uses Radix Trees for speed: [https://en.wikipedia.org/wiki/Radix_tree](url))

My solution works only because I insert characters (^ and $) at the beginning and end of strings.  This allows for explicit head/tail

[2017-12-05 15:05] kYroL01 commented on #268
Duplicate issue of https://github.com/ntop/nDPI/issues/146

[2017-12-05 15:05] #268 closed, assigned to nobody

[2017-12-05 15:23] kYroL01 commented on #146
@dsokoloski I have to study your commit and try to update on dev branch

[2017-12-05 19:07] max197616 commented on #410
Hi,

I've attached tcp fragmented http request. nDPI can't extract http fields from that request.

[http_frag_out.zip](https://github.com/ntop/nDPI/files/1532532/http_frag_out.zip)

[2017-12-05 19:13] kYroL01 commented on #410
@max197616 BTW nDPI does not reconstruct fragmented flows. Anyway I'll take a look

[2017-12-05 19:55] max197616 commented on #410
I know it. But I think that it is necessary in the nDPI. Without this, it is impossible to create a full DPI.

[2017-12-05 19:57] kYroL01 commented on #410
Actually I don't think is strictly necessary, but yes, could give a big boost.
It's a feature not easy to do in few time, so, we have to think about it for the future but not immediately.

[2017-12-05 20:49] kYroL01 commented on #410
@max197616 the pcap you sent me is classified as Amazon, because, despite the fragmented packets, the classification is made thanks to IP addresses, and 52.59.21.134 is in the CIDR 52.32.0.0/11 that is Amazon.com, Inc.
In this case AS16509 AMAZON-02 Germany Frankfurt Am Main A100 Row Gmbh

In this case, it's a correct classification of this flow, isn't it ?

[2017-12-06 08:27] max197616 commented on #410
Yes, classification correct, but we can't extract metadata from these packets (using nDPI).

[2017-12-06 14:26] kYroL01 commented on #410
Ok, but as I said before, defragmentation is not a fast feature to build. I propose this for a feature work and I hope we can push it into the library.
Thanks

[2017-12-07 01:40] dsokoloski commented on #146
@kYroL01 If you merge this in to nDPI, I would recommend making it an option that's disabled by default simply because it will add a minimal amount of additional processing for each look-up and some users of the engine may be already pushing their hardware to the max.  If someone needs the additional matching flexibility, they can turn it on.  For users of ndpiReader, a new command-line switch cou

[2017-12-07 09:23] qianguozheng opened #499 "ndpiReader crash while long run processing live traffic"
I use ndpiReader in openwrt router system, to monitor the traffic and it crash as below
commit id is -- f7e95b4ee82f04704f923fd4f6608423291761d9

[code]

[2017-12-07 09:28] qianguozheng commented on #423
@lynn1050  have you found that crash reason ? I encounter this problem too, but I don't understand the program deeply, so it's hard for me to do a deep diagnostic.
If you have any other clue or anything help to fix such bug, please let me know, thanks.

[2017-12-07 09:31] qianguozheng commented on #423
@kYroL01  any update on this questions ? I can do some test

[2017-12-07 19:34] #491 closed, assigned to nobody

[2017-12-07 22:02] kYroL01 commented on #423
Maybe related to this https://github.com/ntop/nDPI/issues/499

[2017-12-07 22:04] kYroL01 commented on #423
@qianguozheng @lynn1050 Could you please do more test after latest commits ? For what I understand, the problem occurs after many time and many traffic, right ? Any help is appreciated to better understand, thanks.

[2017-12-07 22:21] kYroL01 commented on #492
@andyarus I read again what you said. I'm pretty agree with you. So, if you want to contribute to solve this issue, you could send a pull request and we can discuss about that. Also for me it's easy to read ad we can speak about on something you have in mind.
Thank you

[2017-12-07 22:26] kYroL01 commented on #480
@qianguozheng I actually never see before this part of ndpiReader. I inherited this part of the code. So maybe you're right about this. What u think about that ?

[2017-12-07 22:28] #470 closed, assigned to nobody

[2017-12-08 03:45] lynn1050 commented on #423
@kYroL01 & @qianguozheng, Reasons were described in the above comment. Have you got it?

[2017-12-10 12:35] qianguozheng commented on #423
@kYroL01  Update to latest commit, still crash.
@lynn1050 You mean when hashval is the same, there would be double free ?

[2017-12-11 21:24] dangbert opened #500 "Is there a list of master protocols"
While testing nDPI I saw that the master_protocols field is (at times) set to these values:

- SSL
- DNS
- HTTP
- (or unknown)

My question is, is there a list of all the possible values that master_protocol can take on?  Clearly app_protocol can take on any value from ndpi_protocol_ids.h, but master_protocol seems to only be from a subset of that list.

Also why do you set app_protocol to DNS or

[2017-12-11 21:52] kYroL01 commented on #500
`master_protocol` is set to _real_ protocols, not applications (that is considered like protocols in nDPI), and is set just when there is a an application and a protocol "under the hood" of application (for example **Facebook.SSL**). In other cases we consider just the `app_protocol` as important, and we set that.
Is just a choice, also becase is more correct call app_protocol both Facebook or HTT

[2017-12-11 21:52] #500 closed, assigned to nobody

[2017-12-12 01:05] dangbert commented on #500
@kYroL01  Thanks for the info!  Do you know if the master_protocol would ever be set to anything other than SSL, DNS, or HTTP (or unknown)?  Or is that the extent of the possible values it could be set to?

[2017-12-12 14:06] kYroL01 commented on #500
master protocol is considered a protocol of that family, so for example also RTP, RTCP, SIP, etc.. If nDPI detect an application, the protocol behind that application is the master protocol

[2017-12-13 03:06] qianguozheng commented on #423
@lynn1050  have you got any method to fix such things ?

[2017-12-13 03:32] lynn1050 commented on #423
Yes. I modified the function get_ndpi_flow_info(...) in ndpi_util.c.

  When a new packet comes in, it's requested to get the flow from ndpi_flows_root. If the flow cannot be got,  swap the source and the desination, and then try to get the flow. If neither of them cannot work, then create a new flow（a new node in  ndpi_flows_root). Such modification can lead to a unique node in ndpi_flows_root.

[2017-12-13 06:04] qianguozheng commented on #423
@lynn1050  That's great, thanks a lot.
BTW, I saw you define `is_changed` variable, but not use for other usage, did you lose the usage of this variable later , or it just a unused variable.

[2017-12-13 06:11] lynn1050 commented on #423
The variable is_changed is related to the last output parameter of get_ndpi_flow_info. And my code is written as below,
......
  ndpi_tsearch(newflow, &workflow->ndpi_flows_root[idx], ndpi_workflow_node_cmp); /* Add */
      workflow->stats.ndpi_flow_count++;

      *src = newflow->src_id, *dst = newflow->dst_id;

      return newflow;
    }
  } else {
    struct ndpi_flow_info *flow = *(struct nd

[2017-12-13 06:21] qianguozheng commented on #423
Thanks a lot. @lynn1050

[2017-12-14 08:31] kYroL01 commented on #423
Guys, if you find the problem and you wanna contribute to fix this issue definetley, send us a pull request, so we can test and integrate inside the code. Is the best way for all the community :)

Thank you

[2017-12-14 08:44] lynn1050 commented on #423
@kYroL01 Ok， I will have a try.

[2017-12-14 08:47] kYroL01 commented on #423
It's the easiest things to discuss togheter and test better. Thanks ;)

[2017-12-14 09:15] lynn1050 commented on #423
@qianguozheng  I need help to send a pull request. My qq number is: 928335321.

[2017-12-18 07:01] zfy3000163 commented on #499
Meet the same case

[2017-12-19 09:52] qianguozheng commented on #423
@kYroL01  pull request #501

[2017-12-19 18:58] kYroL01 commented on #423
Solved by last commit

[2017-12-19 18:58] #423 closed, assigned to nobody

[2017-12-19 18:58] kYroL01 commented on #499
Is this issue related to this https://github.com/ntop/nDPI/issues/423 ?

[2017-12-20 02:50] qianguozheng commented on #499
@kYroL01  Yes, solved

[2017-12-20 02:50] #499 closed, assigned to nobody

[2017-12-21 14:28] khaled-hamwi opened #502 "Using DNS queries to improve detection"
I believe we can make use of DNS traffic to improve library detection. By looking at DNS responses, we can find out the "dynamic" IPs related to specific domain(s) which can then be related to specific service provider.
The nDPI contains list of IPs' ranges for each service provide that can be used for detection. This can be further improved by DNS responses in case no other detection works.

**He

[2017-12-21 15:15] kYroL01 commented on #502
Hi.
I think this behaviour is strictly associated to the actual behaviour that nDPI do when processing DNS packets.
If it's extracted **e3.whatsapp.net** during dissection, the flow from there is considered whatsapp if there is a match in the host names list.
You say: "If there is no match, resolve the name into IP and check with the ones in the list", but this is already done before, because ever

[2017-12-21 15:20] khaled-hamwi commented on #502
According to my understanding, DNS traffic like e3.whatsapp.net is considered whatsapp as DNS.WhatsApp. This is OK so far. I am talking about looking at the IPs returned in A records which is not implemented as far as I can tell.

This will support the IP list already coded in indpi_content_match.c.inc file. I faced this issue when trying to do sample traces. Some flows are detected as whatsapp, b

[2017-12-21 17:22] kYroL01 commented on #502
@khaled-hamwi thanks for the explanation. Now I understand.
Yes, This is a feature that we should be implemented. Thank you very much,

[2017-12-22 06:01] spinenkoia opened #503 "BitCoin protocol"
Good day, our company has a task to block Blockchain mining. If someone knows how to add, maybe at least the bitcoin protocol?
I would be very grateful.

[2017-12-22 14:56] kYroL01 commented on #503
I think this could be very usefull for the future, but to do this we need to study deeply blockchain and begin with a pcap of real traffic.

[2017-12-23 08:52] spinenkoia commented on #503
Okay.
I'll tryed sniffing to pcap file.

[2017-12-23 11:09] kYroL01 commented on #503
Thanks

[2018-01-02 15:52] dsokoloski commented on #502
@khaled-hamwi

Yes this is the problem with hard-coding things like IP blocks in to compiled code.  Your idea about adding a DNS AR cache is exactly what we had to do to vastly improve application detection.  For us, a lot of traffic was not being classified.  For example, a big one was Netflix, specifically the main Netflix audio/video stream which is done over HTTP.  The HTTP _Host_ field has an

[2018-01-02 22:54] kYroL01 commented on #502
@dsokoloski Thanks for the suggestion, but why a DNS feature request could not be added to main engine ?
@khaled-hamwi Can u provide me a pcap to reproduce what are evidenced ? Thanks a lot.

[2018-01-03 20:29] dsokoloski commented on #502
@kYroL01 Sorry I wasn't saying it couldn't be done (it should!), just that it will be more complicated to do.

For example, off the top of my head:

- There should only be one global DNS cache that can be accessed and updated by multiple detection threads, otherwise there will be duplicate caches, wasting memory (in our use case, we listen on all LAN and WAN interfaces simultaneously).
- The nDPI

[2018-01-03 22:28] kYroL01 commented on #502
@dsokoloski Now I understand what u said. Yes, I'm agree with you, but It will be a nice feature to think about for the future. ;)

[2018-01-03 22:34] scroopyn00pers commented on #432
After reading the link, I was left a little confused about tshark integration. If I wanted to capture all Linkedin traffic on a wired interface (say, eth0), and I had an ndpi interface, would I need to do something like:

tshark -i ndpi -i eth0 -Y "ndpi.name.protocol == SSL.Linkedin"

or would I need to pipe the pcap output of one tshark command into the other, such as:

tshark -i eth0 -F pcap -w

[2018-01-04 23:36] kYroL01 commented on #503
Any News about the pcap @spinenkoia ?

[2018-01-06 23:10] dsokoloski opened #504 "Total wire bytes clarification"
Can anyone clarify why 24 bytes is used for the "total wire bytes" pad value?

https://github.com/ntop/nDPI/blob/61e297b851af570109e72a93a65b1ac5ccfda0b4/example/ndpi_util.c#L608

The comment suggests "CRC etc".  The best calculation I can come up with is:

- FCS: length: 4 octets
- Ethernet header: 14 octets
- CRC length: 4 octets

Total: **22 octets**

Anyone know what the additional two bytes a

[2018-01-08 17:37] scroopyn00pers opened #505 "tshark display filters by ndpi protocol name"
Hi everyone,

forgive me if I am asking a duplicate question, but I am at a loss with regards to ndpi-based display filters in tshark.

according to the docs, in wireshark you can

this, of course, being done through the ndpi interface. Once I specify my capture interface (say, en2 or wlan0), I can successfully use a display filter, such as:

ndpi.protocol.name == SSL.Github

which is great! Unfor

[2018-01-09 04:08] spinenkoia commented on #503
Hello, unfortunately there's nothing yet, no time, I hope soon something to send.

[2018-01-09 04:24] spinenkoia commented on #503
@kYroL01 I hurried a bit with the answer, recently received several pcap files, which protocols I find a bit later.

[pcap.zip](https://github.com/ntop/nDPI/files/1613836/pcap.zip)

[2018-01-09 08:32] spinenkoia commented on #503
there in the archive 3 file
1 - ethereum
2 - zcash
3 - monero

[2018-01-09 08:37] spinenkoia commented on #503
Oh, Yes, the port number is random

[2018-01-09 08:38] spinenkoia commented on #503
this is the 3 most popular currency for home mining

[2018-01-11 07:57] bbqaaq commented on #505
Hi! I would like to share my results after 2 days efforts!

My target is to use ndpi to enhance the bittorrent detection using tshark, however, there aren't any good instruction on how to combine this two things.

Following the instructions in https://sharkfesteurope.wireshark.org/assets/presentations17eu/19.pdf
it's not that hard to integrate ndpi into wireshark. With GUI wireshark the result is

[2018-01-11 09:07] bbqaaq commented on #505
Indeed the display filter should be related to the ndpi.lua script, not the extcap (ndpiReader) module.

Im sure that my lua script  is being executed (with the log), but I have no idea why the packet's protocol doesn't display what the wireshark show. (In wireshark it shows BitTorrent suggested by nDPI, but in tshark its still showing UDP sugggested by wireshark)

[2018-01-11 09:13] kYroL01 commented on #505
Hi all.
So, it seems to be an inconsistency between WIreshark and Tshark with nDPI filtering.
We're trying to figure out a solution asap.
Any other informations or suggestions will be appreciate.

[2018-01-11 09:20] bbqaaq commented on #505
I suggest to add more instructions on how to use tshark with nDPI, in the readme file of wireshark/README.md

I used nearly 2 days to figure out how to make tshark work with it, which is a nasty work. At least someone who need to do similar job with me can have more information for them.

[2018-01-11 09:21] kYroL01 commented on #505
@bbqaaq I'm agree with you and thanks to evidence us this fact.

[2018-01-16 20:29] elrawy commented on #231
@kYroL01 is the payload encrypted or encoded ?? this is my output for payload

 " **%ÇÙdú\u0017t§*Éµ\u0013²\u0007V© lm¬±ólÈj \u001cª\u0005ñº«Ð8êÉëOù_°Òô\u0017KçgG\u001cãß\u001d¹¬\u0012Ç€g¡øû\u001eý.1-ÐŒÆ5vÔ·TÊËY¥;XÂ,\u001b2(_|\u0011f\u0014S\u0015³Ðx|J>L\u0012Í\tUÑU²o4\u0013n­À\u000fOL\/ÖÛ¥ïë'èÇZµöý\u001f\u0019mÍYîWr\r¥Oç\u0002Ôpo»ao8œ\u001d:WŸMtöå_œ·Å€¥©V·#Èk5ØÕ<¡RA±ÅŠŒ\u00

[2018-01-16 21:12] kYroL01 commented on #231
@elrawy how do you print that ?

[2018-01-16 21:23] elrawy commented on #231
@kYroL01
by adding this two lines in ndpi_util.c **struct ndpi_flow_info *get_ndpi_flow_info**

flow.payload_edit = &l4[sizeof(struct ndpi_udphdr)];
workflow->stats.payload_edit = &l4[sizeof(struct ndpi_udphdr)];

then in ndpiReader.c i added those

cumulative_stats.payload_edit  = ndpi_thread_info[thread_id].workflow->stats.payload_edit;

and

json_object_object_add(jObj_trafficStats,"payload",js

[2018-01-16 22:16] kYroL01 commented on #231
I think this is just a conversion problem when you print the output.
I think the problem is the conversion when you print after creation of json payload, isn't it ? You create a json object and then you print, right ?
No encryption or decoding is perfomed on a simple HTTP traffic.

[2018-01-16 22:35] elrawy commented on #231
@kYroL01 yes i created a json object then print it, this the payload of a youtube page.
Is this a right way to extract payload ? and how can i convert it to a readable format ?

[2018-01-16 22:39] kYroL01 commented on #231
@elrawy

This sentence has the answer inside.
A Youtube page is **not** simple HTTP traffic, so you can't print as a normal and clear HTTP payload.
Maybe you're seeing TLS or QUIC traffic, that's encrypted.

[2018-01-16 22:54] elrawy commented on #231
@kYroL01 when I opened speedtest.net it shows this \u0017\u0003\u0003 what is that ? Do you think what I am doing is a right way to extract payload ? sorry for asking too much

[2018-01-16 23:03] kYroL01 commented on #231
YouTube payload (as many others application) **DOES NOT HAVE CLEAR PAYLOAD, JUST ENCRYPTED.**
So, you correctly take the payload, BUT if you print as a normal text, you can't see readable things, just "mud".

[2018-01-24 11:06] sgmeire opened #507 "not ndpi capture interface with wireshark"
hi,
I've installed ndpi in wireshark like in "https://github.com/ntop/nDPI/tree/dev/wireshark" but i can't find a new extcap interface named "nDPI interface". Please, somebody can help me.
Thank you so much.

[2018-01-26 07:35] qianguozheng opened #509 "crash when define NDPI_ENABLE_DEBUG_MESSAGES in src/include/ndpi_define.h"
I want to see the internal of ndpi lib  work process, but when I define *#define  NDPI_ENABLE_DEBUG_MESSAGES 1* in src/include/ndpi_define.h I saw the below error message,
am I do right to open the ndpi log ?
or there is something error in ndpi ?
[code]

[2018-01-26 08:05] vel21ripn commented on #509
Build a program with debugging information and show
[code]

[2018-01-26 09:52] qianguozheng commented on #509
@vel21ripn  follow your instruction and found below：
[code]

[2018-01-26 10:11] vel21ripn commented on #509
See PR https://github.com/ntop/nDPI/pull/510

[2018-01-26 14:05] kYroL01 commented on #509
Hi @qianguozheng . I accepted the PR of @vel21ripn so now recompile all and test if the issue disappear.

Thanks

[2018-01-27 20:11] kekePower opened #511 "Compilation issues on Mageia Cauldron using gcc 7.3.0"
System: Mageia Cauldron x86_64 in a VM.
Compiler: gcc 7.3.0
Build chroot: mock

I've uploaded a build log.
https://github.com/kekePower/mmbl/blob/master/ndpi/2018/01/27-210652/mock/build.log#L1183

Thanks for your time.

Cheers,
kekePower

[2018-01-29 02:16] qianguozheng commented on #509
Fixed

[2018-01-29 02:16] #509 closed, assigned to nobody

[2018-01-29 03:26] qianguozheng opened #512 "How to open dissect debug message ?"
I want to know down to detail of http dissector implementation, but I don't know how to open the log message of this module only, please  tell me how to do that ?
Thanks

[2018-01-29 03:28] qianguozheng opened #513 "How to write a dissector module of desired protocol ?"
I want to implement a specific procotol of game inspection, but I don't know how to write a dissector, please tell me , thanks a lot.

[2018-01-29 07:22] kYroL01 commented on #513
Hi @qianguozheng .
Please read [here](https://github.com/ntop/nDPI#how-to-add-a-new-protocol-dissector) and follow instructions.
Thanks

P.s. I suggest you also to add a test pcap to verify the work

[2018-01-29 07:22] #513 closed, assigned to nobody

[2018-01-29 07:25] qianguozheng commented on #512
I define macro `NDPI_ENABLE_DEBUG_MESSAGES` in ndpi_define.h, but it only print message in ndpi_main.c, no debug message of specified protocol like http and so on. While do the same thing nDPI 2.0 can print specified protocol debug message, I believe there is something error in there

[2018-01-29 07:25] kYroL01 commented on #511
Hi! I have to check better, thanks

[2018-01-29 07:27] kYroL01 commented on #507
I think this part has some issue as reported in https://github.com/ntop/nDPI/issues/505

We have to check deeply

[2018-01-29 07:37] qianguozheng commented on #471
@vel21ripn  have test this deeply ? is this problem related to this  #512 ?

[2018-01-29 09:38] vel21ripn commented on #512
Look at the source of any protocol.There are 4 required lines
[code]
Macros NDPI_LOG_DBG2,NDPI_LOG_DBG,NDPI_LOG_INFO use NDPI_CURRENT_PROTO as name of protocol.

To output debugging information, you need to use the macro NDPI_LOG_DBG2().
A debug message about the start of processing a packet and exclusion of the protocol from the processing should be output using the NDPI_LOG_DBG() macro.
A debug

[2018-01-29 09:56] qianguozheng commented on #512
@vel21ripn , I know that's the defination of the debug macro usage.
My problem is that I use the latest code without modification of debug log, and define macro in `NDPI_ENABLE_DEBUG_MESSAGES` in ndpi_define.h, there can print the log of  `NDPI_LOG` and `NDPI_LOG_DBG2` in ndpi_main.c file, but don't print any debug or log info in http.c, I am sure there http request.

Even debug below not printed

[2018-01-29 13:24] vel21ripn commented on #512
NDPI_LOG_DBG2 () will print messages only if (struct ndpi_detection_module_struct).ndpi_log_level >= NDPI_LOG_DEBUG_EXTRA and only for those protocols that are specified in (struct ndpi_detection_module_struct).debug_bitmask.
NDPI_LOG () will output messages only for those protocols that are specified in debug_bitmask.

```ndpiReader -V 4``` set ndpi_log_level=NDPI_LOG_DEBUG_EXTRA and all protocol

[2018-01-29 19:16] zaylon opened #514 "marking flows as local flows"
Dears nDPI developers,
thanks for this great work.
i have a question about detection local flows which created by 2 hosts on same network (192.168.1.15<->192.168.1.16). Or any two private ip in Bogon IP lists 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 169.254.0.0/16 ...
is there a way to say that this flow is a local flow ?
can we add a flag to mark this case?
i may try to help and develop some co

[2018-01-29 21:00] kYroL01 commented on #514
Hi @zaylon .
Actually for now there is no solution for consider Bogon IP list as "local".
As u correctly said, one idea could be mark these flows with a `flag`.
The process should be like this:

1. Scan IP addresses
2. If the IP is a Bogon -> mark as local
3. else -> do nothing

I think the work could be done here https://github.com/ntop/nDPI/blob/dev/example/ndpi_util.c#L275 .

Feel free to send

[2018-01-29 21:00] #514 closed, assigned to nobody

[2018-01-30 01:51] qianguozheng commented on #512
@vel21ripn  My fault, only set ndpi_log_level = NDPI_LOG_DEBUG_EXTRA without set debug_bitmask.
But don't you think this is too confused ? can we do some thing to make it simpler ?

[2018-01-30 04:28] zaylon commented on #514
Dear @kYroL01,
thanks for your response, i tried a way to do that :
[code]
it works fine on test pcap, but what about performance? is it a good idea to compare like this ,or should we try with something like ndpi_network host_protocol_list[] (ndpi_content_match.c.inc)

[2018-01-30 13:20] vel21ripn commented on #512
@qianguozheng Running ndpiReader with "-V 4" option is not difficult.
You can make your own implementation of the function ndpi_debug_printf() without check debug_bitmask.

[2018-01-30 14:57] kYroL01 commented on #514
@zaylon Maybe to keep things clean and in order is better to put that list in `host_protocol_list[]` and check from there, even if I don't know about the performance.

[2018-01-30 20:07] zaylon commented on #514
@kYroL01 , adding this  list to  host_protocol_list[],will return all flows as local (at least for my network),because all flows in my network are from public to private and vice-versa,and the fnx that check  host_protocol_list[] return positive if any of 2 flows ip(source or destination) appears,but in my case i need to check the 2 ips and see if they are both private or not.

[2018-01-30 20:39] kYroL01 commented on #514
It's okay. So take the first way

[2018-01-31 02:04] qianguozheng commented on #512
Thanks

[2018-01-31 02:04] #512 closed, assigned to nobody

[2018-01-31 06:36] qianguozheng opened #515 "Can ndpiReader provide statistics about each client(or ip/mac address)'s statistics ?"
I saw that ndpiReader provide the all data protocol analysis of total traffic, can it print each client in its subnet's traffic analysis ?

[2018-01-31 14:12] kYroL01 commented on #515
I think so but it is a feature request. It must be modify the code properly.
You could try and let me know.

[2018-01-31 14:12] #515 closed, assigned to nobody

[2018-01-31 15:12] zablah opened #516 "nDPI code Documentation"
Why nDPI project was not contains a code Documentation to help the developer for understanding the structure of the project and the codes
like linux kernel documentation that contains a lot of information about the kernel code.

[2018-02-01 02:55] qianguozheng commented on #516
Yeah, that's a MUST, I think.

[2018-02-01 09:06] qianguozheng opened #517 "Question about ndpiReader ndpi_flows_root and idle_flows"
I saw ndpiReader use `ndpi_thread_info[thread_id].workflow->ndpi_flows_root[ndpi_thread_info[thread_id].idle_scan_idx]` to store the flow captured, and somehow, will put outdated flow into idle_flows.  and eventually will delete idle_flows.  I don't understand this procedure. and have some questions below:

1. What is idle_flows ?
2. Under what's circumatance will a flow be put into idle_flow ?

[2018-02-01 09:33] kYroL01 commented on #516
Yes, it's a must-to-do thing we should do in the next feature.
We will do.

Thanks so much

[2018-02-01 09:33] #516 closed, assigned to nobody

[2018-02-02 22:50] vel21ripn opened #518 "Ambiguous data in the file ndpi_content_match.c.inc"
Array host_protocol_list[] have 4 ambiguous element.
[code]
Line 97: conflict  ip & mask
Line 219: conflict  ip & mask & comment
Line 588: conflict  ip & mask & comment
Line 7917: conflict  ip & mask

I did not check for compliance with all network addresses and comments.

Where does this list of addresses come from? Why can not it be generated from a human-readable file?

Please do not forget to

[2018-02-03 15:45] kYroL01 commented on #517
@qianguozheng IDLE FLOW is just outdated flow, so after a certain time, a flow must be considered old and must be deleted (as you correctly say in 2 and 3).
One time that you have to understand is that ndpiReader is kust a **demo** to see if the detection of an application is correct or not. It's not a full-standalone-perfect program.
The library is made to be used by ntopng, and all the optimizat

[2018-02-03 15:45] #517 closed, assigned to nobody

[2018-02-03 19:04] kYroL01 commented on #518
test results updated, thanks to reporting.

Actually I don't understand what's the problem with that ip addresses.
That list is a about network IP addresses that belongs to various server name associated to an application.
It's handmade because i cannot see the different to put by hand the address in a file and translate in a format used in the code.
Also, I don't think is too hard to understand b

[2018-02-03 20:40] vel21ripn commented on #518
I'm currently porting "ndpi-netfilter" to the "dev" branch.
I got very strange errors and was forced to check the processing of the list host_protocol_list[]. Thus, the mismatch between the addresses of the networks and the mask was found, later the address and comment mismatch was found.

IMHO Comments must either match the data used, or they should not be at all.
I would like to see a one file w

[2018-02-04 07:34] kekePower commented on #511
Hi.

I had to use --enable-shared and --enable-static to get it to build successfully and could then use it to compile ntopng.

Case closed.

[2018-02-04 07:34] #511 closed, assigned to nobody

[2018-02-04 09:38] kYroL01 commented on #518
You can send a pull request and then we can see better that point, sure.

[2018-02-07 23:12] lucaderi commented on #495
You need wireshark 2.4 or later

[2018-02-07 23:12] #495 closed, assigned to lucaderi

[2018-02-16 21:29] kYroL01 commented on #518
I think this issue could be closed by the PRs accepted (one must be inspected before).

[2018-02-16 21:29] #518 closed, assigned to nobody

[2018-02-18 14:23] bjornfor opened #524 "Please make a release with "Revert the revert of 2155dd9 after fixing ntopng Travis""
It seems to me that release 2.2 cannot be built against. This is me trying to build ntopng 3.2 with nDPI 2.2:

[code]

Applying 441e43c167a88021854b56852e38a2317c2ac5bf ("Revert the revert of 2155dd9 after fixing ntopng Travis") fixes that issue.

[2018-03-01 10:46] dillinger79 opened #526 "Possibile bug about not extraction of server name with custom protocols"
with commit c115903fbb4df21c489226900a739cccd3f8f057, if a custom protocol is identified ndpi immediately returns. That has some changes to previous functionality, one i identified when updating to latest ndpi is that the host server name is not extracted.
Is that a bug or is it a desired functionality?

[2018-03-01 10:58] kYroL01 commented on #526
Hi @dillinger79 .

Can u specify better the problem and in wich case you see this ? Actually host name should not be compromised with that patch.
Did u see a different behaviour from latest ndpi than an old you say it work ?

Thanks

[2018-03-01 11:15] dillinger79 commented on #526
Hi Michele,

i think that the host server name is extracted in the check_ndpi_flow_func function which is called in the ndpi_detection_process_packet function, due to the check for custom protocols , if a custom protocol is detected the check_ndpi_flow_func  function is never called, therefore the host server name is not extracted.
I recently updated ndpi from 1.8 to 2.2 and saw that there were ca

[2018-03-01 11:42] kYroL01 commented on #526
Does in 1.8 version the behaviour was correct for the extraction ?

[2018-03-01 11:46] dillinger79 commented on #526
yes

[2018-03-01 11:54] kYroL01 commented on #526
Ok so we'll have to check better.
If you already have idea how to fix, feel free to send us a Pull request and then I'll check.

Thanks

[2018-03-01 13:50] dillinger79 commented on #526
i made a pull request and will check further about it

[2018-03-01 15:29] #526 closed, assigned to nobody

[2018-03-02 06:49] qianguozheng opened #528 "How to save the UNKNOWN traffic into a standalone file for later analysis ?"
Recently I use ndpiReader to analyze the traffic to see what traffic is have, but there some traffic not recoginzed but I don't know where it is, so I want to save it seperately and to analyze it, anyone can provide help ? thanks .
[code]

[2018-03-05 18:50] mhdtbc opened #530 "Meta Data on The Whatsapp call"
Dear All,

I would like to submit an idea, maybe it can be an enhancement on the whatapp voice signature detection. The idea would be to extract some metadata related to a particular whatsapp call from the STUN session establishement.

A very valuable information would be indication about the two parts (calling and called) of the whatsapp calls. This can be deducted by inspecting the STUN session

[2018-03-05 19:10] mhdtbc commented on #503
Dear All,

Two ideas here :

Also i found that wireshark has a "dissector" called "bitcoin", maybe it's worth something that we take a look at it.

thank you.

[2018-03-05 20:51] kYroL01 commented on #503
Thanks @mehdi-erroussafi . I'm kinda busy but I'm agree and I'll do the dissection asap.

[2018-03-05 21:15] kYroL01 commented on #530
HI @mehdi-erroussafi .
I don't know if I understand well you idea, but basically you want to consider the XOX-MAPPED-ADDRESS to extract additional information, right ?
Could be a nice idea.

Can u pass me a good pcap with that traffic, please ?

[2018-03-06 10:21] mhdtbc commented on #530
Dear @kYroL01 ,

Thank you for your reply. Indeed i think in the STUN flow we can analyse to extract the 2 public IP adresses of both calling and called :

1. The A number's public IP would be : the XOR MAPPED ADDRESS
2. The B number's public IP would be : the first public IP adress to which the stun packet "bind request" is sent.

A query then to a geoip database would give us the operator or ASN

[2018-03-07 06:57] qianguozheng commented on #528
I remember that ntopng may can save the traffic of UNKNOWN into a standalone fine @kYroL01

[2018-03-07 09:44] kYroL01 commented on #528
Hi @qianguozheng .
ndpiReader is just a demo for the traffic classification, is not like ntopng.
The feature you're asking cannot be satisfy here, unless you implemented for your own business.

[2018-03-07 09:44] #528 closed, assigned to nobody

[2018-03-08 07:02] blacktrain opened #532 "error offset in protocol dhcp.c"
file:src/lib/protocols/dhcp.c,line:75:
 if((packet->payload_packet_len >= 244 /* 244 is the offset of options[0] in dhcp_packet_t */)
the comment /* 244 is the offset of options[0] in dhcp_packet_t */) is incorrect

[2018-03-08 19:03] tung-nguyen11 commented on #507
i have the same issue.  i'm new to nDPI and ntopng, would someone walk me step by step how to get nDPI extcap interface show in wireshark?

[2018-03-12 04:50] faizatahir94 opened #533 "Bandwidth Control on Microsoft Edge for Youtube"
Hi
I am not able to control bandwidth of YouTube on Microsoft Edge.
After adding drop rules for QUIC protocol, I was able to achieve specified YouTube's bandwidth on chrome successfully. But this does not work for Microsoft Edge browser. Can you please suggest me any possible solution? Below are the rules for shaping the YouTube traffic.

sudo iptables -I FORWARD -m ndpi --quic -j DROP
tc qdisc de

[2018-03-12 08:10] kYroL01 commented on #533
@faizatahir94 How this issue could be related with nDPI ?
Sorry but this is out of the nDPI behaviour.
I think maybe you refer to the ndpi-netfilter project ( a fork of this repo ).

[2018-03-12 08:10] #533 closed, assigned to nobody

[2018-03-12 12:12] faizatahir94 opened #534 "Dynamic addition for the website detection"
Hi
I want to add a support for the detection of a website whose URL is for example " www.myexample.com" based on this URL I want to take a specific action e.g block or assigning bandwidth. I have a concern. In real time scenario for the ISP's there may be many websites that need to be detected. If I am using nDPI library for detection, I need to change the some "c" files for the detection of that

[2018-03-12 19:43] kYroL01 commented on #534
Yes, you can use [protos.txt](the https://github.com/ntop/nDPI/blob/dev/example/protos.txt) example, where you can label traffic detected from a URL.
See the **host** example in the link. I think is what u need

[2018-03-12 19:43] #534 closed, assigned to nobody

[2018-03-13 18:53] kYroL01 commented on #532
Hi @blacktrain what should be the correct comment ? _options_ ?

[2018-03-15 02:45] qianguozheng opened #536 "why nDPI lib recognize TCP packets with only once match ?"
I follow instruction to write a standalone protocol filter, but I found that the packet of one flow only the first packet with payload go to my module, but I need to match 2 or 3 packets to find whether this flow is the protocol I need, where is the problem ?

[2018-03-15 07:49] #536 closed, assigned to nobody

[2018-03-16 07:13] qianguozheng commented on #517
@kYroL01  There is still something confuse me.
Then idle flow is the outdated, what can be think of OUTDATED ? flows that exceed 30 seonds without following packets coming or both side of the flow close the connection ? I have test the flow added and API `node_idle_scan_walker` called times, found that there is only about 150 flows left, BUT, when I shutdown the process, the statistics show that t

[2018-03-16 07:53] qianguozheng commented on #517
@kYroL01  Got that, before move the flow into idle flow, it statistics the data

[2018-03-19 21:11] kYroL01 commented on #532
Any news ?

[2018-03-20 14:29] dsokoloski commented on #532
In the GitHub notice email I received regarding this bug report, @blacktrain said:

...but I believe that **244** is the correct value:
[code]
References:
[https://en.wikipedia.org/wiki/User_Datagram_Protocol](url)
[https://en.wikipedia.org/wiki/Dynamic_Host_Configuration_Protocol#DHCP_discovery](url)

[2018-03-20 17:07] kYroL01 commented on #532
Exactly. This is why I'm asking more explanation about that.

[2018-03-26 07:01] ydy1234 opened #540 "How to use nDPI in linux kernel as one .ko file"
Project neet to ues DPI as protocol filter and forward packets to controlers, ndpiReader is just one APP for packet filerter, how to process packet in linuxe kernel not in APP level?

[2018-03-27 02:38] Dipet opened #541 "ndpiReader SEGFault when defined NDPI_ENABLE_DEBUG_MESSAGES"
Hi!
When I compile ndpiReader with NDPI_ENABLE_DEBUG_MESSAGES it is crashes with SEGV error.

[2018-03-27 06:55] vel21ripn commented on #540
See fork https://github.com/vel21ripn/nDPI

[2018-03-29 07:05] slylander opened #542 "Hosts by Operating System"
Hi,

I am new to ntopng, I read the bug/issues report but didn't see this appear in the v.3.3.x code.  I encounter "No results found" when accessing "Hosts by Operating System".  Any pointers where do I start troubleshooting?  I was running v.3.3.180328, updating to v.3.3.180329 didn't seem to help.

Thank you,

Willie

[2018-03-29 15:51] kYroL01 commented on #542
Hi @slylander this is not a nDPI issue. I think you have to open this issu on https://github.com/ntop/ntopng

Thanks

[2018-03-29 15:51] #542 closed, assigned to nobody

[2018-03-29 15:51] kYroL01 commented on #541
Have to check, thanks !

[2018-03-29 15:52] kYroL01 commented on #540
@ydy1234 nDPI has no support for kernel. Follow the fork of @vel21ripn
Thank you

[2018-03-29 15:52] #540 closed, assigned to nobody

[2018-03-29 15:52] kYroL01 commented on #532
Close for inactivity. I think there is no issue

[2018-03-29 15:52] #532 closed, assigned to nobody

[2018-03-29 19:10] vel21ripn commented on #541
What branch of the project are you builded (dev or stable)?
With which options did you run ndpiReader?
The nDPI project can not be compiled with "CFLAGS=-DNDPI_ENABLE_DEBUG_MESSAGES ./configure ".
You must use  **./configure --enable-debug-messages**

[2018-03-29 19:30] Dipet commented on #541
Stable version.
With option "-i pcap_file"
Yes I did not compile nDPI with this options, my fail, sorry. Thanks for explanations.

[2018-03-29 19:30] #541 closed, assigned to nobody

[2018-04-16 10:24] zxyz opened #546 "Using protocol file for host based protocols"
Hello,
I'm trying to add custom protocols based on port or host for unknow
traffic. An example for tcpdump pcap output is the following:

`12:28:04.970411 IP esp01.example.net.52376 > audio1b.example.net.dc: Flags [.], seq 191932:193392, ack 97, win 251, length 1460`

The classification using the port works:

`tcp:2001@audiox`

`./ndpiReader -p custom.protos -i ~/tcpdump.pcap` returns

using

`hos

[2018-04-16 13:30] kYroL01 commented on #546
@zxyz Thanks for reporting. Need to investigate.

[2018-04-16 18:06] lucaderi opened #548 "Fix memory leaks on shutdown"
==19665== 606,976 bytes in 4,742 blocks are still reachable in loss record 1,476 of 1,492
==19665==    at 0x4C29BE3: malloc (vg_replace_malloc.c:299)
==19665==    by 0x51ABE2: node_init (node.c:65)
==19665==    by 0x51AEB5: node_create (node.c:50)
==19665==    by 0x51AEED: node_create_next (node.c:167)
==19665==    by 0x51A61A: ac_automata_add (ahocorasick.c:100)
==19665==    by 0x4EE50C: ndpi_str

[2018-04-16 18:23] Ahmed-Mabrouck opened #549 "Live Capture On pcapReader Sample"
Hello,

I want to live capture the traffic from Ethernet interface on Linux machine.

I have compiled both the library and the sample and run the example using command:
./ndpiReader -i ens33
and also
./ndpiReader -i /sys/class/net/ens33

but the application responds: ERROR: could not open playlist : error reading dump file: Is a directory.

Any valid clarification for this scenario please.

[2018-04-19 09:50] kYroL01 commented on #549
Hi @AhmedMabrouck .
The answer is given by the compiler:

Are u sure you open a valid file or device ? Be sure on this and try again.
try `ifconfig -a ` to see all your network devices.

[2018-04-19 09:50] #549 closed, assigned to nobody

[2018-04-20 17:50] fazega opened #550 "No way to log packets in ndpiReader ?"
Hello,
Is there an option to log the packets with ndpiReader ? Something like this https://github.com/caesar0301/pcapdpi, but working (this repo is too old and do not compile anymore).
If it does not exist, do you see a simple way to do that ? I don't want to spend hours understanding the whole code in C.
Thank you,

[2018-04-23 13:44] kYroL01 commented on #550
hI @fazega .
There is no log file as u said, because ndpiReader is just a demo to test protocols, and we prefer to take it slim, but maybe could be usefull to do it.
I put it into to-do feature list and we'll see if develop or not.

Thanks.

[2018-04-24 14:02] fazega commented on #550
Thank you for your answer.
Finally I'm using tshark (pyshark actually) to log packets and ndpi to analyze them.

[2018-04-24 14:02] #550 closed, assigned to nobody

[2018-04-27 15:14] dsokoloski commented on #504
No knows.  I'll close this question.

[2018-04-27 15:14] #504 closed, assigned to nobody

[2018-05-07 11:51] zxyz commented on #546
hello @kYroL01, I'd just like to know, if there are any news on this issue.

Thanks!

[2018-05-07 14:37] kYroL01 commented on #546
Hi @zxyz . Sorry I was too busy. Hope to see asap!

[2018-05-08 10:25] schm0 opened #559 "Playstation, Xbox, Nintendo Matches"
Hi!

This is not an issue.
More like some questions.

What do
--Playstation
--Xbox
--Nintendo

exactly match for?
I currently have one ps4 only in my network to test with.
It seems like --Playstation does only match traffic to the psn network?
And not traffic related to online gaming with other ps4 users? (seems like ports differ from game to game)
Someone knows which ports ps4 uses for downloads?

[2018-05-09 11:54] dillinger79 opened #560 "instagram flow classified as facebook"
this is an instagram flow that ndpi classifies as facebook, my guess is that this is due to the fact that the in the client hello packet the Server Name is "instagram.fath3-4.fna.fbcdn.net" and ndpi checks for the "fbcdn.net" first and classifies this as facebook before checking for "instagram."
[instagram.zip](https://github.com/ntop/nDPI/files/1987661/instagram.zip)

[2018-05-10 16:37] kYroL01 commented on #560
@dillinger79 It should be as u said. I have to investigate better.
Thanks for reporting.

[2018-05-15 07:37] jiangdu8888 commented on #505
@bbqaaq hello how do you figure out it ,i can not find ndpi capture interface with wireshark

[2018-05-15 08:52] emanuele-f opened #561 "Segmentation fault with ntopng when hyperscan is enabled"
The issue only occurs if nDPI is built with hyperscan support.

[code]

[2018-05-17 09:35] bbqaaq commented on #505
@jiangdu8888 Sorry for late reply.

Indeed I was following this guide to try to setup the ndpi with wireshark.
https://sharkfesteurope.wireshark.org/assets/presentations17eu/19.pdf

If you still have problem with it, try to google it on how to setup lua/plugin with wireshark.
I think you can find some tutorial on how to set it up.

[2018-05-17 17:09] Opendium opened #562 "Spotify identification"
It looks like there is a new version of Spotify which is not identified by nDPI.  The traffic appears to have a single byte change and this patch fixes it.  It also fixes an off-by-one length check that could have caused a crash.

[code]

[2018-05-17 20:56] kYroL01 commented on #562
Fixed by https://github.com/ntop/nDPI/commit/79be44ddea78734d0527fa5d3c973830f6dae844

Thank you!

[2018-05-17 20:56] #562 closed, assigned to nobody

[2018-05-18 10:05] simonemainardi opened #563 "ht_create leak"
`ht_create` seems to allocate memory that is not properly freed. This is causing a leak on ntopng.

[code]

[2018-05-21 14:30] kYroL01 commented on #561
Possible correlation with this https://github.com/ntop/nDPI/issues/563

[2018-05-22 05:15] subritm opened #566 "Detection of Psiphon"
Hi, Psiphon tool uses vpn, ssh, and http proxy to create a connection to Internet.
Is there a way we can detect this via nDPI.
I am trying to get a pcap which can be used to get more details.

By that time, is there any update regarding the same or is there a way already existing which will help in detection ?
TIA

[2018-05-22 14:08] dark-vex opened #567 "Hangout not detected"
Hi,
with nDPI v2.2.2 it seems that Google Hangout is not detected properly most of packets on port TCP 19305 are detected as Google

[code]
Attached here you can find the pcap file

[hangout.pcap.zip](https://github.com/ntop/nDPI/files/2027012/hangout.pcap.zip)

[2018-05-23 14:59] kYroL01 commented on #566
Hello @subritm
Best way to detection is to have a pcap with specific application or protocols. So we're happy if you send it when u can.
BTW all information on this application could be usefull
You refer to this right ? https://en.wikipedia.org/wiki/Psiphon

[2018-05-23 15:08] kYroL01 commented on #567
I saw the pcap.
You're right!

[2018-05-23 16:33] kYroL01 commented on #567
This detection missed for sure https://github.com/ntop/nDPI/commit/fcf4b25bc3d29b606801b98f058286d09f5fec40
@Dark-Vex I don't know if we can detect much better cause most of the traffic is encrypted.
Check if is enough or need something more.
Feel free to give us suggestions
Thanks

[2018-05-23 18:23] dark-vex commented on #567
@kYroL01 Yeah, I agree! Since the rest of the traffic is encrypted, I think thats enough. I will take a pcap also from a smartphone and check if there is something else that can be added.
One question, it's possible to use also a pattern matching? Maybe something like this would help in case Google changes the urls

`*hangout*\\.googleusercontent\\.com$`

or

`*-hangout-*\\.googleusercontent\\.com

[2018-05-24 09:49] kYroL01 commented on #567
@Dark-Vex Good question.
Unfortunately not for now. I tried to put `"hangout"` as matching string but it does not works.
I think is an option to put it.
For now I close the issue but we keep in mind this thing.

Thanks

[2018-05-24 09:49] #567 closed, assigned to nobody

[2018-05-24 09:51] kYroL01 commented on #567
P.s. The match is with the `.`, ie `.google.` for `google.com` or `something.google.com`

[2018-05-24 10:12] dark-vex commented on #567
Ok thank you very much for your effort and for the explanation about the string match!

[2018-05-28 13:44] simonemainardi opened #572 "STUN overwrites SSL client certificate"
https://github.com/ntop/nDPI/blob/31275398aac0e9862bac831596b8b11a95aae11b/src/lib/protocols/stun.c#L60

Overwrites the second char of the client SSL certificate

[2018-05-28 15:18] simonemainardi commented on #572
to reproduce just curl an https resource, .eg., `curl "https://www.digicert.com/ssl/"`

a gdb watch within ntopng helped to find the exact offending line causing the overwrite that is actually due to the stun dissection of already-dissected SSL. Note that the gdb watch alone doesn't bring directly to the offending line (compiler optimizations?). Extra debugging has been necessary to find the exact

[2018-05-28 16:19] #572 closed, assigned to lucaderi

[2018-05-29 20:40] lucaderi commented on #563
Fixed

[2018-05-29 20:40] #563 closed, assigned to nobody

[2018-05-29 20:50] #560 closed, assigned to nobody

[2018-06-26 13:19] mhdtbc commented on #530
Dear all,

Any news on this idea ?

Thank you very much.

[2018-07-02 10:12] mhdtbc commented on #566
Dear All,

Back in March 2016, i exchanged the following files with @lucaderi by mails, when i first heard about psiphon.

[ccs2015-measurement.pdf](https://github.com/ntop/nDPI/files/2154761/ccs2015-measurement.pdf)
[Full_psiphon_test_3_times.zip](https://github.com/ntop/nDPI/files/2154763/Full_psiphon_test_3_times.zip)

Thank you.

[2018-07-02 12:04] kYroL01 commented on #530
Hi @mehdi-erroussafi .
For now we don't think about it. Please be patient or if you have a suggestion, send an initial pull request.
Thank you

[2018-07-12 15:34] rizwankh opened #574 "Classification based on properties"
This is an enhancement request where we can have a high level file to classify based on lets say ssl properties that are already been extracted in ssl.c like certificate CN or hostname from Client Hello etc.

So i could write cn=="xyz.com" is "XYZ"

[2018-07-12 15:47] rizwankh commented on #502
@dsokoloski [netify-daemon](https://github.com/eglooca/netify-daemon) is not accessible.

[2018-07-13 01:03] dsokoloski commented on #502
@rizwankh My apologies, we have moved to [GitLab](https://gitlab.com/netify.ai/public/netify-agent).

[2018-07-13 01:08] dsokoloski commented on #574
@rizwankh You can do this already by defining your own "custom match" configuration file and defining your own application names.  We do this in Netify so for example, if we see an SSL connection with a CN/SNI matching google.com, the detected application name would be something like: SSL.netify.google

You can do this with the ndpiReader example code by using a command-line parameter to load in a

[2018-07-13 09:27] kYroL01 commented on #574
@rizwankh what @dsokoloski says is correct. Follow the instruction in nDPI documentation for this part on how to define your own personal detection and you have the answer.
Read also [this](https://www.ntop.org/ndpi/configuring-ndpi-for-custom-protocol-detection/)

[2018-07-13 09:27] #574 closed, assigned to nobody

[2018-07-20 18:20] dsokoloski opened #578 "Tor False Positives from SSL Dissector (bigram check)"
The following Tor bigram check from the SSL dissector results in normal HTTPS flows being detected as NDPI_PROTOCOL_TOR:

https://github.com/ntop/nDPI/blob/d9c963061bbe561af4ea1e223fc4589fe333570d/src/lib/protocols/ssl.c#L390

A few examples of domains that would be incorrectly classified as Tor:

- fo**xb**usiness.com
- tri**bd**ss.com
- ta**mg**rt.com
- **jc**rew.com

We disable this call in our

[2018-07-23 12:11] agularrom opened #579 "Get time ip flow"
Hi @lucaderi

I'm using ndpireader for a project and i'm interested export the information in format IPFIX.
Can you get initial time and end time of an ip flow?

Thanks!!

[2018-07-24 07:27] zxyz commented on #546
I know it's summer (at least on the side of the globe where I reside), but I'd be still really interested in turning my `unknown` protocols into some with cute names :)
please let me now if I can be of any further assistance and thanks a lot!

[2018-07-25 15:49] dsokoloski commented on #546
@zxyz You've instructed the nDPI engine to do hostname matching for `audio1a.example.net` or `esp01.example.net`, which would work, but only for protocols that include hostnames, such as SSL (matches SNI or CN from certificate), or DNS query, or HTTP request (matches the "`Host: xyx`" directive in the header).  It doesn't look like the traffic you want to classify is a protocol that contains a hos

[2018-07-29 15:09] CharlesJu1 opened #580 "compile ndpi with -g"
I could not figure out how to compile the ndpi library with -g option so that I can use gdb to trace the code. Could you help out?

[2018-07-29 20:32] kYroL01 commented on #578
IMHO you're right on this behaviour

[2018-07-30 12:53] dsokoloski commented on #580
Pass the compiler flags you want to use when you configure via CFLAGS.  Such as:
[code]

[2018-07-30 13:34] CharlesJu1 commented on #580
I followed your instruction. But the Makefile in src/lib is not auto generated and thus not changed. Make VERBOSE=1 shows that the lib is still compile without -g.

MacBook-Pro:~/ndpi-new/nDPI $ make VERBOSE=1
Making all in src/lib
cc -fPIC -DPIC -I../include -Ithird_party/include -DNDPI_LIB_COMPILATION -c protocols/afp.c -o protocols/afp.o
cc -fPIC -DPIC -I../include -Ithird_party/include -DNDPI_

[2018-07-30 13:38] CharlesJu1 opened #581 "nDPI internals"
Is there a document on how nDPI is implemented? I want to know more about the internal of nDPI such as how a packet is captured and inspected.

[2018-07-30 14:44] dsokoloski commented on #580
@CharlesJu1 Oh right!  My mistake...  I forgot that @lucaderi has recently removed the Automake template from ./src/lib for some reason.

I've had to re-create my own... but in the interest of getting this working for you now, just edit the file:
./src/lib/Makefile

...and add -g to the CFLAGS line you see there.

If you wish to restore automake, you can use my template Makefile [here](https://git

[2018-07-31 00:42] dsokoloski commented on #581
There are two documents that you can find some relevant information in.

1. The nDPI [White Paper](http://luca.ntop.org/nDPI.pdf) by @lucaderi, and...
2. The nDPI [Quick Start Guide](https://www.ntop.org/wp-content/uploads/2013/12/nDPI_QuickStartGuide.pdf).

Both are informative but don't really describe the internals of how nDPI is built.  Studying the source is the best way to understand this.

[2018-08-02 12:28] lucaderi commented on #581
Auto* tools are a nightmare, that's why

[2018-08-02 12:28] #581 closed, assigned to nobody

[2018-08-02 12:28] lucaderi commented on #581
If you have time to write docs please so, we'll make a wiki

[2018-08-02 12:28] #580 closed, assigned to nobody

[2018-08-02 12:29] lucaderi commented on #578
Please provide a pull request

[2018-08-02 12:29] lucaderi commented on #507
Have you installed wireshark 2.6+ ?

[2018-08-02 16:08] dsokoloski commented on #578
@lucaderi That does what?  Disables Tor bigram checks from the SSL dissector?

[2018-08-04 21:48] ZeeshanSultan commented on #411
Didn't work tried doing this

[2018-08-05 00:56] kYroL01 commented on #411
@ZeeshanSultan this is the only way you can clone and compile nDPI succesfully.
What's your status if you do these commands ?
Thanks

[2018-08-05 15:00] ZeeshanSultan commented on #411
The makefile was incomplete. i tried to remove all-am subsection and the example app compiled just fine.
Thanks

[2018-08-06 12:39] dsokoloski commented on #411
Wasn't the initial error message simply stating that libnuma was not found on your system and so ndpiReader couldn't be linked?

[2018-08-07 07:48] zxyz commented on #546
dear @dsokoloski, thanks for explaining the problem, this clarifies a lot for me.
I tried using `ip:` and sometimes it works, sometimes not. May this be dependent on the direction of the traffic? If I have a look at the `active unknown flows` in the ntopng web-gui, I see:

somename.example.net resolves to 10.128.66.23. my `custom.protocols` includes the line

`ip:192.168.2.15/32,192.168.66.123/32,

[2018-08-07 15:08] dsokoloski commented on #546
@zxyz Yes you're right, however...

The problem is that you have to specify the directive `ip:` for each entry even when you fold several entries into a single comma-delimited line.  So your configuration line should be written like this (notice the multiple `ip:...` entries):
[code]
If you don't do this, then what I've experienced is that the nDPI engine will still parse such lines but will skip

[2018-08-08 19:32] zablah opened #582 "Add new Protocol"
I'm working on nDPI For a while, and I add some protocols, I start my custom Protocol ID with 300 to avoid any conflict in future, and everything working good.
after the last update of nDPI @lucaderi  commit "Major code cleanup" and he changed a lot of thing in the code, like adding `ndpi_validate_protocol_initialization ` function, so know I can't add custom protocol  with ID more the 255, I got

[2018-08-13 13:55] zxyz commented on #546
@dsokoloski thanks a lot. That did the trick! :)

[2018-08-13 13:55] #546 closed, assigned to nobody

[2018-08-15 03:00] tianchao-haohan opened #583 "Request for the detection of memcache"
It seems that memcache is not supported now. Is that possible to add the detection of memcache?
Memcache is a kind of widely used distributed cache. It is valuable to do the enhancement.

[2018-08-16 07:35] lucaderi commented on #582
@zablah These protocols from NDPI_LAST_IMPLEMENTED_PROTOCOL and up are not implemented and thus the error is normal. You cannot implement id 300 as protocols must be consecutive. Note that unless you develop a real protocol, you need to use a new category for runtime configuration as otherwise we pollute the code with user-specific domain names. Awaiting the pull request for your new protocol

[2018-08-16 07:35] #582 closed, assigned to nobody

[2018-08-16 09:19] zablah commented on #582
@lucaderi , I added a free protocol ascending to ID 256, like
[code]
during compiling I got this warning:
[code]
and ndpiReader can't detect my new protocol, I got [proto: 0/Unknown]
but then I put the id less than 255, during compiling there is no warning and ndpiReader detecting my new protocol.
Why?

[2018-08-16 13:23] #400 closed, assigned to kYroL01

[2018-08-16 13:35] dsokoloski commented on #583
I agree.  I have submitted a PR https://github.com/ntop/nDPI/pull/584 containing a dissector for Memcached.  Please test and provide feedback.  If it fails to match Memcached traffic on your network, please provide a capture (from tcpdump) to refine the dissector.

[2018-08-17 12:48] simonemainardi opened #587 "Mutliple matches with hyperscan"
In hyperscan there is no concept of greedy/lazy regex matching. All the matches are always returned.

It is requested to handle multiple matches that can determine ambiguous protocol detection (e.g.g,  match for youtube.com and upload.youtube.com; match for apple.com and itunes.apple.com)

IMHO, we should define NON-overlapping regexs. That will also have a positive impact on the performances as t

[2018-08-17 12:52] simonemainardi commented on #583
thanks for submitting the PR. Please, follow up on the nDPI PR thread as once in nDPI the detection will automatically be included in ntopng.

[2018-08-17 12:52] #583 closed, assigned to nobody

[2018-08-18 08:41] marcopp2018 opened #588 "nDPI compilation failure"
Hi,

  I tried to install nDPI using the following commands:
    cd ~
    cd nDPI
    git clone https://github.com/ntop/nDPI.git
    ./autogen.sh
    make && make install

all commands worked as expected except the make install:

Making install in src/lib
make[1]: Entering directory '/root/nDPI/src/lib'
make[1]: *** No rule to make target 'install'.  Stop.
make[1]: Leaving directory '/root/nDPI/sr

[2018-08-18 21:13] genterminl commented on #588
I have the same problem, except I did git clone first, then cd nDPI, ./autogen.sh, make, make install.
I don't know if it's relevant, but in the main directory, there is a symlink lib pointing to a non-existent src/lib/.libs.  I also note that README.md says to do ./autogen, ./configure, make.  Since autogen already runs configure, isn't that redundant?  Also, there is not any instruction to do "m

[2018-08-22 13:05] lucasbaile opened #590 "Error to create the Tar Ball on 2.4"
I am trying to create a tarball for the 2.4 release, following exactly the steps on the README.md:

[code]

All the tests works as well:

[code]

But when I try to run the `make dist` at the end I get the following error:

[code]

I already have all the prerequisites installed, and I can create the tarball for the 2.2 release just fine, the problem seems to be with the 2.4 release

[2018-08-22 14:48] dsokoloski commented on #590
@lucaderi removed the automake file from ./src/lib because:

So now most of the handy targets that automake provided are missing (*dist* for example).

You can restore the automake system by doing the following:

1. Move the existing Makefile out of the way: `mv ./src/lib/Makefile ./src/lib/Makefile.simple`
2. Edit configure.seed, and add `./src/lib/Makefile` to *AC_CONFIG_FILES*.
3. Download [thi

[2018-08-22 18:54] lucasbaile commented on #590
Thank you very much, @dsokoloski!

Now I was able to properly create the tarball, but when trying to call the `make install` I get the following error:

[code]

Any idea?

[2018-08-22 21:28] dsokoloski commented on #590
@lucasbaile Yes, this is because in `./src/lib/ndpi_main.c`, there are includes for source files -- which is just weird.  I've removed these in my fork:
[code]
These are already specified in `./src/lib/Makefile.am` (as one would expect), and as a result of the above includes, the linker gets confused because there are now duplicate definitions.

Even after you fix that there will be linking errors

[2018-08-23 08:19] kYroL01 commented on #588
@marcopp2018 There's no error on compilation. The compilation works well.
Remember that nDPI is a library, so you cannot "install" it, but you need a program that call nDPI, as [https://github.com/ntop/ntopng](url) .
So as @genterminl said in the Edit, nDPI is found by other programs that use it. Alternatively you can build your own program that call nDPI API.

p.s. @genterminl yes, you're right a

[2018-08-23 08:19] #588 closed, assigned to nobody

[2018-08-23 08:36] marcopp2018 commented on #588
@kYroL01
I was trying to use ftflow from the pfring_ft example.

The following commands works without any issue:
    ftflow -i eth0
When using layer 7 commands it fails:

ftflow -i eth0 -7
#########################################################################
 ERROR: You do not seem to have a valid PF_RING FT 7.3.0.180817 license [FF7B9D9E760669E9]
 ERROR: Please get one at http://shop.ntop.org

[2018-08-23 12:27] lucasbaile commented on #590
Thank you very much for the patience, @dsokoloski!

I got it working with your patch!

[2018-08-23 12:27] #590 closed, assigned to nobody

[2018-08-23 19:55] dsokoloski commented on #588
@kYroL01

I install libraries everyday using `make install` :)  Not sure what you're getting at here...

[2018-08-24 09:08] dwairlk opened #593 "Compilation and Instalation"
Hi all,
I am compiling and installing nDPI in Ubuntu 14.04 Desktop, kernel 4.15.0-32-generic, x86_64. I am following the steps at https://www.ntop.org/guides/pf_ring/ft.html and https://www.ntop.org/pf_ring/how-to-accelerate-suricata-bro-snort-with-pf_ring-ft/
The compilation works fine but it is generating an error during installation.
Please, find below the outputs
`./autogen.sh
autoreconf: Ente

[2018-08-24 10:03] rsolsn commented on #593
Hi all same here for me, it seems to me that make doesn't generate dynamic libraries.

nDPI-2.2 works fine 2.4 no.

[2018-08-24 10:14] rsolsn commented on #588
i need to install shared library that 2.4 doesn't generate....

[2018-08-25 08:51] #593 closed, assigned to nobody

[2018-08-27 15:15] marcopp2018 opened #597 "Hyperscan"
Hi,

  It's not clear how to compile the nDPI with Hyperscan support and what type of protocols are using this feature.

Thanks.

[2018-08-31 15:23] pavlosantoniou opened #600 "Shared libraries are not built for 2.4-stable version"
When checking out branch 2.4-stable, the following link is broken:
`lib -> src/lib/.libs/`

Even after creating the missing directory manually, `make` does not produce the .so files.

[2018-09-06 14:56] pavlosantoniou opened #601 "Instagram IP Flow classified as SSL_No_Cert"
The attached .pcap file contains an Instagram IP Flow that is erroneously classified as SSL_No_Cert.
[SSL_No_Cert_instead_of_Instagram.zip](https://github.com/ntop/nDPI/files/2360424/SSL_No_Cert_instead_of_Instagram.zip)

This has been tested on the latest (as of 06/09/2018) commit:
6373c355cfd497d57609b8ecfc62717758ac7154

[2018-09-07 10:18] kYroL01 commented on #601
This is because the CIDR 157.240.0.0/16 is not associated to Instagram.
The classification could be also done by the server name extracted on the Client Hello, but this is not done correctly in the ssl dissector.

[2018-09-07 10:29] pavlosantoniou commented on #601
I have seen that (at least according to https://ipinfo.io):

https://ipinfo.io/157.240.0.0

https://ipinfo.io/157.240.2.52

Also correct, the server name in Client Hello is

[2018-09-11 06:28] #601 closed, assigned to nobody

[2018-09-11 06:30] lucaderi commented on #597
Hyperscan is used only with string matching protocols such as DNS, HTTP/S sub-protocols. As hyper scan is Intel-specific it is not available on non-Intel platforms.

After you installed hyperscan do ./configure --with-hyperscan and it will work

[2018-09-11 06:30] #597 closed, assigned to nobody

[2018-09-11 06:50] lucaderi commented on #561
Unable to reproduce. Can you please check if you can do that with the current version and how?

[2018-09-11 07:08] #578 closed, assigned to nobody

[2018-09-11 07:10] #600 closed, assigned to nobody

[2018-09-11 07:14] lucaderi commented on #559
These are traffic flows designed for trapping these protocols. As I don't have these devices, can you please upload to GitHub a pcap file I can use to see the issue?

[2018-09-11 08:12] lucaderi commented on #480
Each thread must have a private copy of the ndpi_mod, so there are never classes, or you need to lock ndpi (bad) to avoid concurrent calls on the same share ndpi_mod pointer

[2018-09-11 08:12] #480 closed, assigned to nobody

[2018-09-11 09:36] emanuele-f commented on #561
Issue is fixed in the current version.

[2018-09-11 09:36] #561 closed, assigned to simonemainardi

[2018-09-11 14:04] pavlosantoniou opened #605 "NDPI_LIB_COMPILATION needs to be defined in order to build an application with nDPI"
This issue has been observed on the 2.4-stable release of nDPI.

The nDPI release builds successfully, but when the nDPI headers are included in a project, the project's build fails due to compiler errors such as:

The solution is to define the pre-processor macro NDPI_LIB_COMPILATION when building the project that includes the nDPI headers. Should this be like this?

[2018-09-11 15:52] dsokoloski commented on #480
@qianguozheng To more directly answer your question:  If you start ndpiReader with two or more threads, then they run concurrently on their own private handle of the nDPI module (as @lucaderi mentioned).  Multiple pcap_loops run concurrently from within their respective threads.  There is no contention between running threads for any resource (other than memory allocation) as implemented by ndpiRe

[2018-09-12 16:50] dsokoloski commented on #578
@lucaderi Thanks for excluding those bigrams, but unfortunately they were only examples of domains that match the "impossible" bigram check.

Here is a [link to a summary spreadsheet](https://docs.google.com/spreadsheets/d/1neBG6UF__tcAP5-ZgsXGKNflKTgx5rv3ndxNrCctlN8/edit?usp=sharing) that shows the number of domains from our database of 2,735,863 rows that match the remaining "impossible" bigrams

[2018-09-12 22:14] lucaderi commented on #605
Can you please explain how to reproduce the bug? For instance ntopng does not show this issue during compilation, so I think we're not at the same page and I need to understand how to reproduce it. Thanks

[2018-09-13 00:39] dsokoloski commented on #605
This isn't a bug -- it's a feature! ;)

The intention (my best guess), is that `struct ndpi_detection_module_struct` is intended to be opaque.  That is, those that link to this library are really not supposed to be directly accessing members of `struct ndpi_detection_module_struct`.  There are many API functions that are provided to do most things.

If you however require complete access to this s

[2018-09-13 07:30] pavlosantoniou commented on #605
@dsokoloski I agree with the opaque struct rationale.

The confusion will most probably arise when (as in my case):
- An application is being compiled successfully with an older nDPI version
- The nDPI version is bumped, and the application is compiled against it
- Now the error appears, there seems to be a problem with something as basic as `ndpi_detection_module_struct `
- The user has to dig in

[2018-09-13 13:17] spinenkoia opened #607 "Duplicate protocol name"
The Vidto protocol is named PPStream.

[2018-09-14 05:29] spinenkoia commented on #607
@lucaderi

[2018-09-18 16:14] lucaderi commented on #503
@spinenkoia Sorry for taking so long. Please verify the implementation and let me know

[2018-09-18 16:14] #503 closed, assigned to kYroL01

[2018-09-18 16:33] lucaderi commented on #607
Thank you

[2018-09-18 16:33] #607 closed, assigned to nobody

[2018-09-18 16:35] lucaderi commented on #168
Please provide new viber traces

[2018-09-18 16:36] lucaderi commented on #69
The pcap trace is gone, so I cannot implement this.

[2018-09-18 16:36] #69 closed, assigned to nobody

[2018-09-18 16:37] lucaderi commented on #420
The pcap file is gone, so I have no way to implement it. Please reopen this issue attaching a pcap to it

[2018-09-18 16:37] #420 closed, assigned to nobody

[2018-09-18 17:00] Kazz3r24 commented on #420
The pcap was originally uploaded over a year ago, I'll upload a new pcap asap.

[2018-09-18 20:46] Kazz3r24 opened #609 "Feature request: Add Plex Media Server traffic to nDPI"
Re-Opened issue for #420 pcap can be found using the below link

[http://gofile.me/3QL8R/tF2VrPqYU](url)

[2018-09-20 20:20] avi9526 opened #611 "ntopng listen on random high udp ports"
ntopng is build using https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ntopng
run as systemctl service:
[code]
after starting I run
`netstat -pntua | grep $(pidof ntopng)`
and get (sensitive information removed)
[code]
What is the purpose of these listening UPD ports?

[2018-10-01 08:14] kYroL01 commented on #611
This is not nDPI issue. Please open it on ntopng repo. Thanks

[2018-10-01 08:14] #611 closed, assigned to nobody

[2018-10-01 20:15] vel21ripn opened #615 "RFC: spotify.c wrong network address or mask"
[code]
0xC284A200 & FFFFFC00  != 0

Wrong network address or network mask?

[2018-10-04 10:28] kYroL01 commented on #615
@vel21ripn did u pull and recompile ? I think https://github.com/ntop/nDPI/pull/604/commits solved the issue

[2018-10-04 11:11] vel21ripn commented on #615
This commit was added to the dev branch. Maybe you can apply it to the 2.4-stable branch?

[2018-10-04 17:38] vel21ripn commented on #615
"git cherry-pick f48c7ab8e6b0a6848aaab28ec56212787b41defa" solves this problem for the 2.4-stable branch.

[2018-10-04 18:38] vel21ripn opened #617 "ggpht.com is YouTube or PlayStore"
grep -n '"ggpht.com"' ndpi_content_match.c.inc
Result:
[code]
grep -n '"docs.googleusercontent.com"' ndpi_content_match.c.inc
Result:
[code]
How to fix it?

[2018-10-09 00:31] hlein opened #619 "Absolute library symlink including DESTDIR breaks when DESTDIR is set"
DESTDIR is used, for instance, by distros to facilitate installing to a temp path.

In general nDPI supports DESTDIR (yay!), but there's a problem in src/lib/Makefile.in:

`ln -Fs $(DESTDIR)$(libdir)/$(NDPI_LIB_SHARED) $(DESTDIR)$(libdir)/$(NDPI_LIB_SHARED_BASE)`

If DESTDIR is set, then that ends up including it in the path in the target of the symlink.

I submitted #618 to fix this.

[2018-10-09 00:48] hlein opened #620 "Hardcoded prefix= in src/lib/Makefile.in ignores configure --prefix="
Building using autogen.sh + configure, --prefix is respected in general.

But not by src/lib/Makefile.in, which contains a hardcoded:

`prefix     = /usr/local`

This is used by both library and include-file installation.  So they will install into /usr/local/lib and /usr/local/include respectively, regardless of `./configure --prefix=/usr` , etc.

I don't know where the preferred place would be t

[2018-10-09 01:00] hlein opened #621 "Hardcoded pkgconfigdir is inappropriate on (at least?) most Linuxes"
Makefile.am specifies where pkg-config files should go:

`pkgconfigdir = $(prefix)/libdata/pkgconfig`

This will typically resolve to /usr/libdata/pkgconfig or /usr/local/libdata/pkgconfig

That seems to be a/the common path on FreeBSD, but those paths aren't typically used on Linux systems I've looked at (Debian derivatives, and Gentoo). Linuxes appear to use/prefer /usr/lib{,32,64}/pkgconfig or

[2018-10-09 01:29] hlein opened #623 "Hardcoded libdir= in src/lib/Makefile.in means lib{32,64} is not correctly determined"
Note, this has some things in common with #620, but it is different.

Top-level 'configure' figures out the correct libdir to use - lib64 or lib32.  But src/lib/Makefile.in has a harcoded:

`libdir = ${prefix}/lib`

This has a couple of problems:

1) On a system with both 64bit and 32bit libs installed, one can't try installing nDPI built for each.

2) Although /usr/lib/ probably exists as either

[2018-10-09 03:31] hlein opened #625 "libndpi.pc.in and src/lib/Makefile.in disagree about include file path"
src/lib/Makefile.in installs headers under one path, and libndpi.pc.in (which gets cooked and installed as libndpi.pc) lists a different path.  Therefore, anything using pkg-config to get a suitable -I path will get a wrong answer, and compilation will fail.

PR #624 attempts to fix this.

[2018-10-09 05:55] Baymax254 opened #626 "Do I need to recompile nDPI after adding IPs in nDPI/src/lib/ndpi_content_match.c.inc?"
I have a running ntopng , every time I see a different IP I add it in the  nDPI/src/lib/ndpi_content_match.c.inc
 file and stop ntopng and recompile? Can I do it without recompiling?

[2018-10-09 11:07] simonemainardi opened #627 "ndpi_get_proto_category does not return categories set via ndpi_load_ip_category"
The getter `ndpi_get_proto_category` seems to ignore categories set via `ndpi_load_ip_category` or `ndpi_load_hostname_category`.

It is requested to extend the getter to make sure it returns the category loaded (when there's a match), thus giving that category priority over the master and app protocol categories.

[2018-10-09 13:39] kYroL01 commented on #619
Thanks !

[2018-10-09 13:39] #619 closed, assigned to nobody

[2018-10-09 14:59] kYroL01 commented on #626
Basically you need to recompile only nDPI library for sure. There is no way to do it without recompile.

[2018-10-09 14:59] #626 closed, assigned to nobody

[2018-10-09 15:08] simonemainardi commented on #627
Example

![image](https://user-images.githubusercontent.com/3397663/46678750-9c001300-cbe5-11e8-9bcc-2bf22fe5afb7.png)

Flow category is "Web" as shown in the picture and obtained with `ndpi_get_proto_category`. However, it is also true the `ndpiDetectedProtocol.category == CUSTOM_CATEGORY_MINING` and this causes the message "The website is known for mining cryptocurrencies on client devices" in t

[2018-10-10 05:31] Baymax254 commented on #626
Ok thankyou @kYroL01

[2018-10-10 11:15] simonemainardi commented on #627
I don't think the commit solves the issue.

In ntopng have plenty of flows that have a `ndpiDetectedProtocol.category != NDPI_PROTOCOL_CATEGORY_UNSPECIFIED` even when the custom categories are disabled.

See this trace for example (the cat is just the print of ndpiDetectedProtocol.category)

[code]

[2018-10-10 17:15] emanuele-f commented on #627
I think this is fine as long as the ndpiDetectedProtocol.category is consistent

[2018-10-11 10:52] emanuele-f commented on #627
Cannot reproduce this with latest dev

[2018-10-11 10:52] #627 closed, assigned to nobody

[2018-10-11 12:56] simonemainardi commented on #627
I will retest ad reopen if necessary.

[2018-10-11 13:47] kYroL01 commented on #617
`ggpht.com` is the domain name for _Google image hosting_ servers, so it is used in many cases.
IMHO it is not enough to classify it as PlayStore or YouTube, we need to have more specific domain, i.e `yt3.ggpht.com` = YouTube, that is already present in the list

[2018-10-11 14:18] kYroL01 commented on #617
https://github.com/ntop/nDPI/commit/a62f90073a01d953d64a49320ba54a2dfd8e987e

[2018-10-11 14:18] #617 closed, assigned to nobody

[2018-10-15 16:43] emanuele-f opened #629 "Incorrect flow category"
nDPI performs category detection with the rule "app protocol first". In the image below, the app protocol is Google, so nDPI determines "Web" (Google category) as the flow category, but this is incorrect since the correct category should be "Email".

![2018-10-15_16-53](https://user-images.githubusercontent.com/5488003/46964981-09ee8380-d099-11e8-9641-f6c5db79b5f7.png)

[2018-10-19 16:13] emanuele-f opened #631 "Add ICMP flows support for categories IP matching"
After doing this, the ntopng documentation must be updated

[2018-10-30 09:50] romeor opened #633 "youtube is not detected"
Hello,
I see the youtube app in the list, but as soon as I filter flows by app: youtube there are none. Any way to debug?
running latest nightly build installation.

[2018-10-31 10:14] QbsuranAlang opened #634 "QUIC version >= 39 detection failed"
Hello, according to [dissectors of wireshark](https://github.com/wireshark/wireshark/blob/master/epan/dissectors/packet-gquic.c#L2108)
GQUIC version is greater or equal to `39` will change to "big endian", which causes the [`offset` and `prev_offset`](https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/quic.c#L99) needs to swap bytes order.
At my platform(mips64 which is big endian) shows the

[2018-10-31 10:15] QbsuranAlang commented on #633
Due to GQUIC version, which is described in #634.

[2018-11-01 13:45] QbsuranAlang commented on #634
[code]

It should fixed the bug.

[2018-11-01 13:58] QbsuranAlang commented on #634
Update here

The [doc](https://docs.google.com/document/d/1WJvyZflAO2pq77yOLbp9NsGjC1CHetAXV8I0fQe-B_U/) says:

Which means [offset and prev_offset](https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/quic.c#L99) works fine at little-endian, but big-endian.

And [dissectors of wireshark](https://github.com/wireshark/wireshark/blob/master/epan/dissectors/packet-gquic.c#L2108):

It definitely go

[2018-11-08 03:35] tianchao-haohan opened #635 "TLSv1.2 can't be detected"
I found a senario that tls v1.2 can't detected:
![image](https://user-images.githubusercontent.com/8639363/48176262-39b44280-e34a-11e8-9f77-16cbeec29429.png)
The protocol can be recognized as tlsv1.2 by wireshark. But can't be dected by ndpi.
![image](https://user-images.githubusercontent.com/8639363/48176189-fc4fb500-e349-11e8-928c-4fa96bb273b7.png)
It is the code snippet used to detect ssl or tl

[2018-11-08 06:15] tianchao-haohan commented on #635
It is the ssl + etcd traffic.

[2018-11-08 12:41] kYroL01 commented on #635
Can u send a pcap for test ?

[2018-11-09 09:36] tianchao-haohan commented on #635
@kYroL01 Send to your gmail. Thanks!

[2018-11-09 10:54] kYroL01 commented on #635
Received. I'm doing some tests.

[2018-11-09 13:55] kYroL01 commented on #635
Fixed https://github.com/ntop/nDPI/commit/de9b2b202e77ef6a2a4442b293859009f005458c

[2018-11-09 13:55] #635 closed, assigned to nobody

[2018-11-11 07:17] more76 commented on #467
hi
i have the exact same problem.
i tried the standard way as described in http://www.ntop.org/get-started/download/
i am using freebsd and searched a lot but couldn't find anything.
i tried this:
`git clone https://github.com/ntop/nDPI.git`
`cd nDPI`
`./autogen.sh`
`./configure --with-pic --enable-json-c`
`gmake`

i have installed essential packages for freebsd and Json-c is installed too.here is

[2018-11-11 20:43] emarshswe opened #637 "Current example/Makefile.in missing slash after path. Overwrites /usr/local/bin with the ndpiReader executable."
https://github.com/ntop/nDPI/blob/71b2c19cf28f72ad2e876719af88c7841c2aea84/example/Makefile.in#L17

[2018-11-12 15:49] kYroL01 commented on #637
So , you say must be `cp ndpiReader $(DESTDIR)$(PREFIX)/bin/` , right ?

[2018-11-12 17:43] emarshswe commented on #637
Yes, after testing, that last slash fixes the problem. The current code works on OSX if there is a bin folder present, but breaks on my fresh debian install. We should use full paths just to be sure. Maybe we need to make sure the path exists or is created, so we don't get an error if there's no bin folder?

is "mkdir -p /usr/local/bin" safe to run on existing folders? Works in both OSX and debian

[2018-11-13 06:34] more76 commented on #467
@mluethi @kYroL01 don't you have any idea about my problem?

[2018-11-14 07:28] tianchao-haohan opened #638 "How to decode the ssl traffic with the certification file?"
Is that possible to apply dpi on ssl traffic if given the certification file or private key?
And how to import the  certification file or private key if it is supported?

[2018-11-14 10:06] kYroL01 commented on #638
@tianchao-haohan Decode SSL/TLS traffic is not that easy, even if you are certificate or private key.
It depends on many factors, and on the cipher suites used. For example, if the traffic is decrypted with [Diffie-Hellman](https://en.wikipedia.org/wiki/Diffie%E2%80%93Hellman_key_exchange) is kinda impossibile to recontruct the keys needed for decryption.
A possible way is to decrypt traffic encry

[2018-11-14 10:06] #638 closed, assigned to nobody

[2018-11-19 11:21] cardigliano opened #640 "Package for Ubuntu and CentOS"

[2018-11-23 05:10] waqar-ali-aziz opened #641 "nTOP results to redirect incoming traffic"
Sir i have done deep packet inspection successfully and now i want to use the DPI results to redirect the incoming flows. can you further guide me in this type of scenario that how we can use DPI results to tell the SDN controller to redirect the incoming flows to particular less internet traffic occupied link.

[2018-11-28 14:50] vitalivanov opened #643 "Autotools based build system is broken."
You can not separate src and build with current build system. Steps:
[code]
Same for:
[code]

[2018-11-28 22:20] lucaderi commented on #643
So the prefix is not honoured in essence?

[2018-11-29 07:34] simonemainardi opened #644 "App and master protocols swapped with custom protocols file"
[code]

![image](https://user-images.githubusercontent.com/3397663/49206180-8f13ca80-f3b1-11e8-8c6b-f801865a2304.png)

I'm posting here as I've verified that protocols arrive exchanged from nDPI.

[2018-11-29 14:13] cardigliano commented on #640
Den and RPM packages have been implemented, some more testing is needed after adding them to the build system.

[2018-11-30 15:25] charlesg opened #646 "add protocols: gpfs"
Would this the right venue to request additional protocols?

We are storage heavy and a large portion of our traffic is gpfs. I would assume other storage environments would benefit from storage protocol inspection (gpfs, ceph, glusterfs, etc).

[2018-12-10 09:23] #640 closed, assigned to cardigliano

[2018-12-10 10:30] lucaderi commented on #643
Merged

[2018-12-10 10:30] #643 closed, assigned to nobody

[2018-12-10 10:42] lucaderi commented on #634
@QbsuranAlang Do you have a pcap to use for testing?

[2018-12-10 11:00] QbsuranAlang commented on #634
@lucaderi
[GQUIC.zip](https://github.com/ntop/nDPI/files/2662812/GQUIC.zip)
There are three pcap files in attachment.
Q024.pcap(GMail), Q039.pcap(Youtube) and Q043.pcap(Youtube).

[2018-12-12 10:39] emanuele-f commented on #631
This has been implemented in:
d2b2aba6e86b78bd9a9abdf97b51b643da1ef0dd
https://github.com/ntop/ntopng/commit/dbb008022bd0475004a2736369bdce7bde804c37

[2018-12-12 10:39] #631 closed, assigned to emanuele-f

[2018-12-17 14:33] QbsuranAlang commented on #634
Q044 has started the transition to IETF QUIC. I am not test yet, but I have a pcap sample.
[Q044.pcap.zip](https://github.com/ntop/nDPI/files/2686447/Q044.pcap.zip)

The latest wireshark can dissectors the pcap sample, it can be downloaded [here](https://www.wireshark.org/download/automated/)

[2018-12-20 03:37] rkerur opened #648 "Debug Xbox protocol dissector"
(1) How to enable nDPI debugs. I tried './configure --enable-debug-message' followed by make and use ndpireader. I don't see any debugs on console or log file in /var/log? GDB on Apple MAC (my test platform) has some issues so I need debugs to work.

(2) I have a xbox game pcap which is classified as 'Unknown' by nDPI. In PCAP files most of the packets are UDP and on port 3076.  In src/lib/protoco

[2018-12-20 07:35] vel21ripn commented on #648
Use "ndpReader -V 4 ... " or "ndpiReader -V 3 -dbg-proto  Xbox ..." for output debug messages.

[2018-12-20 11:21] kYroL01 commented on #648
@rkerur well, actually if u look the dissector is the opposite of what u said.
https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/xbox.c#L45
it looks ONLY UDP traffic, not TCP (there is a note you can read).

[2018-12-20 16:54] rkerur commented on #648
Thanks, let me work on the debugs and get back to you if I have additional questions.

Regarding code, what you mentioned is correct i.e. it checks for 'packet->udp != NULL', however, when dissector is initialized via 'init_xbox_dissector' one of the function param to nDPI is
NDPI_SELECTION_BITMASK_PROTOCOL_V4_V6_TCP_WITH_PAYLOAD
Doesn't it allow only v4/v6 TCP packets? if not, what is this bitmas

[2018-12-20 16:55] rkerur opened #650 "Creating new dissector"
How to create new dissector

[2018-12-20 17:03] rkerur commented on #650
I am trying to add a dissector for Amazon prime video by dissecting the captured PCAP files. When I checked PCAP files initial packets were  TLS v1 negotiation or after negotiation is complete all encrypted packets. I couldn't figure out a signature from those PCAP files. I have made infra changes to add the new dissector as per README file, but without correct signature infra code will be useless

[2018-12-20 17:22] kYroL01 commented on #650
It's impossible to detect Amazon traffic as Amazon using a dissector, because it's traffic is mainly TLS, and you cannot extract any signature to make a dissector. This is why nDPI internally has the IP-range/name server check to detect these kinda traffic as "Amazon" or "Facebook" or whatever traffic like that.

[2018-12-20 17:24] rkerur opened #651 "nDPI with hyperscan compile errors"
I am trying to compile nDPI with hyperscan (both latest from github). I have compiled and installed hyperscan successfully. To compile nDPI with hyperscan I did
./autogen.sh
./configure --with-hyperscan

First set of errors I get

dpi_main.o
ndpi_main.c:787:18: error: use of undeclared identifier 'ndpi_mod'
    NDPI_LOG_ERR(ndpi_mod, "Unable to initialize hyperscan database\n");
                 ^

[2018-12-20 17:24] kYroL01 commented on #648
@rkerur absolutely. I think your right.

[2018-12-20 17:26] rkerur commented on #650
Thanks for your inputs. Should i submit the changes I did as a patch?

[2018-12-20 17:30] kYroL01 commented on #650
Of course. If your test evidence this issue, you have to. I suggest u also to add an example pcap to show better the community the problem (and eventually let the ntop members put the pcap as test)

[2019-01-10 17:57] jean-christophe-manciot opened #652 "DPDK support disabled despite installed dpdk-dev"
Ubuntu disco
ndpi git sources 2.6
dpdk-dev 18.11-3

[code]
There must a way with an environment variable to specify the library path, although I'm not sure which one is expected: LIBS=???
[code]

[2019-01-10 18:21] jean-christophe-manciot opened #653 "2 tests fail"
Ubuntu disco
ndpi git sources 2.6
dpdk-dev 18.11-3

[code]
It is unclear what exactly fails.

[2019-01-11 09:48] jean-christophe-manciot commented on #653
Any suggestion @lucaderi ?

[2019-01-11 09:48] jean-christophe-manciot commented on #652
Any advice @lucaderi ?

[2019-01-13 09:52] lucaderi commented on #353
nDPI is now packaged on a separate package form both ntop, brew.sh and other distributions. i think we can close this issue

[2019-01-13 09:52] #353 closed, assigned to nobody

[2019-01-13 09:54] lucaderi commented on #653
I have seen this already and had no time to debug. it seems that from one session to another the data are not fully consistent that makes me think there is some sort of dependency on traffic. Please go ahead investigating what's going on and report. Thanks

[2019-01-13 09:56] lucaderi commented on #652
Currently we expect the DPDK source code to be in $HOME/DPDK. If this is not what you want, please modify the configure to support an extra comandi line flag for specifying the location of DPDK, and send us a pull request.

[2019-01-13 09:56] #652 closed, assigned to nobody

[2019-01-13 09:57] lucaderi commented on #650
@rkerur Can you please share a pcap with the traffic for inspection?

[2019-01-13 09:58] lucaderi commented on #648
@rkerur Can you please share a pcap for inspection?

[2019-01-14 07:35] mallesh-thotager opened #656 "Query - enabling ndpi Debug"
Hi All,
Compiled the nDPI using the below commands

./autogen.sh
./configure    --enable-debug-messages
make

But the still  the inclusion of ndpi_config.h is under HAVE_CONFIG_H (ndpi_main.c).

How to get his macro HAVE_CONFIG_H enabled during the compilation?

Thanks.

[2019-01-14 12:36] jean-christophe-manciot commented on #652
@lucaderi
Except that your expected " DPDK source code to be in $HOME/DPDK" does not work:

[code]
leads to:
[code]

[2019-01-15 08:03] cavedon opened #657 "ndpiReader: reference after free"
ndpi_process_packet() in ndpiReader.c will deallocate every packet after it is done processing it.
However it looks like pointers to the deallocated packets may be stored inside the flow sutrctures and may be referenced when printing the stats.

I found this this while investigating some tests failing on some architectures (tests are failing under many architectures: https://buildd.debian.org/stat

[2019-01-16 09:58] hans2003 opened #660 "the variable buf_len in function ac_match_handler() is always 0"

[2019-01-17 09:00] cavedon commented on #634
https://github.com/ntop/nDPI/pull/658 fixes this issue

[2019-01-20 22:24] lucaderi commented on #660
Not sure you're right. Please explain more in detail

[2019-01-20 22:24] lucaderi commented on #651
@simonemainardi Any news?

[2019-01-20 22:47] #657 closed, assigned to nobody

[2019-01-21 02:56] hans2003 commented on #660
static int ac_match_handler(AC_MATCH_t *m, AC_TEXT_t *txt, AC_REP_t *match) {
  int min_len = (txt->length < m->patterns->length) ? txt->length : m->patterns->length;
  **char buf[64] = { '\0' }; // initial buf here, the length of buf string is 0.**
  int min_buf_len = (txt->length > 63 /* sizeof(buf)-1 */) ? 63 : txt->length;
  **u_int buf_len = strlen(buf); // here，calculate buf_len by strlen；it

[2019-01-26 19:14] rkerur commented on #650
@lucaderi Sorry for the late response. Will do it this week.

[2019-01-26 19:16] rkerur commented on #648
@lucaderi Will upload  pcap file this week.

[2019-01-29 01:27] rkerur commented on #650
@lucaderi Amazon pcap file is > 100MB and limit to upload file is 10MB. Any other way I can send it?

[2019-01-29 01:28] rkerur commented on #648
File size is the issue for Xbox pcap file, Kindly let me know other way I can send it.

[2019-01-29 10:36] vel21ripn opened #663 "whatsapp bug"
We have a very strange code in whatsapp.c
[code]
1) The whatsapp_sequence array must be described as static, otherwise gcc generates array initialization code separately for each byte.
2) Line 37 has two errors: the minimum/maximum packet size is not checked, and the length of the compared region is equal to the packet length, not whatsapp_sequence. What is if payload_packet_len 1500 ?
3) Lines 45

[2019-01-29 11:37] k0ste commented on #663
Related https://github.com/vel21ripn/nDPI/issues/45.

[2019-01-29 20:39] rkerur opened #664 "Q on idle_flows and pcap_analysis_duration"
nDPI team,

I am seeing an issue when 'pcap_analysis_duration' is given as an option to ndpiReader. By default 'pcap_analysis_duration = -1'. I understand 'ndpiReader' is just a sample application, would like to understand whether it is correct or a bug?

In function 'ndpi_process_packet' which is called by PCAP library or from while(dpdk_run_capture), a check is made

       **if((pcap_end.tv_sec

[2019-01-31 08:37] vel21ripn commented on #663
Look at the possible fix in PR #665

[2019-01-31 20:25] vel21ripn commented on #653
@jean-christophe-manciot
nintendo.pcap and skype-conference-call.pcap have "capture size" 524288.   If you change the byte at offset 0x12 from 0x08 to 0x04, then there will be no error. All other files have "capture size" equal to 262144.  Another way is to rebuild libpcap with an increased MAXIMUM_SNAPLEN (#define MAXIMUM_SNAPLEN in file pcap-int.h)

[2019-02-01 15:58] jean-christophe-manciot opened #667 "FTBFS with DPDK support"
Ubuntu disco
ndpi git sources 2.6
dpdk sid sources release 18.11-5

DPDK is built in ~/DPDK as requested by nDPI. The result without the debs is available [here](https://drive.google.com/file/d/12XR7glg0ZX5j1YxzYG0O7aA-giKTHXle/view?usp=sharing).

Then, compiling nDPI fails:
[code]
leads to:
[code]

**There is no such ```build``` nor any ```.config``` in ~/DPDK**.
However, there is a **```config``

[2019-02-01 15:59] jean-christophe-manciot commented on #652
cf. reported [issue](https://github.com/ntop/nDPI/issues/667).

[2019-02-03 14:23] rkerur opened #668 "Inconsistent youtube detection"
nDPI team,

I am using latest nDPI library code and doing some live traffic testing with different applications. Network traffic like ICMP, DHCP, DNS are consistently classified correctly. With Youtube traffic 3 out of   5 times it failed to classify correctly. I have tested Youtube traffic with both 'Chrome' and 'Firefox' browser and before I start traffic I clear browsing data on them. Unfortuna

[2019-02-06 01:09] rkerur opened #669 "CustomCategory File format"
in nDPI there is a way to load/enable custom category files, however, Iam unable to find the format of entries to add to that file. For example following code snippets shows loading ip_category or host_name. Can someone point me to an example of custom category file?

if(_customCategoryFilePath) {
    FILE *fd = fopen(_customCategoryFilePath, "r");

    if(fd) {
      while(fd) {
        char buff

[2019-02-08 04:23] mmanoj commented on #651
@lucaderi

I'm able to compile successfully on 5th Feb 2019.
@rkerur
Please try again. Make sure first compile and install hyperscan latest release.

[2019-02-08 08:27] mmanoj commented on #663
@vel21ripn

I found below error while running detection for whatapp. Code from git on 5th Feb 2019.

# AddressSanitizer: stack-buffer-underflow ??:0 memcmp
#0 0x7f86cf15271f in memcmp (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x7771f)
#1 0x7f86ce818f58 in ndpi_search_whatsapp protocols/whatsapp.c:37
#2 0x7f86ce81455d in check_ndpi_tcp_flow_func /opt/deps/nDPI-HyperScan/nDPI/src/lib/ndpi_main.c:3957

[2019-02-10 12:42] jean-christophe-manciot commented on #667
The build passes when using upstream dpdk git sources (git://dpdk.org/dpdk) instead of debian dpdk sources (https://packages.debian.org/source/sid/dpdk).

[2019-02-10 12:42] #667 closed, assigned to nobody

[2019-02-11 20:34] rkerur commented on #651
@mmanoj I cloned latest hyperscan and nDPI and everything seems to be working fine. looking at the git logs not sure what changes fixed it?

[2019-02-12 04:17] mmanoj commented on #651
@rkerur

Thanks for the update, from my side not fix. I just done the same thing.

@lucaderi & @simonemainardi

Is there any fix done from your side?

[2019-02-12 09:47] elfring opened #670 "reserved identifier violation"
I would like to point out that an identifier like “[`__NDPI_API_H__`](https://github.com/ntop/nDPI/blob/efef99cbadc8ddd6f6743e04d184fe240d6eb334/src/include/ndpi_api.h#L25 "Update candidate")” [does eventually not fit](https://www.securecoding.cert.org/confluence/display/c/DCL37-C.+Do+not+declare+or+define+a+reserved+identifier#DCL37-C.Donotdeclareordefineareservedidentifier-NoncompliantCodeExampl

[2019-02-13 13:16] vel21ripn commented on #663
@lucaderi
Please, see PR #665 .
The original code contains duplicate actions (searching for the signature in whole and in parts), a dangerous code (line 37), no return after line 56, after ndpi_set_detected_protocol().

[2019-02-13 15:30] rkerur commented on #669
Figured it out.

[2019-02-13 15:30] #669 closed, assigned to nobody

[2019-02-13 15:56] rkerur opened #671 "Possible regression in latest nDPI"
I pulled latest nDPI code and I am getting following errors when ndpiReader is started. Everything works fine if I uncheckout the commit mentioned below.

 ./example/ndpiReader -i enp0s16
ndpiReader: ndpiReader.c:2685: automataUnitTest: Assertion `ndpi_match_string(automa, "This is the wonderful world of nDPI") == 0' failed.
Aborted

I have triage the issue to the following commit

commit 0c4fada2

[2019-02-14 09:31] #671 closed, assigned to nobody

[2019-02-14 09:32] lucaderi commented on #670
Please propose a fix via a pull request. Thanks

[2019-02-14 09:34] lucaderi commented on #668
You need to report with a pcap (you can do it on your PC) and explain how to reproduce it as otherwise I cannot help you

[2019-02-17 09:31] mmanoj commented on #663
@vel21ripn

I'm going to test your code privately local merge to current source and update you the result. As it's not merge to current Git source tree.

[2019-02-18 08:10] vel21ripn commented on #663
I will be very happy if you check PR #665 and in case of successful testing, merge this code with the 'dev' branch.

[2019-02-21 05:43] mmanoj commented on #663
@vel21ripn
Initial test was success, more detail testing in progress. I will update soon possible. For code merge may be Mr.Luca's team can help.

[2019-02-23 06:28] u8906250 opened #672 "Service heartbeat"
for example
HTTP/HTTPS heartbeat syn, if acked, means alive

[2019-02-23 06:29] #672 closed, assigned to nobody

[2019-02-27 12:52] vel21ripn opened #674 "Invalid characters in flow->host_server_name"
I found that in some dns requests the name contains invalid characters.
[code]
nDPI does not parse the name in the request, but tries to replace everything that is less than the character code of the space with the character '.'.
It is not correct!
Please show PR #673

[2019-03-05 13:01] mmanoj commented on #663
@lucaderi

Any plan to merge the code to production? I was tested successfully.

[2019-03-08 11:11] maheeshap commented on #669
Hi, could you provide a sample of the format you ended up using?
Cheers

[2019-03-10 18:09] raulium opened #676 "Install Error: missing autoconf (following documentation)"
Running macOS Mojave 10.14.3
Xcode-select version 2354

Following README.md steps to reproduce:
[code]

Documentation in /doc/nDPI_QuickStartGuide.pdf provided no guidance. And [website instructions](https://www.ntop.org/get-started/download/) are out of date/incorrect.

should include `brew install autoconf automake` as it does not come included by default on Mac systems.

[2019-03-10 18:18] #676 closed, assigned to nobody

[2019-03-13 11:33] a-pashkov opened #680 "analyze before closing the connection"
Hello,
I need to analyze my protocol.
This protocol transmits by tcp data with headers that I need to count.
How to analyze all the packets in the flow and after completing the connection, transfer the number of headers in the flow?

I'm going to get the number of headers in the info ntopng field.

[2019-03-23 09:11] lucaderi commented on #680
Please add a pcap to this ticket so I can see more what is this protocol about

[2019-03-23 09:12] lucaderi commented on #674
PR Merged

[2019-03-23 09:12] #674 closed, assigned to nobody

[2019-03-26 17:45] clebig opened #683 "Whatsapp INC IP Prefixes missing"
Hi,
I think ndpi_content_match.c.inc lacks a lot of IP prefixes used by Whatsapp.

Facebook has released in December 2018 a list of IP and IP prefixes used by Whatsapp.
It's available here: https://developers.facebook.com/docs/whatsapp/network-debugging/

I have found another IP that was used by my Whatsapp mobile app which is not included in this list : 179.60.192.48

Clément

[2019-03-26 17:57] clebig opened #684 "Viber additional IPs"
Hi,

I don't know if this is relevant because it's maybe not enough generic (/32) to be put in ndpi code, but I have found a set of IPs that are not currently included in the Viber prefixes defined in ndpi_content_match.c.inc.

Those IP are :
52.3.167.70/32
52.22.44.235/32
52.22.95.15/32
54.85.84.93/32
54.85.86.93/32

Clément

[2019-03-27 09:42] simonemainardi opened #1281 "Detect DNS Fast Flux"
See if an heuristic can be implemented to detect DNS Fast Flux. An example heuristic is described at https://osqa-ask.wireshark.org/questions/18394/help-with-filters-for-detecting-fast-flux-in-dns-queries

[2019-03-28 18:27] ahkok opened #685 "`make install` creates symlinks to libs with absolute path"
This is broken on RPM builds. We have to apply this patch to fix:

[code]

[2019-03-28 18:34] ahkok commented on #685
[code]

really? Come on, when was the last time you saw `libdata` on a Linux system?

[2019-03-31 13:07] jiangdu8888 opened #686 "IPv4 is identified by five tuples, so what about ipv6?"
IPv4 is identified by five tuples, so what about ipv6?

[2019-04-02 14:07] dark-vex commented on #684
I have created a PR for these IPs, they don't appear from the whois data to be part of Viber but after trying to access via browser to the reported IPs you can clearly see that it's Viber

[2019-04-03 14:24] rkerur opened #689 "Packets are not classfied or updated with correct category"
Packets are not classified with correct category

[2019-04-03 14:25] rkerur commented on #689
Hi Luca,

There is a possible regression with your recent changes where packets category is not updated correctly. Can you please check?

I had 03/30 repo and when I run ICMP traffic it used to classify as 'Network' Category. I updated to latest code which has your code changes for handling category and ICMP traffic are no longer classified as 'Network'.

Thanks.

[2019-04-03 20:41] #663 closed, assigned to nobody

[2019-04-05 00:51] rkerur commented on #689
Hi Luca,

I have tracked down the changes which is causing the issue on my testbed to "Improved-flow-category-guess" patch. I made following changes in function 'ndpi_fill_protocol_category' by commenting new code and adding old code back and everything works fine. I am not sure about the difference in our testing as we are getting different results with the latest code. For me everything worked a

[2019-04-05 22:13] pallas opened #692 "Invalid read/use after free in ndpiReader/printResults"
In ndpi_process_packet, a clone is made of the packet; the clone is free'd at the end of the function. It looks like pointers into the clone are being stored and used in printResults, long after the clone is dead. Found by Valgrind & applies to multiple test PCAPs. Here's an example based on 153c77c:

[code]

[2019-04-05 22:15] pallas commented on #692
The identified line is
[code]
which seems to indicate that `flow->packet.udp` and `flow->packet.tcp` are *not* OK to dereference here.

[2019-04-06 00:22] pallas opened #693 "Invalid read/use after free in ac_match_handler via ndpi_load_protocols_file"
In ndpi_load_protocols_file, a temporary buffer is passed to ndpi_handle_rule; somewhere a reference to this buffer is taken, and on leaving the function the buffer is free'd. Later, ac_match_handler attempts to dereference this memory, which apparently is set by ndpi_load_hostname_category. Found by Valgrind.

[code]

[2019-04-12 17:33] #692 closed, assigned to nobody

[2019-04-12 22:09] pallas commented on #692
Confirmed fixed.

[2019-04-24 06:17] xlb767923274 opened #697 "ERROR: AddressSanitizer: heap-buffer-overflow"
=================================================================
==7607==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x60600059c1bc at pc 0x7ffff6ed1ca4 bp 0x7ffff2475260 sp 0x7ffff2474a08
READ of size 8 at 0x60600059c1bc thread T2
    #0 0x7ffff6ed1ca3  (/usr/lib64/libasan.so.4.0.0+0xafca3)
    #1 0x44d339 in ndpi_search_memcached protocols/memcached.c:147
    #2 0x43ded8 in check_n

[2019-04-24 15:01] didgaudin opened #698 "WindowsUpdate URL"
Hi,
I am trying ndpi, and test the windowsupdate protocol.
I think the *.mp.microsoft.com and *.ws.microsoft.com a used during update but not classified into WindowsUpdate, but in microsoft .
Is-it possible to add them in WindowsUpdate?

[2019-04-24 16:37] dsokoloski commented on #697
@xlb767923274 was this done against the latest HEAD version?  I ask because there was a patch (74715b12b0770a3f724565633128f73396f0f792) that fixed invalid reads on short packets.

I just ran the latest nDPI HEAD build using the memcached.cap file (from ./tests/pcap), and ASan didn't detect any issues.  Which pcap file are you testing with, or are you using live traffic?

[2019-04-25 00:53] xlb767923274 commented on #697
Thank you for your reply，sorry，my code is is older，

commit 1290706fad6a8acac8d1bfe09cd8bb27805ecd15
Merge: 4e7fa82 796472c
Author: Luca <deri@ntop.org>
Date:   Fri Apr 5 12:51:59 2019 +0200

I will update the newest version， and test again。

13063093219@163.com

From: Darryl Sokoloski
Date: 2019-04-25 00:37
To: ntop/nDPI
CC: xlb767923274; Mention
Subject: Re: [ntop/nDPI] ERROR: AddressSanitizer:

[2019-05-02 17:44] rkerur opened #699 "nDPI and video games classification"
Hi nDPI team,

I will be evaluating nDPI for video game classification and wanted to check with the team on testing/evaluation done so far. If yes, can you please share the information?

From the code I see following protocol files under src/lib/protocols

(1) world_of_kungfu.c
(2) world_of_warcraft.c
(3) battlefield.c
(4) warcraft3.c
(5) Starcraft.c

so I am assuming those should be supported.

T

[2019-05-08 02:24] dsokoloski opened #700 "Some SSL flows not being detected due to record layer version assertion"
I have noticed that the following line in ssl.c attempts to validate the second byte of a record version.  This can result in various SSL flows not being detected properly.

https://github.com/ntop/nDPI/blob/ea1ea99ce15885028c4d6aca84632961e37a20cf/src/lib/protocols/ssl.c#L762

According to RFC [5246](https://tools.ietf.org/html/rfc5246#appendix-E.1) Appendix E.1:

   what the record layer version

[2019-05-12 16:24] mmanoj commented on #699
@rkerur

If you have the latest pcap for above-mentioned applications, try the detection via nDPIReader app.

[2019-05-13 09:49] SarmadHanif opened #703 "how to set bitmask?"
We are setting bitmask to youtube and quic, we have reset bitmask as well but your example app is still classifying every known protocol can you guide us what is the proper way to set bitmask so it can only classify given protocol

[2019-05-14 08:31] simonemainardi opened #705 "Add TLS/SSL cipher suite dissection"
It is request to extract the cipher suite for SSL flows and to make it available.

It is also desired to create a static method which maps cipher suites to their corresponding string descriptions so that one can easily convert the cipher suite byte to a meaningful description.

See https://github.com/wireshark/wireshark/blob/3a2e290c331f03b2467d49d5c04151aab9f1a4d9/epan/dissectors/packet-tls-utils

[2019-05-14 08:32] simonemainardi opened #706 "Add TLS/SSL certificate expiration date"
It is requested to dissect and make available the expiration date of the server and client (if present) certificates.

[2019-05-17 17:33] jvgee opened #708 "Function get_ndpi_flow_info6() does not handle extension headers correctly"
Function get_ndpi_flow_info6() does not handle IPv6 extension headers correctly/completely.  As a result, when I run:
[code]
the output is:
[code]
instead of:
[code]

The icmpv6.pcap file used for this test can be obtained by downloading [bigFlows.pcap](https://s3.amazonaws.com/tcpreplay-pcap-files/bigFlows.pcap) and applying this wireshark filter:
[code]

[2019-05-17 20:21] lucaderi opened #1282 "Implement additional DNS Alerts"
DNS traffic is very important on networks as it one of the core Internet protocols. ntop (flow and host) alerts should be enriched with additional DNS alerts such as
- fragmented DNS traffic
- large DNS packets (pay attention to OARC support https://www.dns-oarc.net/oarc/services/replysizetest)

[2019-05-20 20:02] lucaderi commented on #705
In essence this issue boil down to find out whether used ciphers are safe or not.

[2019-05-20 20:07] #705 closed, assigned to nobody

[2019-05-27 15:37] ofercetown opened #709 "API for attribute extraction"
Hi,

I'd like to know if there is a kind of standard API to get all metadata/attributes from nDPI.
My understanding is that all attribute/metadata are stored in dedicated structures defined in src/include/ndpi_typedefs.h, am I correct ?

What I'm looking is an interface to get metadata from a flow without having to handle C struct.
Something like get_metadata(flow) which could return an array of g

[2019-05-28 13:34] emanuele-f opened #710 "Add Antimalware category"
A new "Antimalware" category should be added for the reason described in https://github.com/ntop/ntopng/issues/2571

[2019-05-29 12:40] emanuele-f commented on #1282
Additional notes. Fragmented DNS responses can be used to spoof DNS replies as described in https://blog.powerdns.com/2018/09/10/spoofing-dns-with-fragments .

[2019-05-30 07:54] shahzad46 opened #712 "Compilation Error "fatal error: ndpi_api.h: No such file or directory""
Hello Everyone!
Just cloned nDPI, followed all readme steps to setup nDPI.
Performed all the `tests`
Tested `ndpiReader` example with some pcap files. All good upto here.
Now i want to use nDPI in my own C program but when I try to compile the C code it gives the above error. here is the CLI log:
 `ubuntu@sdnhubvm:~/nDPI/example[00:40] (dev)$ gcc myfun.c -o exe
ndpiReader.c:50:22: fatal error: ndp

[2019-06-03 06:20] lucaderi commented on #710
This feature opens up a new problem: sites falling under CUSTOM_CATEGORY_ANTIMALWARE must keep their original protocol (e.g. DNS) while having CUSTOM_CATEGORY_ANTIMALWARE as category.
Awaiting @zimbawe998 first to provide the sites list and then deciding what to do

[2019-06-04 04:00] #712 closed, assigned to nobody

[2019-06-04 05:02] shahzad46 opened #713 "C compiler cannot create executables"
Need Help!! When I execute `sudo ./autogen.sh` I get the following error.
`ubuntu@sdnhubvm:~/nDPI[21:56] (dev)$ sudo ./autogen.sh
autoreconf: Entering directory .
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force -I m4
autoreconf: configure.ac: tracing
autoreconf: running: libtoolize --copy --force
libtoolize: putting auxiliary files in `.'.
libtoolize: copying file

[2019-06-05 10:02] emanuele-f opened #714 "HTTP flows show lock icon"
The lock icon should not be present in HTTP flows. It seems like here nDPI only takes the application protocol into account

![2019-06-05_12-00_1](https://user-images.githubusercontent.com/5488003/58948036-cb691e80-8778-11e9-9847-6d73f2928979.png)

![2019-06-05_12-00](https://user-images.githubusercontent.com/5488003/58948054-cefca580-8778-11e9-8f8d-95cfc17a189d.png)

[2019-06-07 21:38] zimbawe998 commented on #710
There arent a full list of Antivirus url called by dns query to verify live sha/md5 for an unknown files, so it will be smart to allow a new category and specify on it the last part of the query used by them, avoiding DNS alerting.
Some Example *.sophosxl.net, url.trendmicro.com, url.trendmicro.com.akadns.net

[2019-06-10 13:08] dsokoloski commented on #712
@shahzad46 ensure you compile the nDPI code as a library: -D NDPI_LIB_COMPILATION=1

[2019-06-14 03:03] Gelob opened #718 "False positive Skype detection"
Running ntopng and ndpi-2.9.0-1596 i saw a surge in my network traffic of 4Gbps and 2-3Mpps. When looking at ntopng I see it shows this traffic spike as Skype traffic. Really this is just Azure blob storage endpoint traffic, and its not skype. I don't have a pcap because I do flow based capturing but it was all dst port 443 to a single IP in the 13.96.0.0/13, 13.104.0.0/14, 13.64.0.0/11 space. Whe

[2019-06-14 09:28] vpiserchia opened #719 "nDPI fails to recognize SSH in ICMP"
Provided the great work you're doing, thanks for sharing with the community.

During test runs, we've found a detection mismatch with the online available pcap:

`
# ndpiReader -i c37c0d3084675ed9b9d63a4e5e50e8da.pcap

-----------------------------------------------------------
* NOTE: This is demo app to show *some* nDPI features.
* In this demo we have implemented only some basic features
* just

[2019-06-18 06:03] SarmadHanif opened #721 "Facebook Video Calssification #question"
I tried to add a regex protocol in content matching file but it does not classify facebook video traffic than in protos.txt I added an exact SNI=video.fisb1-1.fna.fbcdn.net now nDPI was able to classify facebook video but is there any other way that I don not have to give whole SNI because they are reginal based is there a generic way to classify facebook video traffic?

[2019-06-18 09:46] lance-wyvern opened #722 "How to contribute my code？"
Hi, everyone

I found a new version of OICQ protocol in qq.c, and then I've made a change to the code.
Now, I have no idea to contribute my code.  Can someone tell me how to do it？

[2019-06-18 09:51] kYroL01 commented on #722
https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-06-18 10:50] lance-wyvern commented on #722
Thank you

[2019-06-18 10:50] #722 closed, assigned to nobody

[2019-06-18 12:23] #703 closed, assigned to nobody

[2019-06-18 12:24] SarmadHanif commented on #703
resolved

[2019-06-20 15:19] mauropalumbo75 opened #725 "nDPI fails to recognize some DNS traffic"
I noticed that some DNS traffic is not filtered correctly by nDPI FT.

I attach a pcap file containing one DNS packet which is correctly filtered and another one which is not.

[twopacketsanon.pcap.gz](https://github.com/ntop/nDPI/files/3311016/twopacketsanon.pcap.gz)

Thanks in advance for looking into this issue.

[2019-06-21 07:39] cardigliano commented on #725
This has been fixed. Please update and let us know. Thank you.

[2019-06-26 07:10] #721 closed, assigned to nobody

[2019-07-02 12:16] daoxuans opened #732 "How to detect a particular youtube video?"
How to detect a particular video, for example. youtube.
Can you give some suggestions on how to study this?
thx.

[2019-07-11 20:34] nickbroon opened #733 "Travis is not detecting test failures"
the call to do.sh script seems to always be successful despite the the output containing errors, so Travis does not report a failure. For example: https://travis-ci.org/ntop/nDPI/jobs/556912071

Should the failing tests be considered a failure?

"after_script:" in travis.ci is not considered part of the result.
https://docs.travis-ci.com/user/job-lifecycle/#breaking-the-build

Should the tests be

[2019-07-12 23:11] ngena-bl opened #738 "make dist doesn't work"
I tried to do `make dist` to create a tarball but the process fails.

I'm getting the following error:
[code]
Prior running the `make dist` I did the following steps:
I cloned the repository (`git clone https://github.com/ntop/nDPI.git`) (obviously)
I did `./autogen.sh`
I did `./configure`
I did `make`

All these steps were successful.

Using the following environment:
[code]

[2019-07-13 16:40] lucaderi commented on #733
I have fixed it as you suggested

[2019-07-13 16:40] #733 closed, assigned to nobody

[2019-07-14 09:56] jean-christophe-manciot opened #740 "FTBFS: protocols/http.c:169:2: error: ‘strncpy’ output truncated before terminating nul copying 7 bytes from a string of the same length"
Debian bullseye
gcc-8 8.3.0-6
ndpi 1.8-1178-g7b16c68

Building nDPI (after DPDK) with:
[code]
leads to:
[code]

Whole build log:
[ndpi_1.8-1178-g7b16c68_amd64.build.log](https://github.com/ntop/nDPI/files/3389686/ndpi_1.8-1178-g7b16c68_amd64.build.log)

[2019-07-14 10:25] #740 closed, assigned to nobody

[2019-07-14 10:25] lucaderi commented on #732
This is not possible as youTube content is encrypted (and this is good news)

[2019-07-14 10:25] #732 closed, assigned to nobody

[2019-07-14 13:58] tansly opened #741 "Compilation fail with GCC 9"
Compiling nDPI fails with GCC 9.1.1.

Errors are:
[code]

Seems like GCC 9 added some new checks for `-Waddress-of-packed-member`.  My research shows me that lots of other projects got new warnings because of this. Examples:
https://lkml.org/lkml/2019/1/23/491
https://github.com/golang/go/issues/29962
https://github.com/openucx/ucx/issues/3119

clang has such warning, too. There is a lot of discus

[2019-07-14 16:05] tansly commented on #741
I can fix the error as seen in this commit: https://github.com/tansly/nDPI/commit/e66990da2ffaab239802d43419c6ae48a1f02250. This avoids getting a potentially unaligned pointer.

However, fixing this uncovers more errors:
[code]

If my fix in https://github.com/tansly/nDPI/commit/e66990da2ffaab239802d43419c6ae48a1f02250 is acceptable, I'm willing to work on this and fix the remaining ones similarly

[2019-07-15 06:19] tansly commented on #741
An update:
As type punning the `u_int32_t` and `struct in_addr` [may cause strict aliasing violations](https://blog.regehr.org/archives/959) (thus undefined behavior), my preferred idiom to accomplish this would be making a `memcpy()` as here: https://github.com/tansly/nDPI/commit/a90aa151124823d1cc091f2067d5d95b34660618

[2019-07-15 07:21] jean-christophe-manciot commented on #741
I encountered the same issue on:
Ubuntu 19.10
gcc-9 9.1.0-8ubuntu1
nDPI: 1.8-1180-g5a018e0

[2019-07-15 07:37] emanuele-f commented on #741
I've removed Werror in fc531334ae86ccc30e7f7a0ca5f23d5d56a6d370, the alignment issues will be solved afterwards

[2019-07-15 21:53] #741 closed, assigned to nobody

[2019-07-15 21:54] #725 closed, assigned to nobody

[2019-07-16 16:05] nickbroon commented on #738
My best guess is that this symptomatic of the fact that nDPI/src/lib is not using automake, but appears to a custom Makefile.in committed.
I'm not sure why this is the case, especially as the Makefile.in is populated with values from configure which requires automake anyway.
I think the build system for nDPI needs tidying up and use Makefile.am in all the subdirs. (I note that some subdir already

[2019-07-19 06:47] jean-christophe-manciot opened #753 "FTBFS: No rule to make target 'ndpi_util.o', needed by 'ndpiReader.dpdk'"
Ubuntu 19.10
gcc-9 4:9.1.0-1ubuntu4
ndpi 1.8-1178-g7b16c68

Building nDPI (after DPDK) with:
[code]
leads to:
[code]

Full build log:
[ndpi_1.8-1225-g6bce0c4_amd64.build.log](https://github.com/ntop/nDPI/files/3409811/ndpi_1.8-1225-g6bce0c4_amd64.build.log)

[2019-07-19 10:03] cardigliano commented on #753
@jean-christophe-manciot are you compiling nDPI 1.8 or dev? ndpi_util.c has been renamed to ndpi_reader.c in the dev, and I fixed the name right now, however 1.8 still uses ndpi_util.c

[2019-07-19 12:22] jean-christophe-manciot commented on #753
```8350b7269f3f3b8d0933a56cf76f53b44ce3237d``` (```1.8-1226-g8350b72``` Fix Makefile.dpdk) can be built on Debian bullseye with gcc-8 8.3.0-1.
I have to check with gcc-9.

[2019-07-22 14:55] nickbroon opened #757 "Test failing"
Both 72b05fe and 6d00b59 failed tests, (the most recent 2 commits to dev branch)
See: https://github.com/ntop/nDPI/commits/dev and https://travis-ci.org/ntop/nDPI

Using PRs to merge changes would allow Travis to automatically run and avoid merging changes that break tests. (or configure travis test branches in a person fork, before directly merging to the central one.)

[2019-07-22 17:18] jandersonbt commented on #706
I second this.  However, I would also like to have the not_before date from the certificate.  Attached is a screenshot from wireshark showing the not_before and not_after dates in the packet information.
![wireshare_certificate](https://user-images.githubusercontent.com/29073162/61651084-5b542080-ac72-11e9-937a-a4a72f3c34f1.png)

[2019-07-23 09:41] nickbroon commented on #757
Looks like this was fixed by @lucaderi in 974abaa

[2019-07-23 09:41] #757 closed, assigned to nobody

[2019-07-23 22:35] lucaderi commented on #713
Sorry this is a problem on your local system

[2019-07-23 22:35] #713 closed, assigned to nobody

[2019-07-23 22:36] lucaderi commented on #698
Can you please help finding an offiicial Microsoft document where it specifies what are the URLs used for the Update

[2019-07-25 11:18] syedkhizarulhaq-cis opened #761 "When running ./autogen.sh, Getting error"
Hi,

When I run the command ./autogen.sh I am getting the error below:

![Screenshot from 2019-07-25 16-17-18](https://user-images.githubusercontent.com/33244888/61870513-bf3b4b00-aef7-11e9-89a2-bf853afb4473.png)

Thanks

[2019-07-25 12:23] themadprofessor commented on #761
Judging by the directory you are in and the messages from `./autogen.sh`, you want [ntopng](https://github.com/ntop/ntopng).

Make sure you have pkg-config installed, and autotools is up to date. It works for me with
[code]

[2019-07-26 05:27] syedkhizarulhaq-cis commented on #761
Hi @themadprofessor,
I just couldn't get it to run from the github repository that I cloned.
Apparently there is some problem with the autoconf and even after going through most of the links on google regarding the **possibly undefined macro** error, I could not find a fix. :(
![Screenshot from 2019-07-26 10-21-53](https://user-images.githubusercontent.com/33244888/61927725-425bb000-af8f-11e9-9123

[2019-07-29 06:53] #761 closed, assigned to nobody

[2019-07-31 01:53] lijk8890 opened #762 "memory leak"
ndpi will memory leak with custom proto: HTTPS
e.g.

tcp:443,tcp:8443@HTTPS

[2019-07-31 09:26] themadprofessor commented on #762
Do you have some sample data, i.e. a pcap file? Is this leak in the example code or the library? If it was the example code, can you share how you were running it? If it was in the library, can you supply some same code which reproduces the leak? Which version of nDPI does this apply to?

In future, please follow [CONTRIBUTING.md](https://github.com/ntop/nDPI/blob/dev/CONTRIBUTING.md) when submitt

[2019-07-31 09:36] lijk8890 commented on #762
yes, ndpiReader also has memory leak;
nDPI version: 2.6

use valgrind:  ./bin/ndpiReader -i ssh.pcap -p protos.txt

==61495== Memcheck, a memory error detector
==61495== Copyright (C) 2002-2012, and GNU GPL'd, by Julian Seward et al.
==61495== Using Valgrind-3.8.1 and LibVEX; rerun with -h for copyright info
==61495== Command: ./bin/ndpiReader -i ssh.pcap -p protos.txt
==61495== Parent PID: 6207
=

[2019-07-31 10:11] themadprofessor commented on #762
This has been fixed with 165decdf6c58f67a087c514a7fae58355a8272b4. Here is a patch for 2.6-stable which fixes it.
[code]

[2019-07-31 10:14] lijk8890 commented on #762
ok, thanks
i pull the latest version

[2019-07-31 11:21] lijk8890 commented on #762
sry, nDPI 2.8.0 still has this bug

[2019-07-31 15:03] themadprofessor commented on #762
As per my previous comment, this has been fixed with 165decdf6c58f67a087c514a7fae58355a8272b4. This commit is not in a stable release as of yet, so its only available on the dev branch.

[2019-08-01 01:51] lijk8890 commented on #762
ok, i'll fix it as you say
thank you

[2019-08-01 17:18] jandersonbt commented on #706
Would it be possible to get some sort of timeline as to when this feature can be implemented in nDPI?  Thanks!

[2019-08-06 09:41] themadprofessor commented on #762
If the issue has been resolved, please close the issue.

[2019-08-12 14:27] LocutusOfBorg opened #763 "armhf aligment problem makes the program BUS ERROR on arm64 kernel"
Hello, looks like there is a misaligment on the software, specifically on NDPI_COMPARE_IPV6_ADDRESS_STRUCTS struct.

Please see the Debian bug report [1] quoted below for more information
[code]

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=917238

[2019-08-13 09:51] #762 closed, assigned to nobody

[2019-08-13 09:54] didgaudin commented on #698
Hi,
i have found theses documentations :
https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-troubleshooting#issues-related-to-httpproxy
and
this:
https://docs.microsoft.com/en-us/previous-versions/system-center/configuration-manager-2007/bb693717(v=technet.10)

[2019-08-20 09:17] jean-christophe-manciot opened #764 "FTBFS with DPDK v19.08"
Ubuntu 19.10
gcc 4:9.1.0-1ubuntu4
ndpi 1.8-1283-gfdeecf5
dpdk v19.08

Building nDPI (after DPDK) with:
[code]
leads to:
[code]

Full build log:
[ndpi_1.8-1283-gfdeecf5_with_dpdk_19.08_amd64.build.log](https://github.com/ntop/nDPI/files/3519719/ndpi_1.8-1283-gfdeecf5_with_dpdk_19.08_amd64.build.log)

No such issue with DPDK v19.05.

[2019-08-29 12:53] emanuele-f commented on #763
This should be fixed in aea91781aa476589361e16ece6aa6c10102e0f33 , can you confirm?

[2019-08-30 07:30] himal2708 opened #765 "Zoom Conference call misclassified"
Zoom Conference call (zoom.us) is misclassified as Skype Call. Would be great to add a zoom call signature.

[2019-09-03 19:17] jandersonbt opened #766 "Tor node classification"
Looking through the nDPI code (src/lib/ndpi_content_match.c.inc) it appears that you have a static list of Tor node IP's from 2017.  Tor node IP's are constantly changing and this list is most likely yielding false positives.  It would be nice to have the ability to load a user-defined list of Tor node IP addresses that could override the default list provided by nTOP.

If you wanted to make updat

[2019-09-07 15:54] Mile-Lile commented on #633
Here is pcap that is not recognized as youtube by ndpi... can you check it?
[yt_pcap.zip](https://github.com/ntop/nDPI/files/3586757/yt_pcap.zip)

[2019-09-07 17:23] Mile-Lile commented on #668
[yt_pcap.zip](https://github.com/ntop/nDPI/files/3586836/yt_pcap.zip)

[2019-09-11 17:00] LocutusOfBorg commented on #763
it works thanks!

[2019-09-11 17:22] emanuele-f commented on #763
Thank you for reporting

[2019-09-11 17:22] #763 closed, assigned to nobody

[2019-09-13 08:16] shivanikhosa opened #768 "DHCP fingerprinting"
Hi,
I wanted to ask if there was any plan to do client classification based on DHCP fingerprinting e.g classification into desktop, mobile phones, network devices, game console etc.
I was trying myself and found that classification with just DHCP option 55 fingerprint wasn't accurate enough and had a lot of conflicts. I was wondering if team at nDPI had tried something like that or if there was an

[2019-09-16 02:06] prozaklob opened #771 "iptables: No chain/target/match by that name."
iptables -A FORWARD -m ndpi --bittorrent -j DROP
iptables: No chain/target/match by that name.

Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-161-generic i686)
iptables v1.6.0
grep NF_CONNTRACK_LABELS /boot/config-`uname -r`
CONFIG_NF_CONNTRACK_LABELS=y

what wrong?

[2019-09-16 11:54] prozaklob opened #772 "how to use ndpi with dkpd?"
Has anyone already run ndpi via dpdk? Could you share the manual?

[2019-09-17 08:14] a-czyrny opened #773 "ndpiReader (nDPI 2.9.0-1810-64ed0ac) - segmentation fault"
Input:
`gdb --args ndpiReader -i demo.pcap` _//PCAP file is 691 MB_

Output:
_Thread 2 "ndpiReader" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff79a4700 (LWP 25867)]
getSSCertificateFingerprint (ndpi_struct=<optimized out>, flow=0x7ffff2386100) at protocols/tls.c:760
760	  if(packet->payload[flow->l4.tcp.tls_record_offset] == 0x15 /* Alert */) {_

nDPI Version 2.9.0-173

[2019-09-17 13:09] umairkhan10 opened #774 "nDPI doesn't show live traffic on terminal"
M using nDPi nDPI 2.9.0-1519-e99a0ab on cent OS 7.6.1810
M running following command

**sudo /usr/local/bin/ndpiReader -i enp0s8 -v2**

When I run this command, it captures all traffic but it doesn't show me on my terminal as live. It gets stuck on these lines:
**Using nDPI (2.9.0-1519-e99a0ab) [1 thread(s)]
Capturing live traffic from device enp0s8...
Running thread 0...**

And then when I stops

[2019-09-17 13:40] aouinizied commented on #774
You can split analysis duration in DURATION max seconds (-m option). For example with the following command, ndpiReader will prints analysis statististics each 5 seconds.
sudo /usr/local/bin/ndpiReader -i enp0s8 -v 2 -m 5

[2019-09-17 13:52] umairkhan10 commented on #774
What if I want to process live data. Like Whenever nDPI captures traffic I need to filter something like some maching IPs from the captured data etc.
So when I apply any of these filter, nDPI captures traffic sends it to my method and then my method processes the data and filter out some IPs (my own ), when my method is working on the data that nDPI captured, in the meantime nDPI is free and is no

[2019-09-18 11:38] SarmadHanif commented on #774
Use nDPI with DPDK

[2019-09-19 10:25] SarmadHanif opened #776 "make with Hyperscan"
after executing ./configure --with-hyperscan no error appears but with make following error appears.
g++ -g -I../src/include -g -O2 ndpiReader.o reader_util.o -o ndpiReader ../src/lib/libndpi.a -lpcap -lpthread
../src/lib/libndpi.a(ndpi_main.o): In function `free_hyperscan_memory':
/root/new/nDPI/src/lib/ndpi_main.c:635: undefined reference to `hs_free_scratch'
/root/new/nDPI/src/lib/ndpi_main.c:6

[2019-09-19 15:17] aouinizied opened #777 "Python bindings not working"
Thanks for provinding the community with python bindings. However, when I tried to run the example, it doesn't work.
Python3.6 and nDPI master cloned today.
I run make under /python/ directory after installing ndpi from scratch, and start example using python3.6 ndpi_example.py....

It seems that it crashed because of missing functions in ndpi_wrap.c

Traceback (most recent call last):
  File "ndp

[2019-09-19 19:43] sajukassim commented on #777
Same with me too..

[2019-09-23 14:15] lucaderi commented on #777
On OSX (where I develop) everything seems to work

deri@Lucas-iMac.local 220> cd python/
total 112
 8 Makefile		 8 Makefile.in		 8 README		24 ndpi_example.py*	56 ndpi_typestruct.py	 8 ndpi_wrap.c
deri@Lucas-iMac.local 221> make
clang -I. -I../src/include -I./src/lib/third_party/include -shared -Wl,-install_name,ndpiReader.so -o ndpi_wrap.so -fPIC ndpi_wrap.c ../src/lib/libndpi.so.2.9.0 -lpcap
ln -

[2019-09-23 14:25] lucaderi commented on #774
nDPI is a library on top of which you need to write your own code. Please look at the ndpiExample and extend it as needed and don't forget to send back your contributions

[2019-09-23 14:25] #774 closed, assigned to nobody

[2019-09-23 14:25] lucaderi commented on #773
Please put the demo.pcap file somewhere for debugging

[2019-09-23 14:27] lucaderi commented on #768
We have done some work in ntopng using the DHCP fingerprint combined with the ethernet address of the requestor but we have found more reliably to use network discovery or passive traffic fingerprint. I encourage you to study this code in https://github.com/ntop/ntopng

[2019-09-23 14:27] #768 closed, assigned to nobody

[2019-09-23 14:28] lucaderi commented on #719
Please paste a pcap file I can use for testing

[2019-09-23 14:29] lucaderi commented on #685
Please send a pull request. Thank you

[2019-09-23 14:29] #685 closed, assigned to nobody

[2019-09-23 14:36] vpiserchia commented on #719
source: https://packettotal.com/app/analysis?id=c37c0d3084675ed9b9d63a4e5e50e8da&name=signature_alerts
[c37c0d3084675ed9b9d63a4e5e50e8da.pcap.zip](https://github.com/ntop/nDPI/files/3642631/c37c0d3084675ed9b9d63a4e5e50e8da.pcap.zip)

[2019-09-23 16:05] #777 closed, assigned to nobody

[2019-09-24 00:09] rkerur commented on #776
Do you see following output with './configure --with-hyperscan'
...
checking for hs_compile_multi in -lhs... yes
checking for pow in -lm... no
checking for main in -lstdc++... yes
checking for HS... yes
compiling with Intel Hyperscan
...

[2019-09-24 01:34] Lizeth2989 commented on #507
Hey guys,
I installed nDPI in wireshark using this guide https://sharkfesteurope.wireshark.org/assets/presentations17eu/19.pdf

First, I did it in Windows (wireshark 3.5) and the nDPI interface never appeared. Only Lua menu.

Later, I used an ubuntu (wireshark 2.6) and the nDPI interface appeared. However, when I click on it, gives me this error

"No packets capture, As no data was captured, closi

[2019-09-24 01:35] Lizeth2989 commented on #505
Hey guys,
I installed nDPI in wireshark using this guide https://sharkfesteurope.wireshark.org/assets/presentations17eu/19.pdf

First, I did it in Windows (wireshark 3.5) and the nDPI interface never appeared. Only Lua menu.

Later, I used an ubuntu (wireshark 2.6) and the nDPI interface appeared. However, when I click on it, gives me this error

"No packets capture, As no data was captured, closi

[2019-09-24 07:30] SarmadHanif commented on #776
/it is unable to compile with -lhs that' why all the calls to hs show undefined any solution in your mind.
p.s: thanks for replying

[2019-09-25 12:58] a-czyrny commented on #773
Unfortunately I cannot provide the data. What I can already say is that in rare cases the "payload" length is smaller than the "flow->l4.tcp.tls_record_offset" which leads to the segmentation fault.

I use the following sollution:
`
if(strlen((char*)packet->payload) < flow->l4.tcp.tls_record_offset) {
  goto invalid_len;
}
`

[2019-09-25 17:00] rkerur commented on #765
can you send zoom pcap file?

[2019-09-27 07:46] Lizeth2989 opened #785 "NO nDPI interface"
Hey guys,

I installed nDPI in wireshark using this guide https://sharkfesteurope.wireshark.org/assets/presentations17eu/19.pdf

First, I did it in Windows (wireshark 3.5) and the nDPI interface never appeared. Only Lua menu.

Later, I used an ubuntu (wireshark 2.6) and the nDPI interface appeared.

![Capture](https://user-images.githubusercontent.com/32398014/65752164-c7557800-e13e-11e9-8938-1562

[2019-10-01 17:33] rkerur opened #789 "ndpiReader crashes with latest git repo code when run with '-c mining_hosts.txt'"

[2019-10-01 17:33] rkerur commented on #789
gdb ./ndpiReader
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-

[2019-10-01 20:48] lucaderi commented on #789
I don't compile nDPI with HyperScan since some time. I believe the bug is there

[2019-10-01 22:36] rkerur commented on #789
Bug was introduced recently. Hyperscan+ mining_hosts worked fine until now.

I commented out following code in ndpi_content_match.c.inc and crash does not happen.

static ndpi_category_match category_match[] = {
/*
   { ".edgecastcdn.net", "egdecastcdn" TLD,                       NDPI_PROTOCOL_CATEGORY_MEDIA },
   { ".hwcdn.net", "hwcdn" TLD,                                   NDPI_PROTOCOL_CATEGOR

[2019-10-02 02:54] rkerur commented on #789
Following changes fixes the problem.

git diff src/lib/ndpi_main.c
diff --git a/src/lib/ndpi_main.c b/src/lib/ndpi_main.c
index feddae6..af125a3 100644
--- a/src/lib/ndpi_main.c
+++ b/src/lib/ndpi_main.c
@@ -4264,7 +4264,6 @@ void ndpi_load_ip_category(struct ndpi_detection_module_struct *ndpi_str,
  */
 int ndpi_load_hostname_category(struct ndpi_detection_module_struct *ndpi_str,

[2019-10-02 21:04] lucaderi commented on #789
Fixed with the latest patches

[2019-10-02 21:04] #789 closed, assigned to nobody

[2019-10-05 16:03] emanuele-f commented on #773
Closing as fixed in 4bdbf02c2d5eb871dca4ec620bb66fcc16a74af1

[2019-10-05 16:03] #773 closed, assigned to nobody

[2019-10-07 08:07] shivanikhosa opened #793 "Skipping TCP handshake packets"
Hi,
I'm using nDPI integrated as a netfilter module into a router with iptables. I have seen an issue where if nmap command is being run, which sends hundreds of TCP connections in half open state, it can cause the system to go out of memory. Since only one packet is sent per session, these  connections stay unclassified in the system for quite sometime and the memory is held up until we force cle

[2019-10-13 14:57] mrbluecoat opened #794 "noob question regarding traffic blocking"
Your readme says

Do you have a doc or code sample to demonstrate that?  Something like "How to block YouTube using a Raspberry Pi" would be great!

[2019-10-13 15:01] mrbluecoat opened #795 "Still best practice to avoid kernel?"
Is it still best practice to avoid running nDPI in the Linux kernel?  For example https://github.com/ntop/nDPI/issues/250 says:

And projects like https://github.com/betolj/ndpi-netfilter appear to have stalled over the past couple years.

[2019-10-13 15:03] mrbluecoat commented on #795
Never mind.  I found https://github.com/ntop/nDPI/issues/540 which pointed me to https://github.com/vel21ripn/nDPI

[2019-10-13 15:03] #795 closed, assigned to nobody

[2019-10-14 12:10] jsrojas opened #796 "Is it possible to extract the Flow identificators and the Application protocol to a CSV File using the python bindings?"
Hello everyone

I've been looking to the python bindings example and trying to understand how it works with ctypes and everything (I'm new to combining C and python code).

After a lot of effort, I understand a bit how the provided python bindings example gets the application protocol so I was wondering if it is possible to get the application protocol (name and number ID) and the 4-tuple identifi

[2019-10-17 16:38] aouinizied opened #797 "Tests output files corrupted"
Hi all,

Some of the tests are uncorrect and thus, raise unconsistent behavior of nDPIReader.
Example: wechat.pcap.out
When you look at this flow:
93	0 [fe80::842:a3f3:a286:6c5b]:0 -> [ff02::16]:0 [proto: 102/ICMPV6][cat: Network/14][1pkts/110 bytes -> 0 pkts/0 bytes]
protocol_id here are reported as 0 however, analysis using wireshark and other tools show that ip_proto is ICMPv6.

BR

[2019-10-17 18:05] aouinizied commented on #796
Hi,
I already did it. in which part you are struggling so I can help?
br

[2019-10-17 19:31] jsrojas commented on #796
Hi, thank you for responding

The thing is since I do not know the nDPI library on the inside I'm not sure what should I call and how.

I am working with a small pcap file that has **39 packets** all from **Instagram** and the CSV file is saving 39 rows with the IP identifiers and the application label, but nDPI says that from those 39 packets there are **4 flows** only. So, what I want is to stor

[2019-10-17 21:09] lucaderi commented on #797
0 is the port, the protocol is 102/ICMPV6. It works for me

[2019-10-17 21:09] #797 closed, assigned to nobody

[2019-10-17 22:11] aouinizied commented on #797
H @lucaderi, there is a misunderstanding. I'm talking about the first 0 in this line which refer to ip_protocol. It must be 58.

[2019-10-18 16:05] RadionBik opened #798 "Segmentation fault when running ndpi_example.py"
Hello!

I performed the following steps on the 3.0-stable and dev branches on both Ubuntu 16.04 and 18.04:
1. Build the project as per instructions in README
2. Performed `make` in the `python` folder
3. Installed scapy for python3 (also tried python2)
4. Launched `sudo python[23] ndpi_example.py ...` with either a `.pcap` or an interface arg.
As traffic started to flow, the script terminated and

[2019-10-20 09:47] lucaderi commented on #798
Can you please try to debug the core dump checking where is the problem and pasting here the trace?

[2019-10-20 12:04] RadionBik commented on #798
I launched the following cmd:
`sudo ~/Applications/VENVs/classifier/bin/python3 -q -X faulthandler ndpi_example.py wlp2s0`

That resulted in:
`Using nDPI b'3.1.0-1918-604abaf'
Capturing live traffic from device wlp2s0...
number of anylized packet 837
number of flows 78
Fatal Python error: Segmentation fault

Current thread 0x00007f381d9fd740 (most recent call first):
  File "ndpi_example.py", line

[2019-10-20 13:59] aouinizied commented on #798
In nDPI example, change the call the ndpi.give_up as follow:
                            flow.detected_protocol = ndpi.ndpi_detection_giveup(ndpi_info_mod,
                                                                                flow.flow,
                                                                                1,

[2019-10-20 14:07] aouinizied commented on #796
HI,

You need to maintain a flow cache with entries and manage the expiration. nDPI is called just for detection.
I released nfstream (https://github.com/aouinizied/nfstream) that address what you want to do.
The main idea is to build a common framework for network data scientist community.
You are more than welcome to join the team and contribute in improving the project.

Zied

[2019-10-20 14:49] RadionBik commented on #798
Thank you,  that solved the issue.
Also I had to change the arguments in the `packetcaptured` function.

[2019-10-20 14:49] #798 closed, assigned to nobody

[2019-10-21 14:10] jsrojas commented on #796
Oh great!!

I will definitely have a look to nfstream. It might solve what I need to do and for sure if I can provide any improvement to it and contribute I will do it

On the other hand yeah I do know I need to maintain a flow cache, however, since i do not know how ndpi is on the inside, I don't know how to obtain the flow identifiers in the example code. Right now I'm getting just packets and t

[2019-10-22 03:29] shivanikhosa opened #800 "QUIC malfunction"
Hi,
I've noticed that the nDPI QUIC dissector is not able to detect Google QUIC traffic anymore. I used to be able to recognise youtube traffic as QUIC and then look into the SNI in CHLO packet and re-classify it as youtube but QUIC detection for youtube isn't working anymore.
Also when I tried to capture the Youtube traffic in wireshark, I see that the wireshark decoder marks it as "Malformed pac

[2019-10-22 12:58] emanuele-f commented on #710
This will be implemented in a simpler way as described into the ntopng issue

[2019-10-22 12:58] #710 closed, assigned to lucaderi

[2019-10-24 18:06] barcaroller opened #804 "Memory issues with the latest FTP/IMAP/POP/SMTP code..."
The latest FTP/IMAP/POP/SMTP code seems to have memory issues (as reported by valgrind).

==1693== HEAP SUMMARY:
==1693==     in use at exit: 0 bytes in 0 blocks
==1693==   total heap usage: 99,696 allocs, 99,696 frees, 27,355,128 bytes allocated
==1693==
==1693== All heap blocks were freed -- no leaks are possible
==1693==
==1693== ERROR SUMMARY: 1142 errors from 2 contexts (suppressed: 0 from 0)

[2019-10-25 09:50] shivanikhosa opened #805 "New Amazon Video dissector"
Hi,
I see a new Amazon video dissector doing static classification based on payload values.
I've tried running videos in amazon prime to generate traffic from desktop as well as mobile phones but I do not see any classification happening using this dissector.  Mostly amazonvideo classification is happening via string match on SNI or IP address matching.  Could you help me to generate the sort of t

[2019-10-25 15:47] barcaroller commented on #804
This issue has now been resolved (October 25); the valgrind output is now clean.

[2019-10-25 16:26] barcaroller commented on #804
I spoke too soon.  Upon further testing with a different set of packets, valgrind reported the same issue.

==13401== HEAP SUMMARY:
==13401==     in use at exit: 0 bytes in 0 blocks
==13401==   total heap usage: 118,183 allocs, 118,183 frees, 45,826,050 bytes allocated
==13401==
==13401== All heap blocks were freed -- no leaks are possible
==13401==
==13401== ERROR SUMMARY: 372 errors from 2 conte

[2019-10-29 08:19] vpiserchia commented on #719
Hi all, any news about this?

[2019-11-17 16:54] lucaderi commented on #805
Please provide the pcap with some example we can analyse

[2019-11-17 16:54] lucaderi commented on #804
Do you have a pcap file I can use to reproduce it?

[2019-11-17 16:55] lucaderi commented on #800
Do you have a pcap file I can use to reproduce this?

[2019-11-18 20:27] barcaroller commented on #804
I have isolated the six packets that cause the issue and put them in a small pcap file attached here.  I ran this small pcap file against ndpi under valgrind and got the same errors.  I had to zip the pcap file because this site would not let me upload a pcap file.

[ndpi.zip](https://github.com/ntop/nDPI/files/3860497/ndpi.zip)

The line that causes the error is this one:

    snprintf(flow->prot

[2019-11-23 11:21] lucaderi commented on #804
I have made some changes and ndpiReader -i ndpi.pcap does not report any problem with valgrind. Please confirm

[2019-11-25 08:10] lua-study opened #812 "how to decode HTTPS traffic with nDPI?"
In the QuickStartGuide(https://www.ntop.org/wp-content/uploads/2013/12/nDPI_QuickStartGuide.pdf) of nDPI , nDPI support encrypted connections if adding a decoder for SSL certificates.

But I can't find how to add the decoder for https to get the plain HTTP data?
Who can help me ? Thanks very much.
Note: I have the server certificate .

[2019-11-25 09:09] aouinizied commented on #812
When nDPI is dissecting traffic, all extracted information could be found in ndpi_flow_struct (the flow pointer you give to process_packet API). When you look at this struct, you will find under protos, SSL information.

[2019-11-25 17:31] barcaroller commented on #804
I have run my valgrind test.  The issue with the variable initialization has been resolved; thank you.  The original memory issue is still there, unfortunately.  The invalid read occurs at the same place as before.  Here is the output.

    ==334426==
    ==334426== HEAP SUMMARY:
    ==334426==     in use at exit: 0 bytes in 0 blocks
    ==334426==   total heap usage: 81,019 allocs, 81,019 frees,

[2019-12-01 20:55] lucaderi commented on #812
We do not plan to decode encrypted traffic, but to extract metadata such as signature, host names etc.

[2019-12-01 20:55] #812 closed, assigned to nobody

[2019-12-04 10:34] subritm opened #815 "Memory consumption increasing when running ndpiReader with Split analysis duration"
I have cloned and compiled the ndpi latest git repository, and was testing the application detection in my linux desktop.
./ndpiReader -i eth0 -m 1
What I noticed is the memory consumption of the reader is constantly growing.
There is not much traffic going on hardly 10 browser sessions and ping etc.

This is when its started
Using nDPI (3.1.0-2028-fbc59c5) [1 thread(s)]
Capturing live traffic fro

[2019-12-04 11:54] aouinizied commented on #815
In live capture mode, there is an idle flows walker that free idle flows memory space depending on your idle timeout.
See node_idle_scan_walker for more information.
Maybe increasing your split to 10 secs ans reducing idle_timeout to 5 secs would be a good option?

[2019-12-04 12:59] subritm commented on #815
Hi @aouinizied

I tried this, reduced the idle time from 30000 to 5.
#define MAX_IDLE_TIME           5,
also with -m 10, it only reduces the interval of memory allocation, still the overall size increases.
TIA.

[2019-12-04 16:06] aouinizied commented on #815
Just a note on how idle scan works (how I understand it at least :) ), each scan_period a root (from a total of 512) is scanned with a specific scan_budget.
So if you reduced your idle_time to 5 msecs, you should also reduce scan_period from 10 to something like 1 or even 0 ms  and enlarge your scan_budget from 1024 to a greater amount.
The idea is just to see if with such parameters a change in t

[2019-12-04 16:22] aouinizied commented on #815
Another note is regarding your used values, they seems quite small for a realistic scenario. You could try to split analysis by 10 seconds ans having a idle timeout of 1 sec. This would be more realistic as scenario. The problem you encountered is due to the fact that the idle scan period was greater than both idle_timeout and analysis duration (not logic parameters).
If you want memory to be free

[2019-12-05 18:54] halidaltuner opened #818 "Without IPv4 Layer protocols"
Hello,

I am working on ICS / SCADA protocols. However, some protocols do not use IPv4. Sample; GOOSE protocol works directly at Layer3 level.

Is there a solution for this?

Does the "packet-> payload [0]" object only return Layer4 application payloads?

For example: GOOSE protocol.
<img width="814" alt="Screen Shot 2019-12-05 at 21 53 19" src="https://user-images.githubusercontent.com/221467/702

[2019-12-06 06:22] #776 closed, assigned to nobody

[2019-12-11 08:10] rameesnajeeb commented on #361
using sudo before the ./ndpiReader -i enp0s3 -s 20 worked for me..!!

[2019-12-11 12:05] a-czyrny opened #819 "IPv6 Adresses are malformed/ivalid"
Some IPv6 addresses are malformed after the analysis and therefore invalid for later processing.

e.g.:

2a02:8100:0:32:9::145 becomes 2a02:8100::32:9::145

Tested with ndpiReader.

Example pcap: [ipv6_example_pcap.zip](https://github.com/ntop/nDPI/files/3950186/ipv6_example_pcap.zip)

[2019-12-11 12:34] aouinizied commented on #819
It's a patch applied to ensure consistency across platforms if we rely on the comment in the code. It's performed using this function: https://github.com/ntop/nDPI/blob/65d526d8f6ae75f8d1a3f5c8dd19bf40ec03f320/src/lib/ndpi_utils.c#L744

[2019-12-11 14:11] a-czyrny commented on #819
Thanks for pointing that out, i commented out the line. Elasticsearch (in this case) would not accept the values otherwise.

[2019-12-13 08:38] Yoshihiro-jp opened #820 "ndpiReader creates malformed csv file"
Hello, I am a new user of nDPI.

[My environment and ndpiReader version]
$ more /etc/os-release
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
$ ../example/ndpiReader -v
../example/ndpiReader: option requires an argument -- 'v'
Welcome to nDPI 3.1.0-2050-2c2bb11

I tried to follow below Blog but I encountered the problem.
https://www.ntop.org/ndpi/how-to-use-ndpi-from-cli-to-analyse-network-t

[2019-12-16 10:06] tuor4eg opened #822 "ndpiReader detect incorrect"
I use nDPI 3.0 and I try to detect skype/viber/whatsapp traffic. My system is FreeBSD 11.
So I use command  `ndpiReader -i vmx1 -f 'src net 192.168.199.0/24' -m 1 -v 2 -V 3`
But there is not many packets with codes of messengers, most of them have code 91 (TLS). Those packets, who was detected have no significant impact to app's working.
The typical output of ndpiReader looks like:
[code]
Is it po

[2019-12-16 12:53] haroflow commented on #718
I've found this page from MS: https://www.microsoft.com/en-us/download/details.aspx?id=41653
It says "deprecated" but has links for weekly (apparently) updated Azure endpoints:
- Public: https://www.microsoft.com/en-us/download/details.aspx?id=56519
- US Gov: http://www.microsoft.com/en-us/download/details.aspx?id=57063
- Germany: http://www.microsoft.com/en-us/download/details.aspx?id=57064
- Chi

[2019-12-31 16:16] EricFromCanada opened #826 "Sample files installed in sbin"
Is there a reason why [this commit](https://github.com/ntop/nDPI/commit/1ec160d4c99a8dc5b7117abb148f0f89403eab82) places sample files in `sbin` instead of something like `share`?

I've done so in its Homebrew formula: https://github.com/Homebrew/homebrew-core/pull/48421

[2020-01-05 17:51] #826 closed, assigned to nobody

[2020-01-05 17:51] lucaderi commented on #826
Thank you for reporting it

[2020-01-05 17:52] lucaderi commented on #822
Do you have a pcap file I can use to troubleshoot this issue?

[2020-01-05 17:52] lucaderi commented on #820
This should have been solved by now

[2020-01-05 17:52] #820 closed, assigned to nobody

[2020-01-05 17:52] lucaderi commented on #805
Closed for inactivity

[2020-01-05 17:52] #805 closed, assigned to nobody

[2020-01-05 17:53] lucaderi commented on #800
Closed for inactivity

[2020-01-05 17:53] #800 closed, assigned to nobody

[2020-01-05 17:54] lucaderi commented on #818
nDPI currently works with IPv4 and v6. What you are asking requires some changes, doable but that  might need some work. Would you like to start this thread by sending un initial pull request?

[2020-01-05 17:55] lucaderi commented on #765
Closed for inactivity

[2020-01-05 17:55] #765 closed, assigned to nobody

[2020-01-08 11:47] ewildgoose opened #827 "Whatsapp enhancement"
Hi, I have previously been classifying whatsapp using a DNS based approach and looking in /src/lib/ndpi_content_match.c.inc I see:

  { "mmg.whatsapp.net", NULL, "mmg\\.whatsapp" TLD,                    "WhatsApp",         NDPI_PROTOCOL_WHATSAPP, NDPI_PROTOCOL_CATEGORY_CHAT, NDPI_PROTOCOL_ACCEPTABLE },

I think this DNS name should be classified as "WhatsAppFiles? At least on Android this is exclu

[2020-01-15 09:18] vitalivanov commented on #764
@lucaderi this is fixed and can be closed now

[2020-01-15 22:31] Gelob commented on #718
Closing this as #823 was merged

[2020-01-15 22:31] #718 closed, assigned to nobody

[2020-01-18 10:06] jean-christophe-manciot commented on #764
I was able to compile, test & build ```1.8-1678-g812505b``` with DPDK ```v19.08```, and also with ```v19.11```.

[2020-01-18 10:06] #764 closed, assigned to nobody

[2020-01-20 09:02] DhimantThanki commented on #507
[README.zip](https://github.com/ntop/nDPI/files/4085318/README.zip)
Read this, it has all the info about wireshark ndpi plugin and steps needed.

[2020-01-20 16:01] vitalivanov commented on #764
@jean-christophe-manciot thanks

[2020-01-27 06:24] SarmadHanif opened #834 "nDPI-dev is unable to classify Youtube Flows"
Currently Youtube is sending data over UDP.
nDPI is only able to classify DNS packets as Youtube it is unable to classify UDP packets that follow as Youtube Protocol.
![image](https://user-images.githubusercontent.com/48462184/73154100-09e08e80-40f8-11ea-8b70-5c9c191e3cd4.png)

[2020-02-03 08:38] lucaderi commented on #834
Can you please send a pcap file for testing?

[2020-02-03 08:40] lucaderi commented on #827
Can you please send a pull request with your changes and include a pcap file so we can validate your approach?

[2020-02-03 09:34] noureddin opened #837 "Bug in node_has_matchstr()"
In `src/lib/third_party/src/node.c`, the function [`node_has_matchstr`](https://github.com/ntop/nDPI/blob/3e99b736358ca11c3ba3723a1282ffd3bfc760bd/src/lib/third_party/src/node.c#L140) is defined as:

[code]

I understand that it searches for the string `newstr->astring` in the (loosely speaking) array of strings `thiz->matched_patterns[]->astring`.

My problem is the [`continue`](https://github.co

[2020-02-03 09:52] SarmadHanif commented on #834
Hi,
Sorry I couldn't find the pcap I ran the test on I will send as soon as I find it, In new tests udp packets are detected as quic which in turn is classified as Youtube packets. Its working fine I'm closing this issue for now.
 Thank you for replying

[2020-02-03 09:52] #834 closed, assigned to nobody

[2020-02-11 12:56] jsrojas opened #841 "Meaning of supported application protocols"
Hello everyone

I have one quick question regarding the meaning of supported application protocols. When nDPI inspects a packet and classifies it as Apple what does it mean? is it a communication with an Apple application from a mac device?

The same happens when the packet is classified as Google, is it a search query on Google search engine or is it something else?

I ask this because I see that

[2020-02-11 13:30] aouinizied commented on #841
nDPI is a deep packet inspection library. Consequently, it combines several classical techniques (e.g: IP matching, metadata content matching, port guessing) and more advanced techniques for specific dissectors.

Now let's take web (HTTP, HTTPS) use case.
When fine-grained service identification is possible (GoogleDocs, GoogleDrive) such in the following scenario (example):

- TCP session establis

[2020-02-11 13:41] aouinizied commented on #841
Very useful slides provided by ntop team that helps to understand how encrypted traffic is handled and classified can be found here: https://www.ntop.org/wp-content/uploads/2020/01/EncryptedTrafficAnalysis.pdf

[2020-02-11 14:04] jsrojas commented on #841
Hello Zied

As always thank you so much for your accurate, complete and quick responses (was not expecting you to come to my rescue again). Let's wait for any additional information that the ntop team members can offer.

Also, thank you for the slides, honestly it has been quite difficult to find detailed documentation about nDPI code or its functionality if you want to go deeper into it, so it re

[2020-02-13 10:29] mhdtbc opened #842 "Tiktok additionnal domain"
Dear all,

this is an improvement request i've been checking the tiktok (musical.ly) url list and found out one missing in the matching file :+1:

byteoversea.com

in addition to
musical.ly
muscdn.com

Thank you.

[2020-02-14 11:31] emanuele-f opened #843 "Fix problems on the s390x platform"
Pull request #840 has introduced the travis build tests on the s390x platform. However, the tests fail as it seems that the nDPI detection logic is affected on that platform. We don't have such a platform so we cannot troubleshoot it. @xnox can you troubleshoot and fix the problems? If we don't have users interested in/supporting the s390x platform we will probably remove it from the travis build.

[2020-02-14 14:40] xnox commented on #843
Sure, let me try poking it.

[2020-02-14 14:58] xnox commented on #843
Ok, I am observing that on amd64 master on Ubuntu Focal (latest development series) passes correctly and fails spectacularly on s390x.

I'm not quite sure what the testsuite is, so let me state some assumptions for you to check my understanding.

Packet capture was pre-recorded somewhere and stored as test suite input, then it is parsed by the tooling / test case, and compared with known good resu

[2020-02-14 15:38] emanuele-f commented on #843
Hi, the test is composed by a bash script (https://github.com/ntop/nDPI/blob/dev/tests/do.sh) which runs the ndpiReader program over the PCAP files from the https://github.com/ntop/nDPI/tree/dev/tests/pcap directory and checks that the output matches the previosly generated output (https://github.com/ntop/nDPI/tree/dev/tests/result). If the previosly generated output file is missing, a new one is

[2020-02-14 16:24] xnox commented on #843
Ok, but how do I recreate/recapture `tests/pcap/quic.pcap` itself? Or any other test pcap input files?

[2020-02-14 16:26] xnox commented on #843
(interested to recreate a failing test case's .pcap file on s390x machine, to see if the test case then matches the amd64 expected output)

[2020-02-14 16:39] emanuele-f commented on #843
The pcap file is the test input, you don't need to create it again, you can find it in this repo (e.g. https://github.com/ntop/nDPI/blob/dev/tests/pcap/quic.pcap). pcap files are usually generated with `tcpdump -n -s0 -i wlan0 -w my.pcap`.

In order to perform a test, you can run the ndpiReader command above on any of the example pcap files (or your own pcap file) on both the x64 and the s390x mac

[2020-02-17 09:50] tuor4eg commented on #822
Sorry for the delay. Now, I've back to the problem. So, there're pcap from inner interface and output of ndpiReader attached.
[dump.zip](https://github.com/ntop/nDPI/files/4212948/dump.zip)

[2020-02-17 17:59] emanuele-f opened #845 "Domain-based custom protocols matching not working for known domains"
Given the following protos.txt file:

[code]

Running the DNS query with `dig ntop.org` results in the `[proto: 5.26/DNS.ntop]` being reported, whereas `[proto: 5.26/DNS.Wikis]` is the expected result. In practice it seems like built in known domains associations are not overridden with the user custom ones.

[2020-02-19 22:38] #845 closed, assigned to nobody

[2020-02-19 22:41] #842 closed, assigned to nobody

[2020-02-19 22:44] lucaderi commented on #837
Thanks

[2020-02-19 22:44] #837 closed, assigned to nobody

[2020-02-19 22:45] lucaderi commented on #827
Already in ndpi_content_match.c.inc

[2020-02-19 22:45] #827 closed, assigned to nobody

[2020-02-19 22:46] lucaderi commented on #818
Closed for inactivity

[2020-02-19 22:46] #818 closed, assigned to nobody

[2020-02-19 22:48] lucaderi commented on #804
Fixed
2efc09a2 (emanuele-f    2020-02-12 19:36:47 +0100 156)            size_t len = ndpi_min(out_len, sizeof(flow->protos.ftp_imap_pop_smtp.username) - 1);
2efc09a2 (emanuele-f    2020-02-12 19:36:47 +0100 157)
2efc09a2 (emanuele-f    2020-02-12 19:36:47 +0100 158)            memcpy(flow->protos.ftp_imap_pop_smtp.username, out, len);
2efc09a2 (emanuele-f    2020-02-12 19:36:47 +0100 159)

[2020-02-19 22:48] #804 closed, assigned to nobody

[2020-02-19 22:50] lucaderi commented on #815
This tool (ndpiReader) is just a demo tool not used for long term processing but only for demo purposes. If you believe this could be improved, please send a pull request

[2020-02-19 22:50] #815 closed, assigned to nobody

[2020-02-22 10:27] linparkkin opened #847 "Low number of detected IP packets"
Hi everyone, I'm currently involved in a project where I need to use ndpiReader. As you can see from the attached image I have very few detected IP packets (just 452638 of 2231702). I noticed also that there are many VLAN packets to deal with, and it seems that nDPI is not able to dissect them or it does not recognize them as IP packets. What could be the reason? The packets are sFlow sampled and

[2020-02-27 17:50] vitalivanov opened #851 "DNS-over-HTTPS (DoH) and youtube traffic."
Is nDPI going to support DoH?
I think currently it will not handle youtube video recognition if DoH is used.

@lucaderi @cardigliano

[2020-02-28 06:27] annp1987 commented on #772
ndpiReader can run with dpdk, please try it.

[2020-02-28 13:39] lucaderi commented on #851
We already support DoH and Youtube will be supported. Please try with firefox that uses DoH

[2020-02-28 13:39] #851 closed, assigned to nobody

[2020-02-28 15:47] vitalivanov commented on #851
It's supported from what version of nDPI?

[2020-03-04 10:37] leonn opened #852 "protocol_was_guessed Is never used"
protocol_was_guessed Is never used at ndpi_detection_giveup() - ndpi_main.c

it should be set to 1 when the guess happens within ndpi_detection_giveup

[2020-03-04 20:10] vel21ripn opened #853 "Duplicate hostnames in host_match"
nDPI-3.2 ndpi_conten_match.c.inc

8679: ".cloudfront.net"  AmazonVideo
8689: ".cloudfront.net"  Amazon
9019: ".cloudfront.net"  Zoom
8695: ".microsoft.com" Microsoft
8994: ".microsoft.com" Microsoft

With "microsoft.com" everything is clear, there you need to delete the second entry, and what to do with ".cloudfront.net"?

[2020-03-06 05:30] tekachew opened #854 "cant find the file #include "ndpi_config.h""
#include "ndpi_config.h"

[2020-03-07 09:42] mmanoj commented on #651
@rkerur @simonemainardi

I got the below error today for latest git version of nDPI and Hyperscan:

/usr/bin/ld: /usr/local/lib/libhs.a(hs.cpp.o): relocation R_X86_64_32S against `hs_enomem' can not be used when making a shared object; recompile with -fPIC
/usr/local/lib/libhs.a: error adding symbols: Bad value
collect2: error: ld returned 1 exit status
Makefile:49: recipe for target 'libndpi.so.3

[2020-03-07 09:46] mmanoj commented on #651
I was  fixed with below steps:

1. First, compile the Hyperscan with below options
cd <build-dir>
cmake -G "Unix Makefiles" ../
cmake -DBUILD_STATIC_AND_SHARED=on  ../
make

2. Complile nDPI with Hyperscan
./configure --with-hyperscan
make

[2020-03-07 09:47] mmanoj commented on #651
** Note: After above Hyperscan compiled successfully; install it using sudo make install before step #2

[2020-03-12 11:40] havup opened #855 "houca"

[2020-03-12 11:50] #855 closed, assigned to nobody

[2020-03-13 08:20] vel21ripn opened #857 "TLS allocated more than 64K for message buffer"
How large is the memory buffer really needed to determine the parameters of the TLS protocol?
The debugging protocol shows that the size of this buffer can increase to 66399 bytes.
The macro "NDPI_MAX_TLS_REQUEST_SIZE 10000" is not used anywhere.
If only server names need to be determined, is 2048 bytes enough for the buffer?

[2020-03-18 11:11] emarshswe commented on #847
You need to supply a pcap that recreates this particular problem so we can investigate this. Screenshots will not cut it I'm afraid.

In my experience, nDPI has no problems recognizing VLAN packages. However, nDPI creates a flow hash id that includes VLAN as a part of the hash and I have had problems when VLAN is used for parts of the flow (but not for both directions). This would lead to a proble

[2020-03-18 11:15] emarshswe commented on #796
This is not an issue and should be closed.

[2020-03-18 11:32] emarshswe commented on #793
I parse pcaps through nDPI and work from there. Scans are interesting for me and therefore I'm interested in flows where I don't see packets in either direction. A change in ntop does not bother me, but I don't want this functionality included in nDPI.

[2020-03-18 11:35] emarshswe commented on #766
This should be reclassified as enhancement or feature request. This is not an issue.

[2020-03-18 11:40] emarshswe commented on #699
This should be closed. Also, this is a question not an issue.

[2020-03-18 11:41] emarshswe commented on #684
This should be closed.

[2020-03-18 11:42] emarshswe commented on #641
Is this relevant to nDPI or should this be closed?

[2020-03-18 11:46] emarshswe commented on #841
This is a question not an issue and should be tagged as such.

[2020-03-18 11:48] emarshswe commented on #706
This is implemented now right? the issues should be closed.

[2020-03-18 11:59] #637 closed, assigned to nobody

[2020-03-18 12:44] jsrojas commented on #796
It was an issue considering that there is a lack of documentation regarding the python bindings of nDPI. However I was able to sort this out thanks to the help of aouinizied and will close it now. Thanks for the reminder

[2020-03-18 12:44] #796 closed, assigned to nobody

[2020-03-20 07:55] Stesnyaus opened #860 "[Question] Script to limit usage of signatures' library."
Hello.

I'm working with small amount of protocols/services (e.g. YouTube, Twitch, Discord, Apple Music, Spotify). I don't wanna spend CPU processing power (so the time of processing will be less than usual) for analyzing my traffic with the hole library of signatures, just to use a tiny bit of it.

So, is there any way to make a simple script which will make nDPI (or just ndpiReader though) to us

[2020-03-25 17:09] vitalivanov opened #862 "Youtube Upload is not detected by nDPI."
Attached pcap.
[youtubeuploadlive.zip](https://github.com/ntop/nDPI/files/4382352/youtubeuploadlive.zip)

[2020-03-25 17:10] vitalivanov commented on #862
@lucaderi hope you are doing well!
please check

[2020-03-28 06:03] 1160300131 opened #864 "wireshark interface problem ndpi3.2"
I've already compiled ndpi on linux successfully and as the wireshark readme talked to put the lua and ndpiReader under the  correct path. There has ndpiinterface on the interface list, but when I choose the  pcap I want it to analyze  and start it, the window is empty. no information and no package. What's the problem ? Can anyone help me?

[2020-03-30 08:30] vitalivanov commented on #862
1. Youtube has "new beta studio 2020" to upload video and old "upload with classic". Both failed.
2. Analyzing my pcap and pcap from nDPI examples - I can see that failed traffic use TCP while pcap that works uses gquic (google quick UDP Internet Protocol).
3. Seems like nDPI is not supporting modern way of youtube upload video.

[2020-04-01 21:16] lucaderi commented on #862
Not sure I understand.

$ ndpiReader -i ~/Downloads/youtubeuploadlive.pcapng -v 2
...
Detected protocols:
	YouTubeUpload        packets: 4285          bytes: 4455460       flows: 5

Protocol statistics:
	Fun                        4455460 bytes

JA3 Host Stats:
		 IP Address                  	 # JA3C
	1	 10.20.1.117              	 2

	1	TCP 10.20.1.117:56287 <-> 172.217.163.175:443 [proto: 91.136/

[2020-04-02 17:26] #862 closed, assigned to nobody

[2020-04-07 17:03] lucaderi commented on #860
Sure this is possible. Instead of doing things like

 NDPI_BITMASK_SET_ALL(all);
 ndpi_set_protocol_detection_bitmask2(ndpi_info_mod, &all);

you can set only the bit for the protocols you want nDPI to decode and ignore the others.

[2020-04-07 17:03] #860 closed, assigned to nobody

[2020-04-07 17:05] lucaderi commented on #857
This is the max memory used to store in memory a TLS chunk. So this is regardless of what you want to do. I suggest not to change it.

Instead of dissecting only the host names (i.e. the SNI) this is part of the Client Hello, you can just stop yourself as soon as TLS is detected and avoid allocating memory for the certificate.

[2020-04-07 17:05] #857 closed, assigned to nobody

[2020-04-07 17:18] #853 closed, assigned to nobody

[2020-04-09 17:44] lucaderi commented on #854
This is generated by configure

[2020-04-09 17:44] #854 closed, assigned to nobody

[2020-04-09 17:50] lucaderi commented on #822
This is the current output

	1	TCP 192.168.199.30:52161 <-> 52.188.42.235:443 [proto: 91.125/TLS.Skype][cat: VoIP/10][12 pkts/3531 bytes <-> 9 pkts/6907 bytes][Goodput ratio: 80/93][0.54 sec][ALPN: h2,http/1.1][bytes ratio: -0.323 (Download)][IAT c2s/s2c min/avg/max/stddev: 0/0 45/38 134/129 62/57][Pkt Len c2s/s2c min/avg/max/stddev: 60/54 294/767 1494/1494 443/658][TLSv1.2][Client: client-s.gatew

[2020-04-09 18:08] lucaderi commented on #819
The problem is that inet_ntop() is not consistent across all the platforms. The function above is used to patch issues to make test produce the same results on all platforms I am not an IPv6 expert so you should instruct me how to address this issue.